Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Fixed multiple issues related to JWT signing & refresh
  .claude/settings.local.json
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/mocks/index.ts
  src/app/pages/dfd/components/collaboration/user-presence-list.component.ts
  src/app/pages/dfd/infrastructure/services/injection-tokens.ts
  src/environments/environment.staging.ts
  src/environments/environment.test.ts
  src/environments/environment.ts
Due: eslint --fix, prettier --write

Dependency bump. Fixing "create new threat model" errors.
  package.json
  pnpm-lock.yaml
  src/app/auth/services/auth.service.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm.component.ts
Due: eslint --fix, prettier --write

Delete confirmation dialog. minor ux bug fixes.
  src/app/pages/tm/components/delete-threat-model-dialog/delete-threat-model-dialog.component.html
  src/app/pages/tm/components/delete-threat-model-dialog/delete-threat-model-dialog.component.scss
  src/app/pages/tm/components/delete-threat-model-dialog/delete-threat-model-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

Threat model editor page API calls working
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/core/services/api.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.ts
Due: eslint --fix, prettier --write

Updated delete object handling to expect 204
  src/app/core/services/api.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

Logging tweaks, localization backfill
  .claude/settings.local.json
  src/app/auth/interceptors/jwt.interceptor.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

cleanup
  package.json
  scripts/sort_json.py
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

logging cleanup, centralize test mocks
  src/app/auth/auth-integration.spec.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/session-manager.service.ts
  src/app/core/services/README.md
  src/app/core/services/api.service.spec.ts
  src/app/core/services/api.service.ts
  src/app/core/services/logger.service.spec.ts
  src/app/core/services/logger.service.ts
  src/app/core/services/server-connection.service.ts
  src/app/pages/dfd/infrastructure/adapters/x6-history-manager.ts
  src/app/pages/dfd/infrastructure/adapters/x6-keyboard-handler.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-keyboard-handler.ts
  src/app/pages/dfd/infrastructure/services/visual-effects.service.ts
  src/app/pages/dfd/services/dfd-export.service.ts
  src/app/pages/dfd/services/graph-history-coordinator.service.ts
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
  src/app/pages/tm/validation/threat-model-validator.service.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
  src/testing/README.md
  src/testing/index.ts
  src/testing/mocks/index.ts
  src/testing/mocks/mock-http-client.service.ts
  src/testing/mocks/mock-logger.service.ts
  src/testing/mocks/mock-router.service.ts
Due: eslint --fix, prettier --write

Migrated all tests to shared mocks
  src/app/auth/auth-integration.spec.ts
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-label-editor.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-z-order.adapter.spec.ts
  src/app/pages/dfd/infrastructure/services/edge-query.service.spec.ts
  src/app/pages/dfd/infrastructure/services/edge.service.spec.ts
  src/app/pages/dfd/infrastructure/services/embedding.service.spec.ts
  src/app/pages/dfd/infrastructure/services/port-state-manager.service.spec.ts
  src/app/pages/dfd/infrastructure/services/selection.service.spec.ts
  src/app/pages/dfd/infrastructure/services/visual-effects.service.spec.ts
  src/app/pages/dfd/infrastructure/services/x6-core-operations.service.spec.ts
  src/app/pages/dfd/infrastructure/services/z-order.service.spec.ts
  src/app/pages/dfd/integration/history-styling.spec.ts
  src/app/pages/dfd/integration/selection-styling.spec.ts
  src/app/pages/dfd/integration/visual-effects.spec.ts
  src/app/pages/dfd/services/dfd-edge.service.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
Due: eslint --fix, prettier --write

Log cleanup
  src/app/core/services/server-connection.service.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-history-manager.ts
  src/app/pages/dfd/services/graph-history-coordinator.service.ts
Due: eslint --fix, prettier --write

Log cleanup
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/services/graph-history-coordinator.service.ts
Due: eslint --fix, prettier --write

Fixed port visibility during undo/redo. Added graph autosave
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-event-handlers.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-history-manager.ts
  src/app/pages/dfd/infrastructure/adapters/x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-selection.adapter.ts
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
  src/app/pages/dfd/services/dfd-facade.service.ts
Due: eslint --fix, prettier --write

Fixed shape type bug in autosave
  src/app/pages/dfd/services/dfd-diagram.service.ts
Due: eslint --fix, prettier --write

Fixed redaction bug
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/core/services/api.service.ts
Due: eslint --fix, prettier --write

Fixed graph auto-save
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-history-manager.ts
Due: eslint --fix, prettier --write

Fixed diagram save-on-close bug
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-diagram.service.ts
Due: eslint --fix, prettier --write

Fixed clipping/scrolling error in cell properties dialog.
  src/app/pages/dfd/components/cell-properties-dialog/cell-properties-dialog.component.html
Due: eslint --fix, prettier --write

Added manage threats dialog and functionality. Loc cleanup. fancier icons in toolbar.
  src/app/pages/dfd/components/x6-history-dialog/x6-history-dialog.component.html
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.html
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.scss
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Tweaking threat editor page design
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fixing minor loc bugs
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Lint fixes
  src/app/core/services/api.service.spec.ts
  src/app/core/services/api.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/services/edge.service.spec.ts
  src/app/pages/dfd/infrastructure/services/port-state-manager.service.spec.ts
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Lint issues
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/services/auth.service.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/validation/diagram-validators.ts
  src/app/pages/tm/validation/reference-validator.ts
Due: eslint --fix, prettier --write

lint issues
  src/app/pages/tm/validation/reference-validator.ts
  src/app/pages/tm/validation/schema-validator.ts
  src/app/pages/tm/validation/threat-model-validator.service.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
  src/testing/mocks/index.ts
Due: eslint --fix, prettier --write

Lint issues
  src/app/pages/dfd/domain/value-objects/x6-types.ts
  src/app/pages/tm/validation/diagram-validators.ts
  src/app/pages/tm/validation/threat-model-validator.service.ts
Due: eslint --fix, prettier --write

Lint issues, lint policy changes
  eslint.config.js
  src/app/pages/dfd/domain/value-objects/edge-info.ts
  src/app/pages/dfd/domain/value-objects/node-info.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/tm.component.ts
  src/app/pages/tm/validation/diagram-validators.ts
Due: eslint --fix, prettier --write

Syncing API changes from server
  tmi-openapi.json
Due: none

Updating API schema to match server
  tmi-openapi.json
Due: none

making bump verbose
  package.json
Due: none

Fixing server logout and test login
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  tmi-openapi.json
Due: eslint --fix, prettier --write

Beautifying login provider dialog
  debug-shape-defaults.json
  src/app/auth/components/login/login.component.scss
  src/app/auth/components/login/login.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Updated caching logic and dashboard page to match updated API
  src/app/pages/tm/models/tm-list-item.model.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm.component.cy.ts
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

dashboard handling
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

Added "Set as Owner" button to permissions dialog
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

Fixed sub-entity retrieval to use specific APIs. Loc backfill
  scripts/sort_json.py
  src/app/auth/auth-integration.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Updated dashboard to refresh via API call instead of cache
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm.component.ts
Due: eslint --fix, prettier --write

Adding updated video
  README.md
Due: none

Updating openapi spec to match server implementation
  tmi-openapi.json
Due: none

Changing threat model edit page layout
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

updated UI components to use direct entity endpoints
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

Fixing threat model edit page API calls
  src/app/core/services/api.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
