Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: extend TeamService with get, update, patch, delete methods (#479)
  src/app/core/services/team.service.ts
Due: eslint --fix, prettier --write

feat: add English i18n keys for admin teams management (#479)
  src/assets/i18n/en-US.json
Due: prettier --write

feat: add admin teams list component with stub dialogs (#479)
  src/app/pages/admin/teams/admin-teams.component.html
  src/app/pages/admin/teams/admin-teams.component.scss
  src/app/pages/admin/teams/admin-teams.component.ts
  src/app/pages/admin/teams/edit-team-dialog/edit-team-dialog.component.ts
  src/app/pages/admin/teams/related-teams-dialog/related-teams-dialog.component.ts
  src/app/pages/admin/teams/responsible-parties-dialog/responsible-parties-dialog.component.ts
  src/app/pages/admin/teams/team-members-dialog/team-members-dialog.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add admin teams route and dashboard card (#479)
  src/app/app.routes.ts
  src/app/pages/admin/admin.component.ts
Due: eslint --fix, prettier --write

refactor: update CreateTeamDialog with status dropdown and maxlength (#479)
  src/app/shared/components/create-team-dialog/create-team-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add edit team dialog (#479)
  src/app/pages/admin/teams/edit-team-dialog/edit-team-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add optional role selector to UserPickerDialog (#479)
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add team members dialog (#479)
  src/app/pages/admin/teams/team-members-dialog/team-members-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add responsible parties dialog (#479)
  src/app/pages/admin/teams/responsible-parties-dialog/responsible-parties-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add related teams dialog (#479)
  src/app/pages/admin/teams/related-teams-dialog/related-teams-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add i18n keys for admin teams management (#479)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: initialize CreateTeamDialog status control with null (#479)
  src/app/shared/components/create-team-dialog/create-team-dialog.component.spec.ts
  src/app/shared/components/create-team-dialog/create-team-dialog.component.ts
Due: eslint --fix, prettier --write

fix: address code review findings for admin teams (#479)
  src/app/pages/admin/teams/admin-teams.component.ts
  src/app/pages/admin/teams/related-teams-dialog/related-teams-dialog.component.ts
  src/app/pages/admin/teams/responsible-parties-dialog/responsible-parties-dialog.component.ts
  src/app/pages/admin/teams/team-members-dialog/team-members-dialog.component.ts
Due: eslint --fix, prettier --write

docs: add admin projects page design spec (#501)
  docs/superpowers/specs/2026-03-16-admin-projects-design.md
Due: none

docs: add admin projects implementation plan (#501)
  docs/superpowers/plans/2026-03-16-admin-projects.md
  docs/superpowers/specs/2026-03-16-admin-projects-design.md
Due: none

feat: extend project types with status, related projects, patch (#501)
  src/app/types/project.types.spec.ts
  src/app/types/project.types.ts
Due: eslint --fix, prettier --write

feat: add get, update, patch, delete to ProjectService (#501)
  src/app/core/services/project.service.spec.ts
  src/app/core/services/project.service.ts
Due: eslint --fix, prettier --write

feat: add i18n keys for admin projects management (#501)
  src/assets/i18n/en-US.json
Due: prettier --write

refactor: make ResponsiblePartiesDialog entity-agnostic (#501)
  src/app/pages/admin/teams/admin-teams.component.ts
  src/app/shared/components/responsible-parties-dialog/responsible-parties-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add AdminProjectsComponent with table and filters (#501)
  src/app/pages/admin/projects/admin-projects.component.html
  src/app/pages/admin/projects/admin-projects.component.scss
  src/app/pages/admin/projects/admin-projects.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add admin projects route and landing page card (#501)
  src/app/app.routes.ts
  src/app/pages/admin/admin.component.ts
Due: eslint --fix, prettier --write

feat: add EditProjectDialogComponent (#501)
  src/app/pages/admin/projects/edit-project-dialog/edit-project-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add RelatedProjectsDialogComponent (#501)
  src/app/pages/admin/projects/related-projects-dialog/related-projects-dialog.component.ts
Due: eslint --fix, prettier --write

feat: wire up all dialog actions in AdminProjectsComponent (#501)
  src/app/pages/admin/projects/admin-projects.component.ts
Due: eslint --fix, prettier --write

feat: add i18n translations for admin projects (#501)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

style: format project types test imports (#501)
  src/app/types/project.types.spec.ts
Due: eslint --fix, prettier --write

fix: resolve multiple UI bugs (#503, #505, #506, #507, #508, #509, #510)
  src/app/pages/admin/projects/related-projects-dialog/related-projects-dialog.component.ts
  src/app/pages/admin/teams/admin-teams.component.html
  src/app/pages/admin/teams/admin-teams.component.scss
  src/app/pages/admin/teams/related-teams-dialog/related-teams-dialog.component.ts
  src/app/pages/tm/tm-edit.component.scss
  src/app/shared/components/create-team-dialog/create-team-dialog.component.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: use common.edit for teams edit button, global dialog content padding
  src/app/pages/admin/teams/admin-teams.component.html
  src/app/shared/components/create-team-dialog/create-team-dialog.component.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.ts
  src/styles/component-overrides.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove redundant dialog-specific padding now handled globally
  src/app/pages/admin/projects/edit-project-dialog/edit-project-dialog.component.ts
  src/app/pages/admin/settings/migrate-dialog/migrate-dialog.component.ts
  src/app/pages/admin/teams/edit-team-dialog/edit-team-dialog.component.ts
  src/app/pages/dashboard/create-threat-model-dialog/create-threat-model-dialog.component.ts
Due: eslint --fix, prettier --write

fix: promote edit action button on admin projects page, remove editDetails i18n keys
  src/app/pages/admin/projects/admin-projects.component.html
  src/app/pages/admin/projects/admin-projects.component.scss
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: add missing i18n keys for admin projects filter labels
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: update .gitignore
  .gitignore
Due: none

chore(deps-dev): bump jsdom from 28.1.0 to 29.0.0, @types/node from 25.4.0 to 25.5.0
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): add @oxc-project/runtime ^0.119.0 to resolve vite 8 test failures
  package.json
  pnpm-lock.yaml
Due: none

fix: prevent navigation during draft delete on intake page
  src/app/pages/surveys/components/my-responses/my-responses.component.html
  src/app/pages/surveys/components/my-responses/my-responses.component.ts
  src/app/pages/surveys/components/survey-list/survey-list.component.ts
Due: eslint --fix, prettier --write

feat: add confidential project indicators to survey and threat model pages (#491)
  src/app/pages/surveys/components/response-detail/response-detail.component.html
  src/app/pages/surveys/components/response-detail/response-detail.component.scss
  src/app/pages/surveys/components/response-detail/response-detail.component.ts
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/surveys/components/survey-fill/survey-fill.component.scss
  src/app/pages/surveys/components/survey-fill/survey-fill.component.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
  src/app/pages/tm/tm-edit.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
  src/styles/_confidential-badge.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: enable confidential threat models in dev environment
  src/environments/environment.dev.ts
Due: eslint --fix, prettier --write

fix: display newly created credentials in preferences dialog
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
