Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

feat(dfd): add architecture icon service with search (#96)
  src/app/pages/dfd/infrastructure/services/architecture-icon.service.spec.ts
  src/app/pages/dfd/infrastructure/services/architecture-icon.service.ts
Due: eslint --fix, prettier --write

feat(dfd): add image element to shape markup for icon rendering (#96)
  src/app/pages/dfd/infrastructure/adapters/infra-x6-shape-definitions.ts
Due: eslint --fix, prettier --write

feat(prefs): add shape border with icons preference (#96)
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/services/user-preferences.service.spec.ts
  src/app/core/services/user-preferences.service.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

feat(dfd): add icon picker panel component (#96)
  src/app/pages/dfd/presentation/components/icon-picker-panel/icon-picker-panel.component.spec.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

feat(dfd): wire icon picker panel into DFD editor (#96)
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

refactor(dfd): remove unused parameter from applyBorderPreference
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix(dfd): address floating promise lint warning in icon picker panel (#96)
  src/app/pages/dfd/presentation/components/icon-picker-panel/icon-picker-panel.component.ts
Due: eslint --fix, prettier --write

i18n: add architecture icon picker translations (#96)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix(dfd): supplemental fixes for architecture icon picker
  src/app/pages/dfd/presentation/components/icon-picker-panel/icon-picker-panel.component.html
  src/app/pages/dfd/presentation/components/icon-picker-panel/icon-picker-panel.component.scss
  src/assets/architecture-icons/manifest.json
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

fix(chat): unwrap API list responses and align model fields to snake_case
  src/app/generated/api-type-helpers.ts
  src/app/generated/api-types.d.ts
  src/app/pages/chat/components/chat-page/chat-page.component.spec.ts
  src/app/pages/chat/components/chat-page/chat-page.component.ts
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.html
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.ts
  src/app/pages/chat/models/chat.model.ts
  src/app/pages/chat/services/timmy-chat.service.spec.ts
  src/app/pages/chat/services/timmy-chat.service.ts
Due: eslint --fix, prettier --write

fix: resolve icon path duplication, note editing, chat layout, and DFD style issues
  src/app/pages/chat/components/chat-messages/chat-messages.component.scss
  src/app/pages/chat/components/chat-messages/chat-messages.component.ts
  src/app/pages/dfd/infrastructure/services/architecture-icon.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/components/style-panel/style-panel.component.ts
  src/app/pages/tm/components/note-page/note-page.component.html
  src/app/pages/tm/components/note-page/note-page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(dfd): remove non-schema X6 runtime properties from edge attrs
  src/app/pages/dfd/infrastructure/services/infra-edge.service.ts
Due: eslint --fix, prettier --write

fix(threat-page): disable cvssVectorControl programmatically instead of via template
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write

chore(dfd): comment out noisy z-order and tooltip debug logs
  src/app/pages/dfd/infrastructure/adapters/infra-x6-tooltip.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.ts
Due: eslint --fix, prettier --write

fix(dfd): restore connection: true in edge markup for visible strokes
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.ts
Due: eslint --fix, prettier --write

fix(dfd): place connection: true in cell attrs via lines group selector
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-shape-definitions.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.ts
Due: eslint --fix, prettier --write

feat(threat-page): add timmy_enabled checkbox for Timmy analysis inclusion
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write

fix(chat): send message on ready event instead of waiting for SSE stream close
  src/app/pages/chat/components/chat-page/chat-page.component.spec.ts
  src/app/pages/chat/components/chat-page/chat-page.component.ts
Due: eslint --fix, prettier --write

feat(sse): add DEBUG logging for SSE request/response/event lifecycle
  src/app/core/services/sse-client.service.ts
Due: eslint --fix, prettier --write

fix(logging): omit large GET response bodies from debug logs
  src/app/core/interceptors/http-logging.interceptor.ts
Due: eslint --fix, prettier --write

fix(chat): align SSE event interfaces with server snake_case payloads
  src/app/pages/chat/components/chat-messages/chat-messages.component.html
  src/app/pages/chat/components/chat-page/chat-page.component.spec.ts
  src/app/pages/chat/components/chat-page/chat-page.component.ts
  src/app/pages/chat/models/chat.model.ts
Due: eslint --fix, prettier --write

fix(chat): replace height:100vh with flex layout to keep input visible
  src/app/app.component.scss
  src/app/pages/chat/components/chat-messages/chat-messages.component.scss
  src/app/pages/chat/components/chat-page/chat-page.component.scss
Due: prettier --write, stylelint --fix

fix(chat): add fallback name when saving session as note with empty title
  src/app/pages/chat/components/chat-page/chat-page.component.spec.ts
  src/app/pages/chat/components/chat-page/chat-page.component.ts
Due: eslint --fix, prettier --write

refactor: reduce cyclomatic complexity in dialog form initialization
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.ts
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.ts
Due: eslint --fix, prettier --write

fix(chat): reconcile streamed content with server message_end payload
  src/app/core/services/sse-client.service.spec.ts
  src/app/core/services/sse-client.service.ts
  src/app/pages/chat/components/chat-page/chat-page.component.spec.ts
  src/app/pages/chat/components/chat-page/chat-page.component.ts
  src/app/pages/chat/models/chat.model.ts
Due: eslint --fix, prettier --write

chore(i18n): backfill translations and deduplicate localization keys
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(i18n): add navbar menu i18n keys for home and logout
  src/assets/i18n/en-US.json
Due: prettier --write

feat(navbar): add home button menu with all nav destinations and logout
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.spec.ts
Due: eslint --fix, prettier --write

feat(navbar): filter toolbar buttons by user role
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.spec.ts
  src/app/core/components/navbar/navbar.component.ts
Due: eslint --fix, prettier --write

refactor(navbar): move logout button into home menu
  src/app/core/components/navbar/navbar.component.html
Due: eslint --fix, prettier --write

style(navbar): add home menu trigger caret styling
  src/app/core/components/navbar/navbar.component.scss
Due: prettier --write, stylelint --fix

fix(triage): use server-supported filter operator for unassigned reviewer
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.spec.ts
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.ts
Due: eslint --fix, prettier --write

fix(admin): handle 409 Conflict when deleting survey with responses
  src/app/pages/admin/surveys/admin-surveys.component.spec.ts
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

docs: add SSVC Supplier calculator design spec
  docs/superpowers/specs/2026-04-08-ssvc-calculator-design.md
Due: none

docs: add SSVC calculator implementation plan
  docs/superpowers/plans/2026-04-08-ssvc-calculator.md
Due: none

feat(ssvc): add SSVCScore interface and ssvc field to Threat model
  src/app/pages/tm/models/threat-model.model.ts
Due: eslint --fix, prettier --write

feat(ssvc): add Supplier decision tree engine with tests
  src/app/pages/tm/components/ssvc-calculator-dialog/ssvc-decision-tree.spec.ts
  src/app/pages/tm/components/ssvc-calculator-dialog/ssvc-decision-tree.ts
Due: eslint --fix, prettier --write

feat(ssvc): add dialog data and result types
  src/app/pages/tm/components/ssvc-calculator-dialog/ssvc-calculator-dialog.types.ts
Due: eslint --fix, prettier --write
