Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

Bug fixing
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

lint + format
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

Fixing bugs in dfd
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

bug fixes
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/tm/resolvers/threat-model.resolver.ts
  src/app/pages/tm/services/threat-model-authorization.service.ts
Due: eslint --fix, prettier --write

Fixing cell selection related methods
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-selection.adapter.ts
  src/app/pages/dfd/services/dfd-orchestrator.service.ts
  src/app/pages/tm/resolvers/threat-model.resolver.ts
  src/app/pages/tm/services/threat-model-authorization.service.ts
Due: eslint --fix, prettier --write

Re-integrating DfdNodeService
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-orchestrator.service.ts
  src/app/pages/dfd/services/executors/node-operation-executor.ts
Due: eslint --fix, prettier --write

Fixing import paths for the logger service
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-embedding.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-event-handlers.service.ts
  src/app/pages/dfd/infrastructure/adapters/x6-event-logger.service.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-history-manager.service.ts
  src/app/pages/dfd/infrastructure/adapters/x6-keyboard-handler.service.ts
  src/app/pages/dfd/infrastructure/adapters/x6-keyboard-handler.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-label-editor.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-label-editor.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-tooltip.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-z-order.adapter.ts
  src/app/pages/dfd/infrastructure/services/edge-query.service.spec.ts
  src/app/pages/dfd/infrastructure/services/edge-query.service.ts
  src/app/pages/dfd/infrastructure/services/edge.service.spec.ts
  src/app/pages/dfd/infrastructure/services/edge.service.ts
  src/app/pages/dfd/infrastructure/services/embedding.service.spec.ts
  src/app/pages/dfd/infrastructure/services/embedding.service.ts
  src/app/pages/dfd/infrastructure/services/node.service.ts
  src/app/pages/dfd/infrastructure/services/port-state-manager.service.ts
  src/app/pages/dfd/infrastructure/services/selection.service.spec.ts
  src/app/pages/dfd/infrastructure/services/selection.service.ts
  src/app/pages/dfd/infrastructure/services/visual-effects.service.spec.ts
  src/app/pages/dfd/infrastructure/services/visual-effects.service.ts
  src/app/pages/dfd/infrastructure/services/x6-core-operations.service.spec.ts
  src/app/pages/dfd/infrastructure/services/x6-core-operations.service.ts
  src/app/pages/dfd/infrastructure/services/z-order.service.spec.ts
  src/app/pages/dfd/infrastructure/services/z-order.service.ts
  src/app/pages/dfd/services/dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

Reconnecting graph interaction code with v2 orchestrator
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-infrastructure.facade.ts
  src/app/pages/dfd/services/dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

lint fixes
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-infrastructure.facade.ts
  src/app/pages/dfd/services/dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

formatting
  src/app/pages/dfd/domain/services/domain-edge.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.spec.ts
  src/app/pages/dfd/integration/visual-effects.spec.ts
  src/app/pages/dfd/presentation/services/ui-presenter-cursor-display.service.ts
Due: eslint --fix, prettier --write

completed layer separation
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/application/services/app-state.service.ts
Due: eslint --fix, prettier --write

completed layer separation
  DFD_V2_IMPLEMENTATION_STATUS.md
  eslint.config.js
  src/app/pages/dfd/application/facades/app-dfd-legacy.facade.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-diagram-operation-broadcaster.service.ts
  src/app/pages/dfd/application/services/app-diagram-resync.service.ts
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.ts
  src/app/pages/dfd/integration/history-styling.spec.ts
  src/app/pages/dfd/integration/selection-styling.spec.ts
  src/app/pages/dfd/integration/visual-effects.spec.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

cleanup after rearchitecture
  dfd-standardization-plan.md
  docs/ARCHITECTURE.md
  docs/ARCHITECTURE_VALIDATION.md
  src/app/pages/dfd/_to_delete/README.md
  src/app/pages/dfd/_to_delete/app-dfd-legacy.facade.ts
  src/app/pages/dfd/_to_delete/dfd.component.v1.backup.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

format
  src/app/pages/dfd/_to_delete/README.md
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

Fixing dfd page layout and styling
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/presentation/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/presentation/components/dfd.component.scss
  src/app/pages/dfd/styles/_dfd-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Updating dfd styling
  src/app/pages/dfd/presentation/components/dfd.component.scss
Due: prettier --write, stylelint --fix

lint + format
  src/app/pages/dfd/presentation/components/dfd.component.scss
Due: prettier --write, stylelint --fix

Fixing edge label creation, node and edge context menus
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-node.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Fixed most graph functionality broken during rearchitecture
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Edge functionality cleanup, token expiry cleanup
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-keyboard.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/services/threat-model-authorization.service.ts
Due: eslint --fix, prettier --write

dfd bugfixes - edges, grid, flow shape types
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/constants/styling-constants.ts
  src/app/pages/dfd/domain/value-objects/edge-attrs.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-keyboard.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-shape-definitions.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.ts
  src/app/pages/dfd/services/executors/edge-operation-executor.ts
  src/app/pages/dfd/services/executors/load-diagram-executor.ts
  src/app/pages/dfd/services/executors/node-operation-executor.ts
  src/app/pages/dfd/services/validators/edge-operation-validator.ts
Due: eslint --fix, prettier --write

Fixing delete
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

Session management
  docs/architecture/SESSION_MANAGEMENT.md
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/session-manager.service.spec.ts
  src/app/auth/services/session-manager.service.ts
  src/app/core/components/index.ts
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.html
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.scss
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.spec.ts
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.ts
  src/app/core/rxjs-imports.ts
  src/app/pages/tm/services/threat-model-authorization.service.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

History cleanup, removed redundant graph
  docs/architecture/history-mechanism-restoration-plan.md
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-history.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/services/graph-history-coordinator.service.ts
Due: eslint --fix, prettier --write

Trying to fix atomic edge creation; linting
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/session-manager.service.spec.ts
  src/app/auth/services/session-manager.service.ts
  src/app/core/components/index.ts
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.html
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.scss
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.spec.ts
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/constants/styling-constants.ts
  src/app/pages/dfd/domain/value-objects/edge-attrs.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-history.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-keyboard.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/services/executors/edge-operation-executor.ts
  src/app/pages/dfd/services/graph-history-coordinator.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Trying to fix history
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Discovering and fixing unimplemented functionality from rearchitecture, fixing tests
  src/app/pages/dfd/application/executors/base-operation-executor.ts
  src/app/pages/dfd/application/executors/batch-operation-executor.ts
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
  src/app/pages/dfd/application/executors/index.ts
  src/app/pages/dfd/application/executors/load-diagram-executor.ts
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/application/services/app-graph-history-coordinator.service.ts
  src/app/pages/dfd/application/services/app-svg-optimization.service.ts
  src/app/pages/dfd/application/validators/base-operation-validator.ts
  src/app/pages/dfd/application/validators/edge-operation-validator.ts
  src/app/pages/dfd/application/validators/general-operation-validator.ts
  src/app/pages/dfd/application/validators/index.ts
  src/app/pages/dfd/application/validators/node-operation-validator.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-websocket-collaboration.adapter.ts
Due: eslint --fix, prettier --write

Committing staged changes
  docs/architecture/history-mechanism-restoration-plan.md
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.spec.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-auto-save-manager.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
  src/app/pages/dfd/application/services/app-diagram-operation-broadcaster.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/application/services/app-event-handlers.service.ts
  src/app/pages/dfd/application/services/app-graph-history-coordinator.service.ts
  src/app/pages/dfd/application/services/app-graph-operation-manager.service.ts
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.spec.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/application/services/app-svg-optimization.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-websocket-collaboration.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.ts
  src/app/pages/dfd/infrastructure/services/infra-node.service.ts
  src/app/pages/dfd/infrastructure/services/infra-port-state.service.ts
  src/app/pages/dfd/integration/history-styling.spec.ts
  src/app/pages/dfd/integration/selection-styling.spec.ts
  src/app/pages/dfd/integration/visual-effects.spec.ts
  src/app/pages/dfd/models/dfd-types.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/services/ui-presenter-cursor.service.ts
  src/app/pages/dfd/presentation/services/ui-presenter-selection.service.ts
Due: eslint --fix, prettier --write

Fixing dependency injection issues, formatting, lint
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.spec.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/application/services/app-graph-history-coordinator.service.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.ts
  src/app/pages/dfd/integration/history-styling.spec.ts
  src/app/pages/dfd/integration/selection-styling.spec.ts
  src/app/pages/dfd/integration/visual-effects.spec.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

One last dependency injection issue
  src/app/pages/dfd/application/services/app-diagram-operation-broadcaster.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

One more
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

Toolbar buttons
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

Fixing edge creation
  .claude/settings.local.json
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/constants/styling-constants.ts
  src/app/pages/dfd/domain/value-objects/node-info.spec.ts
  src/app/pages/dfd/domain/value-objects/node-info.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-shape-definitions.ts
  src/app/pages/dfd/infrastructure/services/infra-node.service.ts
Due: eslint --fix, prettier --write

bump
  package.json
  pnpm-lock.yaml
Due: none

Updating packages to match main branch
  package.json
  pnpm-lock.yaml
Due: none

Fixed grid disappearing on node drag
  .claude/settings.local.json
  src/app/pages/dfd/constants/styling-constants.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-keyboard.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

Recreating lock file to fix botched merge. lint + format
  pnpm-lock.yaml
  src/app/pages/dfd/infrastructure/adapters/infra-x6-shape-definitions.ts
Due: eslint --fix, prettier --write

Fixing session expiry dialog
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.html
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.scss
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix
