Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

chore: update pt-BR.json with localization key references
  src/assets/i18n/pt-BR.json
Due: prettier --write

chore: update fr-FR.json to use localization key references
  src/assets/i18n/fr-FR.json
Due: prettier --write

chore: deduplicate zh-CN localization keys with references
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: update es-ES localization references to use key references
  src/assets/i18n/es-ES.json
Due: prettier --write

chore: deduplicate localization keys in ko-KR.json
  src/assets/i18n/ko-KR.json
Due: prettier --write

chore: update de-DE.json to use localization key references
  src/assets/i18n/de-DE.json
Due: prettier --write

chore: dedupe remaining localization files with key references
  src/assets/i18n/bn-BD.json
  src/assets/i18n/en-US.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
Due: prettier --write

chore: remove outdated pnpm scripts
  package.json
Due: none

refactor: modernize subscription cleanup with DestroyRef pattern
  src/app/core/components/user-preferences-dialog/create-credential-dialog/create-credential-dialog.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/services/addon.service.ts
  src/app/core/services/admin-service-base.ts
  src/app/core/services/administrator.service.ts
  src/app/core/services/group-admin.service.ts
  src/app/core/services/theme.service.ts
  src/app/core/services/user-admin.service.ts
  src/app/core/services/webhook.service.ts
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.ts
  src/app/pages/admin/addons/admin-addons.component.ts
  src/app/pages/admin/administrators/add-administrator-dialog/add-administrator-dialog.component.ts
  src/app/pages/admin/administrators/admin-administrators.component.ts
  src/app/pages/admin/groups/add-group-dialog/add-group-dialog.component.ts
  src/app/pages/admin/groups/admin-groups.component.ts
  src/app/pages/admin/groups/group-members-dialog/group-members-dialog.component.ts
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.ts
  src/app/pages/admin/quotas/admin-quotas.component.ts
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/dfd/application/validators/edge-operation-validator.ts
  src/app/pages/dfd/application/validators/node-operation-validator.ts
  src/app/pages/tm/components/delete-threat-model-dialog/delete-threat-model-dialog.component.html
  src/app/pages/tm/components/delete-threat-model-dialog/delete-threat-model-dialog.component.scss
  src/app/pages/tm/components/delete-threat-model-dialog/delete-threat-model-dialog.component.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.ts
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/tm.component.ts
  src/app/shared/components/delete-threat-model-dialog/delete-threat-model-dialog.component.html
  src/app/shared/components/delete-threat-model-dialog/delete-threat-model-dialog.component.scss
  src/app/shared/components/delete-threat-model-dialog/delete-threat-model-dialog.component.ts
  src/app/shared/index.ts
  src/app/shared/utils/color-validation.util.ts
  src/app/shared/utils/form-validation.util.ts
  src/app/shared/utils/http-params.util.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: add type safety to JSON.parse calls and Object.create
  src/app/core/services/user-preferences.service.ts
  src/app/core/services/websocket.adapter.ts
Due: eslint --fix, prettier --write

feat: convert note editor dialog to full page
  src/app/pages/tm/components/note-page/note-page.component.html
  src/app/pages/tm/components/note-page/note-page.component.scss
  src/app/pages/tm/components/note-page/note-page.component.spec.ts
  src/app/pages/tm/components/note-page/note-page.component.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/tm/tm.routes.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add verify-migrate-doc skill for documentation validation
  .claude/skills/verify-migrate-doc/SKILL.md
Due: none

docs: migrate authorization-email-fallback-fix to wiki
  docs/migrated/fixes/authorization-email-fallback-fix.md
Due: none

docs: migrate docs/developer/README.md to wiki
  docs/migrated/developer/README.md
Due: none

docs: migrate collaboration participant list UX design to wiki
  docs/migrated/agent/collaboration-participant-list-ux-design.md
Due: none

docs: migrate docs/reference/architecture/README.md to wiki
  docs/migrated/reference/architecture/README.md
Due: none

docs: migrate import-constants.md to wiki
  docs/migrated/developer/setup/import-constants.md
Due: none

docs: migrate environment-configuration.md to wiki
  docs/migrated/developer/setup/environment-configuration.md
Due: none

chore: migrate app-history-service-refactor-plan to migrated directory
  docs/migrated/analysis/TM_EDIT_READONLY_ANALYSIS.md
  docs/migrated/refactoring/app-history-service-refactor-plan.md
Due: none

docs: migrate docs/agent/README.md to wiki
  docs/migrated/agent/README.md
Due: none

docs: verify and migrate developer features README to wiki
  docs/analysis/TM_EDIT_READONLY_ANALYSIS.md
  docs/migrated/developer/features/README.md
Due: none

docs: remove original developer features README (now in migrated/)
  docs/developer/features/README.md
Due: none

docs: migrate heroku-deployment.md to wiki
  docs/migrated/README.md
  docs/migrated/developer/setup/heroku-deployment.md
Due: none

docs: migrate docs/README.md to wiki Contributing.md
  docs/migrated/developer/setup/core-services.md
Due: none

docs: migrate AntV X6 graphing library guide to wiki
  docs/migrated/agent/developers-guide-antvx6-graphing-library.md
Due: none

docs: verify and migrate features reference README to wiki
  docs/migrated/reference/features/README.md
Due: none

chore: migrate TM_EDIT_IMPLEMENTATION_EXAMPLES.md to wiki
  docs/migrated/analysis/TM_EDIT_IMPLEMENTATION_EXAMPLES.md
  docs/migrated/plans/angular21-vitest4-marked17-migration.md
  docs/migrated/reference/architecture/validation.md
  docs/migrated/reference/libraries/README.md
  docs/migrated/reference/security/headers.md
Due: none

docs: verify and migrate DFD architectural-issues.md to wiki reference
  docs/migrated/reference/architecture/dfd-change-propagation/architectural-issues.md
  docs/reference/libraries/README.md
Due: none

docs: verify and migrate OPENAPI_X6_NORMALIZATION.md to wiki
  docs/migrated/analysis/OPENAPI_X6_NORMALIZATION.md
  docs/migrated/reference/architecture/dfd-change-propagation/autosave-decision-tree.md
  docs/migrated/reference/architecture/dfd-change-propagation/index.md
  docs/migrated/reference/architecture/overview.md
  docs/migrated/testing/UNIT_TEST_IMPLEMENTATION_PLAN.md
Due: none

docs: migrate testing documentation to wiki
  docs/migrated/analysis/TM_EDIT_QUICK_REFERENCE.md
  docs/migrated/developer/testing/README.md
  docs/migrated/developer/testing/testing-utilities.md
Due: none

docs: verify and migrate violations.md with resolved status
  docs/migrated/reference/features/collaborative-editing.md
  docs/reference/architecture/naming-conventions.md
Due: none

docs: migrate naming-conventions.md to migrated folder
  docs/migrated/reference/architecture/naming-conventions.md
Due: none

docs: migrate UNIT_TEST_PLAN_SUMMARY.md to wiki
  docs/migrated/testing/UNIT_TEST_PLAN_SUMMARY.md
Due: none

docs: migrate status-severity-priority-values.md to wiki
  docs/migrated/reference/features/status-severity-priority-values.md
Due: none

docs: migrate developer setup README to wiki
  docs/migrated/analysis/README_TM_EDIT_ANALYSIS.md
  docs/migrated/developer/setup/README.md
  docs/reference/features/collaborative-editing.md
Due: none

docs: verify and migrate dfd-change-propagation/index.md to wiki
  docs/migrated/reference/architecture/dfd-change-propagation/index.md
Due: none

docs: verify and migrate security README to wiki
  docs/developer/setup/core-services.md
  docs/migrated/agent/pdf-report-diagram-rendering-design.md
  docs/migrated/reference/security/README.md
  docs/reference/security/README.md
Due: none

docs: migrate collaborative-operations-flow to wiki
  docs/migrated/reference/architecture/dfd-change-propagation/collaborative-operations-flow.md
  docs/migrated/reference/security/headers.md
Due: none

docs: verify and update TM_EDIT_QUICK_REFERENCE.md
  docs/migrated/reference/architecture/validation.md
Due: none

docs: verify and migrate validation.md to wiki
  docs/migrated/reference/architecture/dfd-change-propagation/README.md
  docs/migrated/reference/architecture/dfd-change-propagation/change-propagation-matrix.md
  docs/migrated/reference/architecture/dfd-change-propagation/user-actions-flow.md
  docs/reference/architecture/dfd-change-propagation/visual-effects-pipeline.md
Due: none
