Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: reduce AppHistoryService initialization log noise
  src/app/pages/dfd/application/services/app-history.service.ts
Due: eslint --fix, prettier --write

chore: reduce console log noise by downgrading AppDiagramService logs to debug level
  src/app/pages/dfd/application/services/app-diagram.service.ts
Due: eslint --fix, prettier --write

chore: reduce DFD initialization log noise by downgrading to DEBUG level
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/presentation/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/state/dfd.state.ts
  src/app/pages/tm/resolvers/threat-model.resolver.ts
Due: eslint --fix, prettier --write

refactor: convert debug() calls to debugComponent() across project
  src/app/core/interceptors/security-headers.interceptor.spec.ts
  src/app/core/interceptors/security-headers.interceptor.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/message-chunking.service.ts
  src/app/core/services/security-config.service.ts
  src/app/core/services/websocket.adapter.ts
  src/app/pages/dfd/application/executors/base-operation-executor.ts
  src/app/pages/dfd/application/executors/batch-operation-executor.ts
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
  src/app/pages/dfd/application/executors/load-diagram-executor.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
  src/app/pages/dfd/application/services/app-diagram-resync.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/application/services/app-export.service.ts
  src/app/pages/dfd/application/services/app-graph-operation-manager.service.ts
  src/app/pages/dfd/application/services/app-history.service.ts
  src/app/pages/dfd/application/services/app-operation-rejection-handler.service.ts
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.ts
  src/app/pages/dfd/application/services/app-remote-operation-handler.service.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
  src/app/pages/dfd/infrastructure/strategies/infra-websocket-persistence.strategy.ts
  src/app/pages/tm/services/svg-cache.service.spec.ts
  src/app/pages/tm/services/svg-cache.service.ts
  src/app/pages/tm/services/threat-model-authorization.service.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

docs: add comprehensive debug component reference to logging documentation
  docs/developer/setup/core-services.md
Due: none

chore: comment out security config debug logs
  src/app/core/services/security-config.service.ts
Due: eslint --fix, prettier --write

chore: comment out TM component debug logs
  src/app/pages/tm/services/svg-cache.service.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: prevent session expiry for active users and fix dialog race condition
  src/app/auth/services/session-manager.service.spec.ts
  src/app/auth/services/session-manager.service.ts
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.ts
  src/app/core/services/activity-tracker.service.spec.ts
  src/app/core/services/activity-tracker.service.ts
Due: eslint --fix, prettier --write

fix: resolve permissions dialog styling and translation issues
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

refactor: log only activity state changes in ActivityTracker
  src/app/core/services/activity-tracker.service.ts
Due: eslint --fix, prettier --write

feat: complete principal-based identity migration
  src/app/auth/services/auth.service.ts
  src/app/core/interfaces/auth.interface.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dashboard/models/tm-list-item.model.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-websocket-collaboration.adapter.ts
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.html
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.ts
  src/app/pages/dfd/presentation/services/ui-presenter-coordinator.service.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/models/tm-list-item.model.ts
  src/app/pages/tm/services/threat-model-authorization.service.ts
  src/app/pages/tm/services/threat-model-report.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/tm/validation/reference-validator.ts
  src/app/shared/components/principal-type-icon/principal-type-icon.component.spec.ts
  src/app/shared/components/principal-type-icon/principal-type-icon.component.ts
  src/app/shared/components/provider-display/provider-display.component.html
  src/app/shared/components/provider-display/provider-display.component.scss
  src/app/shared/components/provider-display/provider-display.component.spec.ts
  src/app/shared/components/provider-display/provider-display.component.ts
  src/app/shared/utils/principal-display.utils.spec.ts
  src/app/shared/utils/principal-display.utils.ts
  src/assets/i18n/en-US.json
  src/assets/signin-logos/apple-signin-logo.svg
  src/assets/signin-logos/bitbucket-signin-logo.svg
Due: eslint --fix, prettier --write, stylelint --fix

test: fix test suite to align with intentionally reduced logging
  src/app/auth/auth-integration.spec.ts
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.spec.ts
  src/app/core/interceptors/http-logging.interceptor.spec.ts
  src/app/core/services/api.service.spec.ts
  src/app/core/services/logger.service.spec.ts
  src/app/core/services/user.service.spec.ts
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-notification.service.spec.ts
  src/app/pages/dfd/application/services/app-remote-operation-handler.service.spec.ts
  src/app/pages/dfd/domain/value-objects/diagram-info.spec.ts
  src/app/pages/dfd/domain/value-objects/edge-info.spec.ts
  src/app/pages/dfd/domain/value-objects/node-info.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-keyboard.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-label-editor.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge-query.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-node-configuration.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-node.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-port-state.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-selection.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-x6-core-operations.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.spec.ts
  src/app/pages/dfd/integration/history-styling.spec.ts
  src/app/pages/dfd/integration/presenter-cursor-viewport.spec.ts
  src/app/pages/dfd/integration/selection-styling.spec.ts
  src/app/pages/dfd/integration/styling-constants.spec.ts
  src/app/pages/dfd/integration/visual-effects.spec.ts
  src/app/pages/dfd/presentation/components/data-asset-dialog/data-asset-dialog.component.spec.ts
  src/app/pages/tm/services/svg-cache.service.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
  src/app/shared/components/principal-type-icon/principal-type-icon.component.spec.ts
  src/app/shared/components/provider-display/provider-display.component.spec.ts
Due: eslint --fix, prettier --write

fix: resolve Angular compiler JIT compilation errors in component tests
  src/app/shared/components/principal-type-icon/principal-type-icon.component.spec.ts
  src/app/shared/components/provider-display/provider-display.component.spec.ts
Due: eslint --fix, prettier --write

fix: resolve creator display and permission issues on threat model creation
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

fix: remove unnecessary optional chaining on created_by.display_name
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

fix: handle null authorization field in threat model API response
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/services/threat-model-authorization.service.ts
  src/app/pages/tm/validation/schema-validator.ts
Due: eslint --fix, prettier --write

fix: add missing common.type translation key to all i18n files
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

feat: add missing permissions translation keys to all i18n files
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

feat: enhance permissions dialog with improved column order and provider integration
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: add mat-select-trigger to display icons in permissions dialog type and provider fields
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: improve permissions dialog styling for type and provider columns
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/shared/components/provider-display/provider-display.component.scss
  src/app/shared/components/provider-display/provider-display.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: update dependencies to latest stable versions
  package.json
  pnpm-lock.yaml
  src/app/shared/components/provider-display/provider-display.component.spec.ts
Due: eslint --fix, prettier --write

chore: adding saml signin logo
  package.json
  src/assets/signin-logos/saml-signin-logo.svg
Due: none

feat: add SAML provider support to login page
  src/app/auth/components/login/login.component.html
  src/app/auth/components/login/login.component.scss
  src/app/auth/components/login/login.component.ts
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/assets/fonts/roboto/Roboto-VariableFont.ttf
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  src/assets/signin-logos/apple-signin-logo.svg
  src/assets/signin-logos/bitbucket-signin-logo.svg
  src/assets/signin-logos/github-signin-logo.svg
  src/assets/signin-logos/gitlab-signin-logo.svg
  src/assets/signin-logos/google-signin-logo.svg
  src/assets/signin-logos/microsoft-signin-logo.svg
  src/assets/signin-logos/oauth.svg
  src/assets/signin-logos/saml.svg
  src/assets/signin-logos/test.png
  src/assets/signin-logos/tmi.png
Due: eslint --fix, prettier --write, stylelint --fix

fix: add SAML providers endpoint to public endpoints list
  src/app/auth/components/login/login.component.ts
  src/app/auth/interceptors/jwt.interceptor.ts
Due: eslint --fix, prettier --write

chore: rename tmi.png to tmi.svg for test provider logo
  src/assets/signin-logos/tmi.svg
Due: none

fix: allow HTTP images in CSP when API is on HTTP
  src/app/auth/components/login/login.component.ts
  src/app/core/services/security-config.service.ts
Due: eslint --fix, prettier --write

feat: add FontAwesome icon support and improve provider icon handling
  src/app/auth/components/login/login.component.html
  src/app/auth/components/login/login.component.scss
  src/app/auth/components/login/login.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: correct SAML provider icon path resolution and refactor duplicate code
  src/app/auth/components/login/login.component.ts
Due: eslint --fix, prettier --write

fix: add required grant_type and state to OAuth token exchange request
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

fix: resolve unit test failures in session management and activity tracking
  src/app/auth/services/session-manager.service.spec.ts
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.spec.ts
  src/app/core/services/activity-tracker.service.spec.ts
Due: eslint --fix, prettier --write

fix: put correct svg image file in place
  package.json
  src/assets/signin-logos/tmi.svg
Due: none

chore: increase login card and button widths for i18n support
  src/app/auth/components/login/login.component.scss
Due: prettier --write, stylelint --fix

fix: correct provider icon URL construction for relative paths
  src/app/auth/components/login/login.component.ts
  src/app/auth/models/auth.models.ts
Due: eslint --fix, prettier --write

chore: increase TMI test provider icon size
  src/app/auth/components/login/login.component.scss
Due: prettier --write, stylelint --fix

chore: adjust TMI icon spacing
  src/app/auth/components/login/login.component.scss
Due: prettier --write, stylelint --fix

chore: further adjust TMI icon spacing
  src/app/auth/components/login/login.component.scss
Due: prettier --write, stylelint --fix

fix: fine tuning tmi icon and button text positions on test provider button
  package.json
  src/app/auth/components/login/login.component.scss
Due: prettier --write, stylelint --fix

feat: redesign SAML provider icon with lock symbol
  src/assets/signin-logos/saml.svg
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
