Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

Added user preferences
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

Added diagram-level and cell-level metadata editing
  src/app/core/components/mock-data-toggle/mock-data-toggle.component.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

Adding threat model file json upload/download support, completed localization
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
  src/app/pages/tm/tm.component.ts
  src/app/types/file-system-access.d.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Cleanup AI Spew
  .gitignore
  context/DFD_INTEGRATION_TESTING_APPROACH.md
  context/DFD_REFACTORING_PLAN.md
  context/history-management-centralization-strategy.md
  context/x6-node-edge-creation-analysis.md
Due: none

Bump
  package.json
  pnpm-lock.yaml
Due: none

Changed OAuth provider logic; implement local login as fake OAuth provider
  package.json
  pnpm-lock.yaml
  src/app/app.routes.ts
  src/app/auth/components/local-user-select/local-user-select.component.ts
  src/app/auth/components/login/login.component.html
  src/app/auth/components/login/login.component.scss
  src/app/auth/components/login/login.component.ts
  src/app/auth/components/reauth-dialog/reauth-dialog.component.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/local-oauth-provider.service.ts
  src/app/pages/home/home.component.html
  src/app/pages/home/home.component.ts
  src/environments/environment.dev.ts
  src/environments/environment.interface.ts
  src/environments/environment.prod.ts
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Updated documents property in schema to include metadata
  tmi-openapi.json
Due: none

Schema update to store diagrams in threat models. Validator.
  .claude/settings.local.json
  src/app/mocks/instances/threat-model-1.ts
  src/app/mocks/instances/threat-model-2.ts
  src/app/mocks/instances/threat-model-3.ts
  src/app/mocks/mock-data.service.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.scss
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/validation/VALIDATION_USAGE.md
  src/app/pages/tm/validation/base-validator.ts
  src/app/pages/tm/validation/diagram-validators.ts
  src/app/pages/tm/validation/index.ts
  src/app/pages/tm/validation/reference-validator.ts
  src/app/pages/tm/validation/schema-validator.ts
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
  src/app/pages/tm/validation/threat-model-validator.service.ts
  src/app/pages/tm/validation/types.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  tmi-openapi.json
Due: eslint --fix, prettier --write, stylelint --fix

Hyperlinked issue id links, fixed dialog styling, implemented mocks as real json files
  src/app/auth/services/auth.service.spec.ts
  src/app/mocks/instances/threat-model-1.ts
  src/app/mocks/instances/threat-model-2.ts
  src/app/mocks/instances/threat-model-3.ts
  src/app/mocks/mock-data.service.ts
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/mock-data/threat-model-1.json
  src/assets/mock-data/threat-model-2.json
  src/assets/mock-data/threat-model-3.json
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Updated threat list styling. Added metadata to source code objects. Added source code editor dialog.
  .claude/settings.local.json
  src/app/app.config.ts
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.html
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.scss
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  src/main.ts
  tmi-openapi.json
Due: eslint --fix, prettier --write, stylelint --fix

Localization sync. Syncing sample threat models with current schema. Minor bugfixes.
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  src/assets/mock-data/threat-model-1.json
  src/assets/mock-data/threat-model-2.json
  src/assets/mock-data/threat-model-3.json
Due: eslint --fix, prettier --write

Added metadata editor to DFD page
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-diagram.service.ts
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Adding framework definitions
  src/assets/frameworks/cia.json
  src/assets/frameworks/die.json
  src/assets/frameworks/linddun.json
  src/assets/frameworks/plot4ai.json
  src/assets/frameworks/stride.json
Due: prettier --write

Implemented threat model framework selection based on provided models and threat selection limits based on selected framework and targeted shape
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/shared/models/framework.model.ts
  src/app/shared/services/framework.service.ts
Due: eslint --fix, prettier --write

Fixed test failure
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
  src/app/pages/tm/validation/threat-model-validator.service.ts
Due: eslint --fix, prettier --write

Minor UI tweaks and bugfixing; fixed missing localized strings
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.scss
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.html
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.scss
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Fixed error in openapi json document
  tmi-openapi.json
Due: none

Removed save button from DFD toolbar (saving is automatic)
  src/app/pages/dfd/dfd.component.html
Due: eslint --fix, prettier --write

Added comment headers
  .claude/settings.local.json
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/auth/guards/auth.guard.ts
  src/app/auth/services/auth.service.ts
  src/app/core/services/api.service.ts
  src/app/core/services/logger.service.ts
  src/app/mocks/mock-data.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/services/port-state-manager.service.ts
  src/app/pages/dfd/services/dfd-diagram.service.ts
  src/app/pages/dfd/services/dfd-facade.service.ts
  src/app/pages/dfd/services/graph-history-coordinator.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm.component.ts
  src/app/shared/shared.module.ts
  src/environments/environment.interface.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/main.ts
Due: eslint --fix, prettier --write

Correcting architectural layering issues, adding comments
  src/app/pages/dfd/components/cell-properties-dialog/cell-properties-dialog.component.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/components/collaboration/user-presence-indicator.component.ts
  src/app/pages/dfd/components/collaboration/user-presence-list.component.ts
  src/app/pages/dfd/constants/styling-constants.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/collaboration/user-presence.ts
  src/app/pages/dfd/domain/collaboration/user.ts
  src/app/pages/dfd/domain/value-objects/diagram-node.ts
  src/app/pages/dfd/infrastructure/adapters/websocket.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-embedding.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-event-handlers.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-label-editor.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-label-editor.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/services/edge-query.service.ts
  src/app/pages/dfd/infrastructure/services/edge.service.spec.ts
  src/app/pages/dfd/infrastructure/services/edge.service.ts
  src/app/pages/dfd/infrastructure/services/node.service.ts
  src/app/pages/dfd/infrastructure/services/port-state-manager.service.ts
  src/app/pages/dfd/infrastructure/services/x6-core-operations.service.spec.ts
  src/app/pages/dfd/infrastructure/services/x6-core-operations.service.ts
  src/app/pages/dfd/services/dfd-diagram.service.ts
  src/app/pages/dfd/services/dfd-edge.service.ts
  src/app/pages/dfd/services/dfd-facade.service.ts
  src/app/pages/dfd/types/x6-cell.types.ts
  src/app/pages/dfd/utils/x6-cell-extensions.ts
Due: eslint --fix, prettier --write

Replaced agent-specific AI coding assistant config files with AGENTS.md
  AGENTS.md
Due: none

Full support for X6 cell schema
  docs/x6-integration.md
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/value-objects/diagram-edge.ts
  src/app/pages/dfd/domain/value-objects/diagram-info.spec.ts
  src/app/pages/dfd/domain/value-objects/diagram-info.ts
  src/app/pages/dfd/domain/value-objects/diagram-node.ts
  src/app/pages/dfd/domain/value-objects/edge-info.spec.ts
  src/app/pages/dfd/domain/value-objects/edge-info.ts
  src/app/pages/dfd/domain/value-objects/metadata.ts
  src/app/pages/dfd/domain/value-objects/node-info.spec.ts
  src/app/pages/dfd/domain/value-objects/node-info.ts
  src/app/pages/dfd/domain/value-objects/x6-types.ts
  src/app/pages/dfd/infrastructure/adapters/x6-embedding.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-z-order.adapter.ts
  src/app/pages/dfd/infrastructure/services/edge.service.ts
  src/app/pages/dfd/infrastructure/services/node-configuration.service.spec.ts
  src/app/pages/dfd/infrastructure/services/node-configuration.service.ts
  src/app/pages/dfd/infrastructure/services/node.service.spec.ts
  src/app/pages/dfd/infrastructure/services/node.service.ts
  src/app/pages/dfd/infrastructure/services/visual-effects.service.ts
  src/app/pages/dfd/infrastructure/services/x6-core-operations.service.spec.ts
  src/app/pages/dfd/services/dfd-diagram.service.ts
  src/app/pages/dfd/services/dfd-edge.service.spec.ts
  src/app/pages/dfd/services/dfd-edge.service.ts
  src/app/pages/dfd/services/dfd-facade.service.ts
  src/app/pages/dfd/utils/x6-cell-extensions.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/assets/mock-data/threat-model-1.json
  src/assets/mock-data/threat-model-2.json
  src/assets/mock-data/threat-model-3.json
  tmi-openapi.json
Due: eslint --fix, prettier --write

Fixed port visibility in history for realz. Added Diagram Type to create new diagram dialog.
  src/app/pages/dfd/components/x6-history-dialog/x6-history-dialog.component.html
  src/app/pages/dfd/components/x6-history-dialog/x6-history-dialog.component.scss
  src/app/pages/dfd/components/x6-history-dialog/x6-history-dialog.component.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/services/graph-history-coordinator.service.ts
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.html
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

Removed duplication in localization files
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.html
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Fixed missed items in localization dedupe.
  src/app/auth/components/login/login.component.html
  src/app/auth/components/login/login.component.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Debug logging cleanup and normalization
  context/debug-component-names.md
  src/app/app.component.ts
  src/app/auth/components/reauth-dialog/reauth-dialog.component.ts
  src/app/auth/guards/auth.guard.ts
  src/app/auth/guards/home.guard.ts
  src/app/auth/guards/role.guard.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/mock-data-toggle/mock-data-toggle.component.ts
  src/app/mocks/mock-data.service.ts
  src/app/pages/dfd/infrastructure/adapters/x6-event-handlers.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-keyboard-handler.ts
  src/app/pages/dfd/infrastructure/adapters/x6-tooltip.adapter.ts
  src/app/pages/dfd/infrastructure/services/edge-query.service.ts
  src/app/pages/dfd/infrastructure/services/edge.service.ts
  src/app/pages/dfd/infrastructure/services/node.service.ts
  src/app/pages/dfd/infrastructure/services/port-state-manager.service.ts
  src/app/pages/dfd/infrastructure/services/visual-effects.service.spec.ts
  src/app/pages/dfd/infrastructure/services/visual-effects.service.ts
  src/app/pages/dfd/infrastructure/services/x6-core-operations.service.ts
  src/app/pages/dfd/services/dfd-diagram.service.ts
  src/app/pages/dfd/services/dfd-edge.service.ts
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
  src/app/pages/dfd/services/dfd-tooltip.service.ts
  src/app/pages/dfd/state/dfd.state.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.ts
Due: eslint --fix, prettier --write

Implemented dev-only method to save updated mock data files
  src/app/mocks/mock-data.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

Updated mock threat model save function
  src/app/mocks/mock-data.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

Cleaning up logging
  src/app/auth/auth-integration.spec.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-event-logger.service.ts
  src/app/pages/dfd/infrastructure/adapters/x6-keyboard-handler.spec.ts
  src/app/pages/dfd/infrastructure/services/edge-query.service.spec.ts
  src/app/pages/dfd/infrastructure/services/edge.service.spec.ts
  src/app/pages/dfd/infrastructure/services/port-state-manager.service.spec.ts
  src/app/pages/dfd/infrastructure/services/visual-effects.service.spec.ts
  src/app/pages/dfd/infrastructure/services/x6-core-operations.service.spec.ts
  src/app/pages/dfd/infrastructure/services/x6-core-operations.service.ts
  src/app/pages/dfd/services/dfd-edge.service.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/tm.component.cy.ts
  src/app/pages/tm/validation/diagram-validators.ts
  src/app/pages/tm/validation/reference-validator.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
Due: eslint --fix, prettier --write

Added server health checking and visual server connection status indicator
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/services/server-connection.service.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

Updating authentication provider model
  context/tmi-server-integration-plan.md
  context/tmi_api_server_authentication.md
  src/app/auth/auth-integration.spec.ts
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  tmi-openapi.json
Due: eslint --fix, prettier --write

Updating dev config
  .gitignore
  src/environments/environment.dev.ts
Due: eslint --fix, prettier --write

Updating OAuth Provider Model to be server-driven
  .gitignore
  src/app/auth/auth-integration.spec.ts
  src/app/auth/components/login/login.component.html
  src/app/auth/components/login/login.component.scss
  src/app/auth/components/login/login.component.ts
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/assets/i18n/en-US.json
  src/environments/environment.dev.ts
  src/environments/environment.interface.ts
  src/environments/environment.prod.ts
Due: eslint --fix, prettier --write, stylelint --fix

OAuth authentication working
  context/CLIENT_OAUTH_INTEGRATION.md
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  tmi-openapi.json
Due: eslint --fix, prettier --write

Cleaned up session management, API logging, threat model import logic issue, lint
  src/app/auth/components/login/login.component.ts
  src/app/auth/components/reauth-dialog/reauth-dialog.component.html
  src/app/auth/components/reauth-dialog/reauth-dialog.component.scss
  src/app/auth/components/reauth-dialog/reauth-dialog.component.ts
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/session-manager.service.ts
  src/app/core/services/api.service.spec.ts
  src/app/core/services/api.service.ts
  src/app/mocks/mock-data.service.ts
  src/app/pages/dfd/domain/value-objects/edge-info.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.ts
  src/app/pages/tm/validation/base-validator.ts
  src/app/pages/tm/validation/schema-validator.ts
  src/app/pages/tm/validation/types.ts
  src/environments/environment.dev.ts
Due: eslint --fix, prettier --write, stylelint --fix

Filling in missing localizations. Fixing test error.
  src/app/auth/auth-integration.spec.ts
  src/app/pages/tm/validation/base-validator.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Fixed server reconnect bug
  src/app/core/services/server-connection.service.ts
Due: eslint --fix, prettier --write

Fixing login error
  src/app/auth/interceptors/jwt.interceptor.ts
Due: eslint --fix, prettier --write
