Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

fix(tests): update AppDfdOrchestrator constructor call and skip obsolete test
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
Due: eslint --fix, prettier --write

fix(tests): remove obsolete tests and add Cypress migration notes
  .claude/settings.local.json
  cypress/e2e/dfd-basic-functionality.cy.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.spec.ts
  src/app/pages/dfd/infrastructure/embedding-operations-integration.spec.ts
Due: eslint --fix, prettier --write

refactor: optimize server connection service to eliminate unnecessary work
  src/app/auth/services/auth.service.ts
  src/app/core/interceptors/http-logging.interceptor.spec.ts
  src/app/core/services/server-connection.service.ts
Due: eslint --fix, prettier --write

fix: prevent API calls when using local provider
  src/app/core/interfaces/auth-provider.interface.ts
  src/app/core/services/collaboration-session.service.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: prevent API calls when using local provider
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

chore: eliminating unused import
  src/app/core/services/collaboration-session.service.ts
Due: eslint --fix, prettier --write

fix: prevent API calls for documents, sources, and diagrams with local provider
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: prevent API calls for threat model updates with local provider
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: add local provider checks to threat and diagram CRUD operations
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: prevent API calls when creating diagrams with local provider
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: prevent API calls for sub-entity CRUD with local provider
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: store full Diagram objects instead of IDs in threat model cache
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

docs: add comprehensive offline mode refactoring plan
  docs/development/offline-mode-refactoring.md
Due: none

refactor: consolidate offline mode logic in threat-model service
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: prevent array mutations in offline mode cache operations
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: make URL validation RFC 3986 compliant and non-blocking
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.scss
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.html
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.scss
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.ts
  src/app/pages/tm/validation/schema-validator.ts
  src/app/shared/services/form-validation.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump dependencies
  package.json
  patches/@antv__x6-plugin-selection@2.2.2.patch
  pnpm-lock.yaml
Due: none

chore: add github.com to WebFetch allowed domains
  .claude/settings.local.json
Due: none

chore: add gh pr comment and close permissions
  .claude/settings.local.json
Due: none

chore: bump deps
  package.json
Due: none

chore: bump deps
  pnpm-lock.yaml
Due: none

chore(deps-dev): bump vite from 7.1.7 to 7.1.11
  pnpm-lock.yaml
Due: none

fix: correct sync:docs-server script to recursively copy directory contents
  package.json
Due: none

refactor: align codebase with OpenAPI schema field renames
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.html
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.scss
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/models/tm-list-item.model.ts
  src/app/pages/tm/services/threat-model-report.service.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/validation/validation-integration.spec.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: align property names with OpenAPI schema across codebase
  src/app/pages/tm/tm.component.cy.ts
  src/assets/mock-data/threat-model-1.json
  src/assets/mock-data/threat-model-2.json
  src/assets/mock-data/threat-model-3.json
Due: eslint --fix, prettier --write

fix: complete property name alignment with OpenAPI schema
  src/app/pages/dfd/application/services/app-event-handlers.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/validation/schema-validator.ts
  src/app/shared/services/form-validation.service.ts
Due: eslint --fix, prettier --write

docs: update documentation to reflect schema property name changes
  docs/reference/architecture/autosave-data-modeling.md
  scripts/find_duplicate_localizations.py
Due: none

docs: fix remaining issue_url references in documentation
  docs/development/offline-mode-refactoring.md
  docs/reference/architecture/autosave-data-modeling.md
Due: none

refactor: rename source code methods to repository methods
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

docs: remove offline-mode-refactoring.md
  docs/development/offline-mode-refactoring.md
Due: none

test: update tests to use new property names
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
Due: eslint --fix, prettier --write

fix: revert @antv/x6 to stable version 2.18.1
  package.json
  patches/@antv__x6-plugin-selection@2.2.2.patch
  pnpm-lock.yaml
Due: none

chore: formatting and agent permissions
  .claude/settings.local.json
  src/app/pages/tm/services/threat-model.service.spec.ts
Due: eslint --fix, prettier --write

chore: version bump
  package.json
Due: none

fix: add automatic Heroku container registry authentication to deployment script
  scripts/push-heroku.sh
Due: none

chore: update Cypress to 15.5.0 and verify macOS Tahoe compatibility
  package.json
  pnpm-lock.yaml
Due: none

feat: implement account deletion with two-step confirmation
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.html
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.scss
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.spec.ts
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/services/api.service.ts
  src/app/core/services/user.service.spec.ts
  src/app/core/services/user.service.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: consolidate font listings in about page
  src/app/pages/about/about.component.html
  src/app/pages/about/about.component.ts
Due: eslint --fix, prettier --write

fix: improve font formatting in about page
  src/app/pages/about/about.component.html
  src/app/pages/about/about.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

chore: add fonts translation to all supported languages
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write
