Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor(threats): strip threat editor dialog down to essentials
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: add design spec for font caching migration to Google Fonts CDN
  docs/superpowers/specs/2026-04-09-font-caching-design.md
Due: none

docs: add implementation plan for font caching migration
  docs/superpowers/plans/2026-04-09-font-caching.md
Due: none

feat: add Google Fonts CDN links for Roboto Condensed, Roboto Mono, Material Symbols
  src/index.html
Due: eslint --fix, prettier --write

fix: split Material Symbols into separate link for font-display:block and add referrerpolicy
  src/index.html
Due: eslint --fix, prettier --write

refactor: remove self-hosted @font-face declarations, now served by Google Fonts CDN
  src/styles.scss
  src/styles/fonts.scss
Due: prettier --write, stylelint --fix

perf: add immutable cache headers for self-hosted PDF font files
  server.js
Due: none

fix: explicitly set display=block for Material Symbols to prevent icon flash
  src/index.html
Due: eslint --fix, prettier --write

fix: Timmy nav, sign out in prefs, multi-select triage status, auto session names
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/chat/components/chat-page/chat-page.component.html
  src/app/pages/chat/components/chat-page/chat-page.component.spec.ts
  src/app/pages/chat/components/chat-page/chat-page.component.ts
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.html
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.ts
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/app/types/survey.types.ts
Due: eslint --fix, prettier --write

feat: add My Projects and My Teams to home menu navigation
  src/app/core/components/navbar/navbar.component.html
Due: eslint --fix, prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: remove deprecated baseUrl from tsconfig.json
  tsconfig.json
Due: none

chore: remove untrusted legacy e2e tests
  e2e/README.md
  e2e/TEST_PLAN.md
  e2e/config/test.config.ts
  e2e/helpers/auth.ts
  e2e/helpers/dfd.ts
  e2e/helpers/navigation.ts
  e2e/helpers/oauth-credentials.ts
  e2e/helpers/service-availability.ts
  e2e/setup/global-setup.ts
  e2e/tests/auth.spec.ts
  e2e/tests/dfd-basic.spec.ts
  e2e/tests/navigation.spec.ts
  e2e/tests/smoke.spec.ts
  e2e/tests/threat-models.spec.ts
Due: none

chore: simplify Playwright config to Chromium-only
  playwright.config.ts
Due: none

test: add e2e config and global setup
  e2e/config/test.config.ts
  e2e/setup/global-setup.ts
Due: none

test: add OAuth login helper for e2e tests
  e2e/helpers/auth.ts
Due: none

test: add data-testid attributes to create TM dialog for e2e tests
  src/app/pages/dashboard/create-threat-model-dialog/create-threat-model-dialog.component.ts
Due: eslint --fix, prettier --write

test: add data-testid attributes to dashboard for e2e tests
  src/app/pages/dashboard/dashboard.component.html
Due: eslint --fix, prettier --write

test: add data-testid attributes to create diagram dialog for e2e tests
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.html
Due: eslint --fix, prettier --write

test: add data-testid attributes to delete confirmation dialog for e2e tests
  src/app/shared/components/delete-confirmation-dialog/delete-confirmation-dialog.component.html
Due: eslint --fix, prettier --write

test: add data-testid attributes to TM edit page for e2e tests
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

test: add data-testid attributes to DFD editor for e2e tests
  src/app/pages/dfd/presentation/components/dfd.component.html
Due: eslint --fix, prettier --write

test: add core lifecycle integration test
  e2e/tests/core-lifecycle.spec.ts
Due: none

docs: add e2e test README
  e2e/README.md
Due: none

test: fix e2e test issues found during initial runs
  e2e/helpers/auth.ts
  e2e/tests/core-lifecycle.spec.ts
  playwright.config.ts
Due: none

docs: add E2E test expansion design spec
  docs/superpowers/specs/2026-04-10-e2e-test-expansion-design.md
Due: none

docs: add E2E test expansion implementation plan
  docs/superpowers/plans/2026-04-10-e2e-test-expansion.md
Due: none

chore: remove legacy Cypress artifacts
  .dockerignore
  .github/codeql/codeql-config.yml
  src/app/pages/dfd/integration/history-styling.spec.ts
  src/app/pages/dfd/integration/selection-styling.spec.ts
  src/app/pages/dfd/integration/visual-effects.spec.ts
  src/testing/index.ts
  src/testing/matchers/graph-matchers.ts
  src/testing/page-objects/page-object.base.ts
  src/testing/page-objects/threat-model-list.page.ts
Due: eslint --fix, prettier --write

style: restore blank line separator in .dockerignore
  .dockerignore
Due: none

test: add data-testid attributes for E2E test expansion
  src/app/core/components/navbar/navbar.component.html
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.html
  src/app/pages/tm/components/cwe-picker-dialog/cwe-picker-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.html
Due: eslint --fix, prettier --write

test: add page objects and dialog objects for E2E tests
  e2e/dialogs/create-diagram.dialog.ts
  e2e/dialogs/create-tm.dialog.ts
  e2e/dialogs/cvss-calculator.dialog.ts
  e2e/dialogs/cwe-picker.dialog.ts
  e2e/dialogs/delete-confirm.dialog.ts
  e2e/dialogs/threat-editor.dialog.ts
  e2e/pages/dashboard.page.ts
  e2e/pages/dfd-editor.page.ts
  e2e/pages/login.page.ts
  e2e/pages/navbar.page.ts
  e2e/pages/threat-page.page.ts
  e2e/pages/tm-edit.page.ts
  e2e/pages/triage.page.ts
Due: none

test: add flows, fixtures, and remove old auth helper
  e2e/fixtures/test-fixtures.ts
  e2e/flows/auth.flow.ts
  e2e/flows/diagram.flow.ts
  e2e/flows/threat-model.flow.ts
  e2e/flows/threat.flow.ts
  e2e/helpers/auth.ts
Due: none

test: fix TypeScript compilation errors in e2e config and lifecycle test
  e2e/config/test.config.ts
  e2e/tests/core-lifecycle.spec.ts
Due: none

refactor: migrate core lifecycle test to page objects and flows
  e2e/tests/core-lifecycle.spec.ts
Due: none

test: add threat editing E2E test suite
  e2e/tests/threat-editing.spec.ts
Due: none

test: add navigation and routing E2E test suite
  e2e/tests/navigation-routing.spec.ts
Due: none

test: add error scenarios E2E test suite
  e2e/tests/error-scenarios.spec.ts
Due: none

ops: add CI stub for E2E tests (manual trigger only)
  .github/workflows/e2e-tests.yml
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
