Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore(deps): refresh lockfile transitive dependencies
  pnpm-lock.yaml
Due: none

fix: address CodeQL log-injection and remote-property-injection alerts
  src/app/core/services/logger.service.spec.ts
  src/app/core/services/logger.service.ts
Due: eslint --fix, prettier --write

fix: update DFD validator to use API-canonical shape values
  package.json
  src/app/pages/tm/validation/diagram-validators.spec.ts
  src/app/pages/tm/validation/diagram-validators.ts
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
Due: eslint --fix, prettier --write

fix: normalize legacy cell shapes during format normalization
  src/app/pages/dfd/utils/cell-format-normalization.util.spec.ts
  src/app/pages/dfd/utils/cell-format-normalization.util.ts
Due: eslint --fix, prettier --write

fix: update DFD validator to use API-canonical shape values
  src/app/pages/tm/validation/diagram-validators.spec.ts
  src/app/pages/tm/validation/diagram-validators.ts
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
Due: eslint --fix, prettier --write

fix: use canonical edge shape in domain objects, extractors, and executors
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
  src/app/pages/dfd/application/executors/load-diagram-executor.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/domain/value-objects/edge-info.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/utils/cell-extraction.util.ts
  src/app/pages/tm/models/diagram.model.ts
Due: eslint --fix, prettier --write

refactor: replace edge shape string literals with CANONICAL_EDGE_SHAPE
  src/app/pages/dfd/application/services/app-cell-operation-converter.service.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-remote-operation-handler.service.ts
  src/app/pages/dfd/utils/cell-normalization.util.ts
  src/app/shared/services/cell-data-extraction.service.ts
Due: eslint --fix, prettier --write

test: update test data to use canonical edge shape
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/app/pages/dfd/application/services/app-cell-operation-converter.service.spec.ts
  src/app/pages/dfd/application/services/app-diagram-resync.service.spec.ts
  src/app/pages/dfd/application/services/app-diagram.service.spec.ts
  src/app/pages/dfd/domain/value-objects/edge-info.spec.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.spec.ts
  src/app/pages/dfd/utils/cell-extraction.util.spec.ts
  src/app/pages/dfd/utils/cell-normalization.util.spec.ts
  src/app/pages/dfd/utils/cell-relationship-validation.util.spec.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
  src/app/pages/tm/services/import/reference-rewriter.service.spec.ts
  src/app/shared/services/cell-data-extraction.service.spec.ts
Due: eslint --fix, prettier --write

fix: use allow-list for diagram CreateDiagramRequest to prevent import failure
  src/app/pages/tm/services/import/import-orchestrator.service.spec.ts
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
Due: eslint --fix, prettier --write

fix: coerce percentage strings to numbers in node attrs during import
  src/app/pages/dfd/utils/cell-property-filter.util.spec.ts
  src/app/pages/dfd/utils/cell-property-filter.util.ts
Due: eslint --fix, prettier --write

fix: filter port groups and items to match PortConfiguration schema
  src/app/pages/dfd/utils/cell-property-filter.util.spec.ts
  src/app/pages/dfd/utils/cell-property-filter.util.ts
Due: eslint --fix, prettier --write

Revert "fix: filter port groups and items to match PortConfiguration schema"
  src/app/pages/dfd/utils/cell-property-filter.util.spec.ts
  src/app/pages/dfd/utils/cell-property-filter.util.ts
Due: eslint --fix, prettier --write

Revert "fix: coerce percentage strings to numbers in node attrs during import"
  src/app/pages/dfd/utils/cell-property-filter.util.spec.ts
  src/app/pages/dfd/utils/cell-property-filter.util.ts
Due: eslint --fix, prettier --write

fix: register 'flow' edge shape with X6 and fix edge tests
  src/app/pages/dfd/infrastructure/adapters/infra-x6-shape-definitions.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.spec.ts
Due: eslint --fix, prettier --write

fix: export all sub-entities in threat model JSON download
  package.json
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: remove unsupported --provenance flag from Heroku deploy script
  scripts/push-heroku.sh
Due: none

perf: use native architecture for Docker build stage
  Dockerfile
Due: none

fix: remove grep pipe from docker login that hangs with Podman
  scripts/push-heroku.sh
Due: none

fix: add --no-cache to Heroku Docker build to prevent stale cache failures
  scripts/push-heroku.sh
Due: none

fix: disable provenance/SBOM attestations for Heroku registry compatibility
  scripts/push-heroku.sh
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: add ExportDialog types for export dialog
  package.json
  src/app/pages/tm/components/export-dialog/export-dialog.types.ts
Due: eslint --fix, prettier --write

fix: add i18n keys for export dialog
  package.json
  src/assets/i18n/en-US.json
Due: prettier --write

fix: create ExportDialog component for async export flow
  package.json
  src/app/pages/tm/components/export-dialog/export-dialog.component.html
  src/app/pages/tm/components/export-dialog/export-dialog.component.scss
  src/app/pages/tm/components/export-dialog/export-dialog.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: add ExportDialog component tests
  src/app/pages/tm/components/export-dialog/export-dialog.component.spec.ts
Due: eslint --fix, prettier --write

fix: use export dialog to decouple async fetch from download trigger
  package.json
  src/app/pages/tm/components/export-dialog/export-dialog.component.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: add export dialog i18n keys for all locales
  package.json
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: add ExportDialog types for export dialog
  src/app/pages/tm/components/export-dialog/export-dialog.types.ts
Due: eslint --fix, prettier --write

fix: add i18n keys for export dialog
  src/assets/i18n/en-US.json
Due: prettier --write

fix: create ExportDialog component for async export flow
  src/app/pages/tm/components/export-dialog/export-dialog.component.html
  src/app/pages/tm/components/export-dialog/export-dialog.component.scss
  src/app/pages/tm/components/export-dialog/export-dialog.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: use export dialog to decouple async fetch from download trigger
  src/app/pages/tm/components/export-dialog/export-dialog.component.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: add export dialog i18n keys for all locales
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: prevent infinite loop in paginated export when server returns broken pagination metadata
  package.json
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: fetch full note objects during export to include content field
  package.json
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: use MutationObserver to wait for async mermaid SVG rendering before attaching viewer
  src/app/shared/services/mermaid-viewer.service.spec.ts
  src/app/shared/services/mermaid-viewer.service.ts
Due: eslint --fix, prettier --write

fix: mermaid viewer toolbar, export, and i18n — multiple root causes
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/pages/tm/components/note-page/note-page.component.ts
  src/app/pages/triage/components/triage-note-editor-dialog/triage-note-editor-dialog.component.ts
  src/app/shared/components/mermaid-overlay-viewer/mermaid-overlay-viewer.component.html
  src/app/shared/components/mermaid-overlay-viewer/mermaid-overlay-viewer.component.ts
  src/app/shared/components/mermaid-viewer/mermaid-viewer.component.html
  src/app/shared/components/mermaid-viewer/mermaid-viewer.component.scss
  src/app/shared/components/mermaid-viewer/mermaid-viewer.component.spec.ts
  src/app/shared/components/mermaid-viewer/mermaid-viewer.component.ts
  src/app/shared/services/mermaid-viewer.service.spec.ts
  src/app/shared/services/mermaid-viewer.service.ts
  src/app/shared/utils/mermaid-export.utils.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
  src/styles/_markdown-editor.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: update gitignore
  .gitignore
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
