Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

feat(content): render share_with_application remediation for Microsoft pending-access docs (#644)
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.spec.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.spec.ts
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.ts
  src/app/shared/components/access-diagnostics-panel/share-with-application-remediation/share-with-application-remediation.component.spec.ts
  src/app/shared/components/access-diagnostics-panel/share-with-application-remediation/share-with-application-remediation.component.ts
  src/app/shared/components/access-diagnostics-panel/share-with-application-remediation/share-with-application-remediation.util.spec.ts
  src/app/shared/components/access-diagnostics-panel/share-with-application-remediation/share-with-application-remediation.util.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

fix(content): treat 409 from request_access as already-accessible (#644)
  .gitignore
  docs/AUTHZ_ANALYSIS.md
  docs/SESSION_MANAGEMENT_ANALYSIS.md
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.spec.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.ts
  src/app/shared/components/access-diagnostics-panel/share-with-application-remediation/share-with-application-remediation.util.spec.ts
Due: eslint --fix, prettier --write

chore(content): Acknowledgements for MSFT OG security peeps
  src/app/pages/about/about.component.html
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

docs(specs): add design for Microsoft File Picker integration (#643)
  .gitignore
  docs/superpowers/specs/2026-04-28-microsoft-file-picker-integration-design.md
Due: none

docs(superpowers): track historical design specs and implementation plans
  docs/superpowers/plans/2026-03-13-consolidate-dfd-save-paths.md
  docs/superpowers/plans/2026-03-14-settings-table-update-plan.md
  docs/superpowers/plans/2026-03-14-survey-responses-table-plan.md
  docs/superpowers/plans/2026-03-15-tmi-login-hint-dialog.md
  docs/superpowers/plans/2026-03-18-credentials-table-reformat-plan.md
  docs/superpowers/plans/2026-03-19-drag-url-to-create.md
  docs/superpowers/plans/2026-03-20-automation-credentials.md
  docs/superpowers/plans/2026-03-28-api-breaking-changes-1.4.0.md
  docs/superpowers/plans/2026-03-29-canonical-shape-normalization.md
  docs/superpowers/plans/2026-03-30-export-dialog-fix.md
  docs/superpowers/plans/2026-03-31-type-safe-import-pipeline.md
  docs/superpowers/plans/2026-04-04-response-detail-readonly.md
  docs/superpowers/plans/2026-04-07-role-based-navigation.md
  docs/superpowers/plans/2026-04-10-e2e-phase1-tm-deep-coverage.md
  docs/superpowers/plans/2026-04-10-playwright-integration-tests.md
  docs/superpowers/plans/2026-04-15-create-automation-user-button.md
  docs/superpowers/plans/2026-04-15-permissions-autocomplete.md
  docs/superpowers/plans/2026-04-27-per-shape-layout-lock.md
  docs/superpowers/specs/2026-03-13-build-version-info-design.md
  docs/superpowers/specs/2026-03-14-settings-table-update-design.md
  docs/superpowers/specs/2026-03-14-survey-responses-table-design.md
  docs/superpowers/specs/2026-03-15-download-log-button-design.md
  docs/superpowers/specs/2026-03-18-credentials-table-reformat-design.md
  docs/superpowers/specs/2026-03-19-delete-survey-design.md
  docs/superpowers/specs/2026-03-19-drag-url-to-create-design.md
  docs/superpowers/specs/2026-03-20-automation-credentials-design.md
  docs/superpowers/specs/2026-03-26-mermaid-lightbox-design.md
  docs/superpowers/specs/2026-04-02-hide-credentials-tab-design.md
  docs/superpowers/specs/2026-04-04-response-detail-readonly-design.md
  docs/superpowers/specs/2026-04-05-timmy-enabled-toggle-design.md
  docs/superpowers/specs/2026-04-07-role-based-navigation-design.md
  docs/superpowers/specs/2026-04-09-playwright-integration-tests-design.md
  docs/superpowers/specs/2026-04-09-projects-teams-nav-design.md
  docs/superpowers/specs/2026-04-10-e2e-phase1-tm-deep-coverage-design.md
  docs/superpowers/specs/2026-04-15-create-automation-user-button-design.md
  docs/superpowers/specs/2026-04-15-permissions-autocomplete-design.md
  docs/superpowers/specs/2026-04-26-arch-icon-auto-layout-design.md
  docs/superpowers/specs/2026-04-27-per-shape-layout-lock-design.md
  docs/superpowers/specs/2026-04-28-share-with-application-remediation-design.md
Due: none

style: apply prettier formatting to document-editor-dialog
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
Due: eslint --fix, prettier --write

feat(content): Microsoft account linking + File Picker integration (#643)
  server.js
  src/app/core/models/content-provider.types.ts
  src/app/core/services/content-provider-registry.spec.ts
  src/app/core/services/content-provider-registry.ts
  src/app/core/services/google-drive-picker.service.spec.ts
  src/app/core/services/google-drive-picker.service.ts
  src/app/core/services/microsoft-file-picker.service.spec.ts
  src/app/core/services/microsoft-file-picker.service.ts
  src/app/core/services/microsoft-picker-grant.service.spec.ts
  src/app/core/services/microsoft-picker-grant.service.ts
  src/app/core/services/security-config.service.spec.ts
  src/app/core/services/security-config.service.ts
  src/app/generated/api-types.d.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.scss
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.spec.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
  src/environments/environment.e2e.ts
  src/environments/environment.interface.ts
  src/environments/environment.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: E2E coverage for Google Drive picker flow (#646)
  .gitignore
  e2e/config/google-drive.local.json.example
  e2e/dialogs/document-editor.dialog.ts
  e2e/dialogs/user-preferences.dialog.ts
  e2e/flows/connected-accounts.flow.ts
  e2e/flows/document-source.flow.ts
  e2e/helpers/google-drive-config.ts
  e2e/tests/google-drive-live/link-google-account.spec.ts
  e2e/tests/google-drive-live/picker-flow.spec.ts
  e2e/tests/google-drive-live/unlink-clears-picker-metadata.spec.ts
  e2e/tests/workflows/document-access-diagnostics.spec.ts
  e2e/tests/workflows/google-drive-unlinked-prompt.spec.ts
  package.json
  playwright.config.ts
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/connected-accounts-tab.component.ts
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/unlink-confirm-dialog.component.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
Due: eslint --fix, prettier --write

fix: enlarge user preferences dialog so all tabs are reachable
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

refactor: lay out profile and display preference tabs in two columns
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: strip token query param from WebSocket URLs
  src/app/core/services/websocket.adapter.spec.ts
  src/app/core/services/websocket.adapter.ts
Due: eslint --fix, prettier --write

fix: surface link-account failures in document source flow (#662)
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/connected-accounts-tab.component.spec.ts
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/connected-accounts-tab.component.ts
  src/app/core/models/content-provider.types.ts
  src/app/core/services/content-token.service.spec.ts
  src/app/core/services/content-token.service.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.spec.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.spec.ts
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

fix: cvss calculator dialog improvements
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.html
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.scss
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.spec.ts
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: drive document source selector from /config.content_providers (#670)
  src/app/core/interfaces/server-config.interface.ts
  src/app/core/models/content-provider.types.ts
  src/app/core/services/branding-config.service.ts
  src/app/core/services/content-providers.service.spec.ts
  src/app/core/services/content-providers.service.ts
  src/app/core/services/security-config.service.spec.ts
  src/app/core/services/security-config.service.ts
  src/app/generated/api-types.d.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.spec.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/tm-edit.component.ts
  src/assets/i18n/en-US.json
  src/environments/environment.e2e.ts
  src/environments/environment.interface.ts
  src/environments/environment.ts
Due: eslint --fix, prettier --write

feat: in-browser Google Drive picker for service-mode provider (#671)
  src/app/core/models/content-provider.types.ts
  src/app/core/services/content-provider-registry.ts
  src/app/core/services/content-providers.service.spec.ts
  src/app/core/services/content-providers.service.ts
  src/app/core/services/google-drive-picker.service.spec.ts
  src/app/core/services/google-drive-picker.service.ts
  src/app/core/services/security-config.service.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.spec.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
Due: eslint --fix, prettier --write

fix: connected-accounts duplicates + Google Picker z-index/positioning
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/connected-accounts-tab.component.spec.ts
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/connected-accounts-tab.component.ts
  src/styles/component-overrides.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: prevent dialog dismissal during picker invocation; lift picker above all overlays
  src/app/pages/tm/tm-edit.component.ts
  src/styles/component-overrides.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: hide CDK overlay during file picker so picker isn't trapped behind dialog
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.spec.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/styles/component-overrides.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: rename DOCUMENT-injected param to avoid shadowing Document model type
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
Due: eslint --fix, prettier --write

fix: add missing common.deletedSuccessfully and common.deleteFailed i18n keys
  src/assets/i18n/en-US.json
Due: prettier --write

chore(deps): bump dependencies and patch transitive vulns
  package.json
  pnpm-lock.yaml
  src/styles/custom-palette.scss
Due: prettier --write, stylelint --fix

chore(deps): bump dependencies and patch transitive vulns
  package.json
  pnpm-lock.yaml
Due: none

docs: add design spec for i18n style guide and capitalization audit (#676)
  docs/superpowers/specs/2026-05-09-i18n-style-guide-design.md
Due: none

docs: add implementation plan for i18n style guide audit (#676)
  docs/superpowers/plans/2026-05-09-i18n-style-guide.md
Due: none

docs: add en-US localization style guide (#676)
  src/assets/i18n/STYLE-GUIDE.md
Due: prettier --write

feat: add maintained-lists config for i18n style check (#676)
  scripts/i18n_style/__init__.py
  scripts/i18n_style/lists.json
  scripts/i18n_style/tests/__init__.py
Due: none

feat: add config loader for i18n style lists (#676)
  scripts/i18n_style/config.py
  scripts/i18n_style/tests/test_config.py
Due: none

feat: add i18n key enumerator (#676)
  scripts/i18n_style/key_enumerator.py
  scripts/i18n_style/tests/test_key_enumerator.py
Due: none

feat: add ripgrep-based i18n usage scanner (#676)
  scripts/i18n_style/tests/test_usage_scanner.py
  scripts/i18n_style/usage_scanner.py
Due: none

feat: add surface inference for i18n usage records (#676)
  scripts/i18n_style/surface_inference.py
  scripts/i18n_style/tests/test_surface_inference.py
Due: none

feat: add minimum-viable i18n usage map builder (#676)
  scripts/build-i18n-usage-map.py
  scripts/i18n_style/tests/test_usage_map_builder.py
  scripts/i18n_style/usage_map_builder.py
  src/assets/i18n/en-US.usage.json
Due: prettier --write

feat: add partial-key search for dynamic i18n key references (#676)
  scripts/i18n_style/tests/test_usage_scanner.py
  scripts/i18n_style/usage_map_builder.py
  scripts/i18n_style/usage_scanner.py
  src/assets/i18n/en-US.usage.json
Due: prettier --write

feat: detect ellipsis candidates for button/menu i18n keys (#676)
  scripts/i18n_style/ellipsis_detector.py
  scripts/i18n_style/tests/test_ellipsis_detector.py
  scripts/i18n_style/usage_map_builder.py
  src/assets/i18n/en-US.usage.json
Due: prettier --write

feat: flag ambiguous-word i18n keys needing translator comment (#676)
  scripts/i18n_style/tests/test_usage_map_builder.py
  scripts/i18n_style/usage_map_builder.py
  src/assets/i18n/en-US.usage.json
Due: prettier --write

fix: improve i18n surface inference accuracy via multi-line context (#676)
  scripts/i18n_style/surface_inference.py
  scripts/i18n_style/tests/test_surface_inference.py
  src/assets/i18n/en-US.usage.json
Due: prettier --write

feat: add sentence-case validator for i18n strings (#676)
  scripts/i18n_style/sentence_case.py
  scripts/i18n_style/tests/test_sentence_case.py
Due: none
