Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix(test): mark node as customStyles when asserting style persistence (#605)
  e2e/tests/workflows/dfd-autosave.spec.ts
Due: none

fix: add data-testid to DFD label editor input for E2E targeting (#607)
  e2e/tests/field-coverage/dfd-node-properties.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-label-editor.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-label-editor.adapter.ts
Due: eslint --fix, prettier --write

fix: avoid refetch race when adding diagrams on TM edit page (#608)
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: use dashboard filter to locate seed TM in plate 5 (#610)
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts
Due: none

test: add E2E Phase 5 admin landing + teams coverage (#579)
  e2e/flows/admin-teams.flow.ts
  e2e/pages/admin-landing.page.ts
  e2e/pages/admin-teams.page.ts
  e2e/tests/admin/admin-landing.spec.ts
  e2e/tests/admin/admin-teams.spec.ts
  src/app/pages/admin/admin.component.html
Due: eslint --fix, prettier --write

test: add E2E Phase 5 admin-projects coverage (#579)
  e2e/flows/admin-projects.flow.ts
  e2e/pages/admin-projects.page.ts
  e2e/tests/admin/admin-projects.spec.ts
Due: none

test: add E2E Phase 5 admin-users smoke coverage (#579)
  e2e/pages/admin-users.page.ts
  e2e/tests/admin/admin-users.spec.ts
  src/app/pages/admin/users/admin-users.component.html
Due: eslint --fix, prettier --write

test: add E2E Phase 6 navigation, theme, and error coverage (#580)
  e2e/tests/workflows/error-scenarios.spec.ts
  e2e/tests/workflows/navigation-routing.spec.ts
  e2e/tests/workflows/theme-persistence.spec.ts
Due: none

fix(test): stabilize admin create/delete flows and shared dialogs
  e2e/dialogs/create-project.dialog.ts
  e2e/dialogs/create-team.dialog.ts
  e2e/dialogs/edit-project.dialog.ts
  e2e/dialogs/edit-team.dialog.ts
  e2e/flows/admin-projects.flow.ts
  e2e/flows/admin-teams.flow.ts
  e2e/tests/admin/admin-projects.spec.ts
  src/app/shared/components/create-project-dialog/create-project-dialog.component.ts
Due: eslint --fix, prettier --write

fix: preserve arbitrary cell.data keys on save (#605)
  e2e/tests/workflows/error-scenarios.spec.ts
  e2e/tests/workflows/navigation-routing.spec.ts
  src/app/pages/dfd/utils/cell-extraction.util.ts
Due: eslint --fix, prettier --write

fix(dfd): respect customStyles on unembedded nodes during load (#605)
  e2e/tests/workflows/dfd-autosave.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.ts
Due: eslint --fix, prettier --write

fix: X6 overwrite flag + correct label-editor testid (#606, #607)
  e2e/tests/field-coverage/dfd-node-properties.spec.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-label-editor.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

test: add E2E Phase 5 admin-groups coverage (#579)
  e2e/dialogs/add-group.dialog.ts
  e2e/flows/admin-groups.flow.ts
  e2e/pages/admin-groups.page.ts
  e2e/tests/admin/admin-groups.spec.ts
  src/app/pages/admin/groups/add-group-dialog/add-group-dialog.component.ts
  src/app/pages/admin/groups/admin-groups.component.html
Due: eslint --fix, prettier --write

test: add E2E Phase 5 admin-settings coverage (#579)
  e2e/dialogs/add-setting.dialog.ts
  e2e/flows/admin-settings.flow.ts
  e2e/pages/admin-settings.page.ts
  e2e/tests/admin/admin-settings.spec.ts
  src/app/pages/admin/settings/add-setting-dialog/add-setting-dialog.component.ts
  src/app/pages/admin/settings/admin-settings.component.html
Due: eslint --fix, prettier --write

test: add E2E Phase 5 admin-webhooks smoke coverage (#579)
  e2e/dialogs/add-webhook.dialog.ts
  e2e/flows/admin-webhooks.flow.ts
  e2e/pages/admin-webhooks.page.ts
  e2e/tests/admin/admin-webhooks.spec.ts
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.html
Due: eslint --fix, prettier --write

test: add E2E Phase 5 admin-quotas smoke coverage (#579)
  e2e/pages/admin-quotas.page.ts
  e2e/tests/admin/admin-quotas.spec.ts
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.html
  src/app/pages/admin/quotas/admin-quotas.component.html
Due: eslint --fix, prettier --write

test: add Phase 6 Tier B translation + icon sweeps (#580)
  e2e/helpers/translation-scanner.ts
  e2e/tests/workflows/cross-cutting-sweeps.spec.ts
Due: none

test: add Phase 6 Tier B accessibility smoke sweep (#580)
  e2e/tests/workflows/accessibility-sweep.spec.ts
Due: none

feat: dashboard security-reviewer filter with role-based defaults (#602)
  src/app/pages/dashboard/dashboard-filter.model.spec.ts
  src/app/pages/dashboard/dashboard-filter.model.ts
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.ts
  src/app/types/pagination.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

test: UI-driven theme toggle E2E via UserPreferencesDialog
  e2e/tests/workflows/theme-ui.spec.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

test: color-blindness indicator differentiation sweep
  e2e/helpers/accessibility.ts
  e2e/tests/workflows/color-blindness-indicators.spec.ts
Due: none

test: per-form mat-error validation coverage
  e2e/tests/field-coverage/form-validation.spec.ts
Due: none

test: schema-driven admin entity field coverage
  e2e/schema/field-definitions.json
  e2e/schema/field-definitions.ts
  e2e/tests/field-coverage/admin-fields.spec.ts
  src/app/pages/admin/addons/admin-addons.component.html
Due: eslint --fix, prettier --write

test: admin visual regression baselines across 4 theme modes
  e2e/tests/visual-regression/admin-visual-regression.spec.ts
Due: none

test: admin-users full CRUD — automation accounts, credentials, transfer
  e2e/tests/admin/admin-users.spec.ts
  src/app/core/components/user-preferences-dialog/create-credential-dialog/create-credential-dialog.component.ts
  src/app/core/components/user-preferences-dialog/credential-secret-dialog/credential-secret-dialog.component.ts
  src/app/pages/admin/shared/create-automation-user-dialog/create-automation-user-dialog.component.ts
  src/app/pages/admin/users/manage-credentials-dialog/manage-credentials-dialog.component.ts
Due: eslint --fix, prettier --write

test: keyboard focusability and color-contrast accessibility checks
  e2e/helpers/accessibility.ts
  e2e/tests/workflows/accessibility-sweep.spec.ts
  package.json
  pnpm-lock.yaml
Due: none

chore: adding support for ngrok tunneled local dev instance
  .claude/scheduled_tasks.lock
  angular.json
Due: none

fix: make hidden user-profile context-menu trigger unfocusable
  src/app/core/components/navbar/navbar.component.html
Due: eslint --fix, prettier --write

fix: shrink preferences radio buttons to content width
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

fix: resolve dashboard color-contrast violations across theme modes
  src/app/core/components/footer/footer.component.scss
  src/app/pages/dashboard/dashboard.component.scss
  src/styles.scss
  src/styles/colors.scss
  src/styles/material-theme.scss
Due: prettier --write, stylelint --fix

feat: add delete action to projects and teams list pages
  src/app/pages/projects/projects.component.html
  src/app/pages/projects/projects.component.ts
  src/app/pages/teams/teams.component.html
  src/app/pages/teams/teams.component.ts
  src/app/shared/components/delete-confirmation-dialog/delete-confirmation-dialog.types.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

fix: use PATCH for project and team edits to preserve relationships
  e2e/flows/project.flow.ts
  e2e/flows/team.flow.ts
  src/app/shared/components/edit-project-dialog/edit-project-dialog.component.ts
  src/app/shared/components/edit-team-dialog/edit-team-dialog.component.ts
Due: eslint --fix, prettier --write

fix: include 'active' status in TM filter and raise intake survey page size
  src/app/pages/dashboard/dashboard-filter.model.spec.ts
  src/app/pages/dashboard/dashboard-filter.model.ts
  src/app/pages/surveys/services/survey.service.ts
Due: eslint --fix, prettier --write

test: replace networkidle waits and wait for API completion in e2e flows
  e2e/flows/survey-admin.flow.ts
  e2e/flows/threat-model.flow.ts
  e2e/pages/dashboard.page.ts
  e2e/pages/projects.page.ts
  e2e/pages/teams.page.ts
  e2e/tests/workflows/dfd-autosave.spec.ts
  e2e/tests/workflows/dfd-controls.spec.ts
  e2e/tests/workflows/dfd-history.spec.ts
  e2e/tests/workflows/dfd-interactions.spec.ts
  e2e/tests/workflows/threat-editing.spec.ts
Due: none

test: delete-by-API cleanup for reviewer DFD suites and use existing CWE in scoring test
  e2e/flows/threat-model.flow.ts
  e2e/tests/workflows/dfd-autosave.spec.ts
  e2e/tests/workflows/dfd-controls.spec.ts
  e2e/tests/workflows/dfd-history.spec.ts
  e2e/tests/workflows/dfd-interactions.spec.ts
  e2e/tests/workflows/scoring-systems.spec.ts
Due: none

fix: stabilize permissions dialog e2e tests and enable confidential flag
  e2e/dialogs/permissions.dialog.ts
  e2e/tests/workflows/child-entity-crud.spec.ts
  e2e/tests/workflows/tm-workflows.spec.ts
  src/app/pages/dashboard/dashboard.component.ts
  src/environments/environment.e2e.ts
Due: eslint --fix, prettier --write

chore: update gitignore
  .claude/scheduled_tasks.lock
  .gitignore
Due: none

fix: refresh TM metadata on dialog open and own test team for project CRUD
  e2e/tests/workflows/project-workflows.spec.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: add UserPicker helper and repair multiple workflow e2e tests
  e2e/dialogs/related-teams.dialog.ts
  e2e/dialogs/user-picker.dialog.ts
  e2e/flows/dashboard-filter.flow.ts
  e2e/flows/project.flow.ts
  e2e/flows/survey-admin.flow.ts
  e2e/flows/survey-fill.flow.ts
  e2e/flows/team.flow.ts
  e2e/tests/workflows/dashboard-filters.spec.ts
  e2e/tests/workflows/project-workflows.spec.ts
  e2e/tests/workflows/team-workflows.spec.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.ts
Due: eslint --fix, prettier --write

fix: repair dashboard-filters, triage, related-*, and admin survey tests
  e2e/dialogs/related-projects.dialog.ts
  e2e/dialogs/related-teams.dialog.ts
  e2e/flows/survey-admin.flow.ts
  e2e/tests/workflows/dashboard-filters.spec.ts
  e2e/tests/workflows/project-workflows.spec.ts
  e2e/tests/workflows/survey-admin.spec.ts
  e2e/tests/workflows/survey-cross-role.spec.ts
  e2e/tests/workflows/team-workflows.spec.ts
  e2e/tests/workflows/triage-workflows.spec.ts
  src/app/pages/surveys/services/survey.service.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
