Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: cleanup
  .claude/agents/docs-hunter.md
  .claude/settings.local.json
Due: none

chore: removing project-specific bump command
  .claude/commands/bump.md
Due: none

test: add security-critical auth guard tests and fix pre-existing failures
  src/app/auth/guards/admin.guard.spec.ts
  src/app/auth/guards/auth.guard.spec.ts
  src/app/auth/guards/home.guard.spec.ts
  src/app/auth/guards/role.guard.spec.ts
  src/app/auth/services/token-validity-guard.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.spec.ts
  src/app/pages/dfd/integration/history-styling.spec.ts
  src/app/pages/dfd/integration/presenter-cursor-viewport.spec.ts
  src/app/pages/dfd/integration/selection-styling.spec.ts
  src/app/pages/dfd/integration/styling-constants.spec.ts
  src/app/pages/dfd/integration/visual-effects.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

test: add Phase 2 tests for data integrity and user-visible bug detection
  src/app/core/services/api.service.spec.ts
  src/app/core/services/websocket.adapter.spec.ts
  src/app/pages/tm/services/threat-model-authorization.service.spec.ts
Due: eslint --fix, prettier --write

test: add Phase 4 utility and component tests
  src/app/auth/components/login/login.component.spec.ts
  src/app/auth/components/unauthorized/unauthorized.component.spec.ts
  src/app/core/components/navbar/navbar.component.spec.ts
  src/app/pages/dashboard/create-threat-model-dialog/create-threat-model-dialog.component.spec.ts
  src/app/shared/utils/color-validation.util.spec.ts
  src/app/shared/utils/form-validation.util.spec.ts
  src/app/shared/utils/http-error.utils.spec.ts
  src/app/shared/utils/http-params.util.spec.ts
  src/app/shared/utils/pagination.util.spec.ts
  src/app/shared/utils/table-pagination.util.spec.ts
Due: eslint --fix, prettier --write

fix: resolve all lint warnings in safe-stringify.util.ts
  src/app/shared/utils/safe-stringify.util.ts
Due: eslint --fix, prettier --write

test: add bug-finding test coverage for security and data integrity
  src/app/core/services/client-credential.service.spec.ts
  src/app/core/services/user-preferences.service.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/resolvers/threat-model.resolver.spec.ts
  src/app/pages/tm/services/import/import-orchestrator.service.spec.ts
  src/app/pages/tm/services/threat-model-report.service.spec.ts
  src/app/shared/components/inline-edit/inline-edit.component.spec.ts
  src/app/shared/utils/field-value-helpers.spec.ts
  src/test-setup.ts
Due: eslint --fix, prettier --write

fix: remove stub roleGuard and hasRole() dead code (#403)
  src/app/auth/auth-integration.spec.ts
  src/app/auth/guards/index.ts
  src/app/auth/guards/role.guard.spec.ts
  src/app/auth/guards/role.guard.ts
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump jsdom from 28.0.0 to 28.1.0
  package.json
  pnpm-lock.yaml
Due: none

test: add Phase 5 validation tests and fix lint issues
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/pages/dfd/application/validators/edge-operation-validator.spec.ts
  src/app/pages/dfd/application/validators/general-operation-validator.spec.ts
  src/app/pages/dfd/application/validators/node-operation-validator.spec.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.spec.ts
  src/app/pages/dfd/infrastructure/strategies/infra-websocket-persistence.strategy.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/validation/diagram-validators.spec.ts
  src/app/pages/tm/validation/reference-validator.spec.ts
  src/app/pages/tm/validation/schema-validator.spec.ts
Due: eslint --fix, prettier --write

refactor: reduce cyclomatic complexity in 4 critical functions
  eslint.config.js
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/tm/validation/base-validator.ts
  src/app/shared/services/cell-data-extraction.service.ts
Due: eslint --fix, prettier --write

fix: remove dead legacy mxGraph label extraction code
  src/app/shared/services/cell-data-extraction.service.spec.ts
  src/app/shared/services/cell-data-extraction.service.ts
Due: eslint --fix, prettier --write

refactor: reduce cyclomatic complexity in 7 functions (Phase 5)
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.ts
  src/app/pages/dfd/utils/cell-property-filter.util.ts
  src/app/pages/tm/services/threat-model-authorization.service.ts
  src/app/shared/services/notification.service.ts
Due: eslint --fix, prettier --write

refactor: eliminate all remaining cyclomatic complexity warnings (Phase 5 batch 2)
  src/app/core/services/websocket.adapter.ts
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
  src/app/pages/dfd/application/executors/load-diagram-executor.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/application/validators/edge-operation-validator.ts
  src/app/pages/dfd/application/validators/node-operation-validator.ts
  src/app/pages/dfd/domain/value-objects/edge-info.ts
  src/app/pages/dfd/domain/value-objects/node-info.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

feat: show reviewer comments on intake fill page when returned for revision
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/surveys/components/survey-fill/survey-fill.component.scss
  src/app/pages/surveys/components/survey-fill/survey-fill.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

chore(deps): update hono override to 4.11.10
  package.json
  pnpm-lock.yaml
Due: none

feat: upgrade to Angular 21, ngx-markdown 21, marked 17
  package.json
  pnpm-lock.yaml
  src/app/app.config.ts
Due: eslint --fix, prettier --write

chore(deps): upgrade vitest 3.x to 4.x
  package.json
  pnpm-lock.yaml
  src/app/core/services/websocket.adapter.spec.ts
  src/test-setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: agent permissions
  .claude/settings.local.json
Due: none

fix: only retry GET requests on transient errors (5xx, network, 429)
  src/app/core/services/api.service.spec.ts
  src/app/core/services/api.service.ts
Due: eslint --fix, prettier --write

fix: remove sticky positioning from survey-fill header
  src/app/pages/surveys/components/survey-fill/survey-fill.component.scss
Due: prettier --write, stylelint --fix

fix: add missing common.createdBy i18n key for triage detail page
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore(i18n): replace threatModels.createdBy with common.createdBy reference
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: vertically center-align description text with section titles in Inputs/Outputs expanders
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: vertically center prefix/suffix icons in outline form fields
  src/app/pages/admin/quotas/admin-quotas.component.scss
  src/styles/component-overrides.scss
Due: prettier --write, stylelint --fix

fix: normalize border-radius to 8px on markdown toolbar and form field combos
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.scss
  src/app/pages/tm/components/note-page/note-page.component.scss
  src/app/pages/triage/components/triage-note-editor-dialog/triage-note-editor-dialog.component.scss
Due: prettier --write, stylelint --fix

fix: use PUT instead of POST for metadata bulk upsert operations
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

refactor(i18n): migrate field localization from numeric keys to camelCase string keys
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.scss
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/resolvers/threat-model.resolver.spec.ts
  src/app/pages/tm/tm-edit.component.scss
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
  src/app/shared/utils/field-value-helpers.spec.ts
  src/app/shared/utils/field-value-helpers.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add rich server-side filtering to dashboard
  src/app/pages/dashboard/dashboard-filter.model.ts
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.scss
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/types/pagination.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: use min-width for date filter fields to fit longer localized labels
  src/app/pages/dashboard/dashboard.component.scss
Due: prettier --write, stylelint --fix

fix: use urlWithParams in HTTP logging interceptor to show query params
  src/app/core/interceptors/http-logging.interceptor.ts
Due: eslint --fix, prettier --write

fix(i18n): localize collaboration button tooltips
  src/app/pages/dfd/presentation/components/collaboration/collaboration.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix(i18n): localize all hardcoded strings in AppNotificationService
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/application/services/app-notification.service.spec.ts
  src/app/pages/dfd/application/services/app-notification.service.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: use intake/surveys endpoint for triage survey filter
  src/app/pages/triage/components/triage-list/triage-list.component.ts
Due: eslint --fix, prettier --write

feat: add metadata confirmation dialog before DFD cell deletion
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/interfaces/graph-adapter.interface.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/shared/components/confirm-action-dialog/confirm-action-dialog.component.html
  src/app/shared/components/confirm-action-dialog/confirm-action-dialog.component.scss
  src/app/shared/components/confirm-action-dialog/confirm-action-dialog.component.spec.ts
  src/app/shared/components/confirm-action-dialog/confirm-action-dialog.component.ts
  src/app/shared/components/confirm-action-dialog/confirm-action-dialog.types.ts
  src/app/shared/index.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
