Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix(dfd): suppress duplicate disconnect snackbar after websocket error (#274)
  src/app/core/services/dfd-collaboration.service.spec.ts
  src/app/core/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write

feat(dfd): navigate away only when the diagram or TM was deleted (#274)
  src/app/core/interfaces/collaboration-notification.interface.ts
  src/app/core/services/dfd-collaboration.service.spec.ts
  src/app/core/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write

fix(dfd): single snackbar and null-safe navigation for deleted-resource fallback (#274)
  src/app/core/services/dfd-collaboration.service.spec.ts
  src/app/core/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write

feat(dfd): confirm before host ends collaboration for everyone (#274)
  src/app/core/services/dfd-collaboration.service.spec.ts
  src/app/core/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write

fix(dfd): treat cancelled collaboration toggle as info, not error (#274)
  src/app/core/services/dfd-collaboration.service.spec.ts
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.ts
  src/app/pages/dfd/presentation/components/collaboration/collaboration.component.ts
Due: eslint --fix, prettier --write

fix(dfd): clear presenter visuals when session ends without navigation (#274)
  src/app/pages/dfd/presentation/services/ui-presenter-coordinator.service.spec.ts
  src/app/pages/dfd/presentation/services/ui-presenter-coordinator.service.ts
Due: eslint --fix, prettier --write

chore(i18n): localize collaboration solo-transition strings (#274)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix(dfd): single merged snackbar on unexpected disconnect (#274)
  src/app/core/services/dfd-collaboration.service.spec.ts
  src/app/core/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write

chore(docs): consolidate threat model and security analysis documents
  .gitignore
  docs/threatmodel/AUTHZ_ANALYSIS.md
  docs/threatmodel/SESSION_MANAGEMENT_ANALYSIS.md
  docs/threatmodel/THREAT_MODEL.md
  docs/threatmodel/TRIAGE.json
  docs/threatmodel/TRIAGE.md
  docs/threatmodel/VULN-FINDINGS.json
  docs/threatmodel/VULN-FINDINGS.md
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump http-proxy-middleware from v3 to v4.1.1
  package.json
  pnpm-lock.yaml
Due: none

feat(admin): add audit-log UI domain types (#679)
  src/app/pages/admin/audit/models/admin-audit.model.ts
Due: eslint --fix, prettier --write

feat(core): add ApiService.getBlob and blob-download util (#679)
  src/app/core/services/api.service.ts
  src/app/shared/utils/blob-download.util.spec.ts
  src/app/shared/utils/blob-download.util.ts
Due: eslint --fix, prettier --write

feat(admin): add AdminAuditService for audit-log endpoints (#679)
  src/app/pages/admin/audit/admin-audit.service.spec.ts
  src/app/pages/admin/audit/admin-audit.service.ts
Due: eslint --fix, prettier --write

feat(admin): add audit filter-bar component (#679)
  src/app/pages/admin/audit/components/audit-filter-bar.component.html
  src/app/pages/admin/audit/components/audit-filter-bar.component.scss
  src/app/pages/admin/audit/components/audit-filter-bar.component.spec.ts
  src/app/pages/admin/audit/components/audit-filter-bar.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(admin): add cursor-paged audit table component (#679)
  src/app/pages/admin/audit/components/audit-table.component.html
  src/app/pages/admin/audit/components/audit-table.component.scss
  src/app/pages/admin/audit/components/audit-table.component.spec.ts
  src/app/pages/admin/audit/components/audit-table.component.ts
  src/app/pages/admin/audit/models/admin-audit.model.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(admin): add route-driven audit detail panel (#679)
  src/app/pages/admin/audit/components/audit-detail-panel.component.html
  src/app/pages/admin/audit/components/audit-detail-panel.component.scss
  src/app/pages/admin/audit/components/audit-detail-panel.component.spec.ts
  src/app/pages/admin/audit/components/audit-detail-panel.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(admin): add system audit view (#679)
  src/app/pages/admin/audit/views/system-audit-view.component.html
  src/app/pages/admin/audit/views/system-audit-view.component.scss
  src/app/pages/admin/audit/views/system-audit-view.component.spec.ts
  src/app/pages/admin/audit/views/system-audit-view.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(admin): add threat-model audit view (#679)
  src/app/pages/admin/audit/views/tm-audit-view.component.html
  src/app/pages/admin/audit/views/tm-audit-view.component.scss
  src/app/pages/admin/audit/views/tm-audit-view.component.spec.ts
  src/app/pages/admin/audit/views/tm-audit-view.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(admin): wire audit-log shell, routes, and nav card (#679)
  src/app/app.routes.ts
  src/app/pages/admin/admin.component.ts
  src/app/pages/admin/audit/audit-logs-page.component.html
  src/app/pages/admin/audit/audit-logs-page.component.scss
  src/app/pages/admin/audit/audit-logs-page.component.spec.ts
  src/app/pages/admin/audit/audit-logs-page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(admin): add 'view in audit log' affordance on settings rows (#679)
  src/app/pages/admin/settings/admin-settings.component.html
Due: eslint --fix, prettier --write

feat(i18n): add audit-log UI strings and backfill locales (#679)
  scripts/i18n_style/lists.json
  src/app/pages/admin/audit/components/audit-filter-bar.component.html
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix(admin): resolve audit-log AOT template/type errors (#679)
  src/app/pages/admin/audit/components/audit-table.component.html
  src/app/pages/admin/audit/components/audit-table.component.ts
  src/app/pages/admin/audit/models/admin-audit.model.ts
Due: eslint --fix, prettier --write

chore(admin): satisfy lint and normalize i18n usage file (#679)
  src/app/pages/admin/audit/components/audit-table.component.ts
  src/assets/i18n/en-US.usage.json
Due: eslint --fix, prettier --write

fix(admin): address audit-log code review (subscription mgmt, around URL, a11y, retry) (#679)
  src/app/app.routes.ts
  src/app/pages/admin/audit/components/audit-detail-panel.component.html
  src/app/pages/admin/audit/components/audit-detail-panel.component.ts
  src/app/pages/admin/audit/views/system-audit-view.component.ts
  src/app/pages/admin/audit/views/tm-audit-view.component.ts
  src/app/pages/admin/settings/admin-settings.component.html
Due: eslint --fix, prettier --write

docs: add admin audit-log UI implementation plan (#679)
  docs/superpowers/plans/2026-06-15-admin-audit-ui.md
Due: none

build(api): regenerate api-types.d.ts from tmi dev/1.4.0 OpenAPI spec (#679)
  src/app/generated/api-types.d.ts
Due: eslint --fix, prettier --write

feat(auth): add identity-link type aliases and step-up error model (#731)
  src/app/auth/models/identity-link.types.ts
Due: eslint --fix, prettier --write

feat(auth): add IdentityLinkService wrapping /me/identities endpoints (#731)
  src/app/auth/services/identity-link.service.spec.ts
  src/app/auth/services/identity-link.service.ts
Due: eslint --fix, prettier --write

test(auth): cover getPending and unlink endpoint paths in IdentityLinkService (#731)
  src/app/auth/services/identity-link.service.spec.ts
Due: eslint --fix, prettier --write

fix(auth): POST link/start with query params; pass step-up 401 through interceptor (#731)
  docs/superpowers/plans/2026-06-16-identity-link-flow.md
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/services/identity-link.service.spec.ts
  src/app/auth/services/identity-link.service.ts
Due: eslint --fix, prettier --write

feat(auth): add AuthService.initiateStepUp strong-path step-up redirect (#731)
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

feat(auth): add identity-link callback + consent confirmation screen (#731)
  src/app/app.routes.ts
  src/app/auth/components/identity-link-callback/identity-link-callback.component.html
  src/app/auth/components/identity-link-callback/identity-link-callback.component.scss
  src/app/auth/components/identity-link-callback/identity-link-callback.component.spec.ts
  src/app/auth/components/identity-link-callback/identity-link-callback.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(auth): add unlink-identity confirmation dialog (#731)
  src/app/core/components/user-preferences-dialog/identities-tab/unlink-identity-dialog.component.ts
Due: eslint --fix, prettier --write

feat(auth): add Linked accounts identities management tab (#731)
  src/app/core/components/user-preferences-dialog/identities-tab/identities-tab.component.spec.ts
  src/app/core/components/user-preferences-dialog/identities-tab/identities-tab.component.ts
Due: eslint --fix, prettier --write

feat(auth): add Linked accounts tab to user preferences dialog (#731)
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

feat(i18n): add identities (linked accounts) strings, backfill all locales (#731)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
