Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

Localization cleanup
  docs/UNUSED_I18N_KEYS_VERIFICATION.md
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Updating unused localization key detection tool to eliminate false positives
  scripts/check-unused-i18n-keys.cjs
Due: none

History bug fix
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/node.service.ts
  src/app/pages/dfd/services/graph-history-coordinator.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

History edge creation bugfix
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/services/dfd-edge.service.spec.ts
  src/app/pages/dfd/services/dfd-edge.service.ts
Due: eslint --fix, prettier --write

Fixing collaboration session manager bug, notification spam
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/dfd/services/dfd-notification.service.spec.ts
  src/app/pages/dfd/services/dfd-notification.service.ts
Due: eslint --fix, prettier --write

Check for existing collab session when starting dfd editor
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

centralized UI color management
  src/app/auth/components/login/login.component.scss
  src/app/core/components/navbar/navbar.component.scss
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/styles/_dfd-styles.scss
  src/app/pages/dfd/styles/_notification-styles.scss
  src/app/pages/privacy/privacy.component.scss
  src/app/pages/tos/tos.component.scss
  src/styles.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

Cleanup graceful collaboration session exit
  src/app/core/services/api.service.spec.ts
  src/app/core/services/api.service.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

Fix build errors, increased build warning/error size limits
  angular.json
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fixed bug detecting session when none existed
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

Validated i18n resources
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

Fix for misleading error message
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

Squashed 'shared/' content from commit c4354bb
  README.md
  api-specs/tmi-asyncapi.yaml
  api-specs/tmi-openapi.json
  docs/AUTHORIZATION.md
  docs/CLIENT_INTEGRATION_GUIDE.md
  docs/CLIENT_OAUTH_INTEGRATION.md
  docs/COLLABORATIVE_EDITING_PLAN.md
  docs/TMI-API-v1_0.md
  sdk-examples/python-sdk/README.md
Due: none

Updating shared document subtree
  package.json
  shared-api/README.md
  shared-api/api-specs/tmi-asyncapi.yml
  shared-api/api-specs/tmi-openapi.json
  shared-api/docs/AUTHORIZATION.md
  shared-api/docs/CLIENT_INTEGRATION_GUIDE.md
  shared-api/docs/CLIENT_OAUTH_INTEGRATION.md
  shared-api/docs/COLLABORATIVE_EDITING_PLAN.md
  shared-api/docs/TMI-API-v1_0.md
  shared-api/docs/oauth-2.0-flow-mermaid.txt
  shared-api/docs/oauth-2.0-flow.png
  shared-api/docs/oauth-2.0-flow.svg
  shared-api/docs/stepci-integration-testing-plan.md
  shared-api/docs/tmi-oauth-flow.png
  shared-api/sdk-examples/python-sdk/README.md
  shared-api/sdk-examples/python-sdk/examples/basic_usage.py
  shared-api/sdk-examples/python-sdk/examples/websocket_collaboration.py
  shared-api/sdk-examples/python-sdk/pyproject.toml
  shared-api/sdk-examples/python-sdk/requirements.txt
  shared-api/sdk-examples/python-sdk/setup.py
  shared-api/sdk-examples/python-sdk/tmi_client/__init__.py
  shared-api/sdk-examples/python-sdk/tmi_client/auth/__init__.py
  shared-api/sdk-examples/python-sdk/tmi_client/auth/oauth.py
  shared-api/sdk-examples/python-sdk/tmi_client/client.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/__init__.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/base.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/diagram.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/document.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/source.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/threat.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/threat_model.py
  shared-api/sdk-examples/python-sdk/tmi_client/websocket/__init__.py
  shared-api/sdk-examples/python-sdk/tmi_client/websocket/collaboration.py
Due: none

Bump
  package.json
  pnpm-lock.yaml
Due: none

Retry logic to ensure app gets accurate participant list when joining a collab session
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/dfd/services/graph-history-coordinator.service.ts
Due: eslint --fix, prettier --write

Implementing websocket message handlers and logging
  shared/api-specs/tmi-asyncapi.yml
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/websocket.adapter.ts
  src/app/pages/dfd/models/websocket-message.types.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/dfd/services/tmi-message-handler.service.ts
Due: eslint --fix, prettier --write

Cleaning up client websocket behavior
  src/app/pages/dfd/services/dfd-collaboration.service.spec.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/dfd/services/tmi-message-handler.service.ts
Due: eslint --fix, prettier --write

Fixed duplication in websocket message handling and logging
  src/app/pages/dfd/infrastructure/adapters/websocket.adapter.ts
Due: eslint --fix, prettier --write

localization cleanup
  .gitignore
  AGENTS.md
  package.json
  scripts/find_duplicate_localizations.py
  src/app/core/components/footer/footer.component.html
  src/app/core/components/navbar/navbar.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/dfd.component.html
  src/app/pages/privacy/privacy.component.html
  src/app/pages/tm/components/delete-threat-model-dialog/delete-threat-model-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.html
  src/app/pages/tos/tos.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Updating shared subrepo, CLAUDE.md
  AGENTS.md
  package.json
  shared-api/README.md
  shared-api/api-specs/tmi-asyncapi.yml
  shared-api/api-specs/tmi-openapi.json
  shared-api/docs/AUTHORIZATION.md
  shared-api/docs/CLIENT_INTEGRATION_GUIDE.md
  shared-api/docs/CLIENT_OAUTH_INTEGRATION.md
  shared-api/docs/COLLABORATIVE_EDITING_PLAN.md
  shared-api/docs/TMI-API-v1_0.md
  shared-api/sdk-examples/python-sdk/README.md
Due: none

Refactored collaboration session participant management
  context/Collaboration Session Participant Manage Mockup.png
  context/Collaboration participant list UX design.md
  src/app/core/components/navbar/navbar.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/infrastructure/adapters/websocket.adapter.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/dfd/services/dfd-notification.service.ts
  src/app/pages/dfd/services/graph-history-coordinator.service.ts
  src/app/pages/dfd/services/tmi-message-handler.service.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Updating favicon
  public/TMI-Logo-512x512.png
  public/TMI-Logo.svg
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
  src/index.html
Due: eslint --fix, prettier --write

Updated favicons and graphics, home page
  public/TMI-FullLogo-Transparent-512x512.png
  public/TMI-FullLogo-Transparent.svg
  public/TMI-IconOnly-Transparent-NoBuffer.png
  public/TMI-Logo-512x512.png
  public/TMI-TextOnly-NoBuffer-WhiteBackground.png
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/pages/home/home.component.html
  src/app/pages/home/home.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

Refactor: rename "session manager" (user role) to "host"
  context/Collaboration participant list UX design.md
  shared-api/api-specs/tmi-asyncapi.yml
  shared-api/api-specs/tmi-openapi.json
  shared-api/docs/CLIENT_INTEGRATION_GUIDE.md
  shared-api/docs/List of WebSocket messages.md
  src/app/core/services/collaboration-session.service.ts
  src/app/mocks/mock-data.service.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/websocket.adapter.ts
  src/app/pages/dfd/models/websocket-message.types.ts
  src/app/pages/dfd/services/collaborative-operation.service.ts
  src/app/pages/dfd/services/dfd-collaboration.service.spec.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/dfd/services/tmi-message-handler.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Color tuning
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

Localizing renamed key
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

Updating dangling translation key reference from previous refactor
  src/app/pages/tm/tm-edit/tm-edit.component.html
Due: eslint --fix, prettier --write

Localization key update
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

Changing http error handling
  src/app/core/services/api.service.spec.ts
  src/app/core/services/api.service.ts
  src/app/core/tokens/http-context.tokens.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

Ensuring consistent usage of user_id, user_name and user_email
  src/app/auth/services/auth.service.ts
  src/app/auth/services/local-oauth-provider.service.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

synchronizing shared directory
  shared-api/README.md
  shared-api/api-specs/tmi-asyncapi.yml
  shared-api/api-specs/tmi-openapi.json
  shared-api/docs/CLIENT_OAUTH_INTEGRATION.md
  shared-api/docs/COLLABORATION_SESSION_BEHAVIOR.md
  shared-api/docs/TMI-API-v1_0.md
  shared-api/docs/oauth-2.0-flow-mermaid.txt
  shared-api/docs/oauth-2.0-flow.png
  shared-api/docs/oauth-2.0-flow.svg
  shared-api/docs/stepci-integration-testing-plan.md
  shared-api/docs/tmi-oauth-flow.png
  shared-api/sdk-examples/python-sdk/examples/basic_usage.py
  shared-api/sdk-examples/python-sdk/examples/websocket_collaboration.py
  shared-api/sdk-examples/python-sdk/pyproject.toml
  shared-api/sdk-examples/python-sdk/requirements.txt
  shared-api/sdk-examples/python-sdk/setup.py
  shared-api/sdk-examples/python-sdk/tmi_client/__init__.py
  shared-api/sdk-examples/python-sdk/tmi_client/auth/__init__.py
  shared-api/sdk-examples/python-sdk/tmi_client/auth/oauth.py
  shared-api/sdk-examples/python-sdk/tmi_client/client.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/__init__.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/base.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/diagram.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/document.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/source.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/threat.py
  shared-api/sdk-examples/python-sdk/tmi_client/models/threat_model.py
  shared-api/sdk-examples/python-sdk/tmi_client/websocket/__init__.py
  shared-api/sdk-examples/python-sdk/tmi_client/websocket/collaboration.py
Due: none

Local login provider rework
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/auth/components/local-user-select/local-user-select.component.ts
  src/app/auth/components/login/login.component.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/local-oauth-provider.service.ts
  src/app/core/services/api.service.spec.ts
  src/app/core/services/server-connection.service.ts
  src/environments/environment.dev.ts
  src/environments/environment.interface.ts
  src/environments/environment.ts
Due: eslint --fix, prettier --write

OIDC JWT claims conformance
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

Changed "collaborators" to "participants"
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

Refactored participant management
  shared-api/api-specs/tmi-asyncapi.yml
  shared-api/api-specs/tmi-openapi.json
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/dfd/services/tmi-message-handler.service.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

Consistent use of user id
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/dfd/services/tmi-message-handler.service.ts
Due: eslint --fix, prettier --write

Syncing API specs from server repo
  shared-api/api-specs/tmi-asyncapi.yml
  shared-api/api-specs/tmi-openapi.json
Due: none

Fixing host & presenter detection
  src/app/pages/dfd/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write
