Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

fix: align TMI provider login validation with server OpenAPI spec
  src/app/auth/components/login/tmi-login-dialog.component.spec.ts
  src/app/auth/components/login/tmi-login-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

chore: claude settings update/formatting
  .claude/settings.local.json
Due: none

fix: updates to seeding document to match implementation
  e2e/seed/seed-spec.json
Due: none

fix: resolve E2E test failures from first run
  e2e/tests/field-coverage/asset-fields.spec.ts
  e2e/tests/field-coverage/document-fields.spec.ts
  e2e/tests/field-coverage/note-fields.spec.ts
  e2e/tests/field-coverage/repository-fields.spec.ts
  e2e/tests/field-coverage/threat-fields.spec.ts
  e2e/tests/field-coverage/tm-fields.spec.ts
  e2e/tests/visual-regression/tm-translation-icons.spec.ts
  e2e/tests/visual-regression/tm-visual-regression.spec.ts
  e2e/tests/workflows/scoring-systems.spec.ts
  e2e/tests/workflows/tm-workflows.spec.ts
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.html
Due: eslint --fix, prettier --write

fix: set explicit beforeAll timeouts for serial E2E suites
  e2e/tests/workflows/child-entity-crud.spec.ts
  e2e/tests/workflows/core-lifecycle.spec.ts
  e2e/tests/workflows/scoring-systems.spec.ts
  e2e/tests/workflows/threat-editing.spec.ts
Due: none

fix: click name cell specifically in asset edit flow
  e2e/flows/asset.flow.ts
Due: none

fix: add JSON import attribute for ESM compatibility
  e2e/schema/field-definitions.ts
Due: none

fix: verify auth flow returns to app origin before proceeding
  e2e/flows/auth.flow.ts
Due: none

chore: excluding test artifacts with gitignore
  .gitignore
Due: none

fix: correct field definition selectors to match actual data-testid attributes
  e2e/schema/field-definitions.json
Due: none

fix: use exact provider name in permissions tests and expand accordion for TM field tests
  e2e/dialogs/permissions.dialog.ts
  e2e/tests/field-coverage/tm-fields.spec.ts
  e2e/tests/workflows/child-entity-crud.spec.ts
  e2e/tests/workflows/tm-workflows.spec.ts
Due: none

test: add missing data-testid attributes to TM edit and threat page form fields
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

fix: add missing translation key and fix SSVC value card matching
  e2e/dialogs/ssvc-calculator.dialog.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: improve asset edit row click and remove redundant clear
  e2e/flows/asset.flow.ts
Due: none

fix: resolve remaining E2E test failures from run 5
  e2e/dialogs/permissions.dialog.ts
  e2e/dialogs/ssvc-calculator.dialog.ts
  e2e/tests/field-coverage/threat-fields.spec.ts
  e2e/tests/field-coverage/tm-fields.spec.ts
  e2e/tests/workflows/tm-workflows.spec.ts
Due: none

fix: resolve final E2E test issues from run 6
  e2e/dialogs/create-tm.dialog.ts
  e2e/dialogs/permissions.dialog.ts
  e2e/tests/workflows/scoring-systems.spec.ts
  e2e/tests/workflows/tm-workflows.spec.ts
Due: none

fix: resolve remaining E2E failures (run 8)
  e2e/dialogs/create-tm.dialog.ts
  e2e/dialogs/permissions.dialog.ts
  e2e/tests/workflows/tm-workflows.spec.ts
Due: none

fix: use dispatchEvent for permissions subject blur
  e2e/dialogs/permissions.dialog.ts
Due: none

fix: update pre-existing E2E tests to match current app behavior
  e2e/flows/diagram.flow.ts
  e2e/tests/workflows/core-lifecycle.spec.ts
  e2e/tests/workflows/error-scenarios.spec.ts
  e2e/tests/workflows/navigation-routing.spec.ts
  e2e/tests/workflows/threat-editing.spec.ts
Due: none

fix: resolve entity table refresh and permissions subject input issues (#582, #583)
  e2e/dialogs/asset-editor.dialog.ts
  e2e/dialogs/permissions.dialog.ts
  e2e/flows/asset.flow.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: delete confirmation dialog not responding to programmatic input
  e2e/dialogs/delete-confirm.dialog.ts
  src/app/shared/components/delete-confirmation-dialog/delete-confirmation-dialog.component.html
  src/app/shared/components/delete-confirmation-dialog/delete-confirmation-dialog.component.ts
Due: eslint --fix, prettier --write

fix: migrate E2E helpers from fill() to pressSequentially() for Angular form compatibility (#584)
  e2e/dialogs/create-diagram.dialog.ts
  e2e/dialogs/create-tm.dialog.ts
  e2e/dialogs/cwe-picker.dialog.ts
  e2e/dialogs/delete-confirm.dialog.ts
  e2e/dialogs/document-editor.dialog.ts
  e2e/dialogs/metadata.dialog.ts
  e2e/dialogs/repository-editor.dialog.ts
  e2e/dialogs/threat-editor.dialog.ts
  e2e/flows/auth.flow.ts
  e2e/flows/metadata.flow.ts
  e2e/helpers/field-interactions.ts
  e2e/pages/note-page.page.ts
  e2e/pages/threat-page.page.ts
  e2e/tests/workflows/error-scenarios.spec.ts
Due: none

fix: dispatch input event in delete confirm dialog and remove '*' provider mapping
  e2e/dialogs/delete-confirm.dialog.ts
  playwright.config.ts
  src/app/core/services/group-admin.service.spec.ts
  src/app/pages/admin/groups/admin-groups.component.ts
  src/app/pages/tm/services/providers/authorization-prepare.service.spec.ts
  src/app/pages/tm/services/providers/provider-adapter.service.spec.ts
  src/app/pages/tm/services/providers/provider-adapter.service.ts
  src/app/shared/services/security-reviewer.service.spec.ts
  src/app/types/group.types.ts
Due: eslint --fix, prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: resolve E2E workflow test failures for Phase 1 coverage (#575)
  e2e/dialogs/cwe-picker.dialog.ts
  e2e/dialogs/delete-confirm.dialog.ts
  e2e/dialogs/document-editor.dialog.ts
  e2e/dialogs/permissions.dialog.ts
  e2e/flows/document.flow.ts
  e2e/flows/note.flow.ts
  e2e/flows/threat.flow.ts
  e2e/pages/note-page.page.ts
  e2e/tests/workflows/child-entity-crud.spec.ts
  e2e/tests/workflows/tm-workflows.spec.ts
Due: none

fix: resolve E2E flaky failures from Angular form input and mat-menu timing (#590)
  e2e/dialogs/delete-confirm.dialog.ts
  e2e/dialogs/metadata.dialog.ts
  e2e/flows/asset.flow.ts
  e2e/flows/document.flow.ts
  e2e/flows/metadata.flow.ts
  e2e/flows/note.flow.ts
  e2e/flows/repository.flow.ts
  e2e/flows/threat.flow.ts
  e2e/tests/workflows/child-entity-crud.spec.ts
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
Due: eslint --fix, prettier --write

docs: add design spec for #590 angularFill utility and component migrations
  docs/superpowers/specs/2026-04-13-e2e-angular-fill-utility-design.md
Due: none

docs: add implementation plan for #590 angularFill utility
  docs/superpowers/plans/2026-04-13-e2e-angular-fill-utility.md
Due: none

feat(e2e): add angularFill shared utility for atomic input value setting (#590)
  e2e/helpers/angular-fill.ts
Due: none

fix: migrate permissions dialog subject input from [value] to [(ngModel)] (#590)
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: migrate teams filter inputs from [value] to [(ngModel)] (#590)
  src/app/pages/admin/teams/admin-teams.component.html
  src/app/pages/teams/teams.component.html
Due: eslint --fix, prettier --write

fix(e2e): migrate all reactive form helpers from pressSequentially() to fill() (#590)
  e2e/dialogs/asset-editor.dialog.ts
  e2e/dialogs/create-diagram.dialog.ts
  e2e/dialogs/create-tm.dialog.ts
  e2e/dialogs/cwe-picker.dialog.ts
  e2e/dialogs/document-editor.dialog.ts
  e2e/dialogs/repository-editor.dialog.ts
  e2e/dialogs/threat-editor.dialog.ts
  e2e/flows/note.flow.ts
  e2e/helpers/field-interactions.ts
  e2e/pages/note-page.page.ts
Due: none

fix(e2e): migrate permissions and delete-confirm dialogs to angularFill() (#590)
  e2e/dialogs/delete-confirm.dialog.ts
  e2e/dialogs/permissions.dialog.ts
Due: none

fix(e2e): migrate remaining pressSequentially() calls to fill()/angularFill() (#590)
  e2e/flows/auth.flow.ts
  e2e/pages/threat-page.page.ts
  e2e/tests/workflows/error-scenarios.spec.ts
Due: none

fix(e2e): switch all form inputs from fill() to angularFill() for reliability (#590)
  e2e/dialogs/asset-editor.dialog.ts
  e2e/dialogs/create-diagram.dialog.ts
  e2e/dialogs/create-tm.dialog.ts
  e2e/dialogs/cwe-picker.dialog.ts
  e2e/dialogs/document-editor.dialog.ts
  e2e/dialogs/metadata.dialog.ts
  e2e/dialogs/repository-editor.dialog.ts
  e2e/dialogs/threat-editor.dialog.ts
  e2e/flows/note.flow.ts
  e2e/helpers/field-interactions.ts
  e2e/pages/note-page.page.ts
Due: none

fix(e2e): handle textarea elements in angularFill() native setter (#590)
  e2e/helpers/angular-fill.ts
Due: none

fix: migrate metadata dialog to [(ngModel)] and fix permissions test timing (#590)
  e2e/tests/workflows/child-entity-crud.spec.ts
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
Due: eslint --fix, prettier --write

docs: add E2E Phases 3 & 4 design spec (surveys/triage + teams/projects)
  docs/superpowers/specs/2026-04-15-e2e-phases-3-4-design.md
Due: none

docs: add implementation plans for E2E Phases 3 and 4
  docs/superpowers/plans/2026-04-15-e2e-phase3-surveys-triage.md
  docs/superpowers/plans/2026-04-15-e2e-phase4-teams-projects.md
Due: none
