Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: convert duplicate fr-FR localization keys to references
  src/assets/i18n/fr-FR.json
Due: prettier --write

refactor: convert 19 de-DE localization keys to use references
  src/assets/i18n/de-DE.json
Due: prettier --write

refactor: convert 19 id-ID localization keys to use references
  src/assets/i18n/id-ID.json
Due: prettier --write

refactor: convert 19 ru-RU localization keys to use references
  src/assets/i18n/ru-RU.json
Due: prettier --write

fix: convert 19 he-IL localization keys to use references
  src/assets/i18n/he-IL.json
Due: prettier --write

refactor: convert 19 zh-CN localization keys to use references
  src/assets/i18n/zh-CN.json
Due: prettier --write

refactor: convert 19 ko-KR localization keys to use references
  src/assets/i18n/ko-KR.json
Due: prettier --write

feat: convert ja-JP localization keys to use references
  src/assets/i18n/ja-JP.json
Due: prettier --write

feat: convert 19 th-TH localization keys to use references
  src/assets/i18n/th-TH.json
Due: prettier --write

refactor: convert 19 es-ES localization keys to use references
  src/assets/i18n/es-ES.json
Due: prettier --write

refactor: convert 19 ur-PK localization keys to use references
  src/assets/i18n/ur-PK.json
Due: prettier --write

chore: convert 19 bn-BD i18n keys to use references
  src/assets/i18n/bn-BD.json
Due: prettier --write

refactor: convert 19 ar-SA localization keys to use references
  src/assets/i18n/ar-SA.json
Due: prettier --write

refactor: convert 19 pt-BR localization keys to use references
  src/assets/i18n/pt-BR.json
Due: prettier --write

fix: use X6 native label format in edge-operation-executor
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
Due: eslint --fix, prettier --write

fix: use correct attrs.text path for node labels instead of attrs.label
  src/app/pages/dfd/application/executors/load-diagram-executor.ts
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
Due: eslint --fix, prettier --write

fix: disable paste button when clipboard is empty
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

chore(deps-dev): bump @types/node, @typescript-eslint/*, jsdom
  package.json
  pnpm-lock.yaml
Due: none

feat: add download button for notes in threat model edit page
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

chore: update claude permissions
  .claude/settings.local.json
  package.json
Due: none

chore: doc cleanup
  docs/development/P0_MANUAL_TESTING_GUIDE.md
  docs/mockups/user-preferences-dialog-mockups.pdf
  package.json
Due: none

feat: refactor user preferences dialog to tabbed layout
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/shared/imports.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: add CodeQL workflow for PR scanning and fix Claude review auth
  .github/workflows/claude-code-review.yml
  .github/workflows/codeql.yml
Due: none

chore(deps): bump qs from 6.14.0 to 6.14.1
  package.json
  pnpm-lock.yaml
Due: none

refactor: reduce cyclomatic complexity in validation and WebSocket handlers
  src/app/pages/dfd/application/services/app-operation-rejection-handler.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
  src/app/pages/dfd/utils/cell-relationship-validation.util.ts
  src/app/pages/tm/validation/diagram-validators.ts
Due: eslint --fix, prettier --write

feat: add description column to threats table for consistent layout
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
  src/app/pages/tm/tm-edit.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: use theme variables for table text colors in tm-edit cards
  src/app/pages/tm/tm-edit.component.scss
Due: prettier --write, stylelint --fix

fix: replace asset classification/sensitivity chips with badges for theme readability
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: move header action buttons into threat model details card
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

feat: add editable diagram name and description to DFD editor header
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.scss
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/shared/components/inline-edit/inline-edit.component.html
  src/app/shared/components/inline-edit/inline-edit.component.scss
  src/app/shared/components/inline-edit/inline-edit.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: pass diagram description through REST persistence strategy
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
Due: eslint --fix, prettier --write

refactor: deduplicate localization strings using references
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

refactor: unify load() and loadDiagram() in orchestrator
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

fix: use _metadata instead of metadata when accessing cell data
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: use transparent background for tab content in dialogs
  src/styles/component-overrides.scss
Due: prettier --write, stylelint --fix

fix: maintain consistent dialog height when switching tabs
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add description column to assets table and reorder threats table columns
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: use fixed width for description column to align tables
  src/app/pages/tm/tm-edit.component.scss
Due: prettier --write, stylelint --fix

revert: restore flex description column
  src/app/pages/tm/tm-edit.component.scss
Due: prettier --write, stylelint --fix

feat: add client credentials management to user preferences
  src/app/core/components/user-preferences-dialog/create-credential-dialog/create-credential-dialog.component.ts
  src/app/core/components/user-preferences-dialog/credential-secret-dialog/credential-secret-dialog.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/services/client-credential.service.ts
  src/app/types/client-credential.types.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
