Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: version bump
  package.json
Due: none

feat: add 3-line sub-entity layout to dashboard threat model cards
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/models/tm-list-item.model.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: align dashboard card columns and add i18n for assets
  src/app/pages/tm/tm.component.scss
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write, stylelint --fix

feat: add assets card to threat model edit page
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.html
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.scss
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: standardize external link icons in tm-edit page
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: implement comprehensive theming system with automatic mode
  angular.json
  src/app/app.config.ts
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/services/index.ts
  src/app/core/services/theme.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/styles.scss
  src/styles/colors.scss
  src/styles/component-overrides.scss
  src/styles/custom-palette.scss
  src/styles/material-theme.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: implement comprehensive theme enhancements
  public/TMI-FullLogo-Transparent.svg
  public/TMI-Logo.svg
  src/app/auth/components/login/login.component.scss
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.scss
  src/app/pages/tm/tm.component.scss
  src/styles/colors.scss
  src/styles/component-overrides.scss
  src/styles/material-theme.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove !important from padding/margin overrides
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: prettier --write, stylelint --fix

refactor: standardize border-radius to 8px and add missing i18n keys
  src/app/auth/components/login/login.component.scss
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.scss
  src/app/core/components/validation-error-dialog/validation-error-dialog.component.scss
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.scss
  src/app/pages/dfd/presentation/components/dfd.component.scss
  src/app/pages/dfd/styles/_notification-styles.scss
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.scss
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: migrate deprecated *ngIf to @if control flow
  src/app/auth/components/login/login.component.html
  src/app/auth/components/unauthorized/unauthorized.component.html
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.html
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.html
  src/app/pages/about/about.component.html
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.html
  src/app/pages/dfd/presentation/components/collaboration/collaboration.component.html
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/home/home.component.html
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.html
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.html
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.html
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm.component.html
Due: eslint --fix, prettier --write

chore: allowing claude to git stash
  .claude/settings.local.json
Due: none

refactor: migrate to Material Design 3 theming system
  src/app/auth/components/login/login.component.html
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/styles/material-theme.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add custom M3 palettes for exact brand colors
  package.json
  pnpm-lock.yaml
  scripts/generate-m3-palettes.js
  src/styles/m3-palettes-colorblind-generated.scss
  src/styles/m3-palettes-generated.scss
  src/styles/m3-palettes.scss
  src/styles/material-theme.scss
Due: prettier --write, stylelint --fix

fix: ensure dark mode uses light text in dialogs and list items
  src/styles/component-overrides.scss
Due: prettier --write, stylelint --fix

fix: add stronger dark mode text color overrides for list items
  src/styles/component-overrides.scss
Due: prettier --write, stylelint --fix

fix: add comprehensive dark mode text color overrides for dialogs
  src/styles/component-overrides.scss
Due: prettier --write, stylelint --fix

fix: normalize spacing and improve layout in asset editor dialog
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.scss
Due: prettier --write, stylelint --fix

fix: improve chip visibility and contrast in asset list items
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: prettier --write, stylelint --fix

fix: maximize chip text contrast by separating text and background opacity
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: prettier --write, stylelint --fix

fix: use correct operation type for edge metadata updates
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: prevent delete/backspace keys from affecting graph when dialogs are open
  src/app/pages/dfd/application/services/app-event-handlers.service.ts
Due: eslint --fix, prettier --write

fix: correct import paths for shared services in AppEventHandlersService
  src/app/pages/dfd/application/services/app-event-handlers.service.ts
Due: eslint --fix, prettier --write

fix: improve text contrast for empty entity cards in dark mode
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: update translations for two strings
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

fix: prevent delete/backspace from affecting graph when dialogs are open
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

feat: copy metadata from original edge to inverse connection
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
Due: eslint --fix, prettier --write

fix: correct metadata persistence in manage metadata dialog and remove noisy keyboard logging
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: correct info section background styling inconsistency in threat model cards
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: prettier --write, stylelint --fix

fix: replace all hardcoded colors in tm-edit and threat-editor-dialog with CSS variables for complete dark mode support
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: prettier --write, stylelint --fix

fix: use theme-specific text variables for proper dark mode support in info sections
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: prettier --write, stylelint --fix

fix: update color system to use Material Design 3 palettes properly
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.scss
  src/app/core/components/validation-error-dialog/validation-error-dialog.component.scss
  src/app/pages/about/about.component.scss
  src/app/pages/dfd/presentation/components/dfd.component.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

fix: resolve UI issues in asset dialog and DFD save functionality
  src/app/pages/dfd/presentation/components/dfd.component.scss
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add Save button to DFD toolbar and always save with thumbnail on close
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

feat: enhance note editor with comprehensive markdown rendering and interactive features
  angular.json
  package.json
  pnpm-lock.yaml
  src/app/app.config.ts
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.html
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.scss
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
  src/main.ts
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
