Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat(ssvc): add stepper dialog component
  src/app/pages/tm/components/ssvc-calculator-dialog/ssvc-calculator-dialog.component.html
  src/app/pages/tm/components/ssvc-calculator-dialog/ssvc-calculator-dialog.component.scss
  src/app/pages/tm/components/ssvc-calculator-dialog/ssvc-calculator-dialog.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

test(ssvc): add dialog component unit tests
  src/app/pages/tm/components/ssvc-calculator-dialog/ssvc-calculator-dialog.component.spec.ts
Due: eslint --fix, prettier --write

chore(i18n): add SSVC calculator English translation keys
  src/assets/i18n/en-US.json
Due: prettier --write

feat(ssvc): integrate SSVC calculator into threat page
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore(i18n): backfill SSVC calculator translations and deduplicate keys
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

docs: add threat page form reorganization design spec
  docs/superpowers/specs/2026-04-08-threat-form-reorganization-design.md
Due: none

docs: add threat form reorganization implementation plan
  docs/superpowers/plans/2026-04-08-threat-form-reorganization.md
Due: none

chore(i18n): add threat form section header and label keys
  src/assets/i18n/en-US.json
Due: prettier --write

style(threat-page): reorganize form into labeled sections and add mappings row styles
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore(i18n): backfill threat form section header translations
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

docs: add classification section unification design spec
  docs/superpowers/specs/2026-04-09-classification-unification-design.md
Due: none

docs: add classification unification implementation plan
  docs/superpowers/plans/2026-04-09-classification-unification.md
Due: none

fix(threat-page): update maxLength validators to match API spec (name 256, description 2048)
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write

feat(framework-picker): add dialog data and result types
  src/app/pages/tm/components/framework-mapping-picker-dialog/framework-mapping-picker-dialog.types.ts
Due: eslint --fix, prettier --write

feat(framework-picker): add framework mapping picker dialog component
  src/app/pages/tm/components/framework-mapping-picker-dialog/framework-mapping-picker-dialog.component.html
  src/app/pages/tm/components/framework-mapping-picker-dialog/framework-mapping-picker-dialog.component.scss
  src/app/pages/tm/components/framework-mapping-picker-dialog/framework-mapping-picker-dialog.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

test(framework-picker): add dialog component unit tests
  src/app/pages/tm/components/framework-mapping-picker-dialog/framework-mapping-picker-dialog.component.spec.ts
Due: eslint --fix, prettier --write

feat(cvss-dialog): add vector paste input inside calculator dialog
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.html
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.scss
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

test(cvss-dialog): add vector paste unit tests
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.spec.ts
Due: eslint --fix, prettier --write

refactor(threat-page): store ThreatTypeModel array and add cell shape lookup
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write

feat(threat-page): replace framework multi-select with chips + picker dialog
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write

refactor(threat-page): replace CWE inline input with chips-only display
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write

refactor(threat-page): remove CVSS vector input and unify CVSS label styling
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write

style(threat-page): add unified mapping chips row styles
  src/app/pages/tm/components/threat-page/threat-page.component.scss
Due: prettier --write, stylelint --fix

chore(i18n): add classification unification translation keys
  src/assets/i18n/en-US.json
Due: prettier --write

chore(i18n): backfill classification unification translations
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

style(threat-page): add rounded border to mapping chip areas
  src/app/pages/tm/components/threat-page/threat-page.component.scss
Due: prettier --write, stylelint --fix

style(threat-page): fix mapping label elements, border colors, and spacing
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: fix note-page layout and SSVC calculator dialog theming
  src/app/pages/tm/components/note-page/note-page.component.html
  src/app/pages/tm/components/note-page/note-page.component.scss
  src/app/pages/tm/components/ssvc-calculator-dialog/ssvc-calculator-dialog.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat(threat-page): add CWE name tooltips to CWE chips
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write

fix(triage): stop row click propagation on reviewer select, navigate back after TM creation
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
Due: eslint --fix, prettier --write

fix(deps): cap undici override to <8 to fix jsdom test failures
  package.json
  pnpm-lock.yaml
Due: none

style(threat-page): remove unnecessary any casts in _getSelectedCellType
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write

fix(test): update threat-page spec for CweService and CWE picker dialog
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
Due: eslint --fix, prettier --write

fix(triage): guard null owner in survey response rows and fix tooltip positioning
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/index.html
Due: eslint --fix, prettier --write

style(admin): vertically center-align automation toggle with filter input
  src/app/pages/admin/users/admin-users.component.scss
Due: prettier --write, stylelint --fix

fix(admin): only show manage-credentials button for automation accounts
  src/app/pages/admin/users/admin-users.component.html
Due: eslint --fix, prettier --write

feat(threats): simplify diagram/cell reference display in dropdowns
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

refactor(i18n): repoint cellId/diagramId to objectTypes references
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

refactor(threats): extract shared isValidUrl utility and align issue URI UX
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/app/shared/utils/url.util.spec.ts
  src/app/shared/utils/url.util.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

feat(notes): make description multiline and group checkboxes in note dialog
  src/app/pages/tm/tm-edit.component.html
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.html
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
