Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: standardize enum field keys to snake_case
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/resolvers/threat-model.resolver.spec.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.spec.ts
  src/app/shared/utils/field-value-helpers.spec.ts
  src/app/shared/utils/field-value-helpers.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

perf: reduce health check frequency and add reactive checks on API failure
  src/app/core/interceptors/http-logging.interceptor.spec.ts
  src/app/core/interceptors/http-logging.interceptor.ts
  src/app/core/services/server-connection.service.spec.ts
  src/app/core/services/server-connection.service.ts
Due: eslint --fix, prettier --write

fix: normalize health check status code comparison to case-insensitive
  src/app/core/services/server-connection.service.spec.ts
  src/app/core/services/server-connection.service.ts
Due: eslint --fix, prettier --write

feat: add application log export and feedback menu
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/services/logger.service.spec.ts
  src/app/core/services/logger.service.ts
  src/assets/i18n/en-US.json
  src/testing/mocks/mock-logger.service.ts
Due: eslint --fix, prettier --write

fix: update bug report template text for clarity
  src/app/core/components/navbar/navbar.component.ts
Due: eslint --fix, prettier --write

feat: backfill localization for feedback menu and log export keys
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

perf: reduce initial bundle size from 2.77MB to 1.49MB
  src/app/app.config.ts
  src/app/core/components/navbar/navbar.component.ts
  src/app/pages/tm/tm.routes.ts
  src/app/pages/triage/triage.routes.ts
  src/app/shared/markdown-providers.ts
  src/main.ts
Due: eslint --fix, prettier --write

fix: remove unsafe-inline from CSP script-src directive
  scripts/check-security.ts
  src/app/core/services/security-config.service.ts
Due: eslint --fix, prettier --write

fix: disable drag interactions in read-only mode in diagram editor
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph-readonly.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

feat: implement picker UI in addon invocation dialog
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.html
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.scss
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/app/types/addon.types.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: add top padding to create threat model dialog form
  src/app/pages/dashboard/create-threat-model-dialog/create-threat-model-dialog.component.ts
Due: eslint --fix, prettier --write

feat: replace jwtGroups and groups with groupMemberships in i18n user profile
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: replace JWT groups with group memberships in user preferences
  AUTHZ_ANALYSIS.md
  src/app/auth/auth-integration.spec.ts
  src/app/auth/guards/admin.guard.spec.ts
  src/app/auth/guards/reviewer.guard.spec.ts
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/core/interfaces/auth.interface.ts
  src/app/shared/services/security-reviewer.service.spec.ts
Due: eslint --fix, prettier --write

feat: add style panel for node/edge color and opacity editing (#91)
  src/app/pages/dfd/constants/default-colors.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.scss
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/components/style-panel/style-panel.component.html
  src/app/pages/dfd/presentation/components/style-panel/style-panel.component.scss
  src/app/pages/dfd/presentation/components/style-panel/style-panel.component.ts
  src/app/shared/components/color-picker/color-picker.component.html
  src/app/shared/components/color-picker/color-picker.component.scss
  src/app/shared/components/color-picker/color-picker.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: move style panel toggle button between text-box and cut in toolbar
  src/app/pages/dfd/presentation/components/dfd.component.html
Due: eslint --fix, prettier --write

refactor: adopt API color_palette schema with ColorPaletteEntry objects
  src/app/pages/dfd/constants/default-colors.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/components/style-panel/style-panel.component.ts
  src/app/pages/dfd/types/color-palette.types.ts
  src/app/shared/components/color-picker/color-picker.component.html
  src/app/shared/components/color-picker/color-picker.component.ts
Due: eslint --fix, prettier --write

fix: use format_color_reset icon for clear custom formatting button
  src/app/pages/dfd/presentation/components/style-panel/style-panel.component.html
Due: eslint --fix, prettier --write

fix: apply monospace font to hex input placeholder text
  src/app/shared/components/color-picker/color-picker.component.scss
Due: prettier --write, stylelint --fix

feat: add file_server_bug skill for filing TMI server bug reports
  .claude/skills/file_server_bug/SKILL.md
Due: none

docs: add server bug reporting workflow to CLAUDE.md
  .claude/CLAUDE.md
Due: none

feat: add audit trail UI with rollback support
  src/app/pages/tm/components/audit-trail-page/audit-trail-page.component.html
  src/app/pages/tm/components/audit-trail-page/audit-trail-page.component.scss
  src/app/pages/tm/components/audit-trail-page/audit-trail-page.component.spec.ts
  src/app/pages/tm/components/audit-trail-page/audit-trail-page.component.ts
  src/app/pages/tm/models/audit-trail.model.ts
  src/app/pages/tm/services/audit-trail.service.spec.ts
  src/app/pages/tm/services/audit-trail.service.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/tm/tm.routes.ts
  src/app/shared/components/rollback-confirmation-dialog/rollback-confirmation-dialog.component.html
  src/app/shared/components/rollback-confirmation-dialog/rollback-confirmation-dialog.component.scss
  src/app/shared/components/rollback-confirmation-dialog/rollback-confirmation-dialog.component.spec.ts
  src/app/shared/components/rollback-confirmation-dialog/rollback-confirmation-dialog.component.ts
  src/app/shared/components/rollback-confirmation-dialog/rollback-confirmation-dialog.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

chore(deps): bump Node/pnpm dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: send multi-value filter params as repeated query params instead of comma-separated
  src/app/core/services/api.service.ts
  src/app/pages/tm/models/threat-filter.model.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

feat: improve PDF report generation with correct margins, wrapping, and labels
  src/app/pages/tm/services/report/pdf-layout-engine.ts
  src/app/pages/tm/services/report/pdf-section-renderers.ts
  src/app/pages/tm/services/report/pdf-table-renderer.ts
  src/app/pages/tm/services/report/threat-model-report.service.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: handle null API response body in audit trail service
  src/app/pages/tm/services/audit-trail.service.spec.ts
  src/app/pages/tm/services/audit-trail.service.ts
Due: eslint --fix, prettier --write

refactor: remove email filter, rollback column from audit trail page
  src/app/pages/tm/components/audit-trail-page/audit-trail-page.component.html
  src/app/pages/tm/components/audit-trail-page/audit-trail-page.component.scss
  src/app/pages/tm/components/audit-trail-page/audit-trail-page.component.spec.ts
  src/app/pages/tm/components/audit-trail-page/audit-trail-page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add node label position control to style panel (#89)
  src/app/pages/dfd/domain/value-objects/node-attrs.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/components/style-panel/style-panel.component.html
  src/app/pages/dfd/presentation/components/style-panel/style-panel.component.scss
  src/app/pages/dfd/presentation/components/style-panel/style-panel.component.spec.ts
  src/app/pages/dfd/presentation/components/style-panel/style-panel.component.ts
  src/app/pages/dfd/types/label-position.types.spec.ts
  src/app/pages/dfd/types/label-position.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: use bracket notation for index signature property access
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

chore: apply stylelint auto-fixes and update build instructions
  .claude/CLAUDE.md
  src/app/pages/dfd/presentation/components/style-panel/style-panel.component.scss
Due: prettier --write, stylelint --fix

fix: preserve node attrs (including label position) through save/reload cycle
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/infrastructure/services/infra-node.service.ts
Due: eslint --fix, prettier --write

feat: add port label editing with popover UI and persistence
  src/app/pages/dfd/application/services/app-diagram.service.spec.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-port-state.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-port-state.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/components/port-label-popover/port-label-popover.component.html
  src/app/pages/dfd/presentation/components/port-label-popover/port-label-popover.component.scss
  src/app/pages/dfd/presentation/components/port-label-popover/port-label-popover.component.spec.ts
  src/app/pages/dfd/presentation/components/port-label-popover/port-label-popover.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: center compass radio buttons in port label popover cross layout
  src/app/pages/dfd/presentation/components/port-label-popover/port-label-popover.component.scss
Due: prettier --write, stylelint --fix

fix: add resilience for server-corrupted node cell data in DFD loading
  src/app/pages/dfd/application/services/app-diagram.service.spec.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
Due: eslint --fix, prettier --write

feat: add Timmy chat bot page with mock backend (#293)
  src/app/pages/chat/components/chat-messages/chat-messages.component.html
  src/app/pages/chat/components/chat-messages/chat-messages.component.scss
  src/app/pages/chat/components/chat-messages/chat-messages.component.ts
  src/app/pages/chat/components/chat-page/chat-page.component.html
  src/app/pages/chat/components/chat-page/chat-page.component.scss
  src/app/pages/chat/components/chat-page/chat-page.component.ts
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.html
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.scss
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.ts
  src/app/pages/chat/components/chat-source-panel/chat-source-panel.component.html
  src/app/pages/chat/components/chat-source-panel/chat-source-panel.component.scss
  src/app/pages/chat/components/chat-source-panel/chat-source-panel.component.ts
  src/app/pages/chat/models/chat.model.ts
  src/app/pages/chat/services/chat-context-builder.service.spec.ts
  src/app/pages/chat/services/chat-context-builder.service.ts
  src/app/pages/chat/services/chat-session-storage.service.spec.ts
  src/app/pages/chat/services/chat-session-storage.service.ts
  src/app/pages/chat/services/chat.service.ts
  src/app/pages/chat/services/mock-chat.service.spec.ts
  src/app/pages/chat/services/mock-chat.service.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/tm/tm.routes.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: use TMI elephant logo for Timmy chat icon
  src/app/pages/chat/components/chat-messages/chat-messages.component.html
  src/app/pages/chat/components/chat-messages/chat-messages.component.scss
  src/app/pages/chat/components/chat-page/chat-page.component.html
  src/app/pages/chat/components/chat-page/chat-page.component.scss
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: move Timmy button to header row with larger icon
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

deps: bump Node/pnpm dependencies
  package.json
  pnpm-lock.yaml
  src/app/generated/api-types.d.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
