Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Bumping versions. Synchronzing schema with server
  package.json
  tmi-asyncapi.yaml
  tmi-openapi.json
Due: none

Cleaning up threat management on DFD page
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
Due: eslint --fix, prettier --write

refactoring /auth/login & /auth/authorize
  context/CLIENT_OAUTH_INTEGRATION.md
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/services/auth.service.spec.ts
Due: eslint --fix, prettier --write

/auth/token and /auth/exchange refactoring
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/interceptors/jwt.interceptor.ts
Due: eslint --fix, prettier --write

Synchronizing openapi schema with server
  tmi-openapi.json
Due: none

Package cleanup
  package.json
  pnpm-lock.yaml
Due: none

Dead code removal
  src/app/core/components/footer/footer.component.ts
  src/app/core/rxjs-imports.ts
  src/app/core/utils/dynamic-material-loader.ts
  src/app/pages/dfd/components/collaboration/user-presence-indicator.component.scss
  src/app/pages/dfd/components/collaboration/user-presence-indicator.component.ts
  src/app/pages/dfd/components/collaboration/user-presence-list.component.scss
  src/app/pages/dfd/components/collaboration/user-presence-list.component.ts
  src/app/pages/dfd/domain/collaboration/user-presence.ts
  src/app/pages/dfd/domain/collaboration/user.ts
  src/app/pages/dfd/domain/events/diagram-events.ts
  src/app/pages/dfd/models/dfd-types.ts
  src/app/pages/dfd/services/graph-history-coordinator.service.ts
  src/app/pages/dfd/types/x6-cell.types.ts
  src/app/pages/tm/tm.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Copy websockets integration info from server docs; updating documentation metadata
  context/CLIENT_INTEGRATION_GUIDE.md
  context/README.md
  docs/README.md
Due: none

Initial implementation of full websocket based collaboration
  WEBSOCKET_MIGRATION_PLAN.md
  src/app/core/utils/dynamic-material-loader.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/websocket.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/node.service.ts
  src/app/pages/dfd/models/websocket-message.types.ts
  src/app/pages/dfd/services/collaborative-operation.service.ts
  src/app/pages/dfd/services/dfd-collaboration.service.spec.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/dfd/services/dfd-diagram.service.ts
  src/app/pages/dfd/services/dfd-edge.service.ts
  src/app/pages/dfd/services/dfd-facade.service.ts
  src/app/pages/dfd/services/dfd-notification.service.spec.ts
  src/app/pages/dfd/services/dfd-notification.service.ts
  src/app/pages/dfd/services/graph-history-coordinator.service.ts
  src/app/pages/dfd/styles/_dfd-styles.scss
  src/app/pages/dfd/styles/_notification-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Websocket implementation UX tweaks and bugfixes
  pnpm
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/services/node.service.ts
  src/app/pages/dfd/infrastructure/services/port-state-manager.service.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/dfd/services/dfd-diagram.service.ts
  src/app/pages/dfd/services/graph-history-coordinator.service.ts
  src/app/pages/dfd/styles/_dfd-styles.scss
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

Clarification of what "join session" does, what role of "session manager" is.
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/collaborative-operation.service.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/assets/i18n/en-US.json
  tmi-asyncapi.yaml
Due: eslint --fix, prettier --write

Bug fixing: collaboration session setup & management
  src/app/core/services/collaboration-session.service.ts
  src/app/mocks/mock-data.service.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/services/dfd-collaboration.service.spec.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/assets/i18n/en-US.json
  tmi-openapi.json
Due: eslint --fix, prettier --write

websocket api logging
  context/debug-component-names.md
  src/app/pages/dfd/infrastructure/adapters/websocket.adapter.ts
  src/app/pages/dfd/services/dfd-diagram.service.ts
  src/environments/environment.ts
Due: eslint --fix, prettier --write

Added tool, script to check missing localization keys. Filled in missing localizations.
  package.json
  scripts/sort-json.py
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

Fixed collaboration session join, lint warnings
  context/CLIENT_INTEGRATION_GUIDE.md
  src/app/pages/dfd/services/dfd-collaboration.service.spec.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/environments/environment.dev.ts
Due: eslint --fix, prettier --write

Fixing websocket setup race condition
  src/app/pages/dfd/infrastructure/adapters/websocket.adapter.ts
Due: eslint --fix, prettier --write

Still working on collaboration
  src/app/pages/dfd/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write

Cleanup prior to integrating shared git subtree with server repo
  context/CLIENT_INTEGRATION_GUIDE.md
  tmi-asyncapi.yaml
  tmi-openapi.json
Due: none

Squashed 'shared-api/' content from commit c4354bb
  README.md
  api-specs/tmi-asyncapi.yaml
  api-specs/tmi-openapi.json
  docs/AUTHORIZATION.md
  docs/CLIENT_INTEGRATION_GUIDE.md
  docs/CLIENT_OAUTH_INTEGRATION.md
  docs/COLLABORATIVE_EDITING_PLAN.md
  docs/TMI-API-v1_0.md
  sdk-examples/python-sdk/README.md
Due: none

bump
  package.json
  pnpm-lock.yaml
Due: none

Updating documentation to reflect github shared subtree change
  AGENTS.md
  README.md
  context/PDF_REPORT_DIAGRAM_RENDERING_DESIGN.md
  context/README.md
  docs/x6-integration.md
Due: none

Refactoring collaboration start/join per updated server and API implementation
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

Fixing session join logic, bump, fixed typescript errors
  package.json
  pnpm-lock.yaml
  src/app/auth/auth-integration.spec.ts
  src/app/core/interceptors/http-logging.interceptor.spec.ts
  src/app/core/services/api.service.spec.ts
  src/app/pages/dfd/domain/value-objects/diagram-info.ts
  src/app/pages/dfd/domain/value-objects/edge-info.spec.ts
  src/app/pages/dfd/domain/value-objects/node-info.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-z-order.adapter.spec.ts
  src/testing/mocks/index.ts
Due: eslint --fix, prettier --write

Fixed lint and test failures
  src/app/pages/dfd/domain/value-objects/edge-info.spec.ts
  src/app/pages/dfd/domain/value-objects/node-info.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-selection.adapter.spec.ts
Due: eslint --fix, prettier --write

Bump
  .claude/settings.local.json
  package.json
  pnpm-lock.yaml
Due: none

Updating claude permissions
  .claude/settings.local.json
Due: none

Adding implementation docs
  docs/autosave-data-modeling-architecture.md
  docs/enhanced-save-behavior-implementation-plan.md
Due: none

Lint fixes
  src/app/auth/services/auth.service.spec.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/shared/services/connection-monitor.service.ts
  src/app/shared/services/form-validation.service.ts
  src/app/shared/services/notification.service.ts
  src/app/shared/services/save-state.service.ts
Due: eslint --fix, prettier --write

Updating shared docs
  shared-api/api-specs/tmi-openapi.json.backup
  shared-api/docs/CLIENT_INTEGRATION_GUIDE.md
  shared-api/docs/CLIENT_OAUTH_INTEGRATION.md
  shared-api/docs/TMI-API-v1_0.md
  shared-api/docs/stepci-integration-testing-plan.md
  shared-api/sdk-examples/python-sdk/tmi_client/auth/oauth.py
Due: none

Updating app to match server oauth2 API updates
  src/app/auth/auth-integration.spec.ts
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/local-oauth-provider.service.ts
Due: eslint --fix, prettier --write

Sync API specification from server
  shared-api/api-specs/tmi-openapi.json
  shared-api/api-specs/tmi-openapi.json.backup
Due: none

Fixing bug checking wrong endpoint for server health
  src/app/app.routes.ts
  src/app/shared/services/connection-monitor.service.ts
Due: eslint --fix, prettier --write

Fixed server health endpoint check auth bug
  src/app/shared/services/connection-monitor.service.ts
Due: eslint --fix, prettier --write

Removed redundant connection monitor service
  docs/enhanced-save-behavior-implementation-plan.md
  src/app/core/services/server-connection.service.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/shared/services/connection-monitor.service.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, prettier --write

Fixing autosave bug
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

Removed mock data toggle. Refactored unnecessary session polling.
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/services/api.service.ts
  src/app/core/services/server-connection.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.ts
  src/app/shared/services/save-state.service.ts
Due: eslint --fix, prettier --write

Fixed server connection monitoring
  src/app/core/services/collaboration-session.service.ts
  src/app/core/services/server-connection.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Autosave simplification, threat model edit page tweaks
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.scss
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.html
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.scss
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/shared/components/save-indicator/save-indicator.component.ts
  src/app/shared/services/save-state.service.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
