Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

fix: use note_add and scan_delete icons for page actions
  package.json
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
Due: eslint --fix, prettier --write

fix: move canvas card actions to top right corner
  package.json
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.scss
Due: prettier --write, stylelint --fix

feat: add TM field mapping to survey question properties editor
  package.json
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.scss
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add Port Matrix page to Security Review Intake survey template
  package.json
  src/app/pages/surveys/services/survey-mock-data.ts
Due: eslint --fix, prettier --write

fix: improve survey admin page layout and navigation
  package.json
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/admin-surveys.component.scss
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

test: add unit tests for survey services
  src/app/pages/surveys/services/survey-draft.service.spec.ts
  src/app/pages/surveys/services/survey-response.service.spec.ts
  src/app/pages/surveys/services/survey-template.service.spec.ts
Due: eslint --fix, prettier --write

feat: migrate survey feature from mock APIs to real API endpoints
  docs/survey-api-change-proposal.md
  package.json
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.ts
  src/app/pages/surveys/components/my-submissions/my-submissions.component.html
  src/app/pages/surveys/components/my-submissions/my-submissions.component.ts
  src/app/pages/surveys/components/submission-detail/submission-detail.component.html
  src/app/pages/surveys/components/submission-detail/submission-detail.component.ts
  src/app/pages/surveys/components/survey-fill/survey-fill.component.ts
  src/app/pages/surveys/components/survey-list/survey-list.component.html
  src/app/pages/surveys/components/survey-list/survey-list.component.ts
  src/app/pages/surveys/services/survey-draft.service.ts
  src/app/pages/surveys/services/survey-mock-data.ts
  src/app/pages/surveys/services/survey-response.service.ts
  src/app/pages/surveys/services/survey-submission.service.ts
  src/app/pages/surveys/services/survey-template.service.ts
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/app/types/survey.types.ts
Due: eslint --fix, prettier --write

chore: adding common object types for surveys and responses
  package.json
  src/assets/i18n/en-US.json
Due: prettier --write

fix: rename survey submission references to response and deduplicate i18n keys
  package.json
  src/app/pages/surveys/components/my-responses/my-responses.component.html
  src/app/pages/surveys/components/my-responses/my-responses.component.scss
  src/app/pages/surveys/components/my-responses/my-responses.component.ts
  src/app/pages/surveys/components/response-detail/response-detail.component.html
  src/app/pages/surveys/components/response-detail/response-detail.component.scss
  src/app/pages/surveys/components/response-detail/response-detail.component.ts
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/surveys/components/survey-fill/survey-fill.component.ts
  src/app/pages/surveys/components/survey-list/survey-list.component.html
  src/app/pages/surveys/components/survey-list/survey-list.component.ts
  src/app/pages/surveys/services/survey-response.service.spec.ts
  src/app/pages/surveys/surveys.routes.ts
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.scss
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.scss
  src/app/pages/triage/triage.routes.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: backfill missing i18n translations for surveys, triage, and common object types
  package.json
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: restrict version bumping to main branch only
  .husky/post-commit
Due: none

fix: update survey APIs to match backend breaking changes
  src/app/app.routes.ts
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.ts
  src/app/pages/surveys/components/my-responses/my-responses.component.html
  src/app/pages/surveys/components/my-responses/my-responses.component.ts
  src/app/pages/surveys/components/response-detail/response-detail.component.html
  src/app/pages/surveys/components/response-detail/response-detail.component.ts
  src/app/pages/surveys/components/survey-fill/survey-fill.component.ts
  src/app/pages/surveys/components/survey-list/survey-list.component.html
  src/app/pages/surveys/components/survey-list/survey-list.component.ts
  src/app/pages/surveys/services/survey-draft.service.spec.ts
  src/app/pages/surveys/services/survey-response.service.spec.ts
  src/app/pages/surveys/services/survey-response.service.ts
  src/app/pages/surveys/services/survey-template.service.spec.ts
  src/app/pages/surveys/services/survey-template.service.ts
  src/app/pages/surveys/services/survey.service.spec.ts
  src/app/pages/surveys/services/survey.service.ts
  src/app/pages/surveys/surveys.routes.ts
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/app/types/survey.types.ts
Due: eslint --fix, prettier --write

chore: reset version to 1.6.0 for feature branch
  package.json
Due: none

fix: re-localize homeDescription and sync reference keys across all locale files
  scripts/sync_reference_keys.py
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: add missing Bengali translations for surveys and triage
  src/assets/i18n/bn-BD.json
Due: prettier --write

chore: add Hindi translations for surveys, triage, and admin features
  src/assets/i18n/hi-IN.json
Due: prettier --write

chore: add missing Urdu translations for surveys and triage
  src/assets/i18n/ur-PK.json
Due: prettier --write

chore: add Thai translations for surveys, triage, and admin surveys
  src/assets/i18n/th-TH.json
Due: prettier --write

chore: add 53 German translations for surveys and triage features
  src/assets/i18n/de-DE.json
Due: prettier --write

feat: localize surveys, triage, and admin-surveys components
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/surveys/components/survey-list/survey-list.component.html
  src/app/pages/surveys/components/survey-list/survey-list.component.ts
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: resolve webpack SSRF vulnerabilities (dependabot alerts #49, #50)
  package.json
  pnpm-lock.yaml
Due: none

chore: fix French template status translations and update i18n allowlist
  src/assets/i18n/fr-FR.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/ur-PK.json
Due: prettier --write

refactor: centralize icon-only button styling with global .mat-mdc-icon-button override
  src/app/core/components/navbar/navbar.component.scss
  src/app/pages/admin/addons/admin-addons.component.scss
  src/app/pages/admin/admin.component.scss
  src/app/pages/admin/administrators/admin-administrators.component.scss
  src/app/pages/admin/groups/admin-groups.component.scss
  src/app/pages/admin/quotas/admin-quotas.component.scss
  src/app/pages/admin/surveys/admin-surveys.component.scss
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.scss
  src/app/pages/admin/users/admin-users.component.scss
  src/app/pages/admin/webhooks/admin-webhooks.component.scss
  src/app/pages/dfd/presentation/components/dfd.component.scss
  src/app/pages/surveys/components/survey-list/survey-list.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/tm-edit.component.scss
  src/styles/component-overrides.scss
Due: prettier --write, stylelint --fix

chore: document action button terminology in CLAUDE.md
  .claude/CLAUDE.md
Due: none

refactor: convert template-builder Save to action button
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
Due: eslint --fix, prettier --write

refactor: replace Back button with Close action button in template builder
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
Due: eslint --fix, prettier --write

feat: localize template builder page
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

chore: add German translations for survey template builder
  src/assets/i18n/de-DE.json
Due: prettier --write

chore: add Bengali translations for survey template builder and remove obsolete key
  src/assets/i18n/bn-BD.json
Due: prettier --write

chore: add French translations for survey builder UI strings
  src/assets/i18n/fr-FR.json
Due: prettier --write

chore: add Hindi translations for survey and template builder UI
  src/assets/i18n/hi-IN.json
Due: prettier --write

chore: add Indonesian translations for survey template builder and remove obsolete key
  src/assets/i18n/id-ID.json
Due: prettier --write

feat: add Korean translations for survey template builder
  src/assets/i18n/ko-KR.json
Due: prettier --write

chore: add Thai translations for survey template builder and remove obsolete key
  src/assets/i18n/th-TH.json
Due: prettier --write

chore: add Chinese translations for survey template builder
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: add Urdu translations for survey template builder and remove obsolete key
  src/assets/i18n/ur-PK.json
Due: prettier --write

chore: add i18n translations for ar-SA, es-ES, he-IL, ja-JP, pt-BR, ru-RU
  src/assets/i18n/ar-SA.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
Due: prettier --write

chore: sort i18n locale files
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: align survey API client types with refactored OpenAPI schema
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/surveys/components/my-responses/my-responses.component.html
  src/app/pages/surveys/components/my-responses/my-responses.component.ts
  src/app/pages/surveys/components/survey-fill/survey-fill.component.ts
  src/app/pages/surveys/components/survey-list/survey-list.component.html
  src/app/pages/surveys/services/survey-draft.service.spec.ts
  src/app/pages/surveys/services/survey-draft.service.ts
  src/app/pages/surveys/services/survey-response.service.spec.ts
  src/app/pages/surveys/services/survey-response.service.ts
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/types/survey.types.ts
Due: eslint --fix, prettier --write

chore: suppress unresolved-import lint warnings for uv-managed dependencies
  scripts/find_duplicate_localizations.py
Due: none
