Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: resolve Dependabot alerts 135, 137, 138 (dev deps)
  package.json
  pnpm-lock.yaml
Due: none

chore: update gitignore
  .gitignore
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): widen vite override to allow vite 8
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump dependencies (#754)
  package.json
  pnpm-lock.yaml
Due: none

chore: strip trailing whitespace in collaboration-session.service and svgo-browser.d.ts
  src/app/core/services/collaboration-session.service.ts
  src/types/svgo-browser.d.ts
Due: eslint --fix, prettier --write

ci: fix deps-bump discover job failing on empty branch list
  .github/workflows/deps-bump.yml
Due: none

ci: fix deps-bump discover job failing on empty branch list (#755)
  .github/workflows/deps-bump.yml
Due: none

style: reflow generics and union types to single lines
  src/app/generated/api-types.d.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/services/dfd-icon.service.ts
  src/app/pages/dfd/presentation/services/dfd-layout.service.ts
  src/app/pages/dfd/types/persistence.types.ts
  src/app/pages/dfd/utils/cell-relationship-validation.util.ts
  src/app/pages/tm/models/audit-trail.model.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/services/tm-dialog.service.ts
  src/app/pages/tm/validation/types.ts
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/types/project.types.ts
  src/app/types/survey.types.ts
  src/app/types/team.types.ts
Due: eslint --fix, prettier --write

build: bump packageManager pin to pnpm 10.34.4
  package.json
Due: none

build: cap @babel/plugin-transform-modules-systemjs override below v8
  package.json
  pnpm-lock.yaml
Due: none

refactor: unwrap $safeNavigationMigration and re-enable NG8102/NG8107
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/shared/components/responsible-parties-dialog/responsible-parties-dialog.component.ts
  src/app/shared/components/team-members-dialog/team-members-dialog.component.ts
  tsconfig.app.json
Due: eslint --fix, prettier --write

refactor: switch 21 verified-safe components to OnPush change detection
  src/app/app.component.ts
  src/app/core/components/footer/footer.component.ts
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/unlink-confirm-dialog.component.ts
  src/app/core/components/user-preferences-dialog/credential-secret-dialog/credential-secret-dialog.component.ts
  src/app/core/components/user-preferences-dialog/identities-tab/unlink-identity-dialog.component.ts
  src/app/core/components/validation-error-dialog/validation-error-dialog.component.ts
  src/app/pages/about/about.component.ts
  src/app/pages/admin/admin.component.ts
  src/app/pages/admin/surveys/components/create-survey-dialog/create-survey-dialog.component.ts
  src/app/pages/admin/webhooks/hmac-secret-dialog/hmac-secret-dialog.component.ts
  src/app/pages/dashboard/create-threat-model-dialog/create-threat-model-dialog.component.ts
  src/app/pages/dfd/presentation/components/presenter-request-snackbar/presenter-request-snackbar.component.ts
  src/app/pages/privacy/privacy.component.ts
  src/app/pages/surveys/components/survey-confidential-dialog/survey-confidential-dialog.component.ts
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.ts
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.ts
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.ts
  src/app/pages/tos/tos.component.ts
  src/app/shared/components/create-team-dialog/create-team-dialog.component.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.ts
Due: eslint --fix, prettier --write

refactor: convert note-editor and triage-note-editor dialogs to OnPush
  src/app/pages/triage/components/triage-note-editor-dialog/triage-note-editor-dialog.component.spec.ts
  src/app/pages/triage/components/triage-note-editor-dialog/triage-note-editor-dialog.component.ts
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.spec.ts
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/shared/components/note-editor/note-editor-base.ts
Due: eslint --fix, prettier --write

docs: soften OnPush convention to prefer, not mandate
  .claude/CLAUDE.md
Due: none

ci: port automated dependency-bump workflow from main
  .github/workflows/deps-bump.yml
Due: none

chore: bump version to 1.5.0
  package.json
Due: none

style: apply prettier formatting to threat-page and tm-edit templates
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

build: resolve API spec from local tmi checkout, fix js-yaml override crash
  package.json
  pnpm-lock.yaml
  scripts/generate-api-types.sh
  src/app/generated/api-types.d.ts
Due: eslint --fix, prettier --write

fix: resolve 6 ESLint warnings (unsafe any, complexity)
  package.json
  src/app/auth/services/auth.service.ts
  src/app/core/services/collaboration-session.service.spec.ts
  src/app/core/services/collaboration-session.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/shared/components/usability-feedback-dialog/usability-feedback-dialog.component.ts
  src/types/svgo-browser.d.ts
Due: eslint --fix, prettier --write

build: eliminate dev-server startup deprecation warnings
  angular.json
  package.json
  pnpm-lock.yaml
Due: none

build: drop unused @angular-devkit/build-angular direct devDependency
  package.json
  pnpm-lock.yaml
Due: none

build: eliminate ng serve startup deprecation warnings (#763)
  angular.json
  package.json
  pnpm-lock.yaml
Due: none

feat: replace local version-bump hook with server-side workflow
  .claude/CLAUDE.md
  .github/workflows/version-bump.yml
  .husky/post-commit
  scripts/compute-next-version.mjs
Due: none

feat: replace local version-bump hook with server-side workflow (#769)
  .claude/CLAUDE.md
  .github/workflows/version-bump.yml
  .husky/post-commit
  scripts/compute-next-version.mjs
Due: none

build(deps-dev): bump @types/node from 25.9.4 to 26.1.0
  package.json
  pnpm-lock.yaml
Due: none

build(deps): regenerate pnpm-lock.yaml from scratch
  pnpm-lock.yaml
Due: none

build(deps): regenerate pnpm-lock.yaml from scratch (#770)
  pnpm-lock.yaml
Due: none

refactor: remove @angular/animations, migrate detailExpand to CSS
  package.json
  pnpm-lock.yaml
  src/app/app.config.ts
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.scss
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.html
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.scss
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve i18n ellipsis lint warnings for dialog-opening controls
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: remove @angular/animations deprecation and resolve i18n ellipsis warnings (#771)
  package.json
  pnpm-lock.yaml
  src/app/app.config.ts
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.scss
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.html
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.scss
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
