Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: configure Mermaid as ESM module to enable diagram rendering in note editor
  angular.json
  src/app/app.config.ts
  src/main.ts
Due: eslint --fix, prettier --write

chore: suppress CommonJS dependency warnings and update bundle size budgets
  angular.json
Due: none

fix: expose mermaid globally for ngx-markdown compatibility
  src/app/app.config.ts
Due: eslint --fix, prettier --write

refactor: remove legacy X6 history plugin integration
  src/app/pages/dfd/application/executors/batch-operation-executor.ts
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
  src/app/pages/dfd/application/services/app-operation-state-manager.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-history.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-keyboard.adapter.ts
  src/app/pages/dfd/types/graph-operation.types.ts
Due: eslint --fix, prettier --write

feat: add cell normalization for diagram persistence
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-operation-state-manager.service.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/state/dfd.state.ts
  src/app/pages/dfd/utils/cell-normalization.util.ts
Due: eslint --fix, prettier --write

feat: improve note editor dialog UX with smart preview mode and dark theme syntax highlighting
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.scss
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add identity provider and subject type columns to permissions dialog
  src/app/mocks/factories/threat-model.factory.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

refactor: normalize OpenAPI schema to match X6 native format
  docs/OPENAPI_X6_NORMALIZATION.md
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/domain/value-objects/edge-info.spec.ts
  src/app/pages/dfd/domain/value-objects/edge-info.ts
  src/app/pages/dfd/domain/value-objects/node-info.spec.ts
  src/app/pages/dfd/domain/value-objects/node-info.ts
  src/app/pages/dfd/domain/value-objects/x6-types.ts
Due: eslint --fix, prettier --write

fix: remove label convenience property usage from services
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/application/services/app-history.service.ts
  src/app/pages/dfd/application/services/app-remote-operation-handler.service.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.ts
Due: eslint --fix, prettier --write

test: fix DFD orchestrator and edge service test failures
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.spec.ts
Due: eslint --fix, prettier --write

refactor: remove obsolete InfraX6HistoryAdapter
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-history.adapter.ts
  src/app/pages/dfd/integration/history-styling.spec.ts
  src/app/pages/dfd/integration/selection-styling.spec.ts
  src/app/pages/dfd/integration/visual-effects.spec.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: remove duplicate setAuthorization call in threat model resolver
  src/app/pages/tm/resolvers/threat-model.resolver.ts
Due: eslint --fix, prettier --write

feat: add scroll indicators to all dialog components
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.html
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.html
  src/app/core/components/validation-error-dialog/validation-error-dialog.component.html
  src/app/pages/dfd/presentation/components/cell-properties-dialog/cell-properties-dialog.component.html
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.html
  src/app/pages/dfd/presentation/components/x6-clipboard-dialog/x6-clipboard-dialog.component.html
  src/app/pages/dfd/presentation/components/x6-graph-data-dialog/x6-graph-data-dialog.component.html
  src/app/pages/dfd/presentation/components/x6-history-dialog/x6-history-dialog.component.html
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.html
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.html
  src/app/pages/tm/components/delete-threat-model-dialog/delete-threat-model-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.html
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.html
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.html
  src/app/shared/directives/scroll-indicator.directive.scss
  src/app/shared/directives/scroll-indicator.directive.ts
  src/app/shared/imports.ts
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: explicitly import ScrollIndicatorDirective in metadata and permissions dialogs
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: add explicit overflow styling to mat-dialog-content with scroll indicator
  src/app/shared/directives/scroll-indicator.directive.scss
Due: prettier --write, stylelint --fix

chore: cleanup claude settings
  .claude/settings.local.json
Due: none

chore: bump version
  package.json
Due: none

feat: add OpenAPI v1.0 timestamp fields and fix metadata endpoints
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: make note names bold in tm-edit Notes card to match other entity lists
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: prettier --write, stylelint --fix

feat: add status tracking to threat models
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/models/tm-list-item.model.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
  src/app/shared/imports.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: replace mat-chip with styled span in dashboard
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: add status fields to TMListItem conversion and remove conditional rendering
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm.component.html
Due: eslint --fix, prettier --write

fix: make status fields always visible in dashboard and tm-edit views
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm.component.html
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove colons from translation keys and make status row always visible
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: improve status field layout on dashboard and tm-edit pages
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: adjust status field column widths and input sizing in tm-edit
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: improve status input field sizing in tm-edit component
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: prettier --write, stylelint --fix

fix: correct status field layout to maintain row structure
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: prettier --write, stylelint --fix

fix: center status label and enforce single-line input height
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: prettier --write, stylelint --fix

fix: trigger auto-save when status values are added or removed
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: add status field to form change detection
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: align status chips/input with Last Modified value
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: prettier --write, stylelint --fix

fix: add consistent column gap to align status row fields
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: prettier --write, stylelint --fix

refactor: reorganize threat model card layout on dashboard
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: improve permissions dialog with localized placeholder and modern control flow
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

feat: add asset selection dropdown to threat editor dialog
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

refactor: improve threat editor dialog UX
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
Due: eslint --fix, prettier --write

fix: include asset_id in threat create and update operations
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: prevent sending string "undefined" for empty diagram_id and cell_id
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

feat: support hybrid X6 cell format for backward compatibility
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/utils/cell-format-normalization.util.ts
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/validation/diagram-validators.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
