Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: add settings source and read-only i18n keys (#486)
  src/assets/i18n/en-US.json
Due: prettier --write

chore: backfill localization for settings table source and read-only keys (#486)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: remove outdated documentation
  docs/survey-api-change-proposal.md
Due: none

test: add failing tests for survey responses table flattening (#487)
  src/app/pages/triage/components/triage-detail/triage-detail.component.spec.ts
Due: eslint --fix, prettier --write

feat: implement survey response flattening for panels and dynamic panels (#487)
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
Due: eslint --fix, prettier --write

chore: add i18n keys for survey responses table columns (#487)
  src/assets/i18n/en-US.json
Due: prettier --write

feat: replace survey responses list with mat-table (#487)
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
Due: eslint --fix, prettier --write

refactor: update styles for survey responses table (#487)
  src/app/pages/triage/components/triage-detail/triage-detail.component.scss
Due: prettier --write, stylelint --fix

chore: backfill localization for survey responses table columns (#487)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

style: format survey responses table template (#487)
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
Due: eslint --fix, prettier --write

test: add hasSchema assertion to formatResponses test (#487)
  src/app/pages/triage/components/triage-detail/triage-detail.component.spec.ts
Due: eslint --fix, prettier --write

refactor: triage detail layout and localization fixes (#493, #494)
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.scss
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: move download log button to profile tab with pill styling
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

chore: update build info and gitignore
  .gitignore
  package.json
  src/build-info.json
Due: prettier --write

feat: add login hint dialog for TMI provider (#490)
  package.json
  src/app/auth/components/auth-callback/auth-callback.component.spec.ts
  src/app/auth/components/auth-callback/auth-callback.component.ts
  src/app/auth/components/login/login.component.spec.ts
  src/app/auth/components/login/login.component.ts
  src/app/auth/components/login/tmi-login-dialog.component.spec.ts
  src/app/auth/components/login/tmi-login-dialog.component.ts
  src/app/auth/services/auth.service.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

style: add padding between dialog title and username field (#490)
  src/app/auth/components/login/tmi-login-dialog.component.ts
Due: eslint --fix, prettier --write

fix: prevent floating label clipping in TMI login dialog (#490)
  package.json
  src/app/auth/components/login/tmi-login-dialog.component.ts
Due: eslint --fix, prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: build number
  src/build-info.json
Due: prettier --write

chore(deps): bump dependencies
  package.json
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
Due: eslint --fix, prettier --write

deps: upgrade jsdom from v28 to v29
  package.json
  pnpm-lock.yaml
Due: none

deps: upgrade vite from v7 to v8
  package.json
  pnpm-lock.yaml
Due: none

chore: update build info
  src/build-info.json
Due: prettier --write

fix: use server-side filtering for admin groups search
  src/app/pages/admin/groups/admin-groups.component.ts
Due: eslint --fix, prettier --write

deps: bump node.js to latest LTS version 22.22.1
  .nvmrc
Due: none

chore: untrack build-info.json (generated build artifact)
  src/build-info.json
Due: prettier --write

chore: untrack build-info.json (generated build artifact)
  package.json
  src/build-info.json
Due: prettier --write

fix: correct version to 1.2.15 and fix post-commit hook
  .husky/post-commit
  package.json
Due: none

fix: post-commit hook should only do patch bumps on main
  .husky/post-commit
Due: none

refactor: format server version from "semver-commitId" to "semver (commitId)"
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/services/server-connection.service.spec.ts
  src/app/core/services/server-connection.service.ts
  src/app/pages/about/about.component.ts
Due: eslint --fix, prettier --write

docs: add design spec for tm-edit field organization (#488)
  docs/superpowers/specs/2026-03-15-tm-edit-field-organization-design.md
Due: none

docs: add implementation plan for tm-edit field organization (#488)
  docs/superpowers/plans/2026-03-15-tm-edit-field-organization.md
Due: none

feat: add i18n keys for review process and audit panel headers (#488)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

refactor: restructure identity card, remove two-column grid (#488)
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

feat: add review process expansion panel (#488)
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

feat: add audit expansion panel (#488)
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

refactor: update styles for expansion panel layout (#488)
  src/app/pages/tm/tm-edit.component.scss
Due: prettier --write, stylelint --fix

docs: add design spec for admin teams management (#479)
  docs/superpowers/specs/2026-03-15-admin-teams-design.md
Due: none

docs: add implementation plan for admin teams management (#479)
  docs/superpowers/plans/2026-03-15-admin-teams.md
Due: none

refactor: extend team types with sub-entities and move Metadata to shared types (#479)
  src/app/pages/tm/models/threat-model.model.ts
  src/app/types/metadata.types.ts
  src/app/types/team.types.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
