Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: remove orphaned shannon build configuration
  angular.json
  package.json
Due: none

ops: point the client at api.tmi.dev (#798)
  angular.json
  docs/reference/aws-deployment.md
  package.json
  scripts/deploy-aws.sh
  src/environments/environment.aws.spec.ts
  src/environments/environment.aws.ts
Due: eslint --fix, prettier --write

chore(i18n): re-sort locale files and refresh usage index
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: align admin teams members tooltip with groups wording
  src/app/pages/admin/teams/admin-teams.component.html
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: strengthen webhook URL hint to state HTTPS production requirement
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: move auto-layout description into a help tooltip
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

fix: show provider ID and label status/actions columns in identities table
  src/app/core/components/user-preferences-dialog/identities-tab/identities-tab.component.spec.ts
  src/app/core/components/user-preferences-dialog/identities-tab/identities-tab.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: add usage badge tooltips and built-in flag/filter to admin groups
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/groups/admin-groups.component.scss
  src/app/pages/admin/groups/admin-groups.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: make auto-layout help tooltip reachable by assistive technology
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

fix: correct built-in group semantics on admin groups page
  e2e/schema/field-definitions.json
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/groups/admin-groups.component.spec.ts
  src/app/pages/admin/groups/admin-groups.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

refactor: use typography tokens and LTR isolation for provider ID cell
  src/app/core/components/user-preferences-dialog/identities-tab/identities-tab.component.ts
Due: eslint --fix, prettier --write

chore(i18n): regenerate usage index at branch head
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
Due: prettier --write

fix(i18n): satisfy style checker against the refreshed usage index
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: UI quick wins — identities table, tooltips, webhook hint, groups badges (#802 #803 #806 #807 #811) (#814)
  e2e/schema/field-definitions.json
  package.json
  src/app/core/components/user-preferences-dialog/identities-tab/identities-tab.component.spec.ts
  src/app/core/components/user-preferences-dialog/identities-tab/identities-tab.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/groups/admin-groups.component.scss
  src/app/pages/admin/groups/admin-groups.component.spec.ts
  src/app/pages/admin/groups/admin-groups.component.ts
  src/app/pages/admin/teams/admin-teams.component.html
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: add e2e lint and typecheck scripts and clear their backlog
  e2e/dialogs/permissions.dialog.ts
  e2e/helpers/field-interactions.ts
  e2e/pages/dfd-editor.page.ts
  e2e/setup/global-setup.ts
  e2e/tests/workflows/core-lifecycle.spec.ts
  e2e/tests/workflows/dfd-autosave.spec.ts
  e2e/tests/workflows/dfd-controls.spec.ts
  e2e/tests/workflows/dfd-history.spec.ts
  e2e/tests/workflows/dfd-interactions.spec.ts
  e2e/tests/workflows/survey-admin.spec.ts
  e2e/tests/workflows/team-workflows.spec.ts
  package.json
  tsconfig.e2e.json
Due: none

docs: add integration test plan and scenario contract
  docs/superpowers/specs/2026-07-31-integration-test-plan-design.md
  docs/superpowers/specs/2026-07-31-integration-test-scenarios.json
Due: none

test: remove dfd integration specs that ran nowhere
  src/app/pages/dfd/integration/history-styling.spec.ts
  src/app/pages/dfd/integration/presenter-cursor-viewport.spec.ts
  src/app/pages/dfd/integration/selection-styling.spec.ts
  src/app/pages/dfd/integration/styling-constants.spec.ts
  src/app/pages/dfd/integration/test-helpers/styling-helpers.ts
  src/app/pages/dfd/integration/visual-effects.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

test: add markdown sanitization regression coverage
  e2e/helpers/markdown-xss.ts
  e2e/tests/workflows/markdown-sanitization.spec.ts
Due: none

test: give field-coverage skips typed reasons that expire
  e2e/schema/field-definitions.ts
  e2e/schema/field-skips.ts
  e2e/schema/validate-fields.py
  e2e/tests/field-coverage/dashboard-fields.spec.ts
  e2e/tests/field-coverage/project-fields.spec.ts
  e2e/tests/field-coverage/survey-fill-fields.spec.ts
  e2e/tests/field-coverage/team-fields.spec.ts
  e2e/tests/field-coverage/threat-fields.spec.ts
  e2e/tests/field-coverage/tm-fields.spec.ts
Due: none

fix: validate repository fields against their real schema path
  e2e/schema/field-definitions.json
  e2e/schema/validate-fields.py
Due: none

test: verify threat scoring persists via reload and API read-back
  e2e/tests/workflows/scoring-systems.spec.ts
Due: none

test: assert real outcomes in survey-cross-role and triage workflows
  e2e/flows/triage.flow.ts
  e2e/tests/workflows/survey-cross-role.spec.ts
  e2e/tests/workflows/triage-workflows.spec.ts
Due: none

fix: persist SSVC assessments when saving a threat
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/models/threat-model.model.ts
Due: eslint --fix, prettier --write

fix: point the dev API URL at the tmi-server NodePort
  src/environments/environment.dev.ts
Due: eslint --fix, prettier --write

fix: point the dev API URL at the tmi-server NodePort (#824)
  src/environments/environment.dev.ts
Due: eslint --fix, prettier --write

docs: annotate tm-edit extraction design with Phase 4 resolution
  docs/superpowers/specs/2026-05-16-tm-edit-controller-extraction-design.md
Due: none

docs: annotate resolved and superseded findings surfaced by knowledge graph
  .graphifyignore
  docs/reference/dependency-deduplication-analysis.md
  docs/superpowers/plans/2026-06-11-admin-audit-log-ui.md
  docs/superpowers/specs/2026-04-28-share-with-application-remediation-design.md
  docs/threatmodel/SESSION_MANAGEMENT_ANALYSIS.md
  docs/threatmodel/THREAT_MODEL.md
  docs/threatmodel/TRIAGE.md
  docs/threatmodel/VULN-FINDINGS.md
Due: none

docs: graph-driven doc annotations + graphify icon exclusion (#825)
  .graphifyignore
  docs/reference/dependency-deduplication-analysis.md
  docs/superpowers/plans/2026-06-11-admin-audit-log-ui.md
  docs/superpowers/specs/2026-04-28-share-with-application-remediation-design.md
  docs/superpowers/specs/2026-05-16-tm-edit-controller-extraction-design.md
  docs/threatmodel/SESSION_MANAGEMENT_ANALYSIS.md
  docs/threatmodel/THREAT_MODEL.md
  docs/threatmodel/TRIAGE.md
  docs/threatmodel/VULN-FINDINGS.md
Due: none

chore(deps): bump dependencies (#826)
  package.json
  pnpm-lock.yaml
Due: none

fix: retarget @angular/build>vite override to ^8.2.0 for rolldown-based dev server
  package.json
  pnpm-lock.yaml
Due: none

fix: retarget @angular/build>vite override to ^8.2.0 for rolldown-based dev server (#828)
  package.json
  pnpm-lock.yaml
Due: none

test: fix stale login locators broken by the #676 sentence-case pass
  e2e/pages/login.page.ts
Due: none

test: fix stale login locators broken by the #676 sentence-case pass (#829)
  e2e/pages/login.page.ts
Due: none

deps: upgrade @antv/x6 to 3.1.7, drop consolidated plugin packages
  docs/superpowers/plans/2026-08-01-antv-x6-v3-upgrade.md
  package.json
  patches/@antv__x6@3.1.7.patch
  pnpm-lock.yaml
Due: none

docs: correct remaining x6 patch-mechanism wording, disambiguate pin comment
  docs/superpowers/plans/2026-08-01-antv-x6-v3-upgrade.md
  package.json
Due: none

refactor: migrate DFD x6 imports and namespace types to v3 API
  docs/superpowers/plans/2026-08-01-antv-x6-v3-upgrade.md
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.ts
  src/app/pages/dfd/infrastructure/utils/edge-markup.util.ts
Due: eslint --fix, prettier --write

fix: guard Cell.getData() dereferences for x6 v3 undefined data
  src/app/pages/dfd/presentation/services/dfd-styling.service.spec.ts
  src/app/pages/dfd/presentation/services/dfd-styling.service.ts
Due: eslint --fix, prettier --write
