Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

feat: redesign SAML provider icon with lock symbol
  src/assets/signin-logos/saml.svg
  src/assets/signin-logos/test.png
Due: none

chore: added svg for original test provider icon
  package.json
  src/assets/signin-logos/test.svg
Due: none

fix: redesign SAML provider icon using SVG paths instead of fonts
  src/assets/signin-logos/saml.svg
Due: none

fix: migrate OAuth/SAML flows to use fragment-based token delivery
  src/app/auth/components/login/login.component.ts
  src/app/auth/services/auth.service.ts
  src/app/core/services/logger.service.spec.ts
  src/app/core/services/logger.service.ts
Due: eslint --fix, prettier --write

feat: add user profile section to preferences dialog
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

feat: implement OAuth PKCE flow for enhanced security
  src/app/auth/auth-integration.spec.ts
  src/app/auth/components/login/login.component.ts
  src/app/auth/models/pkce.models.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/pkce.service.spec.ts
  src/app/auth/services/pkce.service.ts
  src/app/auth/utils/pkce-crypto.utils.spec.ts
  src/app/auth/utils/pkce-crypto.utils.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

chore(deps): update Angular, tooling, and development dependencies
  package.json
  pnpm-lock.yaml
  src/app/auth/services/pkce.service.spec.ts
  src/app/core/services/security-config.service.ts
  src/app/shared/utils/principal-display.utils.ts
Due: eslint --fix, prettier --write

fix: correct PKCE error handling and test integration
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/pkce.service.spec.ts
  src/app/auth/services/pkce.service.ts
  src/app/auth/utils/pkce-crypto.utils.spec.ts
  src/app/auth/utils/pkce-crypto.utils.ts
  src/testing/vitest-angular-environment.ts
Due: eslint --fix, prettier --write

chore(deps): update node-forge to 1.3.2 for security fixes
  package.json
  pnpm-lock.yaml
Due: none

fix: resolve PKCE service test failures with proper mock cleanup
  src/app/auth/services/pkce.service.spec.ts
Due: eslint --fix, prettier --write

feat: add cancel button and provider icon logging to login page
  src/app/auth/components/login/login.component.html
  src/app/auth/components/login/login.component.scss
  src/app/auth/components/login/login.component.ts
  src/assets/signin-logos/saml.svg
Due: eslint --fix, prettier --write, stylelint --fix

feat: add FontAwesome support for OAuth provider icons
  src/app/auth/components/login/login.component.ts
  src/app/core/services/security-config.service.ts
  src/index.html
Due: eslint --fix, prettier --write

chore: comment out verbose provider icon loading logs
  src/app/auth/components/login/login.component.ts
Due: eslint --fix, prettier --write

fix: resolve CVE-2025-13466 by overriding body-parser to 2.2.1
  package.json
  pnpm-lock.yaml
Due: none

fix: use DOMPurify for heading ID sanitization to resolve CodeQL alert
  src/app/app.config.ts
Due: eslint --fix, prettier --write

feat: add administration page with role-based access control
  src/app/app.routes.ts
  src/app/auth/guards/admin.guard.ts
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/interfaces/auth.interface.ts
  src/app/core/services/user.service.ts
  src/app/pages/admin/admin.component.html
  src/app/pages/admin/admin.component.scss
  src/app/pages/admin/admin.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve circular dependency in admin feature
  src/app/auth/guards/admin.guard.ts
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

fix: handle token decryption failures gracefully
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/admin/admin.component.ts
Due: eslint --fix, prettier --write

feat: localize administration page and add user profile strings
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

feat: display identity provider and provider ID in user preferences
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/interfaces/auth.interface.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

fix: use Material 3 error color for delete button
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

fix: apply Material 3 error color styling to buttons
  src/styles/component-overrides.scss
Due: prettier --write, stylelint --fix

refactor: align UserProfile schema with API Principal/User model
  src/app/auth/auth-integration.spec.ts
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/interfaces/auth.interface.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-websocket-collaboration.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/services/threat-model-authorization.service.ts
Due: eslint --fix, prettier --write

refactor: remove all deprecated code and references
  src/app/auth/models/auth.models.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/application/services/app-export.service.ts
  src/app/pages/dfd/domain/value-objects/edge-attrs.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/interfaces/dfd-orchestrator.interface.ts
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.ts
  src/app/pages/dfd/presentation/services/ui-presenter-coordinator.service.ts
  src/app/pages/dfd/state/dfd.state.ts
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: transform /users/me API response to match UserProfile schema
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

fix: correct UserMeResponse field name to match API spec
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

refactor: align identity provider and role field styling with other non-editable fields
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

fix: display provider icons in permissions dialog dropdown
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/shared/components/provider-display/provider-display.component.html
  src/app/shared/components/provider-display/provider-display.component.spec.ts
  src/app/shared/components/provider-display/provider-display.component.ts
Due: eslint --fix, prettier --write

fix: remove display_name from authorization requests and show provider icons in permissions dialog
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/shared/components/provider-display/provider-display.component.spec.ts
Due: eslint --fix, prettier --write

fix: resolve provider icon URLs relative to API server in permissions dialog
  src/app/shared/components/provider-display/provider-display.component.ts
Due: eslint --fix, prettier --write

feat: add complete provider icon support (absolute, relative, FontAwesome) to ProviderDisplayComponent
  src/app/shared/components/provider-display/provider-display.component.html
  src/app/shared/components/provider-display/provider-display.component.scss
  src/app/shared/components/provider-display/provider-display.component.spec.ts
  src/app/shared/components/provider-display/provider-display.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve z-order convergence error on empty diagrams and missing translation key
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.ts
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.html
Due: eslint --fix, prettier --write

chore: fix whitespace formatting in provider-display component
  src/app/shared/components/provider-display/provider-display.component.ts
Due: eslint --fix, prettier --write

fix: resolve authorization race condition on first login
  src/app/pages/tm/services/threat-model-authorization.service.ts
Due: eslint --fix, prettier --write

feat: add TMI provider for built-in groups and consolidate subject field
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/providers/authorization-prepare.service.ts
  src/app/pages/tm/services/providers/provider-adapter.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/shared/components/provider-display/provider-display.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

fix: resolve authorization race condition for null permissions on first login
  src/app/pages/tm/services/threat-model-authorization.service.ts
Due: eslint --fix, prettier --write

fix: use correct TMI logo path for TMI provider icon
  src/app/shared/components/provider-display/provider-display.component.spec.ts
  src/app/shared/components/provider-display/provider-display.component.ts
Due: eslint --fix, prettier --write

fix: ensure user profile loads before creating threat models
  src/app/pages/dashboard/dashboard.component.ts
Due: eslint --fix, prettier --write

fix: normalize provider display for groups in permissions dialog
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

feat: add admin sub-pages for administrators, webhooks, and addons management
  src/app/app.routes.ts
  src/app/core/services/addon.service.ts
  src/app/core/services/administrator.service.ts
  src/app/core/services/webhook.service.ts
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.ts
  src/app/pages/admin/addons/admin-addons.component.html
  src/app/pages/admin/addons/admin-addons.component.scss
  src/app/pages/admin/addons/admin-addons.component.ts
  src/app/pages/admin/admin.component.html
  src/app/pages/admin/admin.component.scss
  src/app/pages/admin/admin.component.ts
  src/app/pages/admin/administrators/add-administrator-dialog/add-administrator-dialog.component.ts
  src/app/pages/admin/administrators/admin-administrators.component.html
  src/app/pages/admin/administrators/admin-administrators.component.scss
  src/app/pages/admin/administrators/admin-administrators.component.ts
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.html
  src/app/pages/admin/webhooks/admin-webhooks.component.scss
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
  src/app/types/addon.types.ts
  src/app/types/administrator.types.ts
  src/app/types/webhook.types.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix
