Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

chore: e2e:clean removes leaked automation users and system settings (#942)
  scripts/e2e-clean.mjs
Due: none

fix: let a null threat severity reach the server from every edit path
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/services/tm-threat-crud.service.spec.ts
  src/app/pages/tm/services/tm-threat-crud.service.ts
Due: eslint --fix, prettier --write

fix: stale i18n sidecar (#956), null for unassessed severity, e2e:clean for admin residue (#942) (#957)
  package.json
  scripts/e2e-clean.mjs
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/services/tm-threat-crud.service.spec.ts
  src/app/pages/tm/services/tm-threat-crud.service.ts
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
Due: eslint --fix, prettier --write

fix: unset threat severity, priority and status are null, never a default
  src/app/pages/dfd/application/services/app-event-handlers.service.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/services/tm-threat-crud.service.spec.ts
  src/app/pages/tm/services/tm-threat-crud.service.ts
Due: eslint --fix, prettier --write

fix: unset threat severity, priority and status are null, never a default (#958)
  package.json
  src/app/pages/dfd/application/services/app-event-handlers.service.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/services/tm-threat-crud.service.spec.ts
  src/app/pages/tm/services/tm-threat-crud.service.ts
Due: eslint --fix, prettier --write

fix: new threats have no default score; unset severity reads "Not set"
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.spec.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.spec.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/tm-edit.component.html
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: new threats have no default score; unset severity reads "Not set" (#959)
  package.json
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.spec.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.spec.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/tm-edit.component.html
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

chore: document S3 native Terraform state locking
  docs/reference/aws-deployment.md
Due: none

chore: document S3 native Terraform state locking (#960)
  docs/reference/aws-deployment.md
Due: none

fix: select diagram-model and audit-export formats via the Accept header
  src/app/core/services/api.service.spec.ts
  src/app/core/services/api.service.ts
  src/app/pages/admin/audit/admin-audit.service.spec.ts
  src/app/pages/admin/audit/admin-audit.service.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: select diagram-model and audit-export formats via the Accept header (#961)
  package.json
  src/app/core/services/api.service.spec.ts
  src/app/core/services/api.service.ts
  src/app/pages/admin/audit/admin-audit.service.spec.ts
  src/app/pages/admin/audit/admin-audit.service.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

refactor: remove the localStorage diagram persistence fallback (#877)
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.spec.ts
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-local-storage.adapter.ts
  src/app/pages/dfd/types/persistence.types.ts
Due: eslint --fix, prettier --write

style: apply Prettier to the persistence coordinator spec
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.spec.ts
Due: eslint --fix, prettier --write

refactor: remove the localStorage diagram persistence fallback (#877) (#962)
  package.json
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.spec.ts
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-local-storage.adapter.ts
  src/app/pages/dfd/types/persistence.types.ts
Due: eslint --fix, prettier --write

refactor: replace X6 Cell prototype extensions with plain functions (#900)
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/application/services/app-event-handlers.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-event-logger.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-label-editor.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-edge-query.service.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/services/ui-tooltip.service.ts
  src/app/pages/dfd/utils/x6-cell-extensions.ts
  src/app/shared/services/cell-data-extraction.service.ts
Due: eslint --fix, prettier --write

test: update specs for plain-function X6 cell helpers; fix metadata removal (#900)
  docs/adr/0001-x6-cell-helpers-as-plain-functions.md
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-event-handlers.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-label-editor.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.ts
  src/app/pages/dfd/infrastructure/embedding-operations-integration.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge-query.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-node.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.spec.ts
  src/app/pages/dfd/presentation/services/ui-tooltip.service.spec.ts
  src/app/pages/dfd/utils/x6-cell-extensions.spec.ts
  src/app/pages/dfd/utils/x6-cell-extensions.ts
  src/app/shared/services/cell-data-extraction.service.spec.ts
Due: eslint --fix, prettier --write

refactor: address review on #900 (delete dead findEdgesByMetadata, ADR overwrite note)
  docs/adr/0001-x6-cell-helpers-as-plain-functions.md
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge-query.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge-query.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

refactor: X6 cell helpers as plain functions, not prototype extensions (#900) (#966)
  docs/adr/0001-x6-cell-helpers-as-plain-functions.md
  package.json
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/application/services/app-event-handlers.service.spec.ts
  src/app/pages/dfd/application/services/app-event-handlers.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-event-logger.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-label-editor.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-label-editor.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.ts
  src/app/pages/dfd/infrastructure/embedding-operations-integration.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge-query.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge-query.service.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.ts
  src/app/pages/dfd/infrastructure/services/infra-node.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/services/ui-tooltip.service.spec.ts
  src/app/pages/dfd/presentation/services/ui-tooltip.service.ts
  src/app/pages/dfd/utils/x6-cell-extensions.spec.ts
  src/app/pages/dfd/utils/x6-cell-extensions.ts
  src/app/shared/services/cell-data-extraction.service.spec.ts
  src/app/shared/services/cell-data-extraction.service.ts
Due: eslint --fix, prettier --write

chore: drop Heroku, OCI and Cloud Run deploy targets
  Dockerfile
  Dockerfile.oci
  Procfile
  angular.json
  docs/adr/0002-deploy-targets-aws-and-k3s-only.md
  docs/reference/aws-deployment.md
  docs/threatmodel/THREAT_MODEL.md
  package.json
  scripts/configure-heroku-env.sh
  scripts/configure-oci-env.sh
  scripts/deploy-aws.sh
  scripts/push-heroku.sh
  scripts/push-oci.sh
  server.js
  src/app/pages/tm/tm-edit.component.ts
  src/environments/environment.aws.spec.ts
  src/environments/environment.aws.ts
  src/environments/environment.hosted-container.ts
  src/environments/environment.oci.ts
Due: eslint --fix, prettier --write

chore: drop Heroku, OCI and Cloud Run deploy targets (#967)
  Dockerfile
  Dockerfile.oci
  Procfile
  angular.json
  docs/adr/0002-deploy-targets-aws-and-k3s-only.md
  docs/reference/aws-deployment.md
  docs/threatmodel/THREAT_MODEL.md
  package.json
  scripts/configure-heroku-env.sh
  scripts/configure-oci-env.sh
  scripts/deploy-aws.sh
  scripts/push-heroku.sh
  scripts/push-oci.sh
  server.js
  src/app/pages/tm/tm-edit.component.ts
  src/environments/environment.aws.spec.ts
  src/environments/environment.aws.ts
  src/environments/environment.hosted-container.ts
  src/environments/environment.oci.ts
Due: eslint --fix, prettier --write

chore: run the chainguard runtime image as an explicit non-root user
  Dockerfile.chainguard
Due: none

chore: run the chainguard runtime image as an explicit non-root user (#969)
  Dockerfile.chainguard
Due: none

fix: resolve e2e workflow failures and add webhook inactive status
  e2e/flows/document-source.flow.ts
  e2e/flows/survey-admin.flow.ts
  e2e/helpers/content-providers.ts
  e2e/helpers/markdown-xss.ts
  e2e/pages/admin-surveys.page.ts
  e2e/tests/workflows/document-access-diagnostics.spec.ts
  e2e/tests/workflows/google-drive-unlinked-prompt.spec.ts
  e2e/tests/workflows/survey-admin.spec.ts
  e2e/tests/workflows/survey-cross-role.spec.ts
  e2e/tests/workflows/triage-workflows.spec.ts
  public/TMI-FullLogo-Transparent.svg
  scripts/e2e-clean.mjs
  src/app/pages/admin/webhooks/admin-webhooks.component.scss
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
  src/app/types/webhook.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

test: accept a stripped anchor as the safe outcome for the data: link case
  e2e/helpers/markdown-xss.ts
Due: none

fix: resolve e2e workflow failures and add webhook inactive status (#970)
  e2e/flows/document-source.flow.ts
  e2e/flows/survey-admin.flow.ts
  e2e/helpers/content-providers.ts
  e2e/helpers/markdown-xss.ts
  e2e/pages/admin-surveys.page.ts
  e2e/tests/workflows/document-access-diagnostics.spec.ts
  e2e/tests/workflows/google-drive-unlinked-prompt.spec.ts
  e2e/tests/workflows/survey-admin.spec.ts
  e2e/tests/workflows/survey-cross-role.spec.ts
  e2e/tests/workflows/triage-workflows.spec.ts
  package.json
  public/TMI-FullLogo-Transparent.svg
  scripts/e2e-clean.mjs
  src/app/pages/admin/webhooks/admin-webhooks.component.scss
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
  src/app/types/webhook.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump dependencies (#971)
  package.json
  pnpm-lock.yaml
Due: none

deps: upgrade vitest to 5 and survey-core/survey-angular-ui to 3
  e2e/flows/survey-fill.flow.ts
  package.json
  pnpm-lock.yaml
  src/app/i18n/language.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph-readonly.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.spec.ts
  src/app/pages/surveys/components/response-detail/response-detail.component.ts
Due: eslint --fix, prettier --write

deps: upgrade vitest to 5 and survey-core/survey-angular-ui to 3 (#974)
  e2e/flows/survey-fill.flow.ts
  package.json
  pnpm-lock.yaml
  src/app/i18n/language.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph-readonly.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.spec.ts
  src/app/pages/surveys/components/response-detail/response-detail.component.ts
Due: eslint --fix, prettier --write

chore: move home-lab deployment details out of tracked files
  deployments/k8s/dev/k3s/k3s.json.example
  deployments/k8s/dev/k3s/tmi-ux.yml
  scripts/deploy-k3s.sh
  src/environments/environment.dev.ts
Due: eslint --fix, prettier --write

chore: move home-lab deployment details out of tracked files (#975)
  deployments/k8s/dev/k3s/k3s.json.example
  deployments/k8s/dev/k3s/tmi-ux.yml
  scripts/deploy-k3s.sh
  src/environments/environment.dev.ts
Due: eslint --fix, prettier --write

chore(deps): bump dependencies (#979)
  package.json
  pnpm-lock.yaml
Due: none

docs: correct which files and commit types trigger a version bump
  .claude/CLAUDE.md
Due: none

docs: correct which files and commit types trigger a version bump (#980)
  .claude/CLAUDE.md
Due: none

chore: add pnpm run verify as the done gate
  .claude/CLAUDE.md
  package.json
Due: none
