Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

fix: block permissions dialog save on incomplete authorization entries
  e2e/dialogs/permissions.dialog.ts
  e2e/tests/workflows/tm-workflows.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/providers/authorization-prepare.service.spec.ts
  src/app/pages/tm/services/providers/authorization-prepare.service.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: block permissions dialog save on incomplete authorization entries (#893)
  e2e/dialogs/permissions.dialog.ts
  e2e/tests/workflows/tm-workflows.spec.ts
  package.json
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/providers/authorization-prepare.service.spec.ts
  src/app/pages/tm/services/providers/authorization-prepare.service.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: revert owner change on permissions dialog cancel, drop dead table sort (#891, #892)
  e2e/dialogs/permissions.dialog.ts
  e2e/tests/workflows/tm-workflows.spec.ts
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.html
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: revert owner change on permissions dialog cancel, drop dead table sort (#891, #892) (#894)
  e2e/dialogs/permissions.dialog.ts
  e2e/tests/workflows/tm-workflows.spec.ts
  package.json
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.html
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: resolve the typed subject when promoting a permission row to owner (#895)
  e2e/tests/workflows/tm-workflows.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

test: fix spec typecheck errors from the setAsOwner logger injection (#895)
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
Due: eslint --fix, prettier --write

fix: resolve the typed subject when promoting a permission row to owner (#895) (#897)
  e2e/tests/workflows/tm-workflows.spec.ts
  package.json
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

chore: add pnpm run e2e:clean to remove leaked E2E test data (#896)
  e2e/README.md
  package.json
  scripts/e2e-clean.mjs
Due: none

chore: add pnpm run e2e:clean to remove leaked E2E test data (#896) (#898)
  e2e/README.md
  package.json
  scripts/e2e-clean.mjs
Due: none

fix: resolve theme-derived color tokens per theme and send login_hint on step-up (#881, #883)
  src/app/auth/components/auth-callback/auth-callback.component.spec.ts
  src/app/auth/components/auth-callback/auth-callback.component.ts
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/step-up.service.spec.ts
  src/app/auth/services/step-up.service.ts
  src/app/auth/utils/step-up.utils.spec.ts
  src/app/auth/utils/step-up.utils.ts
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: pin the surfaces that were only accidentally light to theme-invariant tokens (#881)
  src/app/auth/components/auth-callback/auth-callback.component.ts
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/step-up.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.scss
  src/app/pages/dfd/styles/_dfd-styles.scss
  src/app/pages/tm/tm-edit.component.scss
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: pin the DFD port tooltip's border alongside its hardcoded background (#881)
  src/app/pages/dfd/styles/_dfd-styles.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

fix: resolve theme-derived color tokens per theme and send login_hint on step-up (#881, #883) (#902)
  package.json
  src/app/auth/components/auth-callback/auth-callback.component.spec.ts
  src/app/auth/components/auth-callback/auth-callback.component.ts
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/step-up.service.spec.ts
  src/app/auth/services/step-up.service.ts
  src/app/auth/utils/step-up.utils.spec.ts
  src/app/auth/utils/step-up.utils.ts
  src/app/pages/dfd/presentation/components/dfd.component.scss
  src/app/pages/dfd/styles/_dfd-styles.scss
  src/app/pages/tm/tm-edit.component.scss
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

test: narrow the styling-service operation assertions to their real types (#870)
  src/app/pages/dfd/presentation/services/dfd-styling.service.spec.ts
Due: eslint --fix, prettier --write

refactor: reconcile validator, LoadResult, alias types and share principal fixtures (#866, #867, #868, #884)
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/interfaces/dfd-orchestrator.interface.ts
  src/app/pages/dfd/interfaces/persistence-coordinator.interface.ts
  src/app/pages/dfd/types/persistence.types.ts
  src/app/pages/tm/components/audit-trail-page/audit-trail-page.component.spec.ts
  src/app/pages/tm/components/export-dialog/export-dialog.component.spec.ts
  src/app/pages/tm/components/note-page/note-page.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/resolvers/threat-model.resolver.spec.ts
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
  src/app/pages/tm/validation/threat-model-validator.service.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
  src/testing/mocks/index.ts
  src/testing/mocks/threat-model-principals.ts
Due: eslint --fix, prettier --write

test: sweep attrs reads and mock accessors in the DFD specs (#870)
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.spec.ts
  src/app/pages/dfd/utils/cell-normalization.util.spec.ts
Due: eslint --fix, prettier --write

refactor: point IPersistenceCoordinator at the load result it actually emits (#866)
  src/app/pages/dfd/interfaces/persistence-coordinator.interface.ts
  src/app/pages/dfd/types/persistence.types.ts
Due: eslint --fix, prettier --write

fix: correct the alias e2e field definition to match the API (#884)
  e2e/schema/field-definitions.json
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump dependencies (#909)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump dependencies (#913)
  package.json
  pnpm-lock.yaml
Due: none

ci: auto-bump the version on Dependabot PRs
  .github/workflows/version-bump.yml
Due: none

ci: auto-bump the version on Dependabot PRs (#916)
  .github/workflows/version-bump.yml
Due: none

ci: auto-merge patch/minor Dependabot PRs
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

ci: auto-merge patch/minor Dependabot PRs (#917)
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix: send no body on POSTs whose spec defines no requestBody
  src/app/auth/services/identity-link.service.spec.ts
  src/app/auth/services/identity-link.service.ts
  src/app/core/services/api.service.ts
  src/app/core/services/picker-token.service.spec.ts
  src/app/core/services/picker-token.service.ts
  src/app/core/services/settings-admin.service.spec.ts
  src/app/core/services/settings-admin.service.ts
  src/app/core/services/webhook.service.spec.ts
  src/app/core/services/webhook.service.ts
Due: eslint --fix, prettier --write

fix: send no body on POSTs whose spec defines no requestBody (#921)
  package.json
  src/app/auth/services/identity-link.service.spec.ts
  src/app/auth/services/identity-link.service.ts
  src/app/core/services/api.service.ts
  src/app/core/services/picker-token.service.spec.ts
  src/app/core/services/picker-token.service.ts
  src/app/core/services/settings-admin.service.spec.ts
  src/app/core/services/settings-admin.service.ts
  src/app/core/services/webhook.service.spec.ts
  src/app/core/services/webhook.service.ts
Due: eslint --fix, prettier --write

fix: theme Material surfaces via tokens and render logos as inline SVG
  public/TMI-IconOnly-Transparent-NoBuffer.png
  public/TMI-IconOnly.svg
  src/app/app.config.ts
  src/app/auth/components/login/login.component.html
  src/app/auth/components/login/login.component.scss
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/components/navbar/navbar.component.spec.ts
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/services/branding-config.service.ts
  src/app/pages/chat/components/chat-messages/chat-messages.component.html
  src/app/pages/chat/components/chat-messages/chat-messages.component.scss
  src/app/pages/chat/components/chat-page/chat-page.component.html
  src/app/pages/chat/components/chat-page/chat-page.component.scss
  src/app/pages/home/home.component.html
  src/app/pages/home/home.component.scss
  src/app/pages/home/home.component.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
  src/app/shared/components/provider-display/provider-display.component.html
  src/app/shared/components/provider-display/provider-display.component.scss
  src/app/shared/components/provider-display/provider-display.component.ts
  src/styles/component-overrides.scss
  src/styles/material-theme.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: rewrite CLAUDE.md, add graphify hook settings, drop knip config
  .claude/CLAUDE.md
  .claude/settings.json
  .claude/settings.local.json
  knip.json
Due: none

fix: drop dead card and tooltip overrides
  src/styles/component-overrides.scss
Due: prettier --write, stylelint --fix

style: prettier formatting
  src/app/auth/components/login/login.component.html
  src/styles/material-theme.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: theme Material surfaces via tokens and render logos as inline SVG (#922)
  .claude/CLAUDE.md
  .claude/settings.json
  .claude/settings.local.json
  knip.json
  package.json
  public/TMI-IconOnly-Transparent-NoBuffer.png
  public/TMI-IconOnly.svg
  src/app/app.config.ts
  src/app/auth/components/login/login.component.html
  src/app/auth/components/login/login.component.scss
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/components/navbar/navbar.component.spec.ts
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/services/branding-config.service.ts
  src/app/pages/chat/components/chat-messages/chat-messages.component.html
  src/app/pages/chat/components/chat-messages/chat-messages.component.scss
  src/app/pages/chat/components/chat-page/chat-page.component.html
  src/app/pages/chat/components/chat-page/chat-page.component.scss
  src/app/pages/home/home.component.html
  src/app/pages/home/home.component.scss
  src/app/pages/home/home.component.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
  src/app/shared/components/provider-display/provider-display.component.html
  src/app/shared/components/provider-display/provider-display.component.scss
  src/app/shared/components/provider-display/provider-display.component.ts
  src/styles/component-overrides.scss
  src/styles/material-theme.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: keep Material's light-mode surface tiers, override tokens in dark only
  src/styles/material-theme.scss
Due: prettier --write, stylelint --fix

fix: keep Material's light-mode surface tiers, override tokens in dark only (#923)
  package.json
  src/styles/material-theme.scss
Due: prettier --write, stylelint --fix

ops: keep the previous build on S3 for 24h after a deploy
  scripts/deploy-aws.sh
Due: none
