Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

Added context files, link to video demo
  README.md
  context/DiagramChangeTracker.js
  context/flow-object-class.js
  context/store-object-class.js
Due: none

Embedded video
  README.md
Due: none

Update README.md
  README.md
Due: none

Shape handling simplifications; command interface cleanup
  context/DFD_COMPONENT_REFACTORING.md
  src/app/pages/dfd/commands/command-deserializer.service.ts
  src/app/pages/dfd/commands/command-registry.service.ts
  src/app/pages/dfd/commands/command.interface.ts
  src/app/pages/dfd/commands/node-commands.ts
  src/app/pages/dfd/models/actor-shape.model.ts
  src/app/pages/dfd/models/process-shape.model.ts
  src/app/pages/dfd/models/security-boundary-shape.model.ts
  src/app/pages/dfd/models/store-shape.model.ts
  src/app/pages/dfd/models/textbox-shape.model.ts
  src/app/pages/dfd/services/dfd-change-tracker.service.ts
  src/app/pages/dfd/styles/_graph-styles.scss
  src/app/pages/dfd/styles/_shape-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Refactoring, lint issues
  src/app/pages/dfd/commands/command-deserializer.service.ts
  src/app/pages/dfd/commands/command-registry.service.ts
  src/app/pages/dfd/commands/command.interface.ts
  src/app/pages/dfd/commands/edge-commands.ts
  src/app/pages/dfd/commands/label-commands.ts
  src/app/pages/dfd/commands/node-commands.ts
  src/app/pages/dfd/models/actor-shape.model.ts
  src/app/pages/dfd/models/process-shape.model.ts
  src/app/pages/dfd/models/security-boundary-shape.model.ts
  src/app/pages/dfd/models/store-shape.model.ts
  src/app/pages/dfd/services/dfd-accessibility.service.ts
  src/app/pages/dfd/services/dfd-change-tracker.service.ts
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd-label-editor.service.ts
  src/app/pages/dfd/services/dfd-node.service.ts
  src/app/pages/dfd/services/dfd-port.service.ts
  src/app/pages/dfd/services/dfd-shape-factory.service.ts
  src/app/pages/dfd/styles/_shape-styles.scss
  src/app/pages/dfd/utils/dfd-utils.ts
Due: eslint --fix, prettier --write, stylelint --fix

Simplifying style handling
  src/app/pages/dfd/models/actor-shape.model.ts
  src/app/pages/dfd/models/process-shape.model.ts
  src/app/pages/dfd/models/security-boundary-shape.model.ts
  src/app/pages/dfd/models/store-shape.model.ts
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd-label-editor.service.ts
  src/app/pages/dfd/services/dfd-node.service.ts
  src/app/pages/dfd/services/dfd-port.service.ts
  src/app/pages/dfd/styles/_graph-components.scss
  src/app/pages/dfd/styles/_graph-styles.scss
  src/app/pages/dfd/styles/_shape-styles.scss
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Fixing style errors
  angular.json
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/models/actor-shape.model.ts
  src/app/pages/dfd/models/port-utils.ts
  src/app/pages/dfd/models/process-shape.model.ts
  src/app/pages/dfd/models/security-boundary-shape.model.ts
  src/app/pages/dfd/models/store-shape.model.ts
  src/app/pages/dfd/services/dfd-change-tracker.service.ts
  src/app/pages/dfd/services/dfd-event-bus.service.ts
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-port.service.ts
  src/app/pages/dfd/styles/_shape-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Fixing style issues
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd.service.ts
  src/app/pages/dfd/styles/_graph-components.scss
  src/app/pages/dfd/styles/_graph-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Fixing port styling
  src/app/pages/dfd/models/port-utils.ts
  src/app/pages/dfd/services/dfd-port.service.ts
  src/app/pages/dfd/styles/_graph-styles.scss
  src/app/pages/dfd/styles/_shape-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Worked on threat model editor page, collaboration dialog
  src/app/core/components/navbar/navbar.component.scss
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.html
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.scss
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

Added threat editor dialog
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

Fixed up localization of threat editor dialog
  angular.json
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

Working on threat model edit page
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.html
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.scss
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

threat model editor
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

Threat model editor layout
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Adding metadata to threat edit dialog
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Threat editor dialog
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fine tuning threat editor dialog
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  tmi-openapi.json
Due: eslint --fix, prettier --write, stylelint --fix

Updated localizations
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write, stylelint --fix

Diagnosing threat editor dialog issue
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
Due: eslint --fix, prettier --write

Fixing threat editor floating label issue
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
Due: eslint --fix, prettier --write

Renamed threat property "node id" to "cell id"
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  tmi-openapi.json
Due: eslint --fix, prettier --write

Updated threat editor dialog to turn diagram/cell id fields to pick from lists of valid values
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Mock data factory
  mock-data-centralization-plan.md
  src/app/core/components/mock-data-toggle/mock-data-toggle.component.ts
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.ts
  src/app/mocks/factories/cell.factory.ts
  src/app/mocks/factories/diagram.factory.ts
  src/app/mocks/factories/threat-model.factory.ts
  src/app/mocks/factories/threat.factory.ts
  src/app/mocks/index.ts
  src/app/mocks/instances/threat-model-1.ts
  src/app/mocks/instances/threat-model-2.ts
  src/app/mocks/instances/threat-model-3.ts
  src/app/mocks/mock-data.service.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

Updated test framework
  cypress.config.ts
  cypress/e2e/threat-model-list.cy.ts
  cypress/support/commands.ts
  cypress/support/component.ts
  cypress/support/e2e.ts
  cypress/support/index.d.ts
  docs/testing/ui-testing-framework.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/run-cypress-tests.js
  src/app/i18n/testing.module.ts
  src/app/mocks/factories/threat-model.factory.ts
  src/app/mocks/mock-data.service.ts
  src/app/pages/dfd/dfd.component.cy.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/tm.component.cy.ts
  src/cypress.d.ts
  src/testing/README.md
  src/testing/helpers/graph-test.helper.ts
  src/testing/matchers/graph-matchers.d.ts
  src/testing/matchers/graph-matchers.ts
  src/testing/mocks/mock-auth.service.ts
  src/testing/mocks/mock-graph.service.ts
  src/testing/mocks/mock-websocket.service.ts
  src/testing/page-objects/page-object.base.ts
  src/testing/page-objects/threat-model-list.page.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Cleanup
  context/ARCHITECTURE_NOTES.md
  context/DiagramChangeTracker.js
  context/actor-shape.json
  context/flow-object-class.js
  context/flow-shape.json
  context/process-shape.json
  context/security-boundary-shape.json
  context/store-object-class.js
  context/store-shape.json
  docs/AUTHORIZATION.md
  docs/COLLABORATIVE_EDITING.md
Due: none

Cleanup
  context/mock-data-centralization-plan.md
Due: none

Added collaboration sessions to landing page
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
  src/app/pages/tm/tm.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Set up local dev/test environment for server integration
  .gitignore
  .stylelintignore
  .stylelintrc
  angular.json
  package.json
  src/app/pages/tm/tm.component.scss
Due: prettier --write, stylelint --fix

Updating dependencies
  package.json
  pnpm-lock.yaml
Due: none

Updating packages
  package.json
  pnpm-lock.yaml
Due: none

Updated esbuild and happy-dom due to github security reports
  package.json
  pnpm-lock.yaml
Due: none

Fixing threat edit dialog layout
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

Fixed test issues
  docs/testing/unit-testing-with-vitest.md
  eslint.config.js
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/test-setup.ts
  src/testing/async-utils.ts
  src/testing/component-test-harness.ts
  src/testing/zone-setup.ts
  tsconfig.vitest.json
  vitest.config.ts
Due: eslint --fix, prettier --write

Updated page layouts, localization
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Updated Readme with new video
  README.md
Due: none

readme format
  README.md
Due: none
