Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

Revert "fix: display newly created credentials in preferences dialog"
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

fix: credentials not displayed in user preferences dialog
  src/app/core/services/client-credential.service.spec.ts
  src/app/core/services/client-credential.service.ts
  src/app/types/client-credential.types.ts
Due: eslint --fix, prettier --write

refactor: reformat credentials table from 6 columns to 3 with metadata sub-rows
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

feat: update English locale for credentials table reformat
  src/assets/i18n/en-US.json
Due: prettier --write

feat: backfill credentials table locale keys to all languages
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

test: add unit tests for credentials table formatting
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.spec.ts
Due: eslint --fix, prettier --write

feat: update admin webhooks table layout with copy buttons and semantic colors
  src/app/pages/admin/webhooks/admin-webhooks.component.html
  src/app/pages/admin/webhooks/admin-webhooks.component.scss
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

style: standardize appearance="outline" on admin filter fields
  src/app/pages/admin/addons/admin-addons.component.html
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/users/admin-users.component.html
Due: eslint --fix, prettier --write

style: add appearance="outline" to remaining admin form fields
  src/app/pages/admin/groups/group-members-dialog/group-members-dialog.component.html
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/admin/settings/admin-settings.component.html
Due: eslint --fix, prettier --write

feat: add delete survey option to admin surveys list and edit page (#521)
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/admin-surveys.component.spec.ts
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.spec.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

style: standardize action column center alignment across admin tables
  src/app/pages/admin/projects/admin-projects.component.html
  src/app/pages/admin/projects/admin-projects.component.scss
  src/app/pages/admin/quotas/admin-quotas.component.scss
  src/app/pages/admin/settings/admin-settings.component.scss
  src/app/pages/admin/surveys/admin-surveys.component.scss
  src/app/pages/admin/teams/admin-teams.component.html
  src/app/pages/admin/teams/admin-teams.component.scss
  src/app/pages/admin/users/admin-users.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add UrlDropZoneDirective for drag-and-drop URL handling
  src/app/shared/directives/url-drop-zone.directive.spec.ts
  src/app/shared/directives/url-drop-zone.directive.ts
Due: eslint --fix, prettier --write

chore: export UrlDropZoneDirective from shared imports
  src/app/shared/imports.ts
Due: eslint --fix, prettier --write

feat: add i18n keys for drag-to-create tooltip hints
  src/assets/i18n/en-US.json
Due: prettier --write

style: add drag-and-drop visual feedback styles for document/repository cards
  src/app/pages/tm/tm-edit.component.scss
Due: prettier --write, stylelint --fix

feat: add drag-url-to-create for documents and repositories (#522)
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

chore: backfill localization for drag-to-create tooltip keys
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: resolve three bugs in client credentials dialogs (#525)
  src/app/core/components/user-preferences-dialog/create-credential-dialog/create-credential-dialog.component.ts
  src/app/core/components/user-preferences-dialog/credential-secret-dialog/credential-secret-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

chore: remove extraneous teams.kebab.editDetails key from pt-BR locale
  src/assets/i18n/pt-BR.json
Due: prettier --write

style: fix drag-to-create tooltip positioning and color
  src/app/pages/tm/tm-edit.component.scss
Due: prettier --write, stylelint --fix

fix: replace broken error message extraction with getErrorMessage utility
  src/app/core/services/websocket.adapter.ts
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.ts
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/dfd/application/executors/batch-operation-executor.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-event-handlers.service.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/report/pdf-font-manager.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm.component.ts
  src/app/shared/utils/http-error.utils.spec.ts
  src/app/shared/utils/http-error.utils.ts
Due: eslint --fix, prettier --write

feat: add drag-url-to-issue for issue URI fields (#523)
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
  src/app/pages/tm/tm-edit.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add drag-url-to-issue for threat page issue URI field (#523)
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: regenerate api-types.d.ts from latest server OpenAPI spec
  src/app/generated/api-types.d.ts
Due: eslint --fix, prettier --write

refactor: re-export user and credential types from generated api-types
  eslint.config.js
  src/app/types/client-credential.types.ts
  src/app/types/user.types.ts
Due: eslint --fix, prettier --write

feat: add automation user and credential management methods to UserAdminService (#524, #526)
  src/app/core/services/user-admin.service.spec.ts
  src/app/core/services/user-admin.service.ts
Due: eslint --fix, prettier --write

feat: add returnFormOnly option to CreateCredentialDialog (#526)
  src/app/core/components/user-preferences-dialog/create-credential-dialog/create-credential-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add automation filter and manage credentials button to admin users page (#526)
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/users/admin-users.component.scss
  src/app/pages/admin/users/admin-users.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add ManageCredentialsDialog for automation account credentials (#526)
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/admin/users/manage-credentials-dialog/manage-credentials-dialog.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

feat: add automation user creation to webhook dialog (#524)
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
  src/app/pages/admin/webhooks/create-automation-user-dialog/create-automation-user-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add localization keys for automation user and credential management (#524, #526)
  src/assets/i18n/en-US.json
Due: prettier --write

style: fix lint formatting in generated api-types.d.ts
  src/app/generated/api-types.d.ts
Due: eslint --fix, prettier --write

chore: backfill localization for automation credential features (#524, #526)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: send explicit empty values for cleared threat fields (#527)
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: handle empty response body from group members list endpoints (#529)
  src/app/core/services/group-admin.service.ts
  src/app/core/services/user-group.service.ts
Due: eslint --fix, prettier --write

fix: pass credential UUID instead of client_id for admin credential delete (#530)
  src/app/pages/admin/users/manage-credentials-dialog/manage-credentials-dialog.component.ts
Due: eslint --fix, prettier --write

style: make manage-credentials dialog responsive
  src/app/pages/admin/users/admin-users.component.ts
Due: eslint --fix, prettier --write

fix: correct admin groups list card title from "Group Memberships" to "Groups"
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump dependencies and upgrade ESLint to v10
  package.json
  pnpm-lock.yaml
  src/app/core/interceptors/http-logging.interceptor.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write
