Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

chore: add pnpm run verify as the done gate (#982)
  .claude/CLAUDE.md
  package.json
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump dependencies (#983)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump dependencies (#985)
  package.json
  pnpm-lock.yaml
Due: none

docs: add ADR 0003 for canonical threat field strings and null when unset
  docs/adr/0003-threat-field-canonical-strings.md
Due: none

docs: record check-i18n gating rule in project CLAUDE.md
  .claude/CLAUDE.md
Due: none

docs: check-i18n gating rule and ADR 0003 (threat field vocabulary) (#986)
  .claude/CLAUDE.md
  docs/adr/0003-threat-field-canonical-strings.md
Due: none

fix: deps-bump workflow pins a current deps release and gates the lockfile
  .github/workflows/deps-bump.yml
  docs/adr/0004-deps-bump-skill-pin.md
Due: none

fix: deps-bump workflow pins a current deps release and gates the lockfile (#988)
  .github/workflows/deps-bump.yml
  docs/adr/0004-deps-bump-skill-pin.md
Due: none

refactor(api): adopt flattened diagram schemas from tmi #956
  src/app/generated/api-types.d.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/services/tm-diagram-crud.service.ts
Due: eslint --fix, prettier --write

refactor(api): type diagram create payloads as CreateDiagramRequest
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/services/tm-diagram-crud.service.ts
Due: eslint --fix, prettier --write

test(e2e): make admin/survey/team-project VRT baselines survive a reseed
  .gitignore
  e2e/helpers/screenshot.ts
  e2e/seed/seed-spec.json
  e2e/tests/visual-regression/admin-visual-regression.spec.ts
  e2e/tests/visual-regression/survey-visual-regression.spec.ts
  e2e/tests/visual-regression/team-project-visual-regression.spec.ts
Due: none

refactor(e2e): derive volatile-text pattern from DATE_TEXT
  e2e/helpers/screenshot.ts
Due: none

refactor(api): adopt tmi 2.0.0 flattened diagram schemas (#993)
  package.json
  src/app/generated/api-types.d.ts
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/services/tm-diagram-crud.service.ts
Due: eslint --fix, prettier --write

fix: regenerate build-info for build:prod, build:test and build:aws
  package.json
Due: none

test(e2e): make admin/survey/team-project VRT baselines survive a reseed (#994)
  .gitignore
  e2e/helpers/screenshot.ts
  e2e/seed/seed-spec.json
  e2e/tests/visual-regression/admin-visual-regression.spec.ts
  e2e/tests/visual-regression/survey-visual-regression.spec.ts
  e2e/tests/visual-regression/team-project-visual-regression.spec.ts
Due: none

fix: regenerate build-info for build:prod, build:test and build:aws (#995)
  package.json
Due: none

ops: isolate the deps-bump agent from the token-holding push step
  .github/workflows/deps-bump.yml
  .github/workflows/quality.yml
  package.json
  scripts/deps-bump-apply-patches.sh
  scripts/deps-bump-apply-patches.test.sh
Due: none

ops: tighten the deps-bump publish gate after security review
  .github/workflows/codeql.yml
  .github/workflows/deps-bump.yml
  scripts/deps-bump-apply-patches.sh
  scripts/deps-bump-apply-patches.test.sh
Due: none

ops: deps-bump validator tolerates a non-object devEngines and resets on a failed commit
  scripts/deps-bump-apply-patches.sh
Due: none

fix: show the triage "Revision requested" card only for responses returned for revision
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.spec.ts
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
Due: eslint --fix, prettier --write

fix: edge metadata deletions apply locally (X6 setData deep-merge)
  src/app/pages/dfd/application/executors/edge-operation-executor.spec.ts
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
  src/app/pages/dfd/presentation/services/dfd-node-type.service.spec.ts
  src/app/pages/dfd/presentation/services/dfd-node-type.service.ts
Due: eslint --fix, prettier --write

style: ellipsis on the "Linked accounts" menu item that opens a dialog
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

test: tighten the #870 cleanup after review
  eslint.config.js
  src/app/core/components/user-preferences-dialog/credential-secret-dialog/credential-secret-dialog.component.spec.ts
  src/app/pages/dfd/application/services/app-event-handlers.service.spec.ts
  src/app/pages/dfd/domain/utils/x6-validation.util.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph-readonly.adapter.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge-query.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.spec.ts
  src/app/pages/dfd/presentation/services/dfd-layout.service.spec.ts
  src/app/pages/dfd/presentation/services/ui-presenter-selection.service.spec.ts
  src/app/pages/tm/components/note-page/note-page.component.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/testing/partial-mock.ts
Due: eslint --fix, prettier --write

test(e2e): stabilize the DFD visual-regression plates and regenerate baselines
  e2e/helpers/screenshot.ts
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-after-operations-dark-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-after-operations-dark-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-after-operations-light-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-after-operations-light-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-edge-variations-dark-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-edge-variations-dark-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-edge-variations-light-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-edge-variations-light-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-embedding-dark-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-embedding-dark-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-embedding-light-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-embedding-light-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-node-types-dark-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-node-types-dark-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-node-types-light-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-node-types-light-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-seeded-complex-dark-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-seeded-complex-dark-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-seeded-complex-light-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-seeded-complex-light-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-style-variations-dark-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-style-variations-dark-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-style-variations-light-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-style-variations-light-visual-regression-darwin.png
Due: none

test(e2e): make 'confidential TM visibility' wait for the grant and reapply filter clearing
  e2e/tests/workflows/tm-workflows.spec.ts
Due: none

test(e2e): stop 'triage list filters' clicking detached mat-select options
  e2e/flows/triage.flow.ts
Due: none

style: format triage-detail spec
  src/app/pages/triage/components/triage-detail/triage-detail.component.spec.ts
Due: eslint --fix, prettier --write

refactor: survey theme uses survey-js v3 --sjs2-* variables directly
  e2e/tests/visual-regression/survey-visual-regression.spec.ts
  src/app/pages/surveys/services/survey-theme.service.spec.ts
  src/app/pages/surveys/services/survey-theme.service.ts
Due: eslint --fix, prettier --write

test(e2e): VRT cleanup failures no longer mask the test's own error
  e2e/helpers/screenshot.ts
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts
  e2e/tests/visual-regression/survey-visual-regression.spec.ts
  src/app/pages/surveys/services/survey-theme.service.spec.ts
Due: eslint --fix, prettier --write

fix: "clear formatting" actually clears a node's customStyles flag
  src/app/pages/dfd/application/executors/edge-operation-executor.spec.ts
  src/app/pages/dfd/presentation/services/dfd-styling.service.spec.ts
  src/app/pages/dfd/presentation/services/dfd-styling.service.ts
Due: eslint --fix, prettier --write

ops: isolate the deps-bump agent from the token-holding push step (#996)
  .github/workflows/codeql.yml
  .github/workflows/deps-bump.yml
  .github/workflows/quality.yml
  package.json
  scripts/deps-bump-apply-patches.sh
  scripts/deps-bump-apply-patches.test.sh
Due: none

docs: ADR 0005 KaTeX override and braces advisory dismissal (#992)
  docs/adr/0005-katex-override-braces-dismissed.md
Due: none

fix: restore main's package.json scripts lost in the merge
  package.json
Due: none

test: type the #964/#973 spec fixtures instead of casting to any
  src/app/pages/dfd/application/executors/edge-operation-executor.spec.ts
  src/app/pages/dfd/presentation/services/dfd-node-type.service.spec.ts
Due: eslint --fix, prettier --write

deps: override katex to >=0.18.2 <0.20 (ADR 0005, #991)
  package.json
  pnpm-lock.yaml
Due: none
