Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

test: fix spec type errors in pages/dfd/application (38 → 0)
  src/app/pages/dfd/application/executors/edge-operation-executor.spec.ts
  src/app/pages/dfd/application/executors/load-diagram-executor.spec.ts
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/app/pages/dfd/application/services/app-cell-operation-converter.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-diagram-resync.service.spec.ts
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-graph-operation-manager.service.spec.ts
  src/app/pages/dfd/application/services/app-history.service.spec.ts
  src/app/pages/dfd/application/services/app-remote-operation-handler.service.spec.ts
  src/app/pages/dfd/application/services/test-helpers/mock-services.ts
  src/app/pages/dfd/application/validators/edge-operation-validator.spec.ts
  src/app/pages/dfd/application/validators/general-operation-validator.spec.ts
  src/app/pages/dfd/application/validators/node-operation-validator.spec.ts
Due: eslint --fix, prettier --write

ops: deploy tmi-ux to the local k3s cluster; fix container builds; add HANDOFF.md
  Dockerfile
  Dockerfile.chainguard
  Dockerfile.oci
  HANDOFF.md
  deployments/k8s/dev/k3s/tmi-ux.yml
  package.json
  scripts/deploy-k3s.sh
Due: none

docs: HANDOFF.md — k3s login enabled via server ConfigMap allowlist; note dev-up overwrite and settings precedence
  HANDOFF.md
Due: none

fix: dynamic CSP broke plain-HTTP deployments and relative API URLs
  deployments/k8s/dev/k3s/tmi-ux.yml
  scripts/deploy-k3s.sh
  src/app/core/services/security-config.service.ts
Due: eslint --fix, prettier --write

docs: HANDOFF — tmi.efitz.net TLS ingress, same-origin /api proxy, CSP root cause; pending pi-hole CNAME and allowlist commands
  HANDOFF.md
Due: none

fix: same-origin API proxy mode — external host in auth_url, health check endpoint
  server.js
  src/app/core/services/server-connection.service.ts
Due: eslint --fix, prettier --write

docs: HANDOFF — tmi.efitz.net live end-to-end; CNAME/allowlist applied; proxy-mode fixes; tmi#774 filed
  HANDOFF.md
Due: none

chore: move UI button rules to paths-scoped rule file; gitignore graphify-out
  .claude/CLAUDE.md
  .claude/rules/ui-buttons.md
  .claude/settings.local.json
  .gitignore
Due: none

chore: move UI button rules to paths-scoped rule file; gitignore graphify-out (#875)
  .claude/CLAUDE.md
  .claude/rules/ui-buttons.md
  .claude/settings.local.json
  .gitignore
  HANDOFF.md
  deployments/k8s/dev/k3s/tmi-ux.yml
  package.json
  scripts/deploy-k3s.sh
  server.js
  src/app/core/services/security-config.service.ts
  src/app/core/services/server-connection.service.ts
Due: eslint --fix, prettier --write

refactor: export PageSize/MarginSize from threat-model-report.service (#871)
  src/app/pages/tm/services/report/threat-model-report.service.spec.ts
  src/app/pages/tm/services/report/threat-model-report.service.ts
Due: eslint --fix, prettier --write

test: add Playwright webServer block so e2e owns the dev-server lifecycle (#827)
  e2e/README.md
  e2e/setup/global-setup.ts
  package.json
  playwright.config.ts
Due: none

fix: remove dead offline-local-provider branch from AppDfdOrchestrator (#865)
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
Due: eslint --fix, prettier --write

feat: admin groups table - reference count column, group ID line, copy buttons (#874)
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/groups/admin-groups.component.scss
  src/app/pages/admin/groups/admin-groups.component.spec.ts
  src/app/pages/admin/groups/admin-groups.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: small-batch backlog cleanup (#865, #871, #827, #874) (#876)
  e2e/README.md
  e2e/setup/global-setup.ts
  package.json
  playwright.config.ts
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/groups/admin-groups.component.scss
  src/app/pages/admin/groups/admin-groups.component.spec.ts
  src/app/pages/admin/groups/admin-groups.component.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/tm/services/report/threat-model-report.service.spec.ts
  src/app/pages/tm/services/report/threat-model-report.service.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: admin users - linked accounts dialog with admin unlink (#805)
  e2e/tests/admin/admin-linked-accounts.spec.ts
  src/app/core/services/user-admin.service.spec.ts
  src/app/core/services/user-admin.service.ts
  src/app/generated/api-types.d.ts
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/admin/users/linked-accounts-dialog/linked-accounts-dialog.component.spec.ts
  src/app/pages/admin/users/linked-accounts-dialog/linked-accounts-dialog.component.ts
  src/app/types/user.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: admin users — linked accounts dialog with admin unlink (#805) (#878)
  e2e/tests/admin/admin-linked-accounts.spec.ts
  package.json
  src/app/core/services/user-admin.service.spec.ts
  src/app/core/services/user-admin.service.ts
  src/app/generated/api-types.d.ts
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/admin/users/linked-accounts-dialog/linked-accounts-dialog.component.spec.ts
  src/app/pages/admin/users/linked-accounts-dialog/linked-accounts-dialog.component.ts
  src/app/types/user.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

docs: HANDOFF.md — v1.13.0 deployed to k3s; allowlist is now DB-first; field-coverage task list
  HANDOFF.md
Due: none

fix: render the triage search page-scope hint
  e2e/pages/triage.page.ts
  e2e/tests/workflows/triage-workflows.spec.ts
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

docs: HANDOFF.md — #812/#821 browser-verified; allowlist resolved; charlie lost reviewer roles
  HANDOFF.md
Due: none

chore: gitignore HANDOFF.md
  .gitignore
  HANDOFF.md
Due: none

fix: render the triage search page-scope hint (#879)
  .gitignore
  HANDOFF.md
  e2e/pages/triage.page.ts
  e2e/tests/workflows/triage-workflows.spec.ts
  package.json
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: drop the read-only alias field from the E2E seed spec
  e2e/seed/seed-spec.json
Due: none

fix: point account deletion at DELETE /me instead of /users/me (#880)
  e2e/tests/workflows/error-scenarios.spec.ts
  src/app/auth/guards/admin.guard.ts
  src/app/auth/guards/reviewer.guard.ts
  src/app/auth/models/auth.models.ts
  src/app/core/services/user.service.spec.ts
  src/app/core/services/user.service.ts
Due: eslint --fix, prettier --write

test: cover dashboard visibility positively and negatively (#885)
  e2e/fixtures/auth-fixtures.ts
  e2e/pages/dashboard.page.ts
  e2e/seed/seed-spec.json
  e2e/tests/workflows/dashboard-filters.spec.ts
  e2e/tests/workflows/dashboard-visibility.spec.ts
Due: none

fix: account deletion endpoint, E2E seed alias, and dashboard visibility coverage (#880, #885) (#888)
  e2e/fixtures/auth-fixtures.ts
  e2e/pages/dashboard.page.ts
  e2e/seed/seed-spec.json
  e2e/tests/workflows/dashboard-filters.spec.ts
  e2e/tests/workflows/dashboard-visibility.spec.ts
  e2e/tests/workflows/error-scenarios.spec.ts
  package.json
  src/app/auth/guards/admin.guard.ts
  src/app/auth/guards/reviewer.guard.ts
  src/app/auth/models/auth.models.ts
  src/app/core/services/user.service.spec.ts
  src/app/core/services/user.service.ts
Due: eslint --fix, prettier --write

test: use a real RelationshipType in the related-teams/projects dialog specs (#869)
  src/app/shared/components/related-projects-dialog/related-projects-dialog.component.spec.ts
  src/app/shared/components/related-teams-dialog/related-teams-dialog.component.spec.ts
Due: eslint --fix, prettier --write

test: use a real RelationshipType in the related-teams/projects dialog specs (#869) (#889)
  src/app/shared/components/related-projects-dialog/related-projects-dialog.component.spec.ts
  src/app/shared/components/related-teams-dialog/related-teams-dialog.component.spec.ts
Due: eslint --fix, prettier --write

test: point E2E at the tmi-server NodePort instead of a port-forward
  playwright.config.ts
  src/environments/environment.e2e.ts
Due: eslint --fix, prettier --write

test: target the triage template column in survey-response-fields (#886)
  e2e/tests/field-coverage/survey-response-fields.spec.ts
Due: none

test: fix the two form-validation specs that could never pass
  e2e/tests/field-coverage/form-validation.spec.ts
Due: none

test: fill the required field before advancing survey pages, and assert the accessible boolean control
  e2e/tests/field-coverage/survey-fill-fields.spec.ts
Due: none

test: source the E2E API base URL from testConfig instead of hardcoding it
  e2e/config/test.config.ts
  e2e/flows/threat-model.flow.ts
Due: none

test: tear down DFD specs over the API instead of through the dashboard
  e2e/tests/field-coverage/dfd-edge-properties.spec.ts
  e2e/tests/field-coverage/dfd-icon-properties.spec.ts
Due: none

test: select DFD nodes by id rather than index (#882)
  e2e/tests/field-coverage/dfd-node-properties.spec.ts
Due: none

test: address code review — align every API URL and make the boolean assert real
  .github/workflows/e2e-tests.yml
  e2e/README.md
  e2e/tests/field-coverage/form-validation.spec.ts
  e2e/tests/field-coverage/survey-fill-fields.spec.ts
  e2e/tests/google-drive-live/link-google-account.spec.ts
  e2e/tests/google-drive-live/picker-flow.spec.ts
  e2e/tests/google-drive-live/unlink-clears-picker-metadata.spec.ts
  e2e/tests/workflows/google-drive-unlinked-prompt.spec.ts
Due: none

test: make E2E cleanup failures loud and stop depending on dashboard page 1
  e2e/flows/threat-model.flow.ts
  e2e/pages/dashboard.page.ts
  e2e/tests/field-coverage/asset-fields.spec.ts
  e2e/tests/field-coverage/dfd-edge-properties.spec.ts
  e2e/tests/field-coverage/dfd-icon-properties.spec.ts
  e2e/tests/field-coverage/dfd-node-properties.spec.ts
  e2e/tests/field-coverage/document-fields.spec.ts
  e2e/tests/field-coverage/form-validation.spec.ts
  e2e/tests/field-coverage/note-fields.spec.ts
  e2e/tests/field-coverage/repository-fields.spec.ts
  e2e/tests/field-coverage/threat-fields.spec.ts
  e2e/tests/field-coverage/tm-fields.spec.ts
Due: none

test: narrow the rethrown cleanup error to Error
  e2e/tests/field-coverage/dfd-edge-properties.spec.ts
  e2e/tests/field-coverage/dfd-icon-properties.spec.ts
  e2e/tests/field-coverage/dfd-node-properties.spec.ts
Due: none

test: fix all 16 E2E field-coverage failures (#882, #886) (#890)
  .github/workflows/e2e-tests.yml
  e2e/README.md
  e2e/config/test.config.ts
  e2e/flows/threat-model.flow.ts
  e2e/pages/dashboard.page.ts
  e2e/tests/field-coverage/asset-fields.spec.ts
  e2e/tests/field-coverage/dfd-edge-properties.spec.ts
  e2e/tests/field-coverage/dfd-icon-properties.spec.ts
  e2e/tests/field-coverage/dfd-node-properties.spec.ts
  e2e/tests/field-coverage/document-fields.spec.ts
  e2e/tests/field-coverage/form-validation.spec.ts
  e2e/tests/field-coverage/note-fields.spec.ts
  e2e/tests/field-coverage/repository-fields.spec.ts
  e2e/tests/field-coverage/survey-fill-fields.spec.ts
  e2e/tests/field-coverage/survey-response-fields.spec.ts
  e2e/tests/field-coverage/threat-fields.spec.ts
  e2e/tests/field-coverage/tm-fields.spec.ts
  e2e/tests/google-drive-live/link-google-account.spec.ts
  e2e/tests/google-drive-live/picker-flow.spec.ts
  e2e/tests/google-drive-live/unlink-clears-picker-metadata.spec.ts
  e2e/tests/workflows/google-drive-unlinked-prompt.spec.ts
  playwright.config.ts
  src/environments/environment.e2e.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
