Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

fix: update administrator types to match API specification
  src/app/core/services/administrator.service.ts
  src/app/pages/admin/administrators/add-administrator-dialog/add-administrator-dialog.component.ts
  src/app/pages/admin/administrators/admin-administrators.component.html
  src/app/pages/admin/administrators/admin-administrators.component.ts
  src/app/types/administrator.types.ts
Due: eslint --fix, prettier --write

fix: correct translation key for administrator remove button tooltip
  src/app/pages/admin/administrators/admin-administrators.component.html
Due: eslint --fix, prettier --write

fix: add consistent total-count styling to administrators page
  src/app/pages/admin/administrators/admin-administrators.component.scss
Due: prettier --write, stylelint --fix

fix: improve quotas and permissions dialog layouts
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.scss
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/admin/quotas/admin-quotas.component.scss
  src/app/pages/admin/quotas/admin-quotas.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: load and display provider info correctly in quotas tables
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/admin/quotas/admin-quotas.component.ts
Due: eslint --fix, prettier --write

fix: vertically center action button icons in quotas tables
  src/app/pages/admin/quotas/admin-quotas.component.scss
Due: prettier --write, stylelint --fix

fix: increase group members dialog width to prevent horizontal scrolling
  src/app/pages/admin/groups/admin-groups.component.ts
  src/app/pages/admin/groups/group-members-dialog/group-members-dialog.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: increase group members dialog width and adjust padding
  src/app/pages/admin/groups/admin-groups.component.ts
  src/app/pages/admin/groups/group-members-dialog/group-members-dialog.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: override maxWidth for group members dialog to prevent width constraint
  src/app/pages/admin/groups/admin-groups.component.ts
Due: eslint --fix, prettier --write

fix: use relative sizing for group members dialog content
  src/app/pages/admin/groups/group-members-dialog/group-members-dialog.component.scss
Due: prettier --write, stylelint --fix

fix: use relative sizing for permissions and add quota dialogs
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.scss
  src/app/pages/admin/quotas/admin-quotas.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: narrow type and role columns in permissions dialog
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: update admin delete endpoints to use internal_uuid path parameter
  src/app/core/services/group-admin.service.ts
  src/app/core/services/user-admin.service.ts
  src/app/pages/admin/users/admin-users.component.ts
Due: eslint --fix, prettier --write

test: add comprehensive unit tests for admin services
  src/app/core/services/group-admin.service.spec.ts
  src/app/core/services/user-admin.service.spec.ts
Due: eslint --fix, prettier --write

docs: add comprehensive unit test implementation plan
  docs/testing/README.md
  docs/testing/UNIT_TEST_CHECKLIST.md
  docs/testing/UNIT_TEST_IMPLEMENTATION_PLAN.md
  docs/testing/UNIT_TEST_PLAN_SUMMARY.md
Due: none

test: add unit tests for dialog-direction, operator, and addon services
  src/app/core/services/addon.service.spec.ts
  src/app/core/services/dialog-direction.service.spec.ts
  src/app/core/services/operator.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for administrator and quota services
  src/app/core/services/administrator.service.spec.ts
  src/app/core/services/quota.service.spec.ts
Due: eslint --fix, prettier --write

chore: format and verify build after adding service tests
  src/app/core/services/administrator.service.spec.ts
  src/app/core/services/quota.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for webhook and theme services
  src/app/core/services/theme.service.spec.ts
  src/app/core/services/webhook.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for server-connection service
  src/app/core/services/server-connection.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for CollaborationSessionService
  src/app/core/services/collaboration-session.service.spec.ts
  src/app/core/services/server-connection.service.spec.ts
  src/app/core/services/theme.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for DfdCollaborationService
  src/app/core/services/dfd-collaboration.service.spec.ts
  src/app/core/services/server-connection.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for ThreatModelAuthorizationService
  docs/testing/UNIT_TEST_PROGRESS.md
  package.json
  src/app/pages/tm/services/threat-model-authorization.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for IdTranslationService
  package.json
  src/app/pages/tm/services/import/id-translation.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for ReadonlyFieldFilterService
  package.json
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for ReferenceRewriterService
  src/app/pages/tm/services/import/reference-rewriter.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for AuthorizationPrepareService
  src/app/pages/tm/services/providers/authorization-prepare.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for ProviderAdapterService
  src/app/pages/tm/services/providers/provider-adapter.service.spec.ts
Due: eslint --fix, prettier --write

docs: update unit test progress tracking (16/40 complete)
  docs/testing/UNIT_TEST_PROGRESS.md
Due: none

test: add unit tests for UiTooltipService
  package.json
  src/app/pages/dfd/presentation/services/ui-tooltip.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for UiPresenterCoordinatorService
  package.json
  src/app/pages/dfd/presentation/services/ui-presenter-coordinator.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for UiPresenterCursorService and UiPresenterSelectionService
  docs/testing/UNIT_TEST_PROGRESS.md
  package.json
  src/app/pages/dfd/presentation/services/ui-presenter-cursor.service.spec.ts
  src/app/pages/dfd/presentation/services/ui-presenter-selection.service.spec.ts
  src/app/shared/services/cell-data-extraction.service.spec.ts
  src/app/shared/services/form-validation.service.spec.ts
  src/app/shared/services/framework.service.spec.ts
  src/app/shared/services/notification.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for LanguageService and TranslocoHttpLoader
  docs/testing/UNIT_TEST_PROGRESS.md
  package.json
  src/app/i18n/language.service.spec.ts
  src/app/i18n/transloco-loader.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for AppExportService
  docs/testing/UNIT_TEST_PROGRESS.md
  package.json
  src/app/pages/dfd/application/services/app-export.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for AppSvgOptimizationService
  docs/testing/UNIT_TEST_PROGRESS.md
  package.json
  src/app/pages/dfd/application/services/app-svg-optimization.service.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for AppDiagramLoadingService
  src/app/pages/dfd/application/services/app-diagram-loading.service.spec.ts
  src/app/pages/dfd/application/services/test-helpers/mock-services.ts
Due: eslint --fix, prettier --write

docs: update unit test progress tracking (29/40 complete)
  docs/testing/UNIT_TEST_PROGRESS.md
Due: none

test: add unit tests for AppOperationStateManager
  src/app/pages/dfd/application/services/app-operation-state-manager.service.spec.ts
  src/app/pages/dfd/application/services/test-helpers/mock-services.ts
Due: eslint --fix, prettier --write

docs: update unit test progress tracking (30/40 complete)
  docs/testing/UNIT_TEST_PROGRESS.md
Due: none

test: add unit tests for AppDiagramOperationBroadcaster
  package.json
  src/app/pages/dfd/application/services/app-diagram-operation-broadcaster.service.spec.ts
Due: eslint --fix, prettier --write
