Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: rename sort-json.py to check-i18n.py
  package.json
  scripts/check-i18n.py
Due: none

feat: integrate collaboration session indicators into dashboard TM cards and table rows
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.scss
  src/app/pages/dashboard/dashboard.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: add null-safety and diagnostic logging to addon menu loading
  src/app/core/services/addon.service.spec.ts
  src/app/core/services/addon.service.ts
  src/app/pages/tm/components/note-page/note-page.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: prevent addon name/description overflow in System Addons table
  src/app/pages/admin/addons/admin-addons.component.html
  src/app/pages/admin/addons/admin-addons.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: stop action button clicks propagating to row in survey templates table
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/admin-surveys.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add column sorting to survey templates table
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/admin-surveys.component.ts
Due: eslint --fix, prettier --write

chore: rename "template(s)" to "survey(s)" in admin surveys i18n strings
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: deduplicate i18n keys by converting duplicates to references
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: resolve false positives in unused i18n key detection script
  scripts/check-unused-i18n-keys.cjs
Due: none

fix: use common.objectTypes.surveys for admin surveys section title
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: remove homeDescription from non-English locale files
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: remove triage.filters.allTemplates from non-English locale files
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: remove triage.list.searchPlaceholder from non-English locale files
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: remove admin.sections.surveys.description from non-English locale files
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

feat: backfill missing translations for survey keys across all 15 languages
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

feat: update GroupMember types and dialog for API schema changes
  docs/api-notes/group-member-removal.md
  src/app/core/services/group-admin.service.spec.ts
  src/app/core/services/group-admin.service.ts
  src/app/pages/admin/groups/group-members-dialog/group-members-dialog.component.html
  src/app/pages/admin/groups/group-members-dialog/group-members-dialog.component.ts
  src/app/types/group.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: instruct localization-backfill sub-agents not to commit
  .claude/commands/localization-backfill.md
Due: none

feat: align removeMember with updated API using member_uuid and subject_type
  docs/api-notes/group-member-removal.md
  src/app/core/services/group-admin.service.spec.ts
  src/app/core/services/group-admin.service.ts
  src/app/pages/admin/groups/group-members-dialog/group-members-dialog.component.ts
Due: eslint --fix, prettier --write

fix: add space between "Hosted by" label and host name in collaboration session details
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/tm/tm.component.html
Due: eslint --fix, prettier --write

fix: fetch diagram metadata on demand since list endpoint excludes it
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: reorder navbar buttons to intake, dashboard, triage, admin
  src/app/core/components/navbar/navbar.component.html
Due: eslint --fix, prettier --write

fix: address UI issues #387, #389, #390, #391, #392
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/groups/admin-groups.component.ts
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/dashboard/dashboard.component.html
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: add close button to triage page navigating to dashboard
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.scss
  src/app/pages/triage/components/triage-list/triage-list.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: reorder nav buttons to intake, triage, dashboard, admin
  src/app/core/components/navbar/navbar.component.html
Due: eslint --fix, prettier --write

feat: add config settings to suppress footer links
  src/app/core/components/footer/footer.component.html
  src/app/core/components/footer/footer.component.ts
  src/environments/environment.example.ts
  src/environments/environment.interface.ts
Due: eslint --fix, prettier --write

feat: remove administrator management feature
  src/app/app.routes.ts
  src/app/core/services/administrator.service.spec.ts
  src/app/core/services/administrator.service.ts
  src/app/pages/admin/admin.component.ts
  src/app/pages/admin/administrators/add-administrator-dialog/add-administrator-dialog.component.ts
  src/app/pages/admin/administrators/admin-administrators.component.html
  src/app/pages/admin/administrators/admin-administrators.component.scss
  src/app/pages/admin/administrators/admin-administrators.component.ts
  src/app/types/administrator.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

docs: add issue closure requirement to task completion checklist
  .claude/CLAUDE.md
Due: none

chore: translate navbar.admin for de-DE and es-ES
  src/assets/i18n/de-DE.json
  src/assets/i18n/es-ES.json
Due: prettier --write

chore: add cognates and loanwords to i18n allowlist
  src/assets/i18n/i18n-allowlist.json
Due: prettier --write

feat: restyle intake page as security review request page
  src/app/pages/surveys/components/survey-list/survey-list.component.html
  src/app/pages/surveys/components/survey-list/survey-list.component.scss
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/en-US.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: remove Administration button from user preferences Danger tab
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: add unarchive action for surveys on admin page
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/surveys/services/survey.service.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: add confidential threat models and ownership transfer
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/services/user-admin.service.ts
  src/app/core/services/user.service.ts
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/dashboard/create-threat-model-dialog/create-threat-model-dialog.component.ts
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/surveys/components/survey-confidential-dialog/survey-confidential-dialog.component.ts
  src/app/pages/surveys/components/survey-list/survey-list.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.scss
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.ts
  src/app/types/transfer.types.ts
  src/assets/i18n/en-US.json
  src/environments/environment.example.ts
  src/environments/environment.interface.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: group tm-edit cards into Inputs and Outputs sections
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
  src/app/pages/tm/tm-edit.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: scope empty-state icon sizing to direct child only
  src/app/pages/admin/surveys/admin-surveys.component.scss
Due: prettier --write, stylelint --fix

fix: scope empty-state icon sizing in my-responses component
  src/app/pages/surveys/components/my-responses/my-responses.component.scss
Due: prettier --write, stylelint --fix

feat: localize my-responses page and add multi-select status filter
  src/app/pages/surveys/components/my-responses/my-responses.component.html
  src/app/pages/surveys/components/my-responses/my-responses.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

chore: backfill translations for my-responses localization keys
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
