Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: backfill translations for 15 localization files
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: remove unused imports from user preferences dialog
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add allowlist support to i18n validation tool
  scripts/sort-json.py
  src/assets/i18n/i18n-allowlist.json
Due: prettier --write

fix: widen user preferences dialog for client credentials table
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

fix: use multi-line table cells for client credentials
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

fix: prevent tab header scrolling in user preferences dialog
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

fix: widen credentials tab content area
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

feat: replace status column with expires date in credentials table
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: increase user preferences dialog width to 800px
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

feat: improve button and card styles in admin UI
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/admin/admin.component.html
  src/app/pages/admin/admin.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add Download Model button to diagrams table in tm-edit
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

fix: use text response type for YAML and GraphML diagram model downloads
  src/app/core/services/api.service.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: update common.saveAndClose label from "Save & Close" to "Save and Close"
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

refactor: move trailing colons from i18n strings to templates
  src/app/pages/about/about.component.html
  src/app/pages/privacy/privacy.component.html
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.html
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tos/tos.component.html
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: limit description column width in tm-edit tables
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: renamed localized string keys to match new translations
  package.json
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: add user preference for showing developer tools
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: add operational logs and extensibility features to privacy policy
  src/app/pages/privacy/privacy.component.html
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: prevent race conditions in threat model status auto-save
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

chore: adding dosu configuration
  .dosu.yml
  package.json
Due: none

chore(deps): update dev dependencies
  package.json
  pnpm-lock.yaml
Due: none

feat: add bump command for safe dependency updates
  .claude/commands/bump.md
Due: none

chore(deps): update Angular packages to 20.3.16
  package.json
  pnpm-lock.yaml
Due: none

fix: skip Claude code review for Dependabot PRs
  .github/workflows/claude-code-review.yml
Due: none

refactor: rename 'test' oauth provider to 'tmi'
  e2e/README.md
  e2e/config/test.config.ts
  e2e/helpers/auth.ts
  e2e/helpers/oauth-credentials.ts
  e2e/tests/auth.spec.ts
  e2e/tests/dfd-basic.spec.ts
  e2e/tests/navigation.spec.ts
  e2e/tests/smoke.spec.ts
  e2e/tests/threat-models.spec.ts
  src/app/auth/auth-integration.spec.ts
  src/app/auth/components/login/login.component.scss
  src/app/auth/components/login/login.component.ts
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/core/types/websocket-message.types.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: update hono to 4.11.4 to address CVE-2026-22817 and CVE-2026-22818
  package.json
  pnpm-lock.yaml
Due: none

fix: prevent threat editor dialog from closing on RTL languages
  src/app/core/services/dialog-direction.service.spec.ts
  src/app/core/services/dialog-direction.service.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
Due: eslint --fix, prettier --write

fix: register Angular locale data for all supported languages
  src/main.ts
Due: eslint --fix, prettier --write

fix: address tar CVE-2026-23745 and bump patch dependencies
  package.json
  pnpm-lock.yaml
Due: none

docs: update Data Sharing section of privacy policy with AI processing disclosure
  src/app/pages/privacy/privacy.component.html
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

chore: update Japanese localization with privacy policy changes
  src/assets/i18n/ja-JP.json
Due: prettier --write

fix: update German privacy policy translations for extensibility and AI features
  src/assets/i18n/de-DE.json
Due: prettier --write

fix: update Hebrew privacy policy for AI processing features
  src/assets/i18n/he-IL.json
Due: prettier --write

fix: update Arabic privacy policy with AI processing features
  src/assets/i18n/ar-SA.json
Due: prettier --write

chore: update French localization with privacy policy changes
  src/assets/i18n/fr-FR.json
Due: prettier --write

fix: update Indonesian privacy policy with AI processing disclosure
  src/assets/i18n/id-ID.json
Due: prettier --write

fix: update Korean localization for privacy policy AI processing disclosure
  src/assets/i18n/ko-KR.json
Due: prettier --write

fix: update Spanish privacy policy for AI processing features
  src/assets/i18n/es-ES.json
Due: prettier --write

chore(i18n): update Bengali privacy policy for AI processing features
  src/assets/i18n/bn-BD.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
