Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

test: debug hook
  test.txt
Due: none

refactor: fix version bump hook to run on -m commits
  .husky/prepare-commit-msg
  test.txt
Due: none

docs: update readme with version info
  README.md
  package.json
Due: none

chore: add prepare script to configure git hooks on install
  package.json
Due: none

chore: update semantic auto-versioning; update task completion requirements in CLAUDE.md
  package.json
Due: none

chore: update task completion requirements in CLAUDE.md
  .claude/CLAUDE.md
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

fix: make prepare script fail silently when git is unavailable
  package.json
Due: none

fix: prevent duplicate cells from being loaded into DFD graph
  src/app/pages/dfd/application/services/app-diagram.service.ts
Due: eslint --fix, prettier --write

chore: update to claude settings
  .claude/settings.local.json
Due: none

chore: bump version
  package.json
Due: none

fix: resolve collaboration diagram loading issues
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.ts
Due: eslint --fix, prettier --write

refactor: dramatically simplify autosave mechanism
  mouse.css
  mouse_index.html
  src/app/pages/dfd/application/services/app-auto-save-manager.service.old.ts
  src/app/pages/dfd/application/services/app-auto-save-manager.service.spec.ts
  src/app/pages/dfd/application/services/app-auto-save-manager.service.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-local-storage.adapter.ts
  src/app/pages/dfd/infrastructure/strategies/infra-cache-only-persistence.strategy.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
  src/app/pages/dfd/infrastructure/strategies/infra-websocket-persistence.strategy.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: check actual WebSocket connection before using WebSocket save strategy
  mouse.css
  mouse_index.html
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

refactor: remove redundant collaboration state from orchestrator
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.spec.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

chore: add missing translation key for 'Open in New Tab'
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

fix: exclude embedding style updates from undo history
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

fix: comprehensive fixes for embedding
  docs/analysis/embedding-improvements-qa.md
  docs/analysis/security-boundary-z-order-edge-cases.md
  docs/testing/embedding-integration-test-cases.md
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-graph-history-coordinator.service.ts
  src/app/pages/dfd/application/services/app-notification.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.ts
  src/app/pages/dfd/infrastructure/embedding-operations-integration.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

chore: version bump
  package.json
Due: none

chore: adding script to replicate server docs
  package.json
  pnpm-lock.yaml
  scripts/copy-docs.js
Due: none

fix: eliminating commit loop for changes to package.json
  .husky/prepare-commit-msg
Due: none

fix: align cell validation with OpenAPI spec using shape discriminator
  src/app/mocks/factories/cell.factory.ts
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/validation/diagram-validators.ts
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
Due: eslint --fix, prettier --write

fix: align threat model export/import with OpenAPI specification
  .claude/CLAUDE.md
  src/app/mocks/factories/cell.factory.ts
  src/app/pages/dfd/domain/value-objects/node-info.spec.ts
  src/app/pages/dfd/domain/value-objects/node-info.ts
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/validation/diagram-validators.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
  src/assets/mock-data/threat-model-1.json
  src/assets/mock-data/threat-model-2.json
  src/assets/mock-data/threat-model-3.json
Due: eslint --fix, prettier --write

chore: update logout button text from "Log Out" to "Sign Out"
  src/app/mocks/factories/cell.factory.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

feat: add loading spinners to dashboard for threat models and collaboration sessions
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
  src/app/pages/tm/tm.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: capitalize "Diagrams" label in threat model cards
  src/assets/i18n/en-US.json
Due: prettier --write

fix: fixed threat model import validator to support UUIDv7
  src/app/pages/tm/validation/base-validator.ts
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
Due: eslint --fix, prettier --write

bumping version
  package.json
Due: none

fix: new nodes always placed in viewport
  src/app/pages/dfd/infrastructure/services/infra-node.service.ts
Due: eslint --fix, prettier --write

fix: error updating existing threat
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
Due: eslint --fix, prettier --write

minor version bump
  package.json
Due: none

feat: added threat model name and diagram name to dfd edit page
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.scss
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

version bump
  package.json
Due: none

fix: resolve test failures and lint warnings
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.spec.ts
  src/app/pages/dfd/infrastructure/embedding-operations-integration.spec.ts
  src/app/pages/tm/models/diagram.model.ts
Due: eslint --fix, prettier --write

fix: suppress history for embedding style updates during diagram load
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
Due: eslint --fix, prettier --write

feat: improve page titles and legal content links
  src/app/pages/about/about.component.html
  src/app/pages/about/about.component.scss
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.scss
  src/app/pages/tos/tos.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add Roboto Mono and Noto Sans fonts to open source credits
  src/app/pages/about/about.component.html
  src/app/pages/about/about.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

docs: update Terms of Service content and date
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

docs: consolidate DFD interaction documentation and improve embedding implementation
  docs/analysis/embedding-improvements-qa.md
  docs/analysis/security-boundary-z-order-edge-cases.md
  docs/reference/architecture/dfd-change-propagation/test-impact-analysis.md
  docs/reference/features/dfd-graph-interaction.md
  docs/reference/features/dfd-user-interaction-guide.md
  docs/testing/dfd-interaction-test-cases.md
  docs/testing/embedding-integration-test-cases.md
  src/app/pages/dfd/constants/styling-constants.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
