Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

chore: update .gitignore
  .gitignore
Due: none

feat: add AWS ECR deployment scripts
  package.json
  scripts/push-ecr.sh
Due: none

chore: rename ECR deploy scripts to deploy:aws namespace
  package.json
Due: none

fix: normalize health check status code comparison to be case-insensitive
  package.json
  src/app/core/services/server-connection.service.ts
Due: eslint --fix, prettier --write

chore(deps): bump Node/pnpm dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): remove unused hono and MCP SDK dependencies
  package.json
  pnpm-lock.yaml
Due: none

refactor: replace hardcoded OCIR config with auto-discovery in push-oci.sh
  scripts/push-oci.sh
Due: none

fix: add OCI_COMPARTMENT_ID support to push-oci.sh repo discovery
  scripts/push-oci.sh
Due: none

chore: set OCI_COMPARTMENT_ID in deploy:oci script
  package.json
Due: none

fix: resolve compartment name to OCID in push-oci.sh discovery
  scripts/push-oci.sh
Due: none

chore: enabling claude hooks
  .claude/CLAUDE.md
  .claude/settings.local.json
Due: none

fix: preserve node fill/stroke colors through save/reload cycle
  .gitignore
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.spec.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.spec.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
  src/app/pages/dfd/utils/cell-extraction.util.spec.ts
  src/app/pages/dfd/utils/cell-extraction.util.ts
Due: eslint --fix, prettier --write

fix: use Oracle Linux base image for OCI build stage
  Dockerfile.oci
Due: none

fix: use Oracle Linux 9-slim from Oracle Container Registry for OCI builds
  Dockerfile.oci
Due: none

feat: add client and server build/version info to bug report
  .gitignore
  package.json
  scripts/generate-build-info.sh
  scripts/push-chainguard.sh
  scripts/push-ecr.sh
  scripts/push-heroku.sh
  scripts/push-oci.sh
  src/app/core/components/navbar/navbar.component.ts
  src/app/pages/about/about.component.ts
Due: eslint --fix, prettier --write

chore: require code review skill before commit in CLAUDE.md
  .claude/CLAUDE.md
Due: none

refactor: use generated API input types for ThreatModelService create/update methods
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

chore: pass session_id to WebSocket ticket endpoint
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: handle object elements in survey response arrays
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
Due: eslint --fix, prettier --write

feat: add snackbar feedback for triage workflow operations
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

chore: backfill triage message translations for all 15 locales
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: add survey name, copy-to-clipboard, and remove reviewed date from triage detail
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.scss
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: add kebab menu design spec for issue #481
  docs/superpowers/specs/2026-03-14-kebab-menu-design.md
Due: none

docs: add kebab menu implementation plan for issue #481
  docs/superpowers/plans/2026-03-14-kebab-menu-plan.md
Due: none

refactor: move tm-edit action buttons into kebab menus (#481)
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

refactor: move threat-page header actions into kebab menu (#481)
  src/app/pages/tm/components/threat-page/threat-page.component.html
Due: eslint --fix, prettier --write

refactor: move note-page header actions into kebab menu (#481)
  src/app/pages/tm/components/note-page/note-page.component.html
Due: eslint --fix, prettier --write

refactor: move TM list page header and card actions into kebab menu (#481)
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.ts
Due: eslint --fix, prettier --write

fix: remove color="warn" from Delete icons inside kebab menus (#481)
  src/app/pages/tm/components/note-page/note-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm.component.html
Due: eslint --fix, prettier --write

refactor: move admin page actions into kebab menus (#481)
  src/app/pages/admin/addons/admin-addons.component.html
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/admin/settings/admin-settings.component.html
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/webhooks/admin-webhooks.component.html
Due: eslint --fix, prettier --write

refactor: move survey page actions into kebab menus (#481)
  src/app/pages/surveys/components/my-responses/my-responses.component.html
  src/app/pages/surveys/components/survey-list/survey-list.component.html
Due: eslint --fix, prettier --write

fix: correct card header kebab menu positioning - kebab should be last (#481)
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

fix: move conditional logic help button into expansion panel header (#489)
  .gitignore
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: add source and read_only fields to SystemSetting type (#486)
  src/app/core/services/settings-admin.service.spec.ts
  src/app/types/settings.types.ts
Due: eslint --fix, prettier --write

refactor: update settings table columns, add source and read-only support (#486)
  src/app/pages/admin/settings/admin-settings.component.html
  src/app/pages/admin/settings/admin-settings.component.ts
Due: eslint --fix, prettier --write

refactor: remove unused type-badge and description styles from settings table (#486)
  src/app/pages/admin/settings/admin-settings.component.scss
Due: prettier --write, stylelint --fix
