Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: open external markdown links in new tab
  src/app/app.config.ts
Due: eslint --fix, prettier --write

feat: add smooth scrolling for internal markdown links
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add heading IDs and smooth scrolling for internal markdown links
  src/app/app.config.ts
Due: eslint --fix, prettier --write

fix: track all form fields for unsaved changes detection
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
Due: eslint --fix, prettier --write

feat: implement comprehensive threat model import with nested object support
  src/app/pages/tm/services/import/id-translation.service.ts
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
  src/app/pages/tm/services/import/reference-rewriter.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
  src/app/pages/tm/tm.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: add i18n translations for import spinner message
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

fix: separate diagram creation and cell update in threat model import
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: always create new threat model on import instead of checking for conflicts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm.component.ts
Due: eslint --fix, prettier --write

fix: filter description field from diagram create request
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
Due: eslint --fix, prettier --write

fix: filter image field from diagram create request
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
Due: eslint --fix, prettier --write

fix: include created_at and modified_at in diagram PUT request
  src/app/pages/tm/services/import/import-orchestrator.service.ts
Due: eslint --fix, prettier --write

fix: filter edge shape field and normalize label positions for API compatibility
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
  src/app/pages/tm/services/import/reference-rewriter.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

fix: ensure edge cells have shape field for API discriminator validation
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
Due: eslint --fix, prettier --write

fix: remove label position normalization to preserve X6 native format
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
Due: eslint --fix, prettier --write

fix: remove readOnly fields from diagram PUT request during import
  src/app/pages/tm/services/import/import-orchestrator.service.ts
Due: eslint --fix, prettier --write

chore: update dependencies and fix phantom versions
  package.json
  pnpm-lock.yaml
Due: none

chore: allowing pip3 in claude settings
  .claude/settings.local.json
Due: none

chore: version bump
  package.json
Due: none

feat: add color differentiation to threat model page title
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: Updating README
  README.md
Due: none

chore(deps): update dependencies from dependabot
  package.json
  pnpm-lock.yaml
Due: none

test: update and clean up skipped tests
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/infrastructure/embedding-operations-integration.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
Due: eslint --fix, prettier --write

feat: implement read-only mode for all dialog components
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.html
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.html
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.html
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.ts
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.html
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

docs: add threat model edit component analysis and implementation guides
  README_TM_EDIT_ANALYSIS.md
  TM_EDIT_IMPLEMENTATION_EXAMPLES.md
  TM_EDIT_QUICK_REFERENCE.md
  TM_EDIT_READONLY_ANALYSIS.md
Due: none

fix: force token refresh when user extends session
  src/app/auth/services/auth.service.ts
  src/app/auth/services/session-manager.service.spec.ts
  src/app/auth/services/session-manager.service.ts
Due: eslint --fix, prettier --write

chore: clean up misplaced documents
  docs/analysis/OPENAPI_X6_NORMALIZATION.md
  docs/analysis/README_TM_EDIT_ANALYSIS.md
  docs/analysis/TM_EDIT_IMPLEMENTATION_EXAMPLES.md
  docs/analysis/TM_EDIT_QUICK_REFERENCE.md
  docs/analysis/TM_EDIT_READONLY_ANALYSIS.md
Due: none

fix: improve read-only mode UI consistency and accessibility
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/styles/colors.scss
  src/styles/component-overrides.scss
  src/styles/material-theme.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: centralize cell filtering to remove tools property from persistence and history
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/utils/cell-normalization.util.ts
Due: eslint --fix, prettier --write

fix: prevent local changes from broadcasting in read-only mode
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-operation-broadcaster.service.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

fix: use theme-aware colors in permissions dialog info section
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: disable framework dropdown for read-only users
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

chore: minor localization cleanup, adding plan for status/severity/priority values.
  docs/reference/features/status-severity-priority-values.md
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

refactor: deduplicate localization keys across all language files
  scripts/dedup-localization.sh
  src/app/auth/components/local-user-select/local-user-select.component.ts
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.html
  src/app/core/components/footer/footer.component.html
  src/app/pages/privacy/privacy.component.html
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.html
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/services/threat-model-report.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm.component.html
  src/app/pages/tos/tos.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

feat(threat-model): implement rich dropdown values for status, severity, and priority
  docs/reference/features/status-severity-priority-values.md
  scripts/add-missing-translations.sh
  scripts/migrate-status-severity-priority-keys.sh
  src/app/mocks/factories/threat.factory.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.html
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/models/tm-list-item.model.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/shared/utils/field-value-helpers.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

feat: add missing i18n translations
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

feat(threat-model): add backward compatibility layer for legacy field values
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(threat-model): add numeric severity class support for threat chips
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
