Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Tweaking collaboration button
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
Due: eslint --fix, prettier --write

Renaming repurposed method
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
Due: eslint --fix, prettier --write

Fixing context menu position bug
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Updating gitignore
  .gitignore
Due: none

Cleaning up node modules after bump
  pnpm-lock.yaml
Due: none

Cleaned up localization after collaboration refactor
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Updated presenter message handlers, synced specs from server
  shared-api/api-specs/api-workflows.json
  shared-api/api-specs/tmi-asyncapi.yml
  shared-api/docs/CLIENT_INTEGRATION_GUIDE.md
  shared-api/docs/WORKFLOW GENERATION PROMPT.md
  src/app/core/services/tmi-message-handler.service.ts
  src/app/pages/dfd/services/dfd-websocket.service.ts
Due: eslint --fix, prettier --write

Removing REST-based collaboration session join; websockets only. Fixing end-of-session client behavior.
  src/app/core/interfaces/threat-model.interface.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/tmi-message-handler.service.ts
  src/app/pages/dfd/services/dfd-websocket.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Adding SVG cursor for presenter mode
  .claude/settings.local.json
  public/big-red-pointer.svg
Due: none

Renamed presenter cursor file
  public/presenter-cursor.svg
Due: none

presenter mode implementation; presenter cursor and selection support
  docs/PRESENTER_MODE_IMPLEMENTATION.md
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/constants/presenter-constants.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/presenter-coordinator.service.ts
  src/app/pages/dfd/services/presenter-cursor-display.service.ts
  src/app/pages/dfd/services/presenter-cursor.service.ts
  src/app/pages/dfd/services/presenter-selection.service.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Simplified collaboration session connection; removed too-aggressive reconnect logic
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/websocket.adapter.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/collaborative-operation.service.ts
Due: eslint --fix, prettier --write

Fixing presenter-related bugs
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/presenter-cursor.service.ts
  src/app/pages/dfd/services/presenter-selection.service.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Fixing presenter bugs
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/services/presenter-cursor-display.service.ts
  src/app/pages/dfd/services/presenter-selection.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

diagnosing presenter cursor issues
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/services/presenter-cursor-display.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

New cursor sharing algorithm to address frame-of-reference issues
  .gitignore
  src/app/pages/dfd/constants/presenter-constants.ts
  src/app/pages/dfd/services/presenter-cursor-display.service.ts
  src/app/pages/dfd/services/presenter-cursor.service.ts
Due: eslint --fix, prettier --write

Completed presenter mode, updated readme with demo video
  README.md
  src/app/pages/dfd/services/presenter-cursor-display.service.ts
Due: eslint --fix, prettier --write

updating shared docs
  shared-api/api-specs/tmi-openapi.json
  shared-api/docs/COLLABORATION_SESSION_BEHAVIOR.md
  shared-api/docs/List of WebSocket messages.md
  shared-api/docs/stepci-integration-testing-plan.md
Due: none

Bump @typescript-eslint/eslint-plugin from 8.41.0 to 8.42.0
  package.json
  pnpm-lock.yaml
Due: none

Updating Vite to 7.1.5 to address server.fs vulnerability
  package.json
  pnpm-lock.yaml
Due: none

Adding node.js engine v20.x to package.json
  package.json
Due: none

Fixing heroku build issue
  package.json
  pnpm-lock.yaml
Due: none

More heroku build failures
  package.json
  pnpm-lock.yaml
Due: none

Updating app so that it will run in production environments
  Procfile
  package.json
  pnpm-lock.yaml
  server.js
Due: none

Cleaning up collaboration session controls
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/services/presenter-cursor-display.service.ts
  src/app/pages/dfd/services/presenter-cursor.service.ts
Due: eslint --fix, prettier --write

Updated localization and format of session cards on dashboard
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
  src/app/pages/tm/tm.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Tweaking collaboration session controls
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Cleaning up failed attempts to fix button focus issue
  src/app/app.config.ts
  src/app/core/services/dialog-direction.service.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Fixed button focus/event propagation issue
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-keyboard-handler.service.ts
  src/app/pages/dfd/services/presenter-cursor-display.service.ts
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Fixed errors in threat editor dialog and permissions dialog
  shared-api/api-specs/tmi-asyncapi.yml.backup
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

Threat edit dialog enhancements to diagram and cell id selection
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
  src/app/pages/dfd/services/dfd-facade.service.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.html
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.scss
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/shared/services/cell-data-extraction.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Inverse connection tweaks
  src/app/pages/dfd/services/dfd-edge.service.spec.ts
  src/app/pages/dfd/services/dfd-edge.service.ts
Due: eslint --fix, prettier --write

Fixing permissions bug
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

Fixing lint and test issues
  src/app/pages/dfd/infrastructure/adapters/x6-keyboard-handler.spec.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/shared/services/cell-data-extraction.service.ts
Due: eslint --fix, prettier --write

Remove participant handling
  src/app/core/interfaces/collaboration-notification.interface.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/tmi-message-handler.service.ts
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
  src/app/pages/dfd/services/dfd-facade.service.ts
  src/app/pages/dfd/services/dfd-notification.service.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/shared/services/cell-data-extraction.service.ts
Due: eslint --fix, prettier --write

added script to make dev build network accessible
  package.json
Due: none

Changing "WARNING" loglevel to "WARN"
  AGENTS.md
  README.md
  scripts/check-security.ts
  src/app/core/services/README.md
  src/app/core/services/logger.service.spec.ts
  src/app/core/services/logger.service.ts
  src/app/pages/dfd/services/dfd-notification.service.ts
  src/environments/README.md
  src/environments/environment.example.ts
  src/environments/environment.interface.ts
  src/environments/environment.staging.ts
  src/environments/environment.test.ts
Due: eslint --fix, prettier --write

Fixing post-refactor errors
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/dialog-direction.service.ts
  src/app/core/services/tmi-message-handler.service.ts
  src/app/core/types/websocket-message.types.ts
  src/app/i18n/language.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-state.service.ts
  src/app/pages/dfd/services/websocket.service.ts
  src/app/pages/tm/models/diagram.model.ts
Due: eslint --fix, prettier --write

Fixing diagram metadata loading
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

Fixing bidirectional dialog issue, lint fixes, stale doc removal
  context/Collaboration Session Participant Manage Mockup.png
  context/DFD_PUBLIC_API_REFERENCE.md
  context/Developers Guide AntVX6 Graphing Library v2.md
  docs/ARCHITECTURE_TODO.md
  docs/ARCHITECTURE_VIOLATIONS.md
  docs/BUNDLE_SIZE_ANALYSIS.md
  docs/COLLABORATIVE_EDITING.md
  docs/DFD_GRAPH_INTERACTION.md
  docs/PRESENTER_MODE_IMPLEMENTATION.md
  docs/WEBSOCKET_COLLABORATION.md
  docs/adr/001-standalone-components.md
  docs/adr/002-service-provisioning-patterns.md
  docs/adr/003-abstraction-layer-pattern.md
  docs/adr/004-websocket-communication-patterns.md
  docs/adr/README.md
  docs/archive/WEBSOCKET_MIGRATION_PLAN.md
  docs/archive/x6-integration.md
  docs/debug-component-names.md
  docs/enhanced-save-behavior-implementation-plan.md
  src/app/core/services/dialog-direction.service.ts
  src/app/pages/dfd/components/collaboration-dialog/collaboration-dialog.component.ts
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
