Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

feat: localize admin-users table and fix action button layout
  .claude/commands/localization-backfill.md
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/users/admin-users.component.scss
  src/app/pages/admin/users/admin-users.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: localize admin table columns and add MatSort to all data tables
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/groups/admin-groups.component.ts
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/admin/quotas/admin-quotas.component.ts
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/surveys/components/my-responses/my-responses.component.html
  src/app/pages/surveys/components/my-responses/my-responses.component.ts
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

chore: bump patch dependencies (@playwright/test, @types/node, hono)
  package.json
  pnpm-lock.yaml
Due: none

chore: bump patch dependencies (@playwright/test, @types/node)
  package.json
  pnpm-lock.yaml
Due: none

chore: bump hono to 4.11.9, add webpack override (sync with main)
  package.json
  pnpm-lock.yaml
Due: none

chore: add technical type names to i18n allowlist
  src/assets/i18n/i18n-allowlist.json
Due: prettier --write

feat: add admin settings page (closes #386)
  src/app/app.routes.ts
  src/app/core/services/settings-admin.service.spec.ts
  src/app/core/services/settings-admin.service.ts
  src/app/pages/admin/admin.component.ts
  src/app/pages/admin/settings/add-setting-dialog/add-setting-dialog.component.ts
  src/app/pages/admin/settings/admin-settings.component.html
  src/app/pages/admin/settings/admin-settings.component.scss
  src/app/pages/admin/settings/admin-settings.component.ts
  src/app/pages/admin/settings/migrate-dialog/migrate-dialog.component.ts
  src/app/types/settings.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: style SurveyJS to match TMI look and feel (closes #388)
  src/app/pages/surveys/components/response-detail/response-detail.component.ts
  src/app/pages/surveys/components/survey-fill/survey-fill.component.scss
  src/app/pages/surveys/components/survey-fill/survey-fill.component.ts
  src/app/pages/surveys/services/survey-theme.service.spec.ts
  src/app/pages/surveys/services/survey-theme.service.ts
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: add revision notes dialog to Return for Revision button
  src/app/pages/triage/components/revision-notes-dialog/revision-notes-dialog.component.html
  src/app/pages/triage/components/revision-notes-dialog/revision-notes-dialog.component.scss
  src/app/pages/triage/components/revision-notes-dialog/revision-notes-dialog.component.ts
  src/app/pages/triage/components/revision-notes-dialog/revision-notes-dialog.types.ts
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: scope error-container icon styles to direct children only
  src/app/pages/surveys/components/survey-list/survey-list.component.scss
Due: prettier --write, stylelint --fix

feat: add Chainguard container image with runtime environment configuration
  Dockerfile.chainguard
  angular.json
  package.json
  scripts/push-chainguard.sh
  server.js
  src/environments/environment.container.ts
  src/main.ts
Due: eslint --fix, prettier --write

chore: remove extra blank line in survey-theme.service.spec.ts
  src/app/pages/surveys/services/survey-theme.service.spec.ts
Due: eslint --fix, prettier --write

feat: add survey name and version editing across admin UI
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/admin-surveys.component.scss
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/admin/surveys/components/create-survey-dialog/create-survey-dialog.component.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.scss
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.ts
  src/app/pages/surveys/services/survey.service.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: replace mat-list with flex rows for draft items in survey list
  src/app/pages/surveys/components/my-responses/my-responses.component.scss
  src/app/pages/surveys/components/survey-list/survey-list.component.html
  src/app/pages/surveys/components/survey-list/survey-list.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: style tm-edit section headers with cyan title, surface background, and larger chevron
  src/app/pages/tm/tm-edit.component.scss
Due: prettier --write, stylelint --fix

feat: overhaul triage page with inline actions, status dropdown, and default filter
  src/app/pages/surveys/services/survey-response.service.spec.ts
  src/app/pages/surveys/services/survey-response.service.ts
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.scss
  src/app/pages/triage/components/triage-list/triage-list.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: replace triage status dropdown with chips and contextual action buttons
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.scss
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add revision notes, reviewer info, and triage notes to triage detail
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.scss
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
  src/app/pages/triage/services/triage-note.service.spec.ts
  src/app/pages/triage/services/triage-note.service.ts
  src/app/types/triage-note.types.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: redesign triage detail layout with expandable sections and markdown note editor
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.scss
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
  src/app/pages/triage/components/triage-note-editor-dialog/triage-note-editor-dialog.component.html
  src/app/pages/triage/components/triage-note-editor-dialog/triage-note-editor-dialog.component.scss
  src/app/pages/triage/components/triage-note-editor-dialog/triage-note-editor-dialog.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: replace back arrow with close button on triage detail page
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: replace back arrow with close button on intake response detail page
  src/app/pages/surveys/components/response-detail/response-detail.component.html
  src/app/pages/surveys/components/response-detail/response-detail.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: replace back arrow with close button on survey fill page
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/surveys/components/survey-fill/survey-fill.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add save icon button and rename Complete to Submit Responses
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/surveys/components/survey-fill/survey-fill.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

feat: backfill missing translations across all 15 locales
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: deserialize group objects from /me API and show JWT groups in preferences
  src/app/auth/auth-integration.spec.ts
  src/app/auth/guards/reviewer.guard.spec.ts
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/interfaces/auth.interface.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

fix: always show JWT Groups section in user preferences dialog
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

feat: support DFD3 diagram format with cylinder store and rounded rect process
  src/app/pages/dfd/constants/styling-constants.ts
  src/app/pages/dfd/domain/value-objects/node-info.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-shape-definitions.ts
  src/app/pages/dfd/infrastructure/services/infra-edge-query.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-node-configuration.service.ts
  src/app/pages/dfd/infrastructure/services/infra-port-state.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-selection.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-x6-core-operations.service.spec.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/styles/_dfd-styles.scss
  src/app/pages/dfd/utils/x6-cell-extensions.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add cell metadata hover tooltips with user preference toggle
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/services/user-preferences.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-tooltip.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/services/ui-tooltip.service.spec.ts
  src/app/pages/dfd/presentation/services/ui-tooltip.service.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: add enableIf and requiredIf condition fields to survey editor (#397)
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.scss
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.ts
  src/app/shared/imports.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: set version to 1.1.0 for main merge
  package.json
Due: none

chore(deps-dev): bump eslint-plugin-unused-imports from 4.3.0 to 4.4.1
  package.json
  pnpm-lock.yaml
Due: none

fix: upgrade @modelcontextprotocol/sdk to ^1.26.0 (CVE-2026-25536)
  package.json
  pnpm-lock.yaml
Due: none

chore: set up release/1.2.0 branch with prerelease versioning
  .claude/CLAUDE.md
  .husky/post-commit
  Dockerfile
  Dockerfile.chainguard
  Dockerfile.oci
  package.json
  scripts/push-chainguard.sh
  scripts/push-heroku.sh
  scripts/push-oci.sh
Due: none

chore(deps): bump patch/minor dependencies and fix qs security vulnerability
  package.json
  pnpm-lock.yaml
Due: none

feat: add security audit and override checking to bump command
  .claude/commands/bump.md
Due: none

refactor: deduplicate code and fix bugs from dedupe report analysis
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/core/interceptors/http-logging.interceptor.ts
  src/app/core/services/addon.service.ts
  src/app/core/services/dfd-collaboration.service.spec.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/webhook.service.ts
  src/app/core/services/websocket.adapter.ts
  src/app/core/utils/redact-sensitive-data.util.spec.ts
  src/app/core/utils/redact-sensitive-data.util.ts
  src/app/i18n/language-config.spec.ts
  src/app/i18n/language-config.ts
  src/app/i18n/language.service.ts
  src/app/i18n/transloco.module.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/constants/styling-constants.ts
  src/app/pages/dfd/domain/utils/x6-validation.util.spec.ts
  src/app/pages/dfd/domain/utils/x6-validation.util.ts
  src/app/pages/dfd/domain/value-objects/edge-info.ts
  src/app/pages/dfd/domain/value-objects/node-info.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.ts
  src/app/pages/dfd/infrastructure/services/infra-node.service.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.ts
  src/app/pages/dfd/presentation/components/cell-properties-dialog/cell-properties-dialog.component.ts
  src/app/pages/dfd/presentation/components/clipboard-dialog/clipboard-dialog.component.ts
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.ts
  src/app/pages/dfd/presentation/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/presentation/components/graph-data-dialog/graph-data-dialog.component.ts
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.ts
  src/app/shared/utils/clipboard.util.spec.ts
  src/app/shared/utils/clipboard.util.ts
  src/app/shared/utils/safe-stringify.util.spec.ts
  src/app/shared/utils/safe-stringify.util.ts
Due: eslint --fix, prettier --write

chore(deps): bump patch/minor dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: updating project documentation
  .claude/CLAUDE.md
  .claude/agents/docs-hunter.md
Due: none
