Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: Timmy chat status events, auto-titled sessions, in-app feedback, AI-artifact feedback
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/connected-accounts-tab.component.spec.ts
  src/app/core/services/ai-artifact-feedback.service.spec.ts
  src/app/core/services/ai-artifact-feedback.service.ts
  src/app/core/services/usability-feedback.service.spec.ts
  src/app/core/services/usability-feedback.service.ts
  src/app/pages/chat/components/chat-messages/chat-messages.component.html
  src/app/pages/chat/components/chat-messages/chat-messages.component.ts
  src/app/pages/chat/components/chat-page/chat-page.component.spec.ts
  src/app/pages/chat/components/chat-page/chat-page.component.ts
  src/app/pages/chat/models/chat.model.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/shared/components/ai-feedback-dialog/ai-feedback-dialog.component.html
  src/app/shared/components/ai-feedback-dialog/ai-feedback-dialog.component.scss
  src/app/shared/components/ai-feedback-dialog/ai-feedback-dialog.component.ts
  src/app/shared/components/usability-feedback-dialog/usability-feedback-dialog.component.html
  src/app/shared/components/usability-feedback-dialog/usability-feedback-dialog.component.scss
  src/app/shared/components/usability-feedback-dialog/usability-feedback-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: use 'tmi' as default auth provider fallback
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

feat: attach viewport screenshot to in-app usability feedback
  package.json
  pnpm-lock.yaml
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/services/usability-feedback.service.spec.ts
  src/app/core/services/usability-feedback.service.ts
  src/app/core/utils/capture-screenshot.ts
  src/app/shared/components/usability-feedback-dialog/usability-feedback-dialog.component.html
  src/app/shared/components/usability-feedback-dialog/usability-feedback-dialog.component.scss
  src/app/shared/components/usability-feedback-dialog/usability-feedback-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: correct status option IDs and default in file_server_bug skill
  .claude/skills/file_server_bug/SKILL.md
Due: none

chore: generalizing skills for separate publication; removing unused files
  .claude/CLAUDE.md
  .claude/commands/localization-backfill.md
  .claude/commands/localization-backfill.scripts/find_duplicate_localizations.py
  .claude/i18n.config.json
  .claude/skills/analyze-localization-files/SKILL.md
  .claude/skills/analyze-localization-files/scripts/check-i18n.py
  .claude/skills/analyze_localization_files/SKILL.md
  .claude/skills/detect-non-localizable/SKILL.md
  .claude/skills/detect_non_localizable/SKILL.md
  .claude/skills/file-github-bug/SKILL.md
  .claude/skills/file_server_bug/SKILL.md
  .claude/skills/translate-to-language/SKILL.md
  .claude/skills/translate_to_language/SKILL.md
  .claude/skills/update-json-localization-file/SKILL.md
  .claude/skills/update_json_localization_file/SKILL.md
  .claude/skills/validate-localization-coverage/SKILL.md
  .claude/skills/validate-localization-coverage/scripts/check-i18n.py
  .claude/skills/validate-translation/SKILL.md
  .claude/skills/validate_localization_coverage/SKILL.md
  .claude/skills/validate_translation/SKILL.md
  .claude/skills/verify-migrate-doc/SKILL.md
  .claude/skills/visual-regression-triage/SKILL.md
  .dosu.yml
Due: none

fix: populate cell reference drop-down in threat editor page
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

chore: tone audit of en-US localized strings (#678)
  scripts/i18n_style/lists.json
  scripts/i18n_style/sentence_case.py
  scripts/i18n_style/tests/test_sentence_case.py
  scripts/i18n_tone_audit/TONE-AUDIT-FINDINGS.md
  scripts/i18n_tone_audit/apply_translations.py
  scripts/i18n_tone_audit/extract_candidates.py
  scripts/i18n_tone_audit/translations.json
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: gitignore uv.lock
  .gitignore
Due: none

fix: cvss calculator dialog problems (#689)
  scripts/fix-i18n-placeholders.sh
  src/app/shared/directives/scroll-indicator.directive.scss
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write, stylelint --fix

fix: keep Timmy status bubble visible across handoff to message stream (#690)
  src/app/pages/chat/components/chat-messages/chat-messages.component.html
  src/app/pages/chat/components/chat-page/chat-page.component.ts
Due: eslint --fix, prettier --write

fix: make Timmy chat bubbles theme-aware in dark and colorblind modes (#691)
  src/app/pages/chat/components/chat-messages/chat-messages.component.scss
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.scss
  src/styles/material-theme.scss
Due: prettier --write, stylelint --fix

docs: spec for button style standardization (#677)
  docs/superpowers/specs/2026-05-15-button-style-standardization-design.md
Due: none

docs: implementation plan for button style standardization (#677)
  docs/superpowers/plans/2026-05-15-button-style-standardization.md
Due: none

refactor: remove dead button border-radius override, document standard (#677)
  .claude/CLAUDE.md
  src/styles/component-overrides.scss
Due: prettier --write, stylelint --fix

refactor: audit shared dialog buttons to three-variant standard (#677)
  src/app/shared/components/confirm-action-dialog/confirm-action-dialog.component.html
  src/app/shared/components/delete-confirmation-dialog/delete-confirmation-dialog.component.html
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.html
  src/app/shared/components/rollback-confirmation-dialog/rollback-confirmation-dialog.component.html
Due: eslint --fix, prettier --write

fix: address review feedback on shared dialog buttons (#677)
  src/app/shared/components/confirm-action-dialog/confirm-action-dialog.component.html
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.html
Due: eslint --fix, prettier --write

refactor: audit inline-template shared dialog buttons (#677)
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.ts
  src/app/shared/components/create-project-dialog/create-project-dialog.component.ts
  src/app/shared/components/create-team-dialog/create-team-dialog.component.ts
  src/app/shared/components/edit-project-dialog/edit-project-dialog.component.ts
  src/app/shared/components/edit-team-dialog/edit-team-dialog.component.ts
  src/app/shared/components/related-projects-dialog/related-projects-dialog.component.ts
  src/app/shared/components/related-teams-dialog/related-teams-dialog.component.ts
  src/app/shared/components/responsible-parties-dialog/responsible-parties-dialog.component.ts
  src/app/shared/components/team-members-dialog/team-members-dialog.component.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.ts
Due: eslint --fix, prettier --write

fix: remove duplicate cdkFocusInitial on action buttons (#677)
  src/app/shared/components/create-project-dialog/create-project-dialog.component.ts
  src/app/shared/components/create-team-dialog/create-team-dialog.component.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.ts
Due: eslint --fix, prettier --write

refactor: audit core and auth dialog buttons (#677)
  src/app/auth/components/login/login.component.html
  src/app/auth/components/unauthorized/unauthorized.component.html
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.html
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.html
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/connected-accounts-tab.component.ts
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/unlink-confirm-dialog.component.ts
  src/app/core/components/user-preferences-dialog/create-credential-dialog/create-credential-dialog.component.ts
  src/app/core/components/user-preferences-dialog/credential-secret-dialog/credential-secret-dialog.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/components/validation-error-dialog/validation-error-dialog.component.html
Due: eslint --fix, prettier --write

refactor: audit threat-model dialog buttons (#677)
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.html
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.html
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.html
  src/app/pages/tm/components/cwe-picker-dialog/cwe-picker-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/export-dialog/export-dialog.component.html
  src/app/pages/tm/components/framework-mapping-picker-dialog/framework-mapping-picker-dialog.component.html
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.html
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.html
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.html
Due: eslint --fix, prettier --write

refactor: audit triage dialog and page buttons (#677)
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.html
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.scss
  src/app/pages/triage/components/revision-notes-dialog/revision-notes-dialog.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-note-editor-dialog/triage-note-editor-dialog.component.html
Due: eslint --fix, prettier --write, stylelint --fix

fix: i18n - move clearSearch from dashboard to common namespace (#677)
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/dashboard/dashboard.component.html
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

refactor: audit admin page buttons (#677)
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.ts
  src/app/pages/admin/addons/admin-addons.component.html
  src/app/pages/admin/groups/add-group-dialog/add-group-dialog.component.ts
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/groups/group-members-dialog/group-members-dialog.component.html
  src/app/pages/admin/projects/admin-projects.component.html
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.html
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/admin/settings/add-setting-dialog/add-setting-dialog.component.ts
  src/app/pages/admin/settings/admin-settings.component.html
  src/app/pages/admin/shared/create-automation-user-dialog/create-automation-user-dialog.component.ts
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/components/create-survey-dialog/create-survey-dialog.component.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/teams/admin-teams.component.html
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.html
  src/app/pages/admin/webhooks/hmac-secret-dialog/hmac-secret-dialog.component.html
Due: eslint --fix, prettier --write

fix: cdkFocusInitial on input field, not disabled submit (#677)
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.ts
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
Due: eslint --fix, prettier --write

refactor: audit chat and DFD buttons (#677)
  src/app/pages/chat/components/chat-messages/chat-messages.component.html
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.html
  src/app/pages/dfd/presentation/components/data-asset-dialog/data-asset-dialog.component.html
Due: eslint --fix, prettier --write

refactor: audit page-level action bar buttons (#677)
  src/app/pages/about/about.component.html
  src/app/pages/dashboard/create-threat-model-dialog/create-threat-model-dialog.component.ts
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/home/home.component.html
  src/app/pages/privacy/privacy.component.html
  src/app/pages/projects/projects.component.html
  src/app/pages/surveys/components/my-responses/my-responses.component.html
  src/app/pages/surveys/components/response-detail/response-detail.component.html
  src/app/pages/surveys/components/survey-confidential-dialog/survey-confidential-dialog.component.ts
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/surveys/components/survey-list/survey-list.component.html
  src/app/pages/teams/teams.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tos/tos.component.html
Due: eslint --fix, prettier --write

fix: cdkFocusInitial on safe option for confidential dialog (#677)
  src/app/pages/surveys/components/survey-confidential-dialog/survey-confidential-dialog.component.ts
Due: eslint --fix, prettier --write

refactor: sweep remaining banned colors on buttons (#677)
  src/app/pages/dfd/presentation/components/dfd.component.html
Due: eslint --fix, prettier --write

fix: add tooltips to template-builder move-question buttons (#677)
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: render Timmy prep progress as phase + percentage
  src/app/pages/chat/components/chat-messages/chat-messages.component.html
  src/app/pages/chat/components/chat-page/chat-page.component.spec.ts
  src/app/pages/chat/components/chat-page/chat-page.component.ts
  src/app/pages/chat/models/chat.model.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

test: raise threat-model.service.ts coverage from 23% to 68%
  src/app/pages/tm/services/threat-model.service.spec.ts
Due: eslint --fix, prettier --write

test: cover PDF reporting (pdf-section-renderers, threat-model-report)
  src/app/pages/tm/services/report/pdf-section-renderers.spec.ts
  src/app/pages/tm/services/report/threat-model-report.service.spec.ts
Due: eslint --fix, prettier --write

test: cover DFD application executors and app-dfd.facade
  src/app/pages/dfd/application/executors/base-operation-executor.spec.ts
  src/app/pages/dfd/application/executors/batch-operation-executor.spec.ts
  src/app/pages/dfd/application/executors/edge-operation-executor.spec.ts
  src/app/pages/dfd/application/executors/load-diagram-executor.spec.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.spec.ts
Due: eslint --fix, prettier --write

test: add specs for untested tm/ dialog components
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.spec.ts
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.spec.ts
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.spec.ts
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.spec.ts
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.spec.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.spec.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.spec.ts
Due: eslint --fix, prettier --write

test: add specs for untested admin/ dialog components
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.spec.ts
  src/app/pages/admin/groups/add-group-dialog/add-group-dialog.component.spec.ts
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.spec.ts
  src/app/pages/admin/settings/add-setting-dialog/add-setting-dialog.component.spec.ts
  src/app/pages/admin/shared/create-automation-user-dialog/create-automation-user-dialog.component.spec.ts
  src/app/pages/admin/users/manage-credentials-dialog/manage-credentials-dialog.component.spec.ts
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.spec.ts
  src/app/pages/admin/webhooks/hmac-secret-dialog/hmac-secret-dialog.component.spec.ts
Due: eslint --fix, prettier --write

test: add specs for untested shared/ dialog components
  src/app/shared/components/ai-feedback-dialog/ai-feedback-dialog.component.spec.ts
  src/app/shared/components/edit-project-dialog/edit-project-dialog.component.spec.ts
  src/app/shared/components/edit-team-dialog/edit-team-dialog.component.spec.ts
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.spec.ts
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/shared/components/related-projects-dialog/related-projects-dialog.component.spec.ts
  src/app/shared/components/related-teams-dialog/related-teams-dialog.component.spec.ts
  src/app/shared/components/responsible-parties-dialog/responsible-parties-dialog.component.spec.ts
  src/app/shared/components/team-members-dialog/team-members-dialog.component.spec.ts
  src/app/shared/components/usability-feedback-dialog/usability-feedback-dialog.component.spec.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.spec.ts
Due: eslint --fix, prettier --write

test: add specs for untested dfd/, triage/, and core dialog components
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/unlink-confirm-dialog.component.spec.ts
  src/app/core/components/user-preferences-dialog/create-credential-dialog/create-credential-dialog.component.spec.ts
  src/app/core/components/validation-error-dialog/validation-error-dialog.component.spec.ts
  src/app/pages/dfd/presentation/components/cell-properties-dialog/cell-properties-dialog.component.spec.ts
  src/app/pages/dfd/presentation/components/clipboard-dialog/clipboard-dialog.component.spec.ts
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.spec.ts
  src/app/pages/dfd/presentation/components/graph-data-dialog/graph-data-dialog.component.spec.ts
  src/app/pages/dfd/presentation/components/help-dialog/help-dialog.component.spec.ts
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.spec.ts
  src/app/pages/surveys/components/survey-confidential-dialog/survey-confidential-dialog.component.spec.ts
  src/app/pages/triage/components/revision-notes-dialog/revision-notes-dialog.component.spec.ts
  src/app/pages/triage/components/triage-note-editor-dialog/triage-note-editor-dialog.component.spec.ts
Due: eslint --fix, prettier --write

test: cover chat/Timmy components
  src/app/pages/chat/components/chat-messages/chat-messages.component.spec.ts
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.spec.ts
Due: eslint --fix, prettier --write

test: cover admin survey builder components
  src/app/pages/admin/surveys/admin-surveys.component.spec.ts
  src/app/pages/admin/surveys/components/create-survey-dialog/create-survey-dialog.component.spec.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.spec.ts
Due: eslint --fix, prettier --write

test: add specs for survey requester-facing components
  src/app/pages/surveys/components/my-responses/my-responses.component.spec.ts
  src/app/pages/surveys/components/survey-fill/survey-fill.component.spec.ts
  src/app/pages/surveys/components/survey-list/survey-list.component.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
