Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

feat: lazy script loader utility (#626)
  src/app/shared/utils/lazy-script-loader.spec.ts
  src/app/shared/utils/lazy-script-loader.ts
Due: eslint --fix, prettier --write

feat: GoogleDrivePickerService with lazy gapi loader (#626)
  src/app/core/components/content-callback/content-callback.component.ts
  src/app/core/services/google-drive-picker.service.spec.ts
  src/app/core/services/google-drive-picker.service.ts
  src/app/core/services/picker-token.service.ts
Due: eslint --fix, prettier --write

feat: ConnectedAccountsTabComponent (Document sources tab) (#626)
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/connected-accounts-tab.component.spec.ts
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/connected-accounts-tab.component.ts
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/unlink-confirm-dialog.component.ts
Due: eslint --fix, prettier --write

feat: integrate Document sources tab into user prefs dialog (#626)
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

i18n: add full key set for #626 in en-US
  src/assets/i18n/en-US.json
  src/assets/i18n/i18n-allowlist.json
Due: prettier --write

test: build-time contract for diagnostics enum i18n coverage (#626)
  src/app/core/services/access-diagnostics-coverage.spec.ts
Due: eslint --fix, prettier --write

feat: extend Document model with picker_registration + access_diagnostics (#626)
  src/app/pages/tm/models/threat-model.model.ts
Due: eslint --fix, prettier --write

feat: AccessDiagnosticsPanelComponent (#626)
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.spec.ts
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.ts
Due: eslint --fix, prettier --write

feat: source selector + picker flow in document-editor-dialog (#626)
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.scss
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.spec.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: status-aware icon in tm-edit documents table (#626)
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

test: status-aware icon mapping for documents table (#626)
  src/app/pages/tm/tm-edit-document-status-icons.spec.ts
Due: eslint --fix, prettier --write

i18n: backfill 15 locales for #626 keys
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: reformat api-types.d.ts (auto-format on lint)
  src/app/generated/api-types.d.ts
Due: eslint --fix, prettier --write

test: fix navbar + registry specs broken by #626 changes
  src/app/core/components/navbar/navbar.component.spec.ts
  src/app/core/services/content-provider-registry.spec.ts
Due: eslint --fix, prettier --write

chore(deps): bump dependencies and patch security advisories
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump dependencies and patch security advisories
  package.json
  pnpm-lock.yaml
  src/styles/custom-palette.scss
Due: prettier --write, stylelint --fix

test: fix three pre-existing unit test failures
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/app/pages/projects/projects.component.spec.ts
  src/app/pages/teams/teams.component.spec.ts
Due: eslint --fix, prettier --write

fix: remove redundant optional-chain operators in access-diagnostics-panel
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.ts
Due: eslint --fix, prettier --write

test: update survey spec expectations for limit=100 default
  src/app/pages/surveys/services/survey-response.service.spec.ts
  src/app/pages/surveys/services/survey.service.spec.ts
Due: eslint --fix, prettier --write

feat: container auto-layout with cascade, drag re-sort, atomic batching
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: harden tm-edit list subscribers and remove networkidle wait
  e2e/tests/workflows/dfd-autosave.spec.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

feat(dfd): add layout-lock helper utility (#641)
  src/app/pages/dfd/utils/layout-lock.util.spec.ts
  src/app/pages/dfd/utils/layout-lock.util.ts
Due: eslint --fix, prettier --write

fix(dfd): use RFC 2397-compliant SVG data URL in layout-lock badge
  src/app/pages/dfd/utils/layout-lock.util.ts
Due: eslint --fix, prettier --write

feat(dfd): honor _layoutLocked in auto-layout entry points and cascade (#641)
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

feat(dfd): add lock-badge markup element to lock-eligible shapes (#641)
  src/app/pages/dfd/infrastructure/adapters/infra-x6-shape-definitions.ts
Due: eslint --fix, prettier --write

feat(dfd): add applyLockBadge helper and wire to diagram load (#641)
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

style(dfd): use display: 'block' instead of empty string in applyLockBadge
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

feat(dfd): add lock-layout context-menu item and selection state (#641)
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

feat(dfd): implement toggleLayoutLock with batched history (#641)
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

refactor(dfd): make toggleLayoutLock batch-dispatch invariant explicit
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

feat(dfd): add lock/unlock layout i18n keys across locales (#641)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix(dfd): defensive captureCell + gate applyLockBadge to eligible shapes (#641)
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

chore: formatting
  src/styles/custom-palette.scss
Due: prettier --write, stylelint --fix

fix(dfd): capture/restore body stroke during selection (#654)
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
Due: eslint --fix, prettier --write

fix(dfd): selection feedback via filter only, do not overwrite body stroke (#654)
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
  src/app/pages/dfd/integration/test-helpers/styling-helpers.ts
Due: eslint --fix, prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: truncate bug-report log to fit GitHub issue body limit (#652)
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/services/logger.service.spec.ts
  src/app/core/services/logger.service.ts
Due: eslint --fix, prettier --write

chore: regenerate api-types from latest spec; auto-format on generation
  package.json
  src/app/generated/api-types.d.ts
Due: eslint --fix, prettier --write

fix(dfd): align NODE_ATTRS_SCHEMA with attrs the codebase actually writes (#653)
  src/app/pages/dfd/utils/cell-property-filter.util.spec.ts
  src/app/pages/dfd/utils/cell-property-filter.util.ts
Due: eslint --fix, prettier --write
