Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

API specification tweaks
  tmi-openapi.json
Due: none

snapline style attempt
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/styles/_dfd-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Fixed edge endpoint dragging
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Added more context menu functionality, inverse-edge function
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/value-objects/edge-data.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/interfaces/graph-adapter.interface.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Fixed inverse edge double label bug
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Fixed broken tests, arrow size/style
  src/app/pages/dfd/domain/value-objects/edge-data.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/integration/x6-integration.spec.ts
Due: eslint --fix, prettier --write

Removed shape size limits
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Fixed potential bounds issue in resizing
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Removing/disabling dead code
  src/app/pages/dfd/dfd.module.ts
  src/app/pages/dfd/models/highlighter-config.interface.ts
  src/app/pages/dfd/services/dfd-highlighter.service.ts
  src/app/pages/dfd/styles/_dfd-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Removing dead code
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/styles/_dfd-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

History service - continue integration phase 2
  context/DFD_X6_HISTORY_SERVICE_IMPLEMENTATION_PLAN.md
  src/app/pages/dfd/application/middleware/history.middleware.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/commands/diagram-commands.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Enabled undo/redo
  context/DFD_X6_HISTORY_SERVICE_IMPLEMENTATION_PLAN.md
  src/app/pages/dfd/application/handlers/diagram-command-handlers.ts
  src/app/pages/dfd/application/middleware/history.middleware.ts
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Debugging undo
  src/app/pages/dfd/application/handlers/diagram-command-handlers.ts
  src/app/pages/dfd/application/middleware/history.middleware.ts
  src/app/pages/dfd/application/services/command-bus-initializer.service.ts
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.ts
  src/app/pages/dfd/domain/commands/diagram-commands.ts
  src/app/pages/dfd/domain/commands/inverse-command-factory.ts
  src/app/pages/dfd/domain/history/history.types.ts
  src/app/pages/dfd/domain/value-objects/diagram-edge.ts
  src/app/pages/dfd/domain/value-objects/diagram-node.ts
  src/app/pages/dfd/domain/value-objects/node-data.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Weakening lint rules for code accessing X6 library
  eslint.config.js
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/memory-leak-prevention.service.ts
  src/app/pages/dfd/infrastructure/services/serialization-optimization.service.ts
Due: eslint --fix, prettier --write

Changing layout of threat model editor page
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.scss
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Minor style update
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

style compatibility bugfix
  src/app/pages/tm/tm.component.scss
Due: prettier --write, stylelint --fix

Threat model editor layout updates
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Cleanup, lint rules adjustment
  BUNDLE_OPTIMIZATION_SUMMARY.md
  context/DFD_GRAPH_INTERACTION.md
  convert-images.js
  eslint.config.js
  src/app/pages/dfd/application/collaboration/collaboration-performance.spec.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/services/memory-leak-prevention.service.ts
  src/app/pages/dfd/infrastructure/services/serialization-optimization.service.ts
Due: eslint --fix, prettier --write

Prepping for migration to using native X6 properties
  docs/x6-data-migration-plan.md
  src/app/pages/dfd/types/x6-cell.types.ts
  src/app/pages/dfd/utils/x6-cell-extensions.ts
Due: eslint --fix, prettier --write

Phase 2
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Refactor the cell data model - completion
  src/app/pages/dfd/application/handlers/diagram-command-handlers.ts
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.ts
  src/app/pages/dfd/domain/commands/diagram-commands.ts
  src/app/pages/dfd/domain/commands/inverse-command-factory.ts
Due: eslint --fix, prettier --write

Fixing bugs and cleanup
  src/app/pages/dfd/application/handlers/diagram-command-handlers.ts
  src/app/pages/dfd/application/middleware/history.middleware.ts
  src/app/pages/dfd/application/services/command-bus-initializer.service.ts
  src/app/pages/dfd/application/services/dfd-application.service.spec.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/dfd.module.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.ts
  src/app/pages/dfd/domain/commands/diagram-commands.ts
  src/app/pages/dfd/domain/commands/inverse-command-factory.ts
  src/app/pages/dfd/domain/history/history.types.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/serialization.service.ts
  src/app/pages/dfd/utils/x6-cell-extensions.ts
Due: eslint --fix, prettier --write

Fixing bugs
  src/app/auth/services/auth.service.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.spec.ts
Due: eslint --fix, prettier --write

Fixing tests
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/drag-state-manager.service.spec.ts
  src/app/pages/dfd/infrastructure/services/drag-state-manager.service.ts
Due: eslint --fix, prettier --write

Test fixes
  src/app/pages/dfd/application/middleware/history.middleware.ts
  src/app/pages/dfd/application/services/history.service.spec.ts
  src/app/pages/dfd/application/services/history.service.ts
  src/app/pages/dfd/domain/value-objects/node-data.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/integration/x6-integration.spec.ts
Due: eslint --fix, prettier --write

Cleaned up debounce, commented tests, fixed tests
  src/app/auth/auth-integration.spec.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/core/services/api.service.spec.ts
  src/app/core/services/logger.service.spec.ts
  src/app/pages/dfd/application/collaboration/collaboration-application.service.spec.ts
  src/app/pages/dfd/application/collaboration/collaboration-performance.spec.ts
  src/app/pages/dfd/application/middleware/history.middleware.ts
  src/app/pages/dfd/application/services/command-bus.service.spec.ts
  src/app/pages/dfd/application/services/dfd-application.service.spec.ts
  src/app/pages/dfd/application/services/history-integration.service.spec.ts
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/app/pages/dfd/application/services/history.service.spec.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.spec.ts
  src/app/pages/dfd/domain/value-objects/edge-data.spec.ts
  src/app/pages/dfd/domain/value-objects/node-data.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/drag-state-manager.service.spec.ts
  src/app/pages/dfd/integration/x6-integration.spec.ts
  src/app/pages/dfd/tests/graph-edge-operations.spec.ts
  src/app/pages/dfd/tests/graph-node-operations.spec.ts
  src/app/pages/dfd/tests/graph-port-visibility.spec.ts
  src/app/pages/dfd/tests/graph-selection-behavior.spec.ts
  src/app/pages/dfd/tests/graph-tools-context.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
Due: eslint --fix, prettier --write

Fixing inconsistencies in domain model
  .gitignore
  src/app/pages/dfd/application/services/command-bus.service.spec.ts
  src/app/pages/dfd/application/services/dfd-application.service.spec.ts
  src/app/pages/dfd/application/services/dfd-application.service.ts
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.ts
  src/app/pages/dfd/domain/commands/inverse-command-factory.ts
  src/app/pages/dfd/domain/value-objects/diagram-edge.ts
  src/app/pages/dfd/domain/value-objects/diagram-node.ts
  src/app/pages/dfd/domain/value-objects/edge-data.spec.ts
  src/app/pages/dfd/domain/value-objects/edge-data.ts
  src/app/pages/dfd/domain/value-objects/node-data.spec.ts
  src/app/pages/dfd/domain/value-objects/node-data.ts
  src/app/pages/dfd/integration/x6-integration.spec.ts
Due: eslint --fix, prettier --write

Fixing composite (multi-object) undo & redo
  src/app/pages/dfd/application/handlers/diagram-command-handlers.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Still working on composite undo/redo
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Fixed the port configuration in restored/programatically added composite objects.
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Fine-tuning history and undo, fixing edge case bugs
  src/app/pages/dfd/application/handlers/diagram-command-handlers.ts
  src/app/pages/dfd/application/middleware/history.middleware.ts
  src/app/pages/dfd/application/services/history-integration.service.spec.ts
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/app/pages/dfd/dfd.module.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.ts
  src/app/pages/dfd/domain/commands/diagram-commands.ts
  src/app/pages/dfd/domain/commands/inverse-command-factory.ts
  src/app/pages/dfd/domain/history/history.types.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Debugging inverse edges
  src/app/pages/dfd/application/handlers/diagram-command-handlers.ts
  src/app/pages/dfd/application/middleware/history.middleware.ts
  src/app/pages/dfd/application/services/dfd-application.service.ts
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/app/pages/dfd/application/services/history.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

dfd operation refactoring, test fixes and additional tests
  .gitignore
  COMPREHENSIVE_TESTING_PLAN.md
  EDGE_METHOD_CONSOLIDATION_PLAN.md
  src/app/pages/dfd/application/handlers/diagram-command-handlers.ts
  src/app/pages/dfd/application/middleware/history.middleware.ts
  src/app/pages/dfd/application/services/dfd-application.service.spec.ts
  src/app/pages/dfd/application/services/dfd-application.service.ts
  src/app/pages/dfd/application/services/edge-operation.service.ts
  src/app/pages/dfd/application/services/history-integration.service.spec.ts
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/commands/diagram-commands.ts
  src/app/pages/dfd/domain/factories/edge-data.factory.ts
  src/app/pages/dfd/domain/value-objects/diagram-edge.ts
  src/app/pages/dfd/domain/value-objects/edge-data.spec.ts
  src/app/pages/dfd/domain/value-objects/edge-data.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/edge-query.service.ts
  src/app/pages/dfd/infrastructure/services/edge.service.spec.ts
  src/app/pages/dfd/infrastructure/services/edge.service.ts
  src/app/pages/dfd/infrastructure/services/memory-leak-prevention.service.ts
  src/app/pages/dfd/infrastructure/services/node-configuration.service.ts
  src/app/pages/dfd/infrastructure/services/port-state-manager.service.ts
  src/app/pages/dfd/integration/x6-integration.spec.ts
  src/app/pages/dfd/utils/x6-cell-extensions.ts
  src/testing/matchers/graph-matchers.ts
Due: eslint --fix, prettier --write

replaced favicon, eliminated infinite loop
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-96x96.png
  public/favicon.ico
  public/favicon.svg
  public/site.webmanifest
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/index.html
Due: eslint --fix, prettier --write

Changing node placement behavior
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/services/operation-state-tracker.service.ts
Due: eslint --fix, prettier --write

Fixing circular dependency, cleanup
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/app/pages/dfd/application/services/history.service.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/interfaces/change-detection.interface.ts
  src/app/pages/dfd/infrastructure/services/activity-monitoring.service.ts
  src/app/pages/dfd/infrastructure/services/change-batching.service.ts
  src/app/pages/dfd/infrastructure/services/change-debouncing.service.ts
  src/app/pages/dfd/infrastructure/services/change-detection.service.ts
  src/app/pages/dfd/infrastructure/services/cursor-sharing.service.ts
  src/app/pages/dfd/infrastructure/services/event-filter.service.ts
  src/app/pages/dfd/infrastructure/services/injection-tokens.ts
  src/app/pages/dfd/infrastructure/services/memory-leak-prevention.service.ts
  src/app/pages/dfd/infrastructure/services/operation-coordinator.service.ts
  src/app/pages/dfd/infrastructure/services/operation-state-tracker.service.ts
  src/app/pages/dfd/infrastructure/services/performance-testing.service.ts
  src/app/pages/dfd/infrastructure/services/serialization-optimization.service.ts
  src/app/pages/dfd/infrastructure/services/user-tracking.service.ts
  src/app/pages/dfd/services/dfd-change-tracker.service.ts
Due: eslint --fix, prettier --write

Eliminated circular dependency
  src/app/core/rxjs-imports.ts
  src/app/pages/dfd/application/handlers/diagram-command-handlers.ts
  src/app/pages/dfd/application/middleware/history.middleware.ts
  src/app/pages/dfd/application/services/history-integration.service.spec.ts
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/app/pages/dfd/application/services/history.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/history/history.types.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/event-filter.service.ts
  src/app/pages/dfd/infrastructure/services/operation-coordinator.service.ts
  src/app/pages/dfd/infrastructure/services/operation-state-tracker.service.ts
Due: eslint --fix, prettier --write

Removing custom history service
  src/app/pages/dfd/application/middleware/history.middleware.ts
  src/app/pages/dfd/application/services/command-bus-initializer.service.ts
  src/app/pages/dfd/application/services/history-integration.service.spec.ts
  src/app/pages/dfd/application/services/history-integration.service.ts
  src/app/pages/dfd/application/services/history.service.spec.ts
  src/app/pages/dfd/application/services/history.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/commands/inverse-command-factory.ts
  src/app/pages/dfd/domain/history/history.types.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/tests/graph-edge-operations.spec.ts
  src/app/pages/dfd/tests/graph-node-operations.spec.ts
  src/app/pages/dfd/tests/graph-port-visibility.spec.ts
  src/app/pages/dfd/tests/graph-selection-behavior.spec.ts
  src/app/pages/dfd/tests/graph-tools-context.spec.ts
  src/app/pages/dfd/tests/test-utils/assertion-helpers.ts
  src/app/pages/dfd/tests/test-utils/cell-serialization.util.ts
  src/app/pages/dfd/tests/test-utils/mock-factories.ts
Due: eslint --fix, prettier --write
