Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

fix: update Hindi privacy policy with AI processing features
  src/assets/i18n/hi-IN.json
Due: prettier --write

fix: update pt-BR privacy policy with AI processing disclosure
  src/assets/i18n/pt-BR.json
Due: prettier --write

fix: update Urdu (ur-PK) privacy policy translations for AI processing features
  src/assets/i18n/ur-PK.json
Due: prettier --write

fix: update zh-CN privacy policy with AI processing features
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: update ru-RU privacy policy with AI processing features
  src/assets/i18n/ru-RU.json
Due: prettier --write

fix: update Thai localization with privacy policy AI processing features
  src/assets/i18n/th-TH.json
Due: prettier --write

fix: wrap extensibility features text in span to preserve nested list
  src/app/pages/privacy/privacy.component.html
Due: eslint --fix, prettier --write

fix: update schema validator to match OpenAPI spec for import/export
  src/app/pages/tm/validation/schema-validator.ts
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
Due: eslint --fix, prettier --write

fix: preserve owner field when filtering threat model for import
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
Due: eslint --fix, prettier --write

fix: exclude owner and authorization from threat model import POST
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: only send ThreatModelInput-allowed fields when importing
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: sanitize diagram cells for API schema compliance during import
  src/app/pages/dfd/utils/cell-property-filter.util.spec.ts
  src/app/pages/dfd/utils/cell-property-filter.util.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
Due: eslint --fix, prettier --write

refactor: normalize edge shape from 'edge' to 'flow' for API consistency
  src/app/pages/dfd/utils/cell-property-filter.util.spec.ts
  src/app/pages/dfd/utils/cell-property-filter.util.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
Due: eslint --fix, prettier --write

feat: preserve children property on cells for API schema
  src/app/pages/dfd/utils/cell-property-filter.util.spec.ts
  src/app/pages/dfd/utils/cell-property-filter.util.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
Due: eslint --fix, prettier --write

feat: preserve text positioning properties in node attrs
  src/app/pages/dfd/utils/cell-property-filter.util.spec.ts
  src/app/pages/dfd/utils/cell-property-filter.util.ts
Due: eslint --fix, prettier --write

fix: handle canonical 'flow' edge shape when loading diagrams
  src/app/pages/dfd/application/services/app-diagram.service.ts
Due: eslint --fix, prettier --write

fix: preserve diagram image and description during import
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
Due: eslint --fix, prettier --write

feat: add login interstitial component with i18n support
  src/app/auth/components/auth-callback/auth-callback.component.html
  src/app/auth/components/auth-callback/auth-callback.component.scss
  src/app/auth/components/auth-callback/auth-callback.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: use AuthCallbackComponent as login interstitial
  e2e/tests/auth.spec.ts
  src/app/app.routes.ts
  src/app/auth/components/auth-callback/auth-callback.component.html
  src/app/auth/components/auth-callback/auth-callback.component.spec.ts
  src/app/auth/components/auth-callback/auth-callback.component.ts
  src/app/auth/components/login/login.component.ts
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
  src/app/core/services/activity-tracker.service.spec.ts
Due: eslint --fix, prettier --write

chore: change AppNotificationService init log to debug level
  src/app/pages/dfd/application/services/app-notification.service.ts
Due: eslint --fix, prettier --write

chore: change various info logs to debug level
  src/app/auth/services/auth.service.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

chore: change embedding and auth logs to debug level
  src/app/auth/services/auth.service.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: update tm-edit page UI immediately after CRUD operations
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

docs: add migration plan for Angular 21, Vitest 4, Marked v17
  docs/plans/angular21-vitest4-marked17-migration.md
Due: none

fix: prevent horizontal scrolling in admin groups table
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/groups/admin-groups.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove members column from admin groups table
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/groups/admin-groups.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix(admin): align HMAC secret dialog button with other dialogs
  src/app/pages/admin/webhooks/hmac-secret-dialog/hmac-secret-dialog.component.scss
Due: prettier --write, stylelint --fix

fix: add outline appearance to quota form fields for visible labels
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.html
Due: eslint --fix, prettier --write

fix(admin): replace mat-list with grid layout in addons page
  src/app/pages/admin/addons/admin-addons.component.html
  src/app/pages/admin/addons/admin-addons.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat(admin): add tooltip to category icon in addons list
  src/app/pages/admin/addons/admin-addons.component.html
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

feat(admin): localize object type chips in addons list
  src/app/pages/admin/addons/admin-addons.component.html
  src/app/pages/admin/addons/admin-addons.component.ts
Due: eslint --fix, prettier --write

feat(tm-edit): add addon menus to all cards and table rows
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

chore(i18n): translate Russian (Russia) localization keys
  src/assets/i18n/ru-RU.json
Due: prettier --write

feat(i18n): add and update Bengali (Bangladesh) translations
  src/assets/i18n/bn-BD.json
Due: prettier --write

feat(i18n): add Arabic (Saudi Arabia) translations for server status and addon strings
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/services/server-connection.service.spec.ts
  src/app/core/services/server-connection.service.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/en-US.json
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat(i18n): add server status translations for all languages
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

feat(dashboard): add list view toggle, filter, and sortable table
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/admin/users/admin-users.component.scss
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.scss
  src/app/pages/dashboard/dashboard.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix(security): address GitHub CodeQL security alerts
  scripts/run-cypress-tests.js
  scripts/validate-json.cjs
  src/app/core/services/logger.service.ts
  src/app/core/services/websocket.adapter.ts
Due: eslint --fix, prettier --write

chore(ci): improve CodeQL scanning configuration
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none
