Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: add punctuation/forbidden-phrase validators for i18n (#676)
  scripts/i18n_style/punctuation.py
  scripts/i18n_style/tests/test_punctuation.py
Due: none

feat: add comment-sibling validators for i18n (#676)
  scripts/i18n_style/comment_siblings.py
  scripts/i18n_style/tests/test_comment_siblings.py
Due: none

feat: add i18n style check orchestrator and main script (#676)
  .gitignore
  scripts/check-i18n-style.py
  scripts/i18n_style/checker.py
  scripts/i18n_style/tests/test_checker.py
Due: none

build: wire lint:i18n into pnpm run lint:all (#676)
  package.json
Due: none

feat: add mechanical i18n corrector script (#676)
  scripts/fix-i18n-style.py
  scripts/i18n_style/corrector.py
  scripts/i18n_style/lists.json
  scripts/i18n_style/tests/test_corrector.py
Due: none

chore: lint-skip about.opensource.paragraph3 to preserve real names (#676)
  src/assets/i18n/en-US.json
Due: prettier --write

style: apply mechanical sentence-case corrections to en-US (#676)
  scripts/fix-i18n-style.py
  src/assets/i18n/en-US.json
Due: prettier --write

feat: add translator .comment siblings for ambiguous short i18n keys (#676)
  scripts/i18n_style/comment_siblings.py
  scripts/i18n_style/tests/test_comment_siblings.py
  src/assets/i18n/en-US.json
Due: prettier --write

style: replace forbidden tone phrases in en-US strings (#676)
  src/assets/i18n/en-US.json
Due: prettier --write

style: resolve period-rule and ellipsis violations in en-US (#676)
  scripts/i18n_style/checker.py
  scripts/i18n_style/punctuation.py
  scripts/i18n_style/surface_inference.py
  scripts/i18n_style/tests/test_surface_inference.py
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
Due: prettier --write

style: complete en-US lint cleanup and remove stray .comment keys (#676)
  scripts/i18n_style/lists.json
  scripts/i18n_style/sentence_case.py
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: restore TMI tagline 'Threat Modeling Improved' Title Case (#676)
  src/assets/i18n/en-US.json
Due: prettier --write

chore: regenerate en-US usage map after style corrections (#676)
  src/assets/i18n/en-US.usage.json
Due: prettier --write

chore: regenerate fr-FR translations for keys whose en-US value changed (#676)
  src/assets/i18n/fr-FR.json
Due: prettier --write

chore: regenerate de-DE translations for keys whose en-US value changed (#676)
  src/assets/i18n/de-DE.json
Due: prettier --write

chore: regenerate ja-JP translations for keys whose en-US value changed (#676)
  src/assets/i18n/ja-JP.json
Due: prettier --write

chore: regenerate ru-RU translations for keys whose en-US value changed (#676)
  src/assets/i18n/ru-RU.json
Due: prettier --write

chore: regenerate ar-SA translations for keys whose en-US value changed (#676)
  src/assets/i18n/ar-SA.json
Due: prettier --write

chore: regenerate id-ID translations for keys whose en-US value changed (#676)
  src/assets/i18n/id-ID.json
Due: prettier --write

chore: regenerate pt-BR translations for keys whose en-US value changed (#676)
  src/assets/i18n/pt-BR.json
Due: prettier --write

chore: regenerate es-ES translations for keys whose en-US value changed (#676)
  src/assets/i18n/es-ES.json
Due: prettier --write

chore: regenerate ko-KR translations for keys whose en-US value changed (#676)
  src/assets/i18n/ko-KR.json
Due: prettier --write

chore: regenerate he-IL translations for keys whose en-US value changed (#676)
  src/assets/i18n/he-IL.json
Due: prettier --write

chore: regenerate zh-CN translations for keys whose en-US value changed (#676)
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: regenerate hi-IN translations for keys whose en-US value changed (#676)
  src/assets/i18n/hi-IN.json
Due: prettier --write

chore: regenerate ur-PK translations for keys whose en-US value changed (#676)
  src/assets/i18n/ur-PK.json
Due: prettier --write

chore: regenerate bn-BD translations for keys whose en-US value changed (#676)
  src/assets/i18n/bn-BD.json
Due: prettier --write

chore: regenerate th-TH translations for keys whose en-US value changed (#676)
  src/assets/i18n/th-TH.json
Due: prettier --write

chore: gitignore Python __pycache__ from i18n_style scripts (#676)
  .gitignore
Due: none

chore: excluding python caches, adding usage file
  .gitignore
  src/assets/i18n/en-US.usage.json
Due: prettier --write

chore: untrack files that match .gitignore patterns
  .local-projects.json
  src/environments/environment.dev.ts
  workspace/auth_exploitation_status.md
  workspace/authz_evidence_draft.md
  workspace/exploitation_blocker.md
  workspace/ssrf_evidence_draft.md
  workspace/ssrf_exploitation_blocker.md
Due: eslint --fix, prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: set up Python tooling parity between VS Code and CLI
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  pyproject.toml
  scripts/check-i18n.py
  scripts/extract-cwe-699.py
  scripts/merge-translations.py
  src/styles/custom-palette.scss
Due: prettier --write, stylelint --fix

chore: set up Python tooling parity between VS Code and CLI
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
  scripts/check-i18n.py
  scripts/merge-translations.py
Due: none

chore: align extract-cwe-699.py with main
  scripts/extract-cwe-699.py
Due: none

chore(deps): bump Node to 24 LTS and http-proxy-middleware to v4
  .github/workflows/codeql.yml
  .nvmrc
  Dockerfile
  Dockerfile.oci
  package.json
  pnpm-lock.yaml
Due: none

ci: use step outputs for pnpm store path in codeql workflow
  .github/workflows/codeql.yml
Due: none

chore(deps): bump @analogjs/vite-plugin-angular to 2.5.0 and marked to 18
  package.json
  pnpm-lock.yaml
  src/testing/zone-setup.ts
Due: eslint --fix, prettier --write

fix: restore TMI proper name in navbar across all locales
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
