Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

docs: verify and migrate overview.md to wiki
  docs/migrated/reference/architecture/dfd-change-propagation/visual-effects-pipeline.md
  docs/migrated/reference/architecture/overview.md
Due: none

docs: migrate session-management.md to wiki and update
  docs/migrated/developer/features/validation-framework.md
  docs/migrated/reference/architecture/session-management.md
  docs/migrated/reference/architecture/unified-operation-flow.md
Due: none

docs: verify and migrate DFD integration test plan to wiki
  docs/migrated/reference/architecture/dfd-change-propagation/autosave-decision-tree.md
  docs/migrated/reference/features/dfd-user-interaction-guide.md
Due: none

docs: migrate autosave-data-modeling.md to wiki
  docs/migrated/reference/architecture/autosave-data-modeling.md
Due: none

docs: migrate UNIT_TEST_CHECKLIST.md to wiki Testing page
  docs/migrated/development/HISTORY_TRACKING_IMPLEMENTATION.md
  docs/migrated/reference/architecture/graph-component-change-flows.md
  docs/migrated/testing/UNIT_TEST_CHECKLIST.md
  docs/migrated/testing/dfd-interaction-test-cases.md
Due: none

docs: migrate service-provisioning.md to wiki
  docs/migrated/reference/architecture/service-provisioning.md
Due: none

docs: migrate documentation to wiki and docs/migrated
  docs/agent/developers-guide-antvx6-graphing-library.md
  docs/developer/setup/README.md
  docs/developer/setup/environment-configuration.md
  docs/developer/testing/README.md
  docs/developer/testing/testing-utilities.md
  docs/development/HISTORY_TRACKING_IMPLEMENTATION.md
  docs/migrated/agent/dfd-integration-test-plan.md
  docs/migrated/agent/dfd-integration-testing-approach.md
  docs/migrated/analysis/TM_EDIT_QUICK_REFERENCE.md
  docs/migrated/refactoring/app-state-service-refactor-plan.md
  docs/migrated/reference/README.md
  docs/migrated/reference/architecture/dfd-change-propagation/user-actions-flow.md
  docs/migrated/reference/architecture/history-based-autosave.md
  docs/migrated/reference/architecture/violations.md
  docs/migrated/reference/libraries/x6-complete-guide.md
  docs/migrated/testing/README.md
  docs/migrated/testing/UNIT_TEST_PROGRESS.md
  docs/reference/architecture/autosave-data-modeling.md
  docs/reference/architecture/violations.md
  docs/reference/features/status-severity-priority-values.md
  docs/testing/UNIT_TEST_CHECKLIST.md
  docs/testing/dfd-interaction-test-cases.md
Due: none

chore(deps): bump patch/minor dependencies and fix /bump skill
  .claude/commands/bump.md
  package.json
  pnpm-lock.yaml
Due: none

fix: standardize form field styling with outline appearance
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.html
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: improve session management reliability and UX (#291)
  src/app/auth/components/login/login.component.html
  src/app/auth/components/login/login.component.scss
  src/app/auth/components/login/login.component.ts
  src/app/auth/config/session.config.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/session-manager.service.spec.ts
  src/app/auth/services/session-manager.service.ts
  src/app/core/rxjs-imports.ts
  src/app/core/services/activity-tracker.service.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: add 30-second grace period to logout timer for reliable session extension
  src/app/auth/config/session.config.ts
  src/app/auth/services/session-manager.service.ts
Due: eslint --fix, prettier --write

feat: add data assets context menu for diagram shapes (#343)
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/import/reference-rewriter.service.spec.ts
  src/app/pages/tm/services/import/reference-rewriter.service.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

chore: release version 1.0.0
  package.json
Due: none

chore: update dependencies and fix test
  package.json
  pnpm-lock.yaml
  src/app/pages/dfd/application/services/app-event-handlers.service.spec.ts
Due: eslint --fix, prettier --write

chore: format dfd.component.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: use correct _metadata property name for cell metadata persistence
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: use correct _metadata property name in app-dfd.facade.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
Due: eslint --fix, prettier --write

fix: use correct _metadata property name in x6-cell-extensions.ts
  src/app/pages/dfd/utils/x6-cell-extensions.ts
Due: eslint --fix, prettier --write

fix: fetch data assets from dedicated API endpoint and persist via executeOperation
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: use createThreat API endpoint instead of updateThreatModel in DFD editor
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

feat: add reusable delete confirmation dialog with typed confirmation
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/tm/components/note-page/note-page.component.spec.ts
  src/app/pages/tm/components/note-page/note-page.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/tm/tm.component.ts
  src/app/shared/components/delete-confirmation-dialog/delete-confirmation-dialog.component.html
  src/app/shared/components/delete-confirmation-dialog/delete-confirmation-dialog.component.scss
  src/app/shared/components/delete-confirmation-dialog/delete-confirmation-dialog.component.spec.ts
  src/app/shared/components/delete-confirmation-dialog/delete-confirmation-dialog.component.ts
  src/app/shared/components/delete-confirmation-dialog/delete-confirmation-dialog.types.ts
  src/app/shared/components/delete-threat-model-dialog/delete-threat-model-dialog.component.html
  src/app/shared/components/delete-threat-model-dialog/delete-threat-model-dialog.component.scss
  src/app/shared/components/delete-threat-model-dialog/delete-threat-model-dialog.component.ts
  src/app/shared/imports.ts
  src/app/shared/index.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: increase delete confirmation dialog width to 700px
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/tm/components/note-page/note-page.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/tm/tm.component.ts
  src/app/shared/components/delete-confirmation-dialog/delete-confirmation-dialog.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove min-width constraint causing dialog content overflow
  src/app/shared/components/delete-confirmation-dialog/delete-confirmation-dialog.component.scss
Due: prettier --write, stylelint --fix

fix: incorrect api path for client_credentials
  package.json
  src/app/core/services/client-credential.service.ts
  src/app/types/client-credential.types.ts
Due: eslint --fix, prettier --write

fix: version bump now checks for relevant file changes
  .husky/post-commit
Due: none

fix: data assets checkbox click handler now triggers toggle
  src/app/pages/dfd/presentation/components/dfd.component.html
Due: eslint --fix, prettier --write

fix: use /me/logout endpoint for logout instead of /oauth2/revoke
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

fix: use UserPreferencesService for developer tools preference
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: cell references in threat editor now display label instead of ID
  src/app/shared/services/cell-data-extraction.service.spec.ts
  src/app/shared/services/cell-data-extraction.service.ts
Due: eslint --fix, prettier --write

test: clean up auth service spec expectations
  src/app/auth/services/auth.service.spec.ts
Due: eslint --fix, prettier --write

fix: exclude .comment keys from unused i18n key checker
  scripts/check-unused-i18n-keys.cjs
Due: none

feat(i18n): add missing German translations
  src/assets/i18n/de-DE.json
Due: prettier --write

feat(i18n): add missing Indonesian translations
  src/assets/i18n/id-ID.json
Due: prettier --write

chore: remove unused i18n keys and backfill missing translations
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: extract edge labels from labels[] array (X6 native format)
  src/app/shared/services/cell-data-extraction.service.spec.ts
  src/app/shared/services/cell-data-extraction.service.ts
Due: eslint --fix, prettier --write

refactor: align domain model with X6 native edge label format
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/domain/value-objects/diagram-edge.ts
  src/app/pages/dfd/domain/value-objects/edge-info.spec.ts
  src/app/pages/dfd/domain/value-objects/edge-info.ts
Due: eslint --fix, prettier --write

fix: refresh diagrams list after creating new diagram
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

feat: update API consumers to use normalized list responses with pagination
  src/app/core/services/addon.service.spec.ts
  src/app/core/services/addon.service.ts
  src/app/core/services/quota.service.spec.ts
  src/app/core/services/quota.service.ts
  src/app/core/services/webhook.service.spec.ts
  src/app/core/services/webhook.service.ts
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.ts
  src/app/pages/admin/addons/admin-addons.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/components/note-page/note-page.component.spec.ts
  src/app/pages/tm/components/note-page/note-page.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/models/api-responses.model.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/types/addon.types.ts
  src/app/types/administrator.types.ts
  src/app/types/api-responses.types.ts
  src/app/types/quota.types.ts
  src/app/types/webhook.types.ts
Due: eslint --fix, prettier --write
