Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

Documentation cleanup
  README.md
  docs/README.md
  docs/agent/README.md
  docs/developer/README.md
  docs/developer/features/README.md
  docs/developer/setup/README.md
  docs/developer/testing/README.md
  docs/reference/README.md
  docs/reference/architecture/README.md
  docs/reference/architecture/dfd-change-propagation/index.md
  docs/reference/authentication-component-architecture.png
  docs/reference/authentication-flow.png
  docs/reference/features/README.md
  docs/reference/libraries/README.md
  docs/reference/security/README.md
  file-mapping.txt
  pnpm
  src/environments/environment.dev.ts
Due: eslint --fix, prettier --write

Re-enabled threat management on DFD page. Cleaned up About page.
  src/app/pages/about/about.component.html
  src/app/pages/about/about.component.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Bump
  package.json
  pnpm-lock.yaml
Due: none

trivial style change, tool approval
  .claude/settings.local.json
  src/styles.scss
Due: prettier --write, stylelint --fix

format
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

Implement smooth connections in diagrams
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/domain/value-objects/edge-info.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Fixing diagram loading to follow layering principles
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
Due: eslint --fix, prettier --write

Adding Claude configuration to repo
  .claude/CLAUDE.md
  .claude/agents/docs-hunter.md
  .gitignore
Due: none

Removed dead code, changed scoping of DFD components,
  src/app/pages/dfd/_to_delete/app-dfd-legacy.facade.ts
  src/app/pages/dfd/_to_delete/dfd.component.v1.backup.ts
  src/app/pages/dfd/application/services/app-auto-save-manager.service.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-resync.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/application/services/app-graph-operation-manager.service.ts
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/infrastructure/strategies/infra-cache-only-persistence.strategy.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
  src/app/pages/dfd/infrastructure/strategies/infra-websocket-persistence.strategy.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

Fixed diagram export to image
  .claude/settings.local.json
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-export.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/services/svg-optimization.service.ts
Due: eslint --fix, prettier --write

Fixing REST save
  .gitignore
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-auto-save-manager.service.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
Due: eslint --fix, prettier --write

Fixing auto-save user metadata
  src/app/pages/dfd/application/services/app-auto-save-manager.service.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

Minor bugfixes
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/constants/styling-constants.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-node.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

Minor improvements - different visual effect color for remote creation, orchestrated node deletion
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/constants/styling-constants.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-node.service.ts
Due: eslint --fix, prettier --write

DFD styling and auto-save
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-export.service.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

Adding logo to README
  README.md
Due: none

Fixing show history dialog, localization key missed renames
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Standardized typography
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.scss
  src/app/core/components/validation-error-dialog/validation-error-dialog.component.scss
  src/app/pages/dfd/presentation/components/cell-properties-dialog/cell-properties-dialog.component.scss
  src/app/pages/dfd/presentation/components/x6-history-dialog/x6-history-dialog.component.scss
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/styles.scss
  src/styles/typography.scss
Due: eslint --fix, prettier --write, stylelint --fix

More standardization
  src/app/core/components/navbar/navbar.component.scss
  src/app/pages/about/about.component.scss
  src/app/pages/privacy/privacy.component.scss
Due: prettier --write, stylelint --fix

session expiry dialog layout
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.scss
Due: prettier --write, stylelint --fix

Updated privacy policy and ToS
  src/assets/i18n/en-US.json
Due: prettier --write

Tweaks to privacy and about
  src/app/pages/about/about.component.html
  src/app/pages/privacy/privacy.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Added operator jurisdiction
  src/app/core/services/operator.service.ts
  src/app/pages/about/about.component.html
  src/app/pages/about/about.component.ts
  src/environments/environment.dev.ts
  src/environments/environment.example.ts
  src/environments/environment.interface.ts
  src/environments/environment.prod.ts
  src/environments/environment.staging.ts
  src/environments/environment.test.ts
  src/environments/environment.ts
Due: eslint --fix, prettier --write

Fixing minor DFD bugs
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

Fixing test failures
  docs/agent/dfd-integration-testing-approach.md
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-selection.service.spec.ts
  src/test-setup.ts
  src/testing/compiler-setup.ts
  src/testing/mocks/index.ts
  src/testing/mocks/mock-platform-location.service.ts
  src/testing/zone-setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Test fixes
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.spec.ts
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.spec.ts
  src/app/pages/dfd/integration/history-styling.spec.ts
  src/app/pages/dfd/integration/selection-styling.spec.ts
  src/app/pages/dfd/integration/visual-effects.spec.ts
Due: eslint --fix, prettier --write

Fixing test failures
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.spec.ts
Due: eslint --fix, prettier --write

Test fixes
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-graph-operation-manager.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-keyboard.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-label-editor.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.spec.ts
Due: eslint --fix, prettier --write

Test fixes
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-keyboard.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-label-editor.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
Due: eslint --fix, prettier --write

Last of the test fixes
  src/app/pages/dfd/application/services/app-graph-operation-manager.service.spec.ts
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.spec.ts
Due: eslint --fix, prettier --write

Fixed edge persistence
  src/app/pages/dfd/application/services/app-auto-save-manager.service.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

Added heroku configuration
  .claude/settings.local.json
  Procfile
  package.json
Due: none

Adding heroku config
  .gitignore
  HEROKU_DEPLOYMENT.md
  angular.json
  package.json
Due: none

Adding heroku env file
  .gitignore
  HEROKU_DEPLOYMENT.md
  scripts/configure-heroku-env.sh
  src/environments/environment.heroku.ts
Due: eslint --fix, prettier --write

Updating operator contact information
  src/environments/environment.dev.ts
  src/environments/environment.heroku.ts
Due: eslint --fix, prettier --write

Adding Dockerfile
  .dockerignore
  Dockerfile
Due: none

Fixed container build
  .claude/settings.local.json
  Dockerfile
  server.js
Due: none

Cleanup,
  HEROKU_DEPLOYMENT.md
  src/environments/environment.heroku.ts
Due: eslint --fix, prettier --write

Cleanup
  .claude/settings.local.json
  Dockerfile
  angular.json
  docs/developer/setup/heroku-deployment.md
  package.json
  scripts/configure-heroku-env.sh
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.spec.ts
  src/app/pages/privacy/privacy.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  src/environments/environment.hosted-container.ts
Due: eslint --fix, prettier --write
