Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: type threat dialog result to eliminate lint warnings
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

feat: generate TypeScript types from OpenAPI specification (Phase 1)
  package.json
  pnpm-lock.yaml
  src/app/generated/api-type-helpers.ts
  src/app/generated/api-types.d.ts
  src/app/generated/type-compatibility-check.ts
Due: eslint --fix, prettier --write

fix: resolve type compatibility drift between manual types and OpenAPI spec
  src/app/core/services/collaboration-session.service.ts
  src/app/generated/api-types.d.ts
  src/app/generated/type-compatibility-check.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/models/tm-list-item.model.ts
  src/app/pages/tm/services/threat-model-authorization.service.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/shared/utils/principal-display.utils.spec.ts
Due: eslint --fix, prettier --write

fix: resolve type compatibility drift between manual types and OpenAPI spec
  src/app/auth/services/index.ts
  src/app/core/components/index.ts
  src/app/core/interceptors/security-headers.interceptor.spec.ts
  src/app/core/interceptors/security-headers.interceptor.ts
  src/app/core/services/index.ts
  src/app/core/services/security-config.service.ts
  src/app/pages/dfd/application/services/app-event-handlers.service.ts
  src/app/pages/dfd/application/services/app-operation-state-manager.service.ts
  src/app/pages/dfd/application/validators/edge-operation-validator.spec.ts
  src/app/pages/dfd/application/validators/edge-operation-validator.ts
  src/app/pages/dfd/application/validators/general-operation-validator.spec.ts
  src/app/pages/dfd/application/validators/general-operation-validator.ts
  src/app/pages/dfd/domain/value-objects/index.ts
  src/app/pages/dfd/types/graph-operation.types.ts
  src/app/pages/dfd/types/persistence.types.ts
Due: eslint --fix, prettier --write

feat: add "Include in Report" checkbox to all entity editors
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.html
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.scss
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.scss
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.html
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.scss
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.html
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.scss
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: ensure include_in_report round-trips correctly through all entity editors
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/pages/tm/components/note-page/note-page.component.html
  src/app/pages/tm/components/note-page/note-page.component.scss
  src/app/pages/tm/components/note-page/note-page.component.ts
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: handle legacy numeric values in threat status/severity display
  src/app/pages/tm/services/threat-model-report.service.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/app/shared/utils/field-value-helpers.spec.ts
  src/app/shared/utils/field-value-helpers.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: include include_in_report in REST persistence load response
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
Due: eslint --fix, prettier --write

fix: re-fetch sub-entity lists after creation for reliable UI updates
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

chore(deps): bump remaining low-risk dev dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: move search icon to prefix position in admin surveys page
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/admin-surveys.component.ts
Due: eslint --fix, prettier --write

refactor: audit !important overrides — fix notification bug, deduplicate styles
  src/app/pages/dfd/styles/_dfd-styles.scss
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.scss
  src/app/pages/tm/components/note-page/note-page.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/components/threat-page/threat-page.component.scss
  src/app/pages/tm/tm-edit.component.scss
  src/app/pages/triage/components/triage-note-editor-dialog/triage-note-editor-dialog.component.scss
  src/styles.scss
  src/styles/_link-colors.scss
  src/styles/_markdown-editor.scss
  src/styles/_notification-styles.scss
  src/styles/component-overrides.scss
Due: prettier --write, stylelint --fix

feat: add Security Reviewer field to threat model editor UI
  src/app/core/services/user-group.service.spec.ts
  src/app/core/services/user-group.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
  src/app/pages/tm/tm-edit.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: sort threats by severity/status using migrated camelCase keys
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: update threat model cache after threat CRUD operations
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: replace back button with close button on my-responses page
  src/app/pages/surveys/components/my-responses/my-responses.component.html
  src/app/pages/surveys/components/my-responses/my-responses.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve dialog sizing and dashboard list gap issues
  src/app/pages/dashboard/dashboard.component.scss
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.scss
Due: prettier --write, stylelint --fix

fix: move detail-row override inside .threat-models-table for specificity
  src/app/pages/dashboard/dashboard.component.scss
Due: prettier --write, stylelint --fix

feat: add unassigned reviews tab to triage page (#416)
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.html
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.scss
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.spec.ts
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.ts
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.scss
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/app/shared/services/security-reviewer.service.spec.ts
  src/app/shared/services/security-reviewer.service.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: handle legacy array metadata format in convertCellDataToArray()
  src/app/pages/dfd/application/services/app-diagram.service.ts
Due: eslint --fix, prettier --write

chore: update home page description text and backfill localizations
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

feat: add project picker to survey responses and threat model editor (#412)
  src/app/core/services/project.service.spec.ts
  src/app/core/services/project.service.ts
  src/app/core/services/team.service.spec.ts
  src/app/core/services/team.service.ts
  src/app/pages/surveys/components/response-detail/response-detail.component.html
  src/app/pages/surveys/components/response-detail/response-detail.component.ts
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/surveys/components/survey-fill/survey-fill.component.scss
  src/app/pages/surveys/components/survey-fill/survey-fill.component.ts
  src/app/pages/surveys/services/survey-response.service.spec.ts
  src/app/pages/surveys/services/survey-response.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/app/shared/components/create-project-dialog/create-project-dialog.component.spec.ts
  src/app/shared/components/create-project-dialog/create-project-dialog.component.ts
  src/app/shared/components/create-team-dialog/create-team-dialog.component.spec.ts
  src/app/shared/components/create-team-dialog/create-team-dialog.component.ts
  src/app/shared/components/project-picker/project-picker.component.spec.ts
  src/app/shared/components/project-picker/project-picker.component.ts
  src/app/types/project.types.ts
  src/app/types/survey.types.ts
  src/app/types/team.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: suppress vscode-languageserver-protocol CommonJS warning
  angular.json
Due: none

fix: add --provenance=false to docker build for Heroku compatibility
  scripts/push-heroku.sh
Due: none

fix: build linux/amd64 Docker image for Heroku deployment
  scripts/push-heroku.sh
Due: none

fix: treat "none" status as unset in threat model status display
  package.json
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm.component.html
Due: eslint --fix, prettier --write

feat: complete PDF report generation with full sub-entity support (#285)
  src/app/pages/tm/services/report/pdf-font-manager.ts
  src/app/pages/tm/services/report/pdf-layout-engine.spec.ts
  src/app/pages/tm/services/report/pdf-layout-engine.ts
  src/app/pages/tm/services/report/pdf-markdown-renderer.spec.ts
  src/app/pages/tm/services/report/pdf-markdown-renderer.ts
  src/app/pages/tm/services/report/pdf-section-renderers.ts
  src/app/pages/tm/services/report/pdf-stylesheet.ts
  src/app/pages/tm/services/report/pdf-table-renderer.spec.ts
  src/app/pages/tm/services/report/pdf-table-renderer.ts
  src/app/pages/tm/services/report/threat-model-report.service.spec.ts
  src/app/pages/tm/services/report/threat-model-report.service.ts
  src/app/pages/tm/services/threat-model-report.service.spec.ts
  src/app/pages/tm/services/threat-model-report.service.ts
  src/app/pages/tm/tm-edit.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: handle diagram include_in_report and note missing content during import
  src/app/pages/tm/services/import/import-orchestrator.service.spec.ts
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
Due: eslint --fix, prettier --write

fix: import/export bugs and migrate to generated API types
  src/app/generated/api-types.d.ts
  src/app/pages/tm/services/import/import-orchestrator.service.spec.ts
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: import/export bugs and migrate to generated API types
  package.json
  src/app/generated/api-types.d.ts
  src/app/pages/tm/services/import/import-orchestrator.service.spec.ts
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: resolve layout and display bugs across survey and TM edit pages
  src/app/pages/surveys/components/response-detail/response-detail.component.html
  src/app/pages/surveys/components/response-detail/response-detail.component.scss
  src/app/pages/surveys/components/response-detail/response-detail.component.ts
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/surveys/components/survey-fill/survey-fill.component.scss
  src/app/pages/surveys/components/survey-fill/survey-fill.component.ts
  src/app/pages/tm/tm-edit.component.scss
  src/app/shared/components/create-project-dialog/create-project-dialog.component.ts
  src/app/shared/components/project-picker/project-picker.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove obsolete .close-button SCSS rules superseded by .action-buttons flex containers
  src/app/pages/admin/addons/admin-addons.component.scss
  src/app/pages/admin/admin.component.scss
  src/app/pages/admin/groups/admin-groups.component.scss
  src/app/pages/admin/quotas/admin-quotas.component.scss
  src/app/pages/admin/settings/admin-settings.component.scss
  src/app/pages/admin/surveys/admin-surveys.component.scss
  src/app/pages/admin/users/admin-users.component.scss
  src/app/pages/admin/webhooks/admin-webhooks.component.scss
  src/app/pages/surveys/components/response-detail/response-detail.component.scss
  src/app/pages/triage/components/triage-list/triage-list.component.scss
Due: prettier --write, stylelint --fix

refactor: standardize action button groups with global .action-buttons class
  src/app/pages/admin/addons/admin-addons.component.html
  src/app/pages/admin/admin.component.html
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/admin/settings/admin-settings.component.html
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.scss
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/webhooks/admin-webhooks.component.html
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.scss
  src/app/pages/surveys/components/my-responses/my-responses.component.html
  src/app/pages/surveys/components/my-responses/my-responses.component.scss
  src/app/pages/surveys/components/response-detail/response-detail.component.html
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/surveys/components/survey-fill/survey-fill.component.scss
  src/app/pages/tm/components/note-page/note-page.component.html
  src/app/pages/tm/components/note-page/note-page.component.scss
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: fix whitespace in generated API types
  src/app/generated/api-types.d.ts
Due: eslint --fix, prettier --write

fix: include TMI pseudo-provider in permissions dialog provider dropdown
  package.json
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/providers/provider-adapter.service.spec.ts
  src/app/pages/tm/services/providers/provider-adapter.service.ts
Due: eslint --fix, prettier --write

feat: reorganize threat model details card into two-column layout (#433)
  src/app/generated/api-types.d.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
  src/app/pages/tm/tm-edit.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix
