Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: simplify WebSocket message logging to log raw message body
  src/app/core/services/websocket.adapter.ts
Due: eslint --fix, prettier --write

chore(deps): update dependencies and clean up overrides
  package.json
  pnpm-lock.yaml
Due: none

chore: formatting
  package.json
  src/app/core/services/websocket.adapter.ts
Due: eslint --fix, prettier --write

fix: escape all regex metacharacters in JSONPathMatcher.pathToRegex
  src/app/pages/dfd/utils/cell-property-filter.util.ts
Due: eslint --fix, prettier --write

refactor: update WebSocket sync protocol to simplified version
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/application/services/app-operation-rejection-handler.service.ts
  src/app/pages/dfd/application/services/app-state.service.spec.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/application/services/app-websocket-event-processor.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-websocket-collaboration.adapter.ts
Due: eslint --fix, prettier --write

fix: update participants_update handling for User objects and fix cell operation broadcasting
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/application/services/app-websocket-event-processor.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
  src/app/pages/dfd/infrastructure/strategies/infra-websocket-persistence.strategy.ts
Due: eslint --fix, prettier --write

fix: align client with server WebSocket message format
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/application/services/app-remote-operation-handler.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
Due: eslint --fix, prettier --write

fix: pass full user info in remove participant request
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/websocket.adapter.ts
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.html
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.ts
Due: eslint --fix, prettier --write

fix: apply creation visual effects for remote cells and broadcast all cell operations
  src/app/pages/dfd/application/services/app-remote-operation-handler.service.ts
  src/app/pages/dfd/infrastructure/strategies/infra-websocket-persistence.strategy.ts
Due: eslint --fix, prettier --write

fix: capture previousCellState for label, reconnection, and parent changes
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

feat: add missing i18n translations for about and admin sections
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

feat: add 11 new localization files and standardize locale naming
  src/app/i18n/language.service.ts
  src/app/i18n/testing.module.ts
  src/app/i18n/transloco.module.ts
  src/app/pages/about/about.component.html
  src/app/pages/about/about.component.scss
  src/app/pages/about/about.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: use provider_id consistently per updated AsyncAPI spec
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
  src/app/pages/dfd/presentation/services/ui-presenter-coordinator.service.spec.ts
  src/app/pages/dfd/presentation/services/ui-presenter-coordinator.service.ts
Due: eslint --fix, prettier --write

fix: auto-dismiss disconnected notification and normalize edge label structure
  src/app/pages/dfd/application/services/app-notification.service.ts
  src/app/pages/dfd/utils/x6-cell-extensions.ts
Due: eslint --fix, prettier --write

chore: removing trivy
  .trivyignore.yaml
  package.json
Due: none

feat: add German and partial French translations for i18n
  src/assets/i18n/de-DE.json
  src/assets/i18n/fr-FR.json
Due: prettier --write

chore: fine tuning prompts
  .claude/CLAUDE.md
  package.json
Due: none

feat: add analyze_localization_files skill for i18n analysis
  .claude/skills/analyze_localization_files/SKILL.md
Due: none

feat: add detect_non_localizable skill for i18n filtering
  .claude/skills/detect_non_localizable/SKILL.md
Due: none

feat: add translate_to_language skill for i18n translation
  .claude/skills/translate_to_language/SKILL.md
Due: none

feat: add i18n skills and localization-backfill command
  .claude/commands/localization-backfill.md
  .claude/skills/analyze_localization_files/SKILL.md
  .claude/skills/update_json_localization_file/SKILL.md
  .claude/skills/validate_localization_coverage/SKILL.md
  .claude/skills/validate_translation/SKILL.md
Due: none

feat: backfill missing translations for 15 languages
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

feat: add untranslated placeholder detection to check-i18n
  scripts/sort-json.py
Due: none

fix: adjust untranslated placeholder detection criteria
  scripts/sort-json.py
Due: none

feat: include untranslated strings in localization-backfill
  .claude/commands/localization-backfill.md
Due: none

feat: add merge-translations.py and update localization files
  scripts/merge-translations.py
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

feat: complete Korean (ko-KR) localization translation
  src/assets/i18n/ko-KR.json
Due: prettier --write

feat: complete Urdu (ur-PK) translations for UI sections
  src/assets/i18n/ur-PK.json
Due: prettier --write

feat: complete Hebrew (he-IL) localization translations
  src/assets/i18n/he-IL.json
Due: prettier --write

feat: update localization files for multiple languages
  src/app/i18n/language.service.spec.ts
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: complete Thai (th-TH) localization translations
  src/assets/i18n/th-TH.json
Due: prettier --write

feat: complete Indonesian (id-ID) localization translations
  src/assets/i18n/id-ID.json
Due: prettier --write

feat: complete Portuguese (Brazil) (pt-BR) localization translations
  src/assets/i18n/pt-BR.json
Due: prettier --write

feat: complete Urdu (Pakistan) (ur-PK) localization translations
  src/assets/i18n/ur-PK.json
Due: prettier --write

feat: update localization files for multiple languages
  src/assets/i18n/bn-BD.json
  src/assets/i18n/en-US.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/ru-RU.json
Due: prettier --write

feat: improve i18n script to skip .comment keys and non-translatable strings
  scripts/sort-json.py
  src/assets/i18n/en-US.json
Due: prettier --write

feat: backfill translations for ar-SA, hi-IN, pt-BR, ru-RU, th-TH, ur-PK
  src/assets/i18n/ar-SA.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
Due: prettier --write

feat: improve es-ES and id-ID localization translations
  src/assets/i18n/es-ES.json
  src/assets/i18n/id-ID.json
Due: prettier --write

feat: add reference mode to localization deduplication tool and apply deduplication
  package.json
  scripts/find_duplicate_localizations.py
  src/assets/i18n/en-US.json
Due: prettier --write

refactor: convert 19 hi-IN localization keys to use references
  src/assets/i18n/hi-IN.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
