Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat(types): add name field to AdminUserFilter for #601
  src/app/types/user.types.ts
Due: eslint --fix, prettier --write

feat: add PermissionsAutocompleteService with TDD tests
  src/app/pages/tm/services/permissions-autocomplete.service.spec.ts
  src/app/pages/tm/services/permissions-autocomplete.service.ts
Due: eslint --fix, prettier --write

feat: wire mat-autocomplete to permissions dialog subject field (#601)
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

test: add autocomplete tests for permissions dialog (#601)
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
Due: eslint --fix, prettier --write

feat: add download button to credential secret dialog
  src/app/core/components/user-preferences-dialog/credential-secret-dialog/credential-secret-dialog.component.spec.ts
  src/app/core/components/user-preferences-dialog/credential-secret-dialog/credential-secret-dialog.component.ts
Due: eslint --fix, prettier --write

refactor: move CreateAutomationUserDialog to shared admin location
  src/app/pages/admin/shared/create-automation-user-dialog/create-automation-user-dialog.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
Due: eslint --fix, prettier --write

fix: type MAT_DIALOG_DATA as nullable in CreateAutomationUserDialog
  src/app/pages/admin/shared/create-automation-user-dialog/create-automation-user-dialog.component.ts
Due: eslint --fix, prettier --write

refactor(i18n): move createAutomationUserDialog keys to admin namespace
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

test: add failing tests for onCreateAutomationUser in admin users component
  src/app/pages/admin/users/admin-users.component.spec.ts
Due: eslint --fix, prettier --write

feat: add create automation user button to admin users page
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/users/admin-users.component.ts
Due: eslint --fix, prettier --write

test: strengthen assertions in onCreateAutomationUser tests
  src/app/pages/admin/users/admin-users.component.spec.ts
Due: eslint --fix, prettier --write

fix: move create button to card header for admin page consistency
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/users/admin-users.component.spec.ts
Due: eslint --fix, prettier --write

feat: block automation accounts from Administrators group membership
  src/app/pages/admin/groups/group-members-dialog/group-members-dialog.component.spec.ts
  src/app/pages/admin/groups/group-members-dialog/group-members-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

style: increase vertical padding between issue URI and status fields
  src/app/pages/tm/components/threat-page/threat-page.component.scss
Due: prettier --write, stylelint --fix

docs: add E2E Phase 2 DFD editor design spec
  docs/superpowers/specs/2026-04-15-e2e-phase2-dfd-editor-design.md
Due: none

docs: add E2E Phase 2 DFD editor implementation plan
  docs/superpowers/plans/2026-04-15-e2e-phase2-dfd-editor.md
Due: none

feat: add E2E environment configuration with enableE2eTools flag
  angular.json
  package.json
  src/environments/environment.e2e.ts
  src/environments/environment.interface.ts
Due: eslint --fix, prettier --write

feat: add E2E testing bridge exposing orchestrator and graph on window.__e2e
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

test: add data-testid attributes to all DFD editor toolbar controls
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

test: expand DfdEditorPage with full locators and graph wrappers
  e2e/pages/dfd-editor.page.ts
Due: none

test: add openSeededDiagram method to DiagramFlow
  e2e/flows/diagram.flow.ts
Due: none

test: add DFD editor controls E2E tests
  e2e/tests/workflows/dfd-controls.spec.ts
Due: none

test: add DFD editor interaction workflow E2E tests
  e2e/tests/workflows/dfd-interactions.spec.ts
Due: none

test: add DFD editor history E2E tests
  e2e/tests/workflows/dfd-history.spec.ts
Due: none

test: add DFD editor auto-save E2E tests
  e2e/tests/workflows/dfd-autosave.spec.ts
Due: none

test: add DFD seeded diagram verification E2E tests
  e2e/tests/workflows/dfd-seeded-diagram.spec.ts
Due: none

test: add DFD node property field coverage E2E tests
  e2e/tests/field-coverage/dfd-node-properties.spec.ts
Due: none

test: add DFD edge property field coverage E2E tests
  e2e/tests/field-coverage/dfd-edge-properties.spec.ts
Due: none

test: add DFD icon picker field coverage E2E tests
  e2e/tests/field-coverage/dfd-icon-properties.spec.ts
Due: none

test: add DFD visual regression composite plate E2E tests
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts
Due: none

test: add DFD translation and icon integrity E2E tests
  e2e/tests/visual-regression/dfd-translation-icons.spec.ts
Due: none

fix: address code review issues in E2E Phase 2 tests
  e2e/flows/diagram.flow.ts
  e2e/pages/dfd-editor.page.ts
  e2e/tests/field-coverage/dfd-edge-properties.spec.ts
  e2e/tests/field-coverage/dfd-icon-properties.spec.ts
  e2e/tests/field-coverage/dfd-node-properties.spec.ts
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts
  e2e/tests/workflows/dfd-autosave.spec.ts
  e2e/tests/workflows/dfd-controls.spec.ts
  e2e/tests/workflows/dfd-interactions.spec.ts
  e2e/tests/workflows/dfd-seeded-diagram.spec.ts
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: prevent prototype pollution in logger redactSensitiveData
  package.json
  src/app/core/services/logger.service.ts
Due: eslint --fix, prettier --write

fix: prevent prototype pollution in logger redactSensitiveData
  src/app/core/services/logger.service.ts
Due: eslint --fix, prettier --write

test: update logger prototype pollution test for filtered dangerous keys
  src/app/core/services/logger.service.spec.ts
Due: eslint --fix, prettier --write

fix: resolve DFD E2E test failures and duplicate undo history bug
  e2e/pages/dfd-editor.page.ts
  e2e/tests/field-coverage/dfd-icon-properties.spec.ts
  e2e/tests/field-coverage/dfd-node-properties.spec.ts
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-after-operations-dark-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-after-operations-dark-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-after-operations-light-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-after-operations-light-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-edge-variations-dark-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-edge-variations-dark-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-edge-variations-light-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-edge-variations-light-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-embedding-dark-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-embedding-dark-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-embedding-light-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-embedding-light-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-node-types-dark-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-node-types-dark-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-node-types-light-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-node-types-light-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-seeded-complex-dark-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-seeded-complex-dark-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-seeded-complex-light-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-seeded-complex-light-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-style-variations-dark-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-style-variations-dark-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-style-variations-light-colorblind-visual-regression-darwin.png
  e2e/tests/visual-regression/dfd-visual-regression.spec.ts-snapshots/dfd-style-variations-light-visual-regression-darwin.png
  e2e/tests/workflows/dfd-autosave.spec.ts
  e2e/tests/workflows/dfd-controls.spec.ts
  e2e/tests/workflows/dfd-history.spec.ts
  e2e/tests/workflows/dfd-interactions.spec.ts
  e2e/tests/workflows/dfd-seeded-diagram.spec.ts
  src/app/core/services/logger.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

test: drive DFD node move/resize via orchestrator instead of mouse events
  e2e/pages/dfd-editor.page.ts
  e2e/tests/workflows/dfd-interactions.spec.ts
Due: none

fix: treat null in update-node properties as key deletion (#606)
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
