Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: wire history dialog and undo/redo buttons to custom history system
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-history.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/components/x6-history-dialog/x6-history-dialog.component.ts
Due: eslint --fix, prettier --write

fix: handle cell deletions in undo/redo operations
  src/app/pages/dfd/application/services/app-history.service.ts
Due: eslint --fix, prettier --write

feat: clear visual effects and update embeddings after undo/redo
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

feat: preserve complete cell state in undo/redo operations
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

fix: use node:change:position event for tracking position changes
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

refactor: remove X6 references from history dialog
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.html
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.scss
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add collapsible view to history dialog
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.html
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.scss
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: localize debug dialogs and remove X6 references
  src/app/pages/dfd/presentation/components/clipboard-dialog/clipboard-dialog.component.html
  src/app/pages/dfd/presentation/components/clipboard-dialog/clipboard-dialog.component.scss
  src/app/pages/dfd/presentation/components/clipboard-dialog/clipboard-dialog.component.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/components/graph-data-dialog/graph-data-dialog.component.html
  src/app/pages/dfd/presentation/components/graph-data-dialog/graph-data-dialog.component.scss
  src/app/pages/dfd/presentation/components/graph-data-dialog/graph-data-dialog.component.ts
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.html
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.scss
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.ts
  src/app/pages/dfd/presentation/components/x6-clipboard-dialog/x6-clipboard-dialog.component.html
  src/app/pages/dfd/presentation/components/x6-graph-data-dialog/x6-graph-data-dialog.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: respect user animation preference in visual effects
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.ts
Due: eslint --fix, prettier --write

fix: eliminate duplicate history entries for drag operations
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-operation-broadcaster.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: prevent redo/undo from creating duplicate history entries
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-history.service.ts
  src/app/pages/dfd/application/services/app-state.service.ts
Due: eslint --fix, prettier --write

fix: prevent visual properties from leaking into history
  src/app/pages/dfd/utils/cell-normalization.util.spec.ts
  src/app/pages/dfd/utils/cell-normalization.util.ts
Due: eslint --fix, prettier --write

fix: sanitize clipboard data to remove visual properties
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

feat: add clear buttons to debug dialogs and enable edge selection in rubberband
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-history.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
  src/app/pages/dfd/presentation/components/clipboard-dialog/clipboard-dialog.component.html
  src/app/pages/dfd/presentation/components/clipboard-dialog/clipboard-dialog.component.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.html
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

fix: fine tuning history attribute/property capture
  package.json
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/application/services/app-operation-state-manager.service.ts
Due: eslint --fix, prettier --write

fix: preserve edge labels during undo/redo operations
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
Due: eslint --fix, prettier --write

fix: preserve edge labels during undo/redo operations
  src/app/pages/dfd/application/services/app-history.service.ts
Due: eslint --fix, prettier --write

fix: preserve complete edge label structure during undo/redo
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
Due: eslint --fix, prettier --write

refactor: comprehensively preserve all X6 cell attributes during undo/redo
  src/app/pages/dfd/application/services/app-history.service.ts
Due: eslint --fix, prettier --write

refactor: use existing normalizeCell utility to deduplicate code
  src/app/pages/dfd/application/services/app-history.service.ts
Due: eslint --fix, prettier --write

feat: limit automatic zoom-to-fit to maximum 125%
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
  src/app/pages/dfd/constants/styling-constants.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

feat: enhance DFD context menu with larger icons and overlay support
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.scss
  src/styles/component-overrides.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: clear X6 selection before diagram exports to prevent highlighting in exported images
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-export.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

feat: add help dialog to DFD editor with pan and zoom animations
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/components/help-dialog/help-dialog.component.html
  src/app/pages/dfd/presentation/components/help-dialog/help-dialog.component.scss
  src/app/pages/dfd/presentation/components/help-dialog/help-dialog.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: remove local provider and fix session expiry with activity-based refresh
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/auth/components/local-user-select/local-user-select.component.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/local-oauth-provider.service.ts
  src/app/auth/services/session-manager.service.ts
  src/app/core/interfaces/auth-provider.interface.ts
  src/app/core/interfaces/auth.interface.ts
  src/app/core/services/collaboration-session.service.ts
  src/app/core/services/websocket.adapter.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/environments/environment.interface.ts
Due: eslint --fix, prettier --write

refactor: deduplicate localization keys and reorganize debug dialog translations
  src/app/core/interfaces/auth-provider.interface.ts
  src/app/pages/dfd/presentation/components/clipboard-dialog/clipboard-dialog.component.html
  src/app/pages/dfd/presentation/components/graph-data-dialog/graph-data-dialog.component.html
  src/app/pages/dfd/presentation/components/history-dialog/history-dialog.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

chore: apply prettier formatting to auth service files
  src/app/auth/services/auth.service.ts
  src/app/auth/services/session-manager.service.ts
Due: eslint --fix, prettier --write

feat: add Addons buttons to threat model edit page cards
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

fix: configure Material Symbols icons to use outlined variant
  src/app/app.config.ts
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: align status dropdown height with framework field
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: consolidate dependabot dependency updates and remove local oauth provider from tests
  package.json
  pnpm-lock.yaml
  src/app/auth/auth-integration.spec.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/session-manager.service.spec.ts
Due: eslint --fix, prettier --write

chore: updating .gitignore
  .gitignore
  package.json
Due: none

fix: resolve security vulnerabilities in glob and js-yaml dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: update test suite to handle errors and remove offline mode dependency
  src/app/auth/services/auth.service.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
Due: eslint --fix, prettier --write

refactor: migrate from Cypress to Playwright for e2e testing
  .gitignore
  cypress.config.cjs
  cypress/e2e/basic-page-structure.cy.ts
  cypress/e2e/debug-logs-test.cy.ts
  cypress/e2e/debug-navigation.cy.ts
  cypress/e2e/dfd-basic-functionality.cy.ts
  cypress/e2e/dfd-history-styling.cy.ts
  cypress/e2e/dfd-selection-styling.cy.ts
  cypress/e2e/dfd-visual-effects.cy.ts
  cypress/e2e/navigation-flow-debug.cy.ts
  cypress/e2e/navigation-flow-test.cy.ts
  cypress/e2e/navigation-helper-test.cy.ts
  cypress/e2e/simple-authentication-test.cy.ts
  cypress/e2e/simple-connectivity.cy.ts
  cypress/e2e/test-navigation-helper.cy.ts
  cypress/e2e/threat-model-list.cy.ts
  cypress/e2e/tm-page-exploration.cy.ts
  cypress/support/commands.ts
  cypress/support/component.ts
  cypress/support/dfd-test-helpers.ts
  cypress/support/e2e.ts
  cypress/support/index.d.ts
  e2e/README.md
  e2e/TEST_PLAN.md
  e2e/helpers/auth.ts
  e2e/helpers/dfd.ts
  e2e/helpers/navigation.ts
  e2e/tests/auth.spec.ts
  e2e/tests/dfd-basic.spec.ts
  e2e/tests/navigation.spec.ts
  e2e/tests/smoke.spec.ts
  e2e/tests/threat-models.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/cypress-clean.js
Due: none

test: remove offline mode references from e2e tests
  e2e/helpers/auth.ts
  e2e/tests/smoke.spec.ts
Due: none

fix: update e2e tests to handle missing backend data gracefully
  e2e/TEST_PLAN.md
  e2e/helpers/auth.ts
  e2e/helpers/navigation.ts
  e2e/tests/dfd-basic.spec.ts
  e2e/tests/threat-models.spec.ts
Due: none

fix: update e2e tests to use real OAuth test provider
  e2e/helpers/auth.ts
  e2e/tests/auth.spec.ts
  e2e/tests/dfd-basic.spec.ts
  e2e/tests/navigation.spec.ts
  e2e/tests/smoke.spec.ts
  e2e/tests/threat-models.spec.ts
  src/app/auth/components/login/login.component.ts
  src/app/auth/services/auth.service.ts
  src/app/core/services/server-connection.service.ts
Due: eslint --fix, prettier --write

fix: update e2e tests to handle missing backend data gracefully
  e2e/tests/dfd-basic.spec.ts
  e2e/tests/navigation.spec.ts
  e2e/tests/threat-models.spec.ts
  playwright.config.ts
Due: none

feat: add centralized e2e test configuration and service availability checks
  e2e/README.md
  e2e/config/test.config.ts
  e2e/helpers/auth.ts
  e2e/helpers/oauth-credentials.ts
  e2e/helpers/service-availability.ts
  e2e/setup/global-setup.ts
  eslint.config.js
  playwright.config.ts
  tsconfig.e2e.json
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
