Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Localization, linting and test fixes.
  src/app/app.component.spec.ts
  src/app/core/components/footer/footer.component.spec.ts
  src/app/core/components/navbar/navbar.component.spec.ts
  src/app/core/services/api.service.spec.ts
  src/app/i18n/testing.module.ts
  src/app/pages/about/about.component.spec.ts
  src/app/pages/diagram-editor/diagram-editor.component.spec.ts
  src/app/pages/diagram-management/diagram-management.component.spec.ts
  src/app/pages/home/home.component.spec.ts
  src/app/pages/privacy/privacy.component.spec.ts
  src/app/pages/tos/tos.component.spec.ts
Due: eslint --fix, prettier --write

Disabling pre-commit test run
  .husky/pre-commit
Due: none

Minor UX fixes
  src/app/core/components/navbar/navbar.component.html
  src/app/core/services/operator.service.ts
  src/app/pages/about/about.component.html
  src/app/pages/about/about.component.ts
  src/app/pages/diagram-editor/diagram-editor.component.html
  src/app/pages/diagram-management/diagram-management.component.html
  src/app/pages/privacy/privacy.component.html
  src/app/pages/tos/tos.component.html
  src/assets/i18n/en-US.json
  src/environments/environment.example.ts
  src/environments/environment.interface.ts
  src/environments/environment.prod.ts
  src/environments/environment.staging.ts
  src/environments/environment.test.ts
  src/environments/environment.ts
Due: eslint --fix, prettier --write

missing spaces
  src/assets/i18n/en-US.json
Due: prettier --write

Added custom favicon
  public/apple-touch-icon.png
  public/favicon-96x96.png
  public/favicon.ico
  public/favicon.svg
  public/site.webmanifest
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/index.html
Due: eslint --fix, prettier --write

Diagram editor MVP
  ARCHITECTURE_NOTES.md
  AUTHORIZATION.md
  CLAUDE.md
  README.md
  angular.json
  eslint.config.js
  package-lock.json
  package.json
  src/app/auth/guards/auth.guard.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/navbar/navbar.component.html
  src/app/core/services/api.service.ts
  src/app/core/services/logger.service.ts
  src/app/i18n/language.service.ts
  src/app/i18n/testing.module.ts
  src/app/pages/diagram-editor/COLLABORATIVE_EDITING.md
  src/app/pages/diagram-editor/DIAGRAM_EDITOR_IMPLEMENTATION_PLAN.md
  src/app/pages/diagram-editor/diagram-editor.component.html
  src/app/pages/diagram-editor/diagram-editor.component.scss
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/diagram-editor.module.ts
  src/app/pages/diagram-editor/models/diagram.model.ts
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
  src/app/pages/diagram-editor/services/diagram.service.ts
  src/assets/i18n/en-US.json
  src/environments/environment.dev.ts
  src/environments/environment.example.ts
  src/environments/environment.interface.ts
  src/main.ts
  tmi-openapi.json
Due: eslint --fix, prettier --write, stylelint --fix

Updated mxCell creation to always use UUIDs; updated arch doc
  ARCHITECTURE_NOTES.md
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
Due: eslint --fix, prettier --write

Diagram editor UX improvements. Open source credits. Localization improvements.
  src/app/core/components/navbar/navbar.component.html
  src/app/i18n/language.service.ts
  src/app/i18n/transloco.module.ts
  src/app/pages/about/about.component.html
  src/app/pages/about/about.component.scss
  src/app/pages/about/about.component.ts
  src/app/pages/diagram-editor/diagram-editor.component.html
  src/app/pages/diagram-editor/diagram-editor.component.scss
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
  src/app/pages/privacy/privacy.component.html
  src/app/pages/privacy/privacy.component.ts
  src/app/pages/tos/tos.component.html
  src/app/pages/tos/tos.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  src/index.html
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Implemented maxGraph theming. Fixing connector usability & stability issues.
  CLAUDE.md
  angular.json
  src/app/pages/diagram-editor/components/theme-selector.component.ts
  src/app/pages/diagram-editor/diagram-editor.component.html
  src/app/pages/diagram-editor/diagram-editor.component.scss
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/models/diagram-theme.model.ts
  src/app/pages/diagram-editor/models/diagram.model.ts
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
  src/app/pages/diagram-editor/services/extract-theme.ts
  src/app/pages/diagram-editor/services/serialize-theme.ts
  src/assets/images/button.gif
  src/assets/images/close.gif
  src/assets/images/collapsed.gif
  src/assets/images/error.gif
  src/assets/images/expanded.gif
  src/assets/images/maximize.gif
  src/assets/images/minimize.gif
  src/assets/images/normalize.gif
  src/assets/images/point.gif
  src/assets/images/resize.gif
  src/assets/images/separator.gif
  src/assets/images/submenu.gif
  src/assets/images/transparent.gif
  src/assets/images/warning.gif
  src/assets/images/warning.png
  src/assets/images/window-title.gif
  src/assets/images/window.gif
  src/assets/maxgraph/images/point.gif
  src/assets/themes/dark-theme.json
  src/assets/themes/default-theme.json
  src/assets/themes/theme-registry.json
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Fixed all of the point cloning errors
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
Due: eslint --fix, prettier --write

Added toolbar & grid toggle button
  src/app/pages/diagram-editor/components/theme-selector.component.ts
  src/app/pages/diagram-editor/diagram-editor.component.html
  src/app/pages/diagram-editor/diagram-editor.component.scss
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Misc diagram editor errors; drag and drop
  src/app/pages/diagram-editor/diagram-editor.component.html
  src/app/pages/diagram-editor/diagram-editor.component.scss
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Refactored diagram renderer into smaller subcomponents
  src/app/pages/diagram-editor/components/theme-selector.component.ts
  src/app/pages/diagram-editor/diagram-editor.component.html
  src/app/pages/diagram-editor/diagram-editor.component.scss
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/services/components/anchor-point.service.ts
  src/app/pages/diagram-editor/services/components/diagram-component-mapper.service.ts
  src/app/pages/diagram-editor/services/components/edge-management.service.ts
  src/app/pages/diagram-editor/services/components/vertex-management.service.ts
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
  src/app/pages/diagram-editor/services/graph/graph-event-handling.service.ts
  src/app/pages/diagram-editor/services/graph/graph-initialization.service.ts
  src/app/pages/diagram-editor/services/graph/graph-utils.service.ts
  src/app/pages/diagram-editor/services/graph/mx-graph-patching.service.ts
  src/app/pages/diagram-editor/services/interfaces/diagram-renderer.interface.ts
  src/app/pages/diagram-editor/services/theming/diagram-theme.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Re-engineered cell delete for reliability
  DIAGRAM_EDITING_IMPROVEMENTS.md
  src/app/pages/diagram-editor/diagram-editor.component.scss
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/services/components/anchor-point.service.ts
  src/app/pages/diagram-editor/services/components/edge-management.service.ts
  src/app/pages/diagram-editor/services/components/vertex-management.service.ts
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
  src/app/pages/diagram-editor/services/graph/graph-event-handling.service.ts
  src/app/pages/diagram-editor/services/graph/graph-initialization.service.ts
  src/app/pages/diagram-editor/services/graph/graph-utils.service.ts
  src/app/pages/diagram-editor/services/graph/mx-graph-patching.service.ts
  src/app/pages/diagram-editor/services/utils/cell-delete-info.model.ts
  src/app/pages/diagram-editor/services/utils/cell-reference-registry.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Cleanup and organization
  README.md
  context/ARCHITECTURE_NOTES.md
  context/AUTHORIZATION.md
  context/COLLABORATIVE_EDITING.md
  context/DIAGRAM_EDITING_IMPROVEMENTS.md
  context/DIAGRAM_EDITOR_IMPLEMENTATION_PLAN.md
  context/README.md
  src/app/pages/diagram-editor/services/extract-theme.ts
  src/app/pages/diagram-editor/services/serialize-theme.ts
Due: eslint --fix, prettier --write

Refactor to optimize chunk size
  angular.json
  convert-images.js
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/rxjs-imports.ts
  src/app/core/services/asset-loader.service.ts
  src/app/core/utils/dynamic-material-loader.ts
  src/app/i18n/transloco.module.ts
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/diagram-editor.module.ts
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
  src/app/pages/diagram-editor/services/diagram.service.ts
  src/app/pages/diagram-editor/services/theming/diagram-theme.service.ts
  src/app/pages/home/home.component.ts
  src/app/shared/material/core-material.module.ts
  src/app/shared/material/data-material.module.ts
  src/app/shared/material/feedback-material.module.ts
  src/app/shared/material/form-material.module.ts
  src/app/shared/material/material.module.ts
  src/assets/images/webp/button.webp
  src/assets/images/webp/close.webp
  src/assets/images/webp/collapsed.webp
  src/assets/images/webp/error.webp
  src/assets/images/webp/expanded.webp
  src/assets/images/webp/maximize.webp
  src/assets/images/webp/minimize.webp
  src/assets/images/webp/normalize.webp
  src/assets/images/webp/point.webp
  src/assets/images/webp/resize.webp
  src/assets/images/webp/separator.webp
  src/assets/images/webp/submenu.webp
  src/assets/images/webp/transparent.webp
  src/assets/images/webp/warning.webp
  src/assets/images/webp/window-title.webp
  src/assets/images/webp/window.webp
Due: eslint --fix, prettier --write

Implemented state machine and component registry for diagram editor to more gracefully handle synchronization.
  src/app/pages/diagram-editor/diagram-editor.component.html
  src/app/pages/diagram-editor/diagram-editor.component.scss
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
  src/app/pages/diagram-editor/services/graph/graph-initialization.service.ts
  src/app/pages/diagram-editor/services/integration-example.ts
  src/app/pages/diagram-editor/services/registry/diagram-element-registry.service.ts
  src/app/pages/diagram-editor/services/state/editor-state.enum.ts
  src/app/pages/diagram-editor/services/state/state-manager.service.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

Refactored monolithic diagram editor services and components to separate concerns
  src/app/pages/diagram-editor/components/diagram-canvas/diagram-canvas.component.ts
  src/app/pages/diagram-editor/components/index.ts
  src/app/pages/diagram-editor/components/palette/palette.component.ts
  src/app/pages/diagram-editor/components/properties-panel/properties-panel.component.ts
  src/app/pages/diagram-editor/components/state-indicator/state-indicator.component.ts
  src/app/pages/diagram-editor/components/toolbar/toolbar.component.ts
  src/app/pages/diagram-editor/index.ts
  src/app/pages/diagram-editor/models/index.ts
  src/app/pages/diagram-editor/services/error-handling/diagram-error-handling.service.ts
  src/app/pages/diagram-editor/services/event-bus/diagram-event-bus.service.ts
  src/app/pages/diagram-editor/services/index.ts
  src/app/pages/diagram-editor/services/operations/diagram-operations.service.ts
Due: eslint --fix, prettier --write

Graph style/theme improvements
  angular.json
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/services/components/vertex-management.service.ts
  src/app/pages/diagram-editor/services/theming/diagram-theme.service.ts
  src/assets/themes/dark-theme.json
  src/assets/themes/default-theme.json
Due: eslint --fix, prettier --write

Included AI instruction for finding maxGraph sample code
  CLAUDE.md
Due: none

Updating openapi spec to match server
  tmi-openapi.json
Due: none

Lint fixes
  src/app/core/services/asset-loader.service.ts
  src/app/core/utils/dynamic-material-loader.ts
  src/app/pages/diagram-editor/diagram-editor.component.scss
  src/app/pages/diagram-editor/services/error-handling/diagram-error-handling.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Simplified diagram editor
  src/app/core/components/footer/footer.component.html
  src/app/core/components/footer/footer.component.scss
  src/app/core/components/footer/footer.component.ts
  src/app/pages/diagram-editor/components/theme-selector.component.ts
  src/app/pages/diagram-editor/diagram-editor.component.html
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/models/diagram-theme.model.ts
  src/app/pages/diagram-editor/models/diagram.model.ts
  src/app/pages/diagram-editor/services/components/diagram-component-mapper.service.ts
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
  src/app/pages/diagram-editor/services/diagram.service.ts
  src/app/pages/diagram-editor/services/interfaces/diagram-renderer.interface.ts
  src/app/pages/diagram-editor/services/operations/diagram-operations.service.ts
  src/app/pages/diagram-editor/services/theming/diagram-theme.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Updating notes and examples
  .gitignore
  context/ARCHITECTURE_NOTES.md
  context/AUTHORIZATION.md
Due: none

Minor changes to agent instructions
  CLAUDE.md
Due: none

AI Agent Instructions
  .clinerules
Due: none

Re-engineered diagram theme code
  src/app/pages/diagram-editor/components/theme-selector/theme-selector.component.ts
  src/app/pages/diagram-editor/diagram-editor.component.html
  src/app/pages/diagram-editor/diagram-editor.component.scss
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/services/components/edge-management.service.ts
  src/app/pages/diagram-editor/services/components/vertex-management.service.ts
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
  src/app/pages/diagram-editor/services/graph/graph-initialization.service.ts
  src/app/pages/diagram-editor/services/operations/diagram-operations.service.ts
  src/app/pages/diagram-editor/services/theming/diagram-theme.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

MaxGraph shape troubleshooting
  package-lock.json
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
  src/app/pages/diagram-editor/services/graph/mx-graph-patching.service.ts
  src/app/pages/diagram-editor/services/registry/diagram-element-registry.service.ts
  src/app/pages/diagram-editor/services/state/editor-state.enum.ts
  src/app/pages/diagram-editor/services/theming/diagram-theme.service.ts
Due: eslint --fix, prettier --write

Removed the component mapper, updated diagram model to match API
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/models/diagram.model.ts
  src/app/pages/diagram-editor/services/components/diagram-cell-mapper.service.ts
  src/app/pages/diagram-editor/services/components/diagram-component-mapper.service.ts
  src/app/pages/diagram-editor/services/components/edge-management.service.ts
  src/app/pages/diagram-editor/services/components/vertex-management.service.ts
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
  src/app/pages/diagram-editor/services/diagram.service.ts
  src/app/pages/diagram-editor/services/graph/graph-event-handling.service.ts
  src/app/pages/diagram-editor/services/index.ts
Due: eslint --fix, prettier --write

Reducing log spam
  src/app/pages/diagram-editor/services/state/state-manager.service.ts
Due: eslint --fix, prettier --write

Removing more log spam
  src/app/pages/diagram-editor/diagram-editor.component.ts
Due: eslint --fix, prettier --write

Removed deprecated httpclient module
  src/app/auth/auth.module.ts
  src/app/i18n/transloco.module.ts
  src/app/shared/shared.module.ts
Due: eslint --fix, prettier --write

Doc updates
  context/COLLABORATIVE_EDITING.md
  context/DIAGRAM_EDITOR_IMPLEMENTATION_PLAN.md
Due: none

Updating models
  src/app/pages/diagram-editor/models/diagram.model.ts
  tmi-openapi.json
Due: eslint --fix, prettier --write

Code cleanup
  src/app/pages/diagram-editor/models/index.ts
  src/app/pages/diagram-editor/services/diagram.service.ts
  src/app/pages/diagram-editor/services/graph/graph-initialization.service.ts
  src/app/pages/diagram-editor/services/integration-example.ts
  src/app/pages/diagram-editor/services/registry/diagram-element-registry.service.ts
Due: eslint --fix, prettier --write

Documentation updates for diagram editor
  context/ARCHITECTURE_NOTES.md
  context/DIAGRAM_EDITING_IMPROVEMENTS.md
  context/DIAGRAM_EDITOR_IMPLEMENTATION_PLAN.md
  context/DIAGRAM_EDITOR_OVERVIEW.md
  context/README.md
Due: none

Refactor to replace maxGraph with AntV/X6
  context/ARCHITECTURE_NOTES.md
  context/COLLABORATIVE_EDITING.md
  context/DIAGRAM_EDITOR_IMPLEMENTATION_PLAN.md
  context/DIAGRAM_EDITOR_OVERVIEW.md
  context/FILE_SYSTEM_ACCESS_API.md
  context/README.md
  package-lock.json
  package.json
  src/app/pages/diagram-editor/components/x6/actor-node.component.ts
  src/app/pages/diagram-editor/components/x6/diagram-canvas.component.ts
  src/app/pages/diagram-editor/components/x6/palette.component.ts
  src/app/pages/diagram-editor/components/x6/process-node.component.ts
  src/app/pages/diagram-editor/components/x6/properties-panel.component.ts
  src/app/pages/diagram-editor/components/x6/store-node.component.ts
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/diagram-editor.module.ts
  src/app/pages/diagram-editor/services/components/anchor-point.service.ts
  src/app/pages/diagram-editor/services/components/diagram-cell-mapper.service.ts
  src/app/pages/diagram-editor/services/components/edge-management.service.ts
  src/app/pages/diagram-editor/services/components/vertex-management.service.ts
  src/app/pages/diagram-editor/services/diagram-renderer.service.ts
  src/app/pages/diagram-editor/services/graph/graph-event-handling.service.ts
  src/app/pages/diagram-editor/services/graph/graph-initialization.service.ts
  src/app/pages/diagram-editor/services/graph/graph-utils.service.ts
  src/app/pages/diagram-editor/services/graph/mx-graph-patching.service.ts
  src/app/pages/diagram-editor/services/x6/diagram.service.ts
  src/app/pages/diagram-editor/services/x6/edge.service.ts
  src/app/pages/diagram-editor/services/x6/export-import.service.ts
  src/app/pages/diagram-editor/services/x6/history.service.ts
  src/app/pages/diagram-editor/services/x6/node.service.ts
  src/app/pages/diagram-editor/services/x6/x6-graph.service.ts
  src/app/types/file-system-access.d.ts
  src/assets/maxgraph/images/point.gif
Due: eslint --fix, prettier --write

Added AntV/X6 compatible theme service
  src/app/pages/diagram-editor/components/x6/palette.component.ts
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/diagram-editor.module.ts
  src/app/pages/diagram-editor/services/index.ts
  src/app/pages/diagram-editor/services/theme/theme-loader.service.ts
  src/app/pages/diagram-editor/services/theme/theme.interface.ts
  src/app/pages/diagram-editor/services/theme/theme.service.ts
  src/app/pages/diagram-editor/services/x6/node-registry.service.ts
  src/app/pages/diagram-editor/services/x6/node.service.ts
  src/app/pages/diagram-editor/services/x6/passive-event-handler.ts
  src/app/pages/diagram-editor/services/x6/x6-graph.service.ts
  src/assets/themes/dark-theme.json
  src/assets/themes/default-theme.json
  src/assets/themes/index.json
  src/assets/themes/owasp/manifest.json
  src/assets/themes/owasp/theme.css
  src/assets/themes/owasp/theme.json
  src/assets/themes/theme-registry.json
  src/assets/themes/tmi/manifest.json
  src/assets/themes/tmi/theme.css
  src/assets/themes/tmi/theme.json
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
