Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Lint fix
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
Due: eslint --fix, prettier --write

Restoring regex functionality
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 6: Missing rate limiting
  package.json
  server.js
Due: none

Potential fix for code scanning alert no. 1: Incomplete multi-character sanitization
  src/app/shared/services/cell-data-extraction.service.ts
Due: eslint --fix, prettier --write

Fixes for github codeql #4, #5
  src/app/auth/services/auth.service.ts
  src/app/core/services/server-connection.service.ts
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 3: Clear text storage of sensitive information
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

fixing github codeql #2
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/core/rxjs-imports.ts
Due: eslint --fix, prettier --write

Fixed dialog direction service
  src/app/core/services/dialog-direction.service.ts
Due: eslint --fix, prettier --write

github codeql issue #2 redux
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

Fixing bugs resulting from user profile encryption
  src/app/auth/services/auth.service.ts
  src/app/core/components/navbar/navbar.component.ts
Due: eslint --fix, prettier --write

Removed cleartext fallback; resolving github codeql #2
  src/app/auth/auth-integration.spec.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

syncing openapi spec from server
  shared-api/api-specs/tmi-openapi.json
Due: none

Fixed oauth authentication code flow
  shared-api/api-specs/tmi-openapi.json
  src/app/auth/auth-integration.spec.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/services/dialog-direction.service.ts
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

initial feature work
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/node.service.ts
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
  src/app/pages/dfd/services/diagram-operation-broadcaster.service.ts
Due: eslint --fix, prettier --write

Fixed failing auth tests after oauth code flow change
  src/app/auth/auth-integration.spec.ts
  src/app/auth/services/auth.service.spec.ts
Due: eslint --fix, prettier --write

Reducing log noise
  src/app/pages/dfd/services/dfd-edge.service.spec.ts
  src/app/pages/dfd/services/dfd-edge.service.ts
Due: eslint --fix, prettier --write

enabling diagram_operation transmit
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/collaborative-operation.service.ts
  src/app/pages/dfd/services/dfd-state.service.ts
  src/app/pages/dfd/services/websocket.service.ts
Due: eslint --fix, prettier --write

websocket message chunking to avoid 64k limit auto-disconnect
  src/app/core/services/index.ts
  src/app/core/services/message-chunking.service.spec.ts
  src/app/core/services/message-chunking.service.ts
  src/app/core/services/websocket.adapter.ts
  src/app/core/types/websocket-message.types.ts
Due: eslint --fix, prettier --write

updating to typescript 5.9.2
  .claude/settings.local.json
Due: none

Fixed typescript 5.9 breaking changes
  src/app/auth/services/auth.service.ts
  src/app/core/services/message-chunking.service.spec.ts
  src/app/core/services/message-chunking.service.ts
  src/app/core/services/websocket.adapter.ts
Due: eslint --fix, prettier --write

Fixing dependency version conflict
  package.json
  pnpm-lock.yaml
Due: none

Syncing openapi spec with svg-image support
  shared-api/api-specs/tmi-openapi.json
Due: none

Fixed navbar user button context menu bug
  src/app/auth/services/auth.service.ts
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.ts
Due: eslint --fix, prettier --write

Fixed bug sending duplicate cells in the same diagram_operation message
  src/app/pages/dfd/services/collaborative-operation.service.ts
Due: eslint --fix, prettier --write

Resync service
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-state.service.ts
  src/app/pages/dfd/services/diagram-resync.service.ts
Due: eslint --fix, prettier --write

Updated diagram loading and resync to share same domain based code path
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-state.service.ts
  src/app/pages/dfd/services/diagram-loading.service.ts
  src/app/pages/dfd/services/diagram-resync.service.ts
Due: eslint --fix, prettier --write

Fixed auto-save error during graph loading. Synced API specs from server repo
  shared-api/api-specs/tmi-asyncapi.yml
  shared-api/api-specs/tmi-openapi.json
  src/app/pages/dfd/services/dfd-diagram.service.ts
Due: eslint --fix, prettier --write

Added diagram svg image capture during save
  shared-api/api-specs/tmi-openapi.json
  src/app/core/services/websocket.adapter.ts
  src/app/core/types/websocket-message.types.ts
  src/app/mocks/factories/diagram.factory.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-diagram.service.ts
  src/app/pages/dfd/services/dfd-facade.service.ts
  src/app/pages/dfd/services/dfd-state.service.ts
  src/app/pages/dfd/services/websocket.service.ts
  src/app/pages/dfd/state/dfd.state.ts
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

Thumbnails in diagram list in threat model edit page
  src/app/pages/tm/components/svg-preview-dialog/svg-preview-dialog.component.ts
  src/app/pages/tm/services/svg-cache.service.spec.ts
  src/app/pages/tm/services/svg-cache.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

diagram thumbnails
  .vscode/settings.json
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-export.service.ts
  src/app/pages/tm/components/svg-preview-dialog/svg-preview-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Trying to fix thumbnail rendering
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-export.service.ts
Due: eslint --fix, prettier --write

Fixing typescript error, syncing API spec
  shared-api/api-specs/tmi-openapi.json
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-export.service.ts
Due: eslint --fix, prettier --write

stopped filtering out visibility:hidden from svg export
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-export.service.ts
  src/app/pages/tm/components/svg-preview-dialog/svg-preview-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Attempting to fix thumbnail view
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-export.service.ts
Due: eslint --fix, prettier --write

thumbnails again
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write

Loc cleanup of thumbnail change
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
