Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

Diagram editor bug fixing
  src/app/pages/diagram-editor/components/x6/palette.component.ts
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/diagram-editor.module.ts
  src/app/pages/diagram-editor/services/x6/node.service.ts
  src/app/pages/diagram-editor/services/x6/x6-graph.service.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

Changed palette to use actual shapes instead of buttons
  src/app/pages/diagram-editor/components/palette/palette.component.ts
  src/app/pages/diagram-editor/components/x6/palette.component.ts
  src/app/pages/diagram-editor/diagram-editor.component.html
  src/app/pages/diagram-editor/services/x6/node.service.ts
  src/assets/themes/tmi/person-filled.svg
  src/assets/themes/tmi/person-headshot-filled.svg
  src/assets/themes/tmi/person-headshot-outline.svg
  src/assets/themes/tmi/person-outline.svg
  src/assets/themes/tmi/storage-outline.svg
  src/assets/themes/tmi/storage-solid.svg
  src/assets/themes/tmi/theme.css
  src/assets/themes/tmi/theme.json
Due: eslint --fix, prettier --write, stylelint --fix

npm update --legacy-peer-deps
  package-lock.json
Due: none

Adding AntV/X6 playground
  context/ARCHITECTURE_NOTES.md
  eslint.config.js
  src/app/app.routes.ts
  src/app/pages/zzz/zzz-routing.module.ts
  src/app/pages/zzz/zzz.component.html
  src/app/pages/zzz/zzz.component.scss
  src/app/pages/zzz/zzz.component.spec.ts
  src/app/pages/zzz/zzz.component.ts
  src/app/pages/zzz/zzz.module.ts
Due: eslint --fix, prettier --write, stylelint --fix

Updated vulnerable dependency. Switched to pnpm for package mgmt.
  .clinerules
  CLAUDE.md
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/app/pages/zzz/zzz-routing.module.ts
  src/app/pages/zzz/zzz.component.html
  src/app/pages/zzz/zzz.component.scss
  src/app/pages/zzz/zzz.component.spec.ts
  src/app/pages/zzz/zzz.component.ts
  src/app/pages/zzz/zzz.module.ts
Due: eslint --fix, prettier --write, stylelint --fix

finished npm-to-pnpm change
  CLAUDE.md
  README.md
  package-lock.json
Due: none

About to do an experiment
  src/app/pages/zzz/zzz.component.ts
Due: eslint --fix, prettier --write

test
  src/app/pages/zzz/zzz.component.ts
Due: eslint --fix, prettier --write

Nice highlighting
  src/app/pages/zzz/zzz.component.ts
Due: eslint --fix, prettier --write

Most excellent highlighting
  src/app/pages/zzz/zzz.component.ts
Due: eslint --fix, prettier --write

name cleanup
  src/app/pages/zzz/zzz.component.ts
Due: eslint --fix, prettier --write

Added delete tool to nodes; added vertices tool to edges
  src/app/pages/zzz/zzz.component.ts
Due: eslint --fix, prettier --write

Added new shape types
  src/app/pages/zzz/zzz.component.html
  src/app/pages/zzz/zzz.component.ts
Due: eslint --fix, prettier --write

Cleanup
  src/app/pages/zzz/zzz.component.ts
Due: eslint --fix, prettier --write

Updating shape styling
  src/app/pages/zzz/zzz.component.ts
Due: eslint --fix, prettier --write

working on resize
  package.json
  pnpm-lock.yaml
  src/app/pages/zzz/zzz.component.ts
Due: eslint --fix, prettier --write

Renamed dfd component, minor ux fixes to dfd component
  src/app/app.routes.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.spec.ts
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Updated syles for edge, resize handle, node selection
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write

Added security boundaries
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write

Added embedding to security boundaries
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write

Fixing lint warnings
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write

Enabled snaplines
  package.json
  pnpm-lock.yaml
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write

Fixing Lint issues
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write

Finished snaplines, linting
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Added antv/x6 keyboard plugin
  package.json
  pnpm-lock.yaml
Due: none

DFD component refactor
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/dfd.module.ts
  src/app/pages/dfd/models/actor-shape.model.ts
  src/app/pages/dfd/models/base-shape.model.ts
  src/app/pages/dfd/models/dfd-types.ts
  src/app/pages/dfd/models/highlighter-config.interface.ts
  src/app/pages/dfd/models/node-data.interface.ts
  src/app/pages/dfd/models/port-utils.ts
  src/app/pages/dfd/models/process-shape.model.ts
  src/app/pages/dfd/models/security-boundary-shape.model.ts
  src/app/pages/dfd/models/store-shape.model.ts
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd-highlighter.service.ts
  src/app/pages/dfd/services/dfd-node.service.ts
  src/app/pages/dfd/services/dfd-port.service.ts
Due: eslint --fix, prettier --write

Fixing lint warnings
  src/app/pages/dfd/dfd.component.spec.ts
  src/app/pages/dfd/models/base-shape.model.ts
  src/app/pages/dfd/models/dfd-types.ts
  src/app/pages/dfd/models/node-data.interface.ts
  src/app/pages/dfd/models/port-utils.ts
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
Due: eslint --fix, prettier --write

Added label editing - initial checkin
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/models/actor-shape.model.ts
  src/app/pages/dfd/models/dfd-types.ts
  src/app/pages/dfd/models/node-data.interface.ts
  src/app/pages/dfd/models/process-shape.model.ts
  src/app/pages/dfd/models/security-boundary-shape.model.ts
  src/app/pages/dfd/models/store-shape.model.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd-label-editor.service.ts
  src/app/pages/dfd/services/dfd-node.service.ts
Due: eslint --fix, prettier --write

Changed connector style. Removed Diagram editor
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/diagram-editor/components/diagram-canvas/diagram-canvas.component.ts
  src/app/pages/diagram-editor/components/index.ts
  src/app/pages/diagram-editor/components/properties-panel/properties-panel.component.ts
  src/app/pages/diagram-editor/components/state-indicator/state-indicator.component.ts
  src/app/pages/diagram-editor/components/toolbar/toolbar.component.ts
  src/app/pages/diagram-editor/components/x6/actor-node.component.ts
  src/app/pages/diagram-editor/components/x6/diagram-canvas.component.ts
  src/app/pages/diagram-editor/components/x6/palette.component.ts
  src/app/pages/diagram-editor/components/x6/process-node.component.ts
  src/app/pages/diagram-editor/components/x6/properties-panel.component.ts
  src/app/pages/diagram-editor/components/x6/store-node.component.ts
  src/app/pages/diagram-editor/diagram-editor-routing.module.ts
  src/app/pages/diagram-editor/diagram-editor.component.scss
  src/app/pages/diagram-editor/diagram-editor.component.spec.ts
  src/app/pages/diagram-editor/diagram-editor.component.ts
  src/app/pages/diagram-editor/diagram-editor.module.ts
  src/app/pages/diagram-editor/index.ts
  src/app/pages/diagram-editor/services/index.ts
  src/app/pages/diagram-editor/services/theme/theme-loader.service.ts
  src/app/pages/diagram-editor/services/theme/theme.interface.ts
  src/app/pages/diagram-editor/services/theme/theme.service.ts
  src/app/pages/diagram-editor/services/x6/diagram.service.ts
  src/app/pages/diagram-editor/services/x6/edge.service.ts
  src/app/pages/diagram-editor/services/x6/export-import.service.ts
  src/app/pages/diagram-editor/services/x6/history.service.ts
  src/app/pages/diagram-editor/services/x6/node-registry.service.ts
  src/app/pages/diagram-editor/services/x6/node.service.ts
  src/app/pages/diagram-editor/services/x6/passive-event-handler.ts
  src/app/pages/diagram-editor/services/x6/x6-graph.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Removed themes, updated routes
  context/ARCHITECTURE_NOTES.md
  context/DIAGRAM_EDITOR_IMPLEMENTATION_PLAN.md
  context/DIAGRAM_EDITOR_OVERVIEW.md
  context/README.md
  eslint.config.js
  src/app/app.routes.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/diagram-management/diagram-management.component.ts
  src/assets/themes/index.json
  src/assets/themes/owasp/manifest.json
  src/assets/themes/owasp/theme.css
  src/assets/themes/owasp/theme.json
  src/assets/themes/tmi/manifest.json
  src/assets/themes/tmi/person-filled.svg
  src/assets/themes/tmi/person-headshot-filled.svg
  src/assets/themes/tmi/person-headshot-outline.svg
  src/assets/themes/tmi/person-outline.svg
  src/assets/themes/tmi/storage-outline.svg
  src/assets/themes/tmi/storage-solid.svg
  src/assets/themes/tmi/theme.css
  src/assets/themes/tmi/theme.json
Due: eslint --fix, prettier --write, stylelint --fix

Font standardization; label fixes, vuln fix for vite
  package.json
  pnpm-lock.yaml
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/models/actor-shape.model.ts
  src/app/pages/dfd/models/port-utils.ts
  src/app/pages/dfd/models/process-shape.model.ts
  src/app/pages/dfd/models/security-boundary-shape.model.ts
  src/app/pages/dfd/models/store-shape.model.ts
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd-label-editor.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fixed deprecated package warnings
  package.json
  pnpm-lock.yaml
Due: none

Updating default shape names
  src/app/pages/dfd/services/dfd-node.service.ts
Due: eslint --fix, prettier --write

Installed some optional antv/x6- packages
  package.json
  pnpm-lock.yaml
Due: none

Migrated to using angular for X6 shapes to better use angular reactivity
  src/app/app.routes.ts
  src/app/pages/dfd/components/actor-shape/actor-shape.component.ts
  src/app/pages/dfd/components/process-shape/process-shape.component.ts
  src/app/pages/dfd/components/security-boundary-shape/security-boundary-shape.component.ts
  src/app/pages/dfd/components/store-shape/store-shape.component.ts
  src/app/pages/dfd/dfd-angular.component.ts
  src/app/pages/dfd/services/dfd-angular-shape.service.ts
  src/app/pages/dfd/services/dfd-event-angular.service.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd-node-angular.service.ts
  src/app/pages/home/home.component.html
  src/app/pages/home/home.component.scss
  src/app/pages/home/home.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Added export functionality
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Implemented history with undo/redo, and export
  package.json
  pnpm-lock.yaml
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/types/file-saver-es.d.ts
Due: eslint --fix, prettier --write, stylelint --fix

Implemented text box, updated toolbar
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/models/dfd-types.ts
  src/app/pages/dfd/models/textbox-shape.model.ts
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd-label-editor.service.ts
  src/app/pages/dfd/services/dfd-node.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Added ability to move labels
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/models/node-data.interface.ts
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-label-position.service.ts
  src/app/pages/dfd/services/dfd-node.service.ts
Due: eslint --fix, prettier --write, stylelint --fix
