Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

chore(deps): upgrade ESLint to v10 and fix new lint errors
  package.json
  pnpm-lock.yaml
  src/app/auth/services/auth.service.ts
  src/app/core/interceptors/http-logging.interceptor.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write

fix: suppress ae-cvss-calculator lint warnings from unresolvable types
  eslint.config.js
Due: none

fix: add missing @angular/compiler import to 3 failing test suites
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/app/pages/tm/services/report/pdf-markdown-renderer.spec.ts
  src/app/pages/tm/services/report/pdf-table-renderer.spec.ts
  src/testing/compiler-setup.ts
Due: eslint --fix, prettier --write

fix: add missing @angular/compiler import to 3 failing test suites
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/testing/compiler-setup.ts
Due: eslint --fix, prettier --write

fix: remove dead JWT token extraction and encryption methods from AuthService
  package.json
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: resolve picomatch vulnerabilities and log injection (code-scanning #35)
  package.json
  pnpm-lock.yaml
  src/app/core/services/logger.service.spec.ts
  src/app/core/services/logger.service.ts
Due: eslint --fix, prettier --write

chore: set version to 1.4.0 for dev/1.4.0 branch
  package.json
Due: none

docs: add design spec for consuming ui.default_theme from server config
  docs/superpowers/specs/2026-03-25-default-theme-from-server-config-design.md
Due: none

docs: add implementation plan for consuming ui.default_theme
  docs/superpowers/plans/2026-03-25-default-theme-from-server-config.md
Due: none

feat: expose defaultTheme getter on BrandingConfigService
  src/app/core/services/branding-config.service.spec.ts
  src/app/core/services/branding-config.service.ts
Due: eslint --fix, prettier --write

refactor: narrow ServerConfig.default_theme type to match API spec
  src/app/core/interfaces/server-config.interface.ts
Due: eslint --fix, prettier --write

feat: use server default theme for new users in UserPreferencesService
  src/app/core/services/user-preferences.service.spec.ts
  src/app/core/services/user-preferences.service.ts
Due: eslint --fix, prettier --write

fix: apply server default theme in initialization failure path
  src/app/core/services/user-preferences.service.spec.ts
  src/app/core/services/user-preferences.service.ts
Due: eslint --fix, prettier --write

feat: sequence branding config init before user preferences init
  src/app/app.config.ts
Due: eslint --fix, prettier --write

fix: correct APP_INITIALIZER comment and add legacy migration test
  src/app/app.config.ts
  src/app/core/services/user-preferences.service.spec.ts
Due: eslint --fix, prettier --write

feat: warn instead of block for non-HTTPS webhook URLs
  package.json
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

chore: exclude scripts/ directory from knip analysis
  knip.json
Due: none

chore: remove unused exports and dead code
  knip.json
  src/app/core/interceptors/security-headers.interceptor.ts
  src/app/core/rxjs-imports.ts
  src/app/pages/dfd/domain/value-objects/edge-label.ts
  src/app/shared/services/cell-data-extraction.service.ts
  src/app/shared/services/form-validation.service.ts
  src/app/shared/services/notification.service.ts
  src/app/shared/utils/form-validation.util.ts
  src/app/shared/utils/http-params.util.ts
  src/app/shared/utils/safe-stringify.util.ts
  src/app/shared/utils/table-pagination.util.ts
  src/app/types/survey.types.ts
  src/app/types/transfer.types.ts
Due: eslint --fix, prettier --write

chore(deps): address e18e dependency analysis findings
  package.json
  pnpm-lock.yaml
  scripts/analyze-bundle.cjs
Due: none

chore(deps): deduplicate production dependencies via pnpm overrides
  package.json
  pnpm-lock.yaml
Due: none

docs: add dependency deduplication analysis reference
  docs/reference/dependency-deduplication-analysis.md
Due: none

fix(api): move webhook endpoints to /admin/ prefix for server 1.4.0
  src/app/core/services/webhook.service.spec.ts
  src/app/core/services/webhook.service.ts
Due: eslint --fix, prettier --write

docs: update webhook types JSDoc to reference new admin path
  src/app/types/webhook.types.ts
Due: eslint --fix, prettier --write

fix(api): regenerate types from TMI server 1.4.0 OpenAPI spec
  src/app/generated/api-types.d.ts
Due: eslint --fix, prettier --write

docs: add mermaid diagram viewer design spec for issue #535
  docs/superpowers/specs/2026-03-29-mermaid-viewer-design.md
Due: none

docs: add mermaid viewer implementation plan for issue #535
  docs/superpowers/plans/2026-03-29-mermaid-viewer.md
Due: none

feat: add mermaid viewer i18n keys and hover affordance
  src/assets/i18n/en-US.json
  src/styles/_markdown-editor.scss
Due: prettier --write, stylelint --fix

feat: add mermaid diagram SVG/PNG export and clipboard utilities
  src/app/shared/utils/mermaid-export.utils.spec.ts
  src/app/shared/utils/mermaid-export.utils.ts
Due: eslint --fix, prettier --write

feat: add mermaid overlay viewer component with zoom and pan
  src/app/shared/components/mermaid-overlay-viewer/mermaid-overlay-viewer.component.html
  src/app/shared/components/mermaid-overlay-viewer/mermaid-overlay-viewer.component.scss
  src/app/shared/components/mermaid-overlay-viewer/mermaid-overlay-viewer.component.spec.ts
  src/app/shared/components/mermaid-overlay-viewer/mermaid-overlay-viewer.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: add missing Escape key test for overlay viewer
  src/app/shared/components/mermaid-overlay-viewer/mermaid-overlay-viewer.component.spec.ts
Due: eslint --fix, prettier --write

feat: add inline mermaid viewer with hover toolbar and context menu
  src/app/shared/components/mermaid-viewer/mermaid-viewer.component.html
  src/app/shared/components/mermaid-viewer/mermaid-viewer.component.scss
  src/app/shared/components/mermaid-viewer/mermaid-viewer.component.spec.ts
  src/app/shared/components/mermaid-viewer/mermaid-viewer.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add MermaidViewerService for initializing diagram viewers
  src/app/shared/services/mermaid-viewer.service.spec.ts
  src/app/shared/services/mermaid-viewer.service.ts
Due: eslint --fix, prettier --write

feat: integrate mermaid viewer into all 3 markdown editor components
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/pages/tm/components/note-page/note-page.component.spec.ts
  src/app/pages/tm/components/note-page/note-page.component.ts
  src/app/pages/triage/components/triage-note-editor-dialog/triage-note-editor-dialog.component.html
  src/app/pages/triage/components/triage-note-editor-dialog/triage-note-editor-dialog.component.ts
Due: eslint --fix, prettier --write

fix(api): regenerate types from updated API spec
  src/app/generated/api-types.d.ts
Due: eslint --fix, prettier --write
