Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix(threat-model): correct severity/priority/status field mapping order
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(threat-model): remove legacy string value conversion for API
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix(dashboard): translate status values and align metadata fields
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
  src/app/pages/tm/tm.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(auth): implement complete group-based authorization logic
  src/app/auth/services/auth.service.ts
  src/app/pages/tm/services/threat-model-authorization.service.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix(dfd): correct X6 v2 schema documentation and normalization
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/domain/value-objects/node-info.spec.ts
  src/app/pages/dfd/domain/value-objects/node-info.ts
  src/app/pages/dfd/utils/cell-format-normalization.util.ts
  src/app/pages/dfd/utils/cell-normalization.util.ts
  src/app/pages/tm/models/diagram.model.ts
Due: eslint --fix, prettier --write

feat: enhance dialog UX with mitigation field and improved scroll behavior
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.html
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.scss
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.scss
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add data asset selection for DFD edges
  src/app/pages/dfd/presentation/components/data-asset-dialog/data-asset-dialog.component.html
  src/app/pages/dfd/presentation/components/data-asset-dialog/data-asset-dialog.component.scss
  src/app/pages/dfd/presentation/components/data-asset-dialog/data-asset-dialog.component.spec.ts
  src/app/pages/dfd/presentation/components/data-asset-dialog/data-asset-dialog.component.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add mitigation field and complete threat model status translations
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

feat: implement iterative z-order recalculation algorithm
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.ts
Due: eslint --fix, prettier --write

fix: wire undo/redo buttons to history stack state and add trailing newlines to JSON files
  scripts/sort-json.py
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

feat: add bidirectional parent-child relationship validation for diagram cells
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/utils/cell-format-normalization.util.ts
  src/app/pages/dfd/utils/cell-relationship-validation.util.spec.ts
  src/app/pages/dfd/utils/cell-relationship-validation.util.ts
Due: eslint --fix, prettier --write

feat: add automatic zoom-to-fit and manual zoom button for DFD diagrams
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

fix: make note editor dialog action buttons always visible
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.scss
Due: prettier --write, stylelint --fix

chore: fix invalid pnpm overrides and document X6 v2 pinning
  package.json
  pnpm-lock.yaml
Due: none

chore: skip enum value keys in localization deduplication script
  scripts/dedup-localization.sh
Due: none

chore: skip enum value keys in duplicate localization finder
  scripts/find_duplicate_localizations.py
Due: none

chore: standardize Python scripts to use uv run
  package.json
  scripts/sort-json.py
Due: none

chore: removing outdated file
  scripts/dedup-localization.sh
Due: none

chore: version bump
  package.json
Due: none

refactor: consolidate data asset selection localization key
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

test: verify version bump hook works correctly
  .husky/post-commit
  .husky/prepare-commit-msg
  package.json
  test-version-bump.txt
Due: none

chore: remove test file for version bump hook
  package.json
  test-version-bump.txt
Due: none

refactor: align WebSocket message types with AsyncAPI schema
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-websocket-collaboration.adapter.ts
  src/app/pages/dfd/presentation/services/ui-presenter-coordinator.service.ts
Due: eslint --fix, prettier --write

fix: prevent remote operations from adding to local history and preserve batched operations
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-remote-operation-handler.service.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
Due: eslint --fix, prettier --write

docs: enhance CLAUDE.md with architecture details and code patterns
  .claude/CLAUDE.md
Due: none

chore: formatting
  package.json
  src/app/core/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write

chore(deps-dev): bump dev dependencies
  package.json
  pnpm-lock.yaml
Due: none

feat: implement GraphOperation history tracking for edge and node creation
  docs/development/HISTORY_TRACKING_IMPLEMENTATION.md
  src/app/pages/dfd/application/executors/edge-operation-executor.ts
  src/app/pages/dfd/application/executors/node-operation-executor.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

feat: implement GraphOperation history tracking for node movement and resizing
  docs/development/HISTORY_TRACKING_IMPLEMENTATION.md
  docs/implementation/custom-history-implementation-plan.md
  docs/implementation/history-based-autosave-refactor.md
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

feat: implement GraphOperation history tracking for node and edge deletion
  docs/development/HISTORY_TRACKING_IMPLEMENTATION.md
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
Due: eslint --fix, prettier --write

feat: implement GraphOperation history tracking for node and edge label editing
  docs/development/HISTORY_TRACKING_IMPLEMENTATION.md
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

feat: implement GraphOperation history tracking for edge vertices drag
  docs/development/HISTORY_TRACKING_IMPLEMENTATION.md
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
Due: eslint --fix, prettier --write

feat: implement GraphOperation history tracking for edge reconnection
  docs/development/HISTORY_TRACKING_IMPLEMENTATION.md
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

test: fix edge service test and add comprehensive P0 manual testing guide
  docs/development/P0_MANUAL_TESTING_GUIDE.md
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
Due: eslint --fix, prettier --write

feat: implement clipboard operations (cut/copy/paste) with history tracking
  docs/development/HISTORY_TRACKING_IMPLEMENTATION.md
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

feat: implement node embedding/unembedding history tracking
  docs/development/HISTORY_TRACKING_IMPLEMENTATION.md
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

docs: mark history tracking implementation as COMPLETE
  docs/development/HISTORY_TRACKING_IMPLEMENTATION.md
Due: none

fix: fix lint errors & format
  package.json
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/shared/utils/field-value-helpers.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
