Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

feat: add Arabic pagination translations
  src/assets/i18n/ar-SA.json
Due: prettier --write

feat: add Spanish (es-ES) pagination translations
  src/assets/i18n/es-ES.json
Due: prettier --write

feat: add French translations for pagination keys
  src/assets/i18n/fr-FR.json
Due: prettier --write

feat: add Indonesian pagination translations
  src/assets/i18n/id-ID.json
Due: prettier --write

feat(i18n): add Thai (th-TH) pagination translations
  src/assets/i18n/th-TH.json
Due: prettier --write

feat: add Japanese pagination translations for ja-JP locale
  src/assets/i18n/ja-JP.json
Due: prettier --write

feat: add Brazilian Portuguese pagination translations
  src/assets/i18n/pt-BR.json
Due: prettier --write

feat: add Hebrew pagination translations
  src/assets/i18n/he-IL.json
Due: prettier --write

feat(i18n): add Simplified Chinese translations for pagination keys
  src/assets/i18n/zh-CN.json
Due: prettier --write

feat: add Bengali (bn-BD) pagination translations
  src/assets/i18n/bn-BD.json
Due: prettier --write

feat: add Hindi (hi-IN) pagination translations
  src/assets/i18n/hi-IN.json
Due: prettier --write

feat: add Urdu (ur-PK) pagination translations
  src/assets/i18n/ur-PK.json
Due: prettier --write

feat: implement multi-page pagination for all list interfaces
  src/app/core/services/quota.service.spec.ts
  src/app/core/services/quota.service.ts
  src/app/pages/admin/addons/admin-addons.component.html
  src/app/pages/admin/addons/admin-addons.component.ts
  src/app/pages/admin/administrators/admin-administrators.component.html
  src/app/pages/admin/administrators/admin-administrators.component.ts
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/groups/admin-groups.component.ts
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/admin/quotas/admin-quotas.component.ts
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.html
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/app/shared/services/paginator-intl.service.ts
  src/app/shared/utils/pagination.util.ts
  src/app/shared/utils/table-pagination.util.ts
  src/app/types/pagination.types.ts
  src/app/types/quota.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: fetch note content from API when opening note page
  src/app/pages/tm/components/note-page/note-page.component.spec.ts
  src/app/pages/tm/components/note-page/note-page.component.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: handle paginated response from client credentials API
  src/app/core/services/client-credential.service.ts
  src/app/types/client-credential.types.ts
Due: eslint --fix, prettier --write

fix: version bump hook now handles multi-line commit messages
  .husky/post-commit
  package.json
Due: none

chore: uncommitted changes
  src/app/pages/tm/tm-edit.component.ts
  src/app/shared/utils/pagination.util.ts
Due: eslint --fix, prettier --write

chore: bump patch/minor dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: exclude read-only fields from all create/update API requests
  package.json
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

fix: eliminate PKCE test flakiness with fake timers and proper cleanup
  src/app/auth/auth-integration.spec.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/pkce.service.spec.ts
  src/app/auth/utils/pkce-crypto.utils.spec.ts
Due: eslint --fix, prettier --write

chore: suppress unchanged files in format script output
  package.json
Due: none

fix: resolve unsafe any assignment lint warnings
  package.json
  src/app/pages/admin/addons/admin-addons.component.ts
  src/app/pages/admin/administrators/admin-administrators.component.ts
  src/app/pages/admin/groups/admin-groups.component.ts
  src/app/pages/admin/quotas/admin-quotas.component.ts
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
  src/app/pages/dashboard/dashboard.component.ts
  src/app/shared/utils/pagination.util.ts
Due: eslint --fix, prettier --write

refactor: improve dashboard table view layout
  package.json
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.scss
  src/app/pages/dashboard/dashboard.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: ensure status_updated syncs with server response after status change
  package.json
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

refactor: update owner/created_by and host/presenter from string to User type
  package.json
  src/app/core/services/collaboration-session.service.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/dashboard/models/tm-list-item.model.ts
  src/app/pages/tm/models/tm-list-item.model.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm.component.html
Due: eslint --fix, prettier --write

fix: prevent zombie sessions when token expires in backgrounded tabs
  package.json
  src/app/app.config.ts
  src/app/auth/config/session.config.ts
  src/app/auth/guards/auth.guard.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/token-validity-guard.service.ts
Due: eslint --fix, prettier --write

feat: add mitigated column and reorder severity in threats table
  package.json
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: add common.savedSuccessfully translation key
  package.json
  src/assets/i18n/en-US.json
Due: prettier --write

fix: add common.savedSuccessfully to all locale files
  package.json
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: update @isaacs/brace-expansion to fix critical vulnerability
  package.json
  pnpm-lock.yaml
Due: none

fix: remove unnecessary optional chaining on session.host
  package.json
  src/app/pages/dashboard/dashboard.component.html
Due: eslint --fix, prettier --write

chore: update glob to 13.0.1
  package.json
  pnpm-lock.yaml
Due: none

feat: add OCI Container Instance deployment support
  Dockerfile.oci
  angular.json
  package.json
  scripts/configure-oci-env.sh
  scripts/push-oci.sh
  src/environments/environment.oci.ts
Due: eslint --fix, prettier --write

fix: add void operator to unhandled router.navigate() promises in survey components
  package.json
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/surveys/components/my-submissions/my-submissions.component.ts
  src/app/pages/surveys/components/submission-detail/submission-detail.component.ts
  src/app/pages/surveys/components/survey-fill/survey-fill.component.ts
  src/app/pages/surveys/components/survey-list/survey-list.component.ts
Due: eslint --fix, prettier --write

feat: add survey feature with SurveyJS integration, triage, and admin builder
  package.json
  pnpm-lock.yaml
  src/app/app.routes.ts
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/pages/admin/admin.component.ts
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/admin-surveys.component.scss
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.scss
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.ts
  src/app/pages/surveys/components/my-submissions/my-submissions.component.html
  src/app/pages/surveys/components/my-submissions/my-submissions.component.scss
  src/app/pages/surveys/components/submission-detail/submission-detail.component.html
  src/app/pages/surveys/components/submission-detail/submission-detail.component.scss
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/surveys/components/survey-fill/survey-fill.component.scss
  src/app/pages/surveys/components/survey-list/survey-list.component.html
  src/app/pages/surveys/components/survey-list/survey-list.component.scss
  src/app/pages/surveys/services/survey-draft.service.ts
  src/app/pages/surveys/services/survey-mock-data.ts
  src/app/pages/surveys/services/survey-submission.service.ts
  src/app/pages/surveys/services/survey-template.service.ts
  src/app/pages/surveys/surveys.routes.ts
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.scss
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.scss
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/app/pages/triage/triage.routes.ts
  src/app/types/survey.types.ts
  src/assets/i18n/en-US.json
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: add eslint-disable for SurveyJS Model.data any-typed arguments
  package.json
  src/app/pages/surveys/components/survey-fill/survey-fill.component.ts
Due: eslint --fix, prettier --write

fix: resolve OnPush, catchError, mock throw, and builder bugs
  package.json
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.scss
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.ts
  src/app/pages/surveys/components/my-submissions/my-submissions.component.ts
  src/app/pages/surveys/components/submission-detail/submission-detail.component.ts
  src/app/pages/surveys/components/survey-list/survey-list.component.ts
  src/app/pages/surveys/services/survey-draft.service.ts
  src/app/pages/surveys/services/survey-submission.service.ts
  src/app/pages/surveys/services/survey-template.service.ts
  src/app/types/survey.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: align button icons vertically across survey components
  package.json
  src/app/pages/admin/surveys/admin-surveys.component.scss
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.scss
  src/app/pages/surveys/components/my-submissions/my-submissions.component.scss
  src/app/pages/surveys/components/submission-detail/submission-detail.component.scss
  src/app/pages/surveys/components/survey-fill/survey-fill.component.scss
  src/app/pages/surveys/components/survey-list/survey-list.component.scss
  src/app/pages/triage/components/triage-detail/triage-detail.component.scss
  src/app/pages/triage/components/triage-list/triage-list.component.scss
Due: prettier --write, stylelint --fix

fix: center survey card avatar icon and draft delete button
  package.json
  src/app/pages/surveys/components/survey-list/survey-list.component.scss
Due: prettier --write, stylelint --fix

fix: center icons in template builder buttons and add delete page
  package.json
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.scss
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.ts
Due: eslint --fix, prettier --write, stylelint --fix
