Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: localize 'No active collaboration sessions' text in dashboard
  src/app/pages/tm/tm.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

feat: improve threat model framework validation and default handling
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/validation/schema-validator.ts
Due: eslint --fix, prettier --write

feat: add Show Graph Data debug feature to DFD editor
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/components/x6-graph-data-dialog/x6-graph-data-dialog.component.html
  src/app/pages/dfd/presentation/components/x6-graph-data-dialog/x6-graph-data-dialog.component.scss
  src/app/pages/dfd/presentation/components/x6-graph-data-dialog/x6-graph-data-dialog.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: add missing i18n translations for user preferences
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

feat: expand user preferences dialog with report settings and data deletion
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

feat: use user preferences for report page size and margins
  src/app/pages/tm/services/threat-model-report.service.ts
Due: eslint --fix, prettier --write

feat: disable color blind mode setting in user preferences
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

refactor: remove save button from threat model details section
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

feat: add plural form for repository object type
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

feat: allow text-boxes to be embedded in other node types
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/embedding-operations-integration.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-embedding.service.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

fix: ensure session expiry dialog dismisses after successful token refresh
  src/app/auth/services/session-manager.service.spec.ts
  src/app/auth/services/session-manager.service.ts
Due: eslint --fix, prettier --write

docs: add Heroku deployment command to CLAUDE.md
  .claude/CLAUDE.md
Due: none

fix: prevent diagram cells from being overwritten with empty data during auto-save
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

feat: add clipboard operations to DFD editor with Cut, Copy, and Paste buttons
  package.json
  pnpm-lock.yaml
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/components/x6-clipboard-dialog/x6-clipboard-dialog.component.html
  src/app/pages/dfd/presentation/components/x6-clipboard-dialog/x6-clipboard-dialog.component.scss
  src/app/pages/dfd/presentation/components/x6-clipboard-dialog/x6-clipboard-dialog.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: align X6 Clipboard dialog styling with Show Graph Data and Show History dialogs
  src/app/pages/dfd/presentation/components/x6-clipboard-dialog/x6-clipboard-dialog.component.html
  src/app/pages/dfd/presentation/components/x6-clipboard-dialog/x6-clipboard-dialog.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: clear selection after paste and reset state after diagram load
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: use selection adapter to properly clear selection styling after paste
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

fix: use userId instead of email for participant deduplication in collaboration
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.html
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.ts
Due: eslint --fix, prettier --write

chore: excluding thunder client config from source
  .gitignore
Due: none

chore: build number bump
  package.json
Due: none

fix: initialize collaboration adapter and prevent spurious autosave on diagram load
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-history.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: initialize websocket message handlers for collaboration
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

fix: initialize collaboration broadcast services for real-time updates
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
Due: eslint --fix, prettier --write

fix: initialize collaboration broadcaster after session becomes active
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: handle presenter_request messages and initialize collaboration adapter
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/services/ui-presenter-cursor.service.ts
Due: eslint --fix, prettier --write

chore: removing outdated "Note" comments for removed/relocated functionality
  cypress/support/e2e.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/application/services/app-notification.service.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/tm.component.ts
  src/app/shared/services/cell-data-extraction.service.ts
Due: eslint --fix, prettier --write

chore: bump version
  package.json
Due: none

fix: correct presenter cursor coordinate conversions and throttling
  src/app/pages/dfd/presentation/services/ui-presenter-cursor-display.service.ts
  src/app/pages/dfd/presentation/services/ui-presenter-cursor.service.ts
Due: eslint --fix, prettier --write

feat: add interactive snackbar for presenter requests
  src/app/core/interfaces/collaboration-notification.interface.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/application/services/app-notification.service.ts
  src/app/pages/dfd/presentation/components/presenter-request-snackbar/presenter-request-snackbar.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

refactor: remove duplicate presenter_request message handling
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
Due: eslint --fix, prettier --write

fix: use JWT exp claim for session expiration instead of OAuth expires_in hint
  src/app/auth/services/auth.service.ts
  src/app/auth/services/session-manager.service.spec.ts
  src/app/auth/services/session-manager.service.ts
Due: eslint --fix, prettier --write

feat: clear participant selections when presenter mode is disabled
  src/app/core/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write

chore: remove noisy port visibility debug log
  src/app/pages/dfd/application/services/app-diagram-operation-broadcaster.service.ts
Due: eslint --fix, prettier --write

fix: prevent infinite state-correction loop by updating updateVector after diagram load/resync
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-resync.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
Due: eslint --fix, prettier --write

chore(deps): update development dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: connect state correction events to diagram resync service
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

chore(deps): update dependencies and upgrade to Node.js 22
  package.json
  pnpm-lock.yaml
Due: none

fix: remove husky helper dependency from commit-msg hook
  .husky/commit-msg
Due: none

chore: add .nvmrc for automatic Node.js version management
  .nvmrc
Due: none

fix(tests): update AppDfdOrchestrator tests for new constructor dependencies
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
