Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

docs: add HANDOFF.md for resuming the backlog batch
  HANDOFF.md
Due: none

test: claim a palette slot before typing in the color-picker hex input
  e2e/pages/dfd-editor.page.ts
  e2e/tests/field-coverage/dfd-node-properties.spec.ts
  src/app/shared/components/color-picker/color-picker.component.html
Due: eslint --fix, prettier --write

feat: render page-header close (X) buttons white-on-red
  src/app/pages/admin/addons/admin-addons.component.html
  src/app/pages/admin/admin.component.html
  src/app/pages/admin/audit/components/audit-detail-panel.component.html
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/projects/admin-projects.component.html
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/admin/settings/admin-settings.component.html
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/teams/admin-teams.component.html
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/webhooks/admin-webhooks.component.html
  src/app/pages/chat/components/chat-page/chat-page.component.html
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/port-label-popover/port-label-popover.component.html
  src/app/pages/projects/projects.component.html
  src/app/pages/surveys/components/my-responses/my-responses.component.html
  src/app/pages/surveys/components/response-detail/response-detail.component.html
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/teams/teams.component.html
  src/app/pages/tm/components/audit-trail-page/audit-trail-page.component.html
  src/app/pages/tm/components/note-page/note-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/shared/components/mermaid-overlay-viewer/mermaid-overlay-viewer.component.html
  src/styles/component-overrides.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: normalize i18n key ordering across all locale files
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore: drop stale removeViewBox override from svgo config
  src/app/pages/dfd/application/services/app-svg-optimization.service.ts
Due: eslint --fix, prettier --write

test: type-check unit-test sources and ratchet the error count
  package.json
  scripts/typecheck-vitest-ratchet.mjs
  scripts/validate-json.cjs
  src/app/pages/dfd/application/executors/batch-operation-executor.spec.ts
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/app/pages/dfd/application/services/app-cell-operation-converter.service.spec.ts
  src/app/pages/dfd/application/services/app-notification.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph-readonly.adapter.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.spec.ts
  src/app/pages/dfd/utils/cell-extraction.util.spec.ts
  src/app/pages/dfd/utils/cell-property-filter.util.spec.ts
  src/app/pages/dfd/utils/cell-relationship-validation.util.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
  src/app/pages/tm/services/import/reference-rewriter.service.spec.ts
  src/app/shared/services/form-validation.service.spec.ts
  src/testing/mocks/index.ts
  tsconfig.spec.json
  typecheck-vitest-baseline.json
Due: eslint --fix, prettier --write

fix: show translated labels for DFD SVG/PNG export options
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: make the triage search box actually filter results
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.spec.ts
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

docs: update HANDOFF.md to post-merge state
  HANDOFF.md
Due: none

ops: add a CI quality-gate workflow
  .github/workflows/quality.yml
  .prettierignore
  package.json
Due: none

docs: rewrite HANDOFF.md for resuming the CI quality-gate work
  HANDOFF.md
Due: none

fix: generate build-info.json before unit tests and vitest typechecks
  package.json
Due: none

chore: dependabot for GitHub Actions; remove HANDOFF.md
  .github/dependabot.yml
  HANDOFF.md
Due: none

test: fix spec type errors in core/** (49 → 0)
  src/app/core/components/navbar/navbar.component.spec.ts
  src/app/core/interceptors/security-headers.interceptor.spec.ts
  src/app/core/services/access-diagnostics-coverage.spec.ts
  src/app/core/services/addon.service.spec.ts
  src/app/core/services/dfd-collaboration.service.spec.ts
  src/app/core/services/quota.service.spec.ts
  src/app/core/services/security-config.service.spec.ts
  src/app/core/services/theme.service.spec.ts
  src/app/core/services/webhook.service.spec.ts
  src/app/core/services/websocket.adapter.spec.ts
Due: eslint --fix, prettier --write

test: fix spec type errors in pages/tm resolvers and validation (53 → 0)
  src/app/pages/tm/resolvers/threat-model.resolver.spec.ts
  src/app/pages/tm/validation/diagram-validators.spec.ts
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
Due: eslint --fix, prettier --write

test: fix spec type errors in auth, shared, and i18n (44 → 0)
  src/app/auth/auth-integration.spec.ts
  src/app/auth/components/auth-callback/auth-callback.component.spec.ts
  src/app/auth/guards/admin.guard.spec.ts
  src/app/auth/guards/auth.guard.spec.ts
  src/app/auth/guards/reviewer.guard.spec.ts
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/i18n/language.service.spec.ts
  src/app/shared/components/provider-display/provider-display.component.spec.ts
  src/app/shared/components/related-projects-dialog/related-projects-dialog.component.spec.ts
  src/app/shared/components/related-teams-dialog/related-teams-dialog.component.spec.ts
  src/app/shared/components/responsible-parties-dialog/responsible-parties-dialog.component.spec.ts
  src/app/shared/utils/blob-download.util.spec.ts
Due: eslint --fix, prettier --write

test: fix spec type errors in pages/dfd/application (38 → 0)
  src/app/pages/dfd/application/executors/edge-operation-executor.spec.ts
  src/app/pages/dfd/application/executors/load-diagram-executor.spec.ts
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/app/pages/dfd/application/services/app-cell-operation-converter.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-diagram-resync.service.spec.ts
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-graph-operation-manager.service.spec.ts
  src/app/pages/dfd/application/services/app-history.service.spec.ts
  src/app/pages/dfd/application/services/app-remote-operation-handler.service.spec.ts
  src/app/pages/dfd/application/services/test-helpers/mock-services.ts
  src/app/pages/dfd/application/validators/edge-operation-validator.spec.ts
  src/app/pages/dfd/application/validators/general-operation-validator.spec.ts
  src/app/pages/dfd/application/validators/node-operation-validator.spec.ts
Due: eslint --fix, prettier --write

test: fix spec type errors in pages/tm/services (59 → 0)
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
  src/app/pages/tm/services/import/reference-rewriter.service.spec.ts
  src/app/pages/tm/services/providers/authorization-prepare.service.spec.ts
  src/app/pages/tm/services/report/pdf-layout-engine.spec.ts
  src/app/pages/tm/services/report/pdf-section-renderers.spec.ts
  src/app/pages/tm/services/report/threat-model-report.service.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
Due: eslint --fix, prettier --write

test: fix spec type errors in tm components, surveys, triage, chat, admin (46 → 0)
  src/app/pages/admin/audit/components/audit-table.component.spec.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.spec.ts
  src/app/pages/admin/users/admin-users.component.spec.ts
  src/app/pages/chat/components/chat-page/chat-page.component.spec.ts
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.spec.ts
  src/app/pages/surveys/components/response-detail/response-detail.component.spec.ts
  src/app/pages/surveys/components/survey-list/survey-list.component.spec.ts
  src/app/pages/surveys/services/survey-draft.service.spec.ts
  src/app/pages/surveys/services/survey-response.service.spec.ts
  src/app/pages/surveys/services/survey.service.spec.ts
  src/app/pages/tm/components/audit-trail-page/audit-trail-page.component.spec.ts
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.spec.ts
  src/app/pages/tm/components/cwe-picker-dialog/cwe-picker-dialog.component.spec.ts
  src/app/pages/tm/components/export-dialog/export-dialog.component.spec.ts
  src/app/pages/tm/components/framework-mapping-picker-dialog/framework-mapping-picker-dialog.component.spec.ts
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.spec.ts
  src/app/pages/tm/components/note-page/note-page.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/ssvc-calculator-dialog/ssvc-calculator-dialog.component.spec.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/triage/components/triage-detail/triage-detail.component.spec.ts
Due: eslint --fix, prettier --write

test: align orchestrator LoadResult fixtures with the coordinator type; narrow two casts
  src/app/pages/dfd/application/executors/edge-operation-executor.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-history.service.spec.ts
Due: eslint --fix, prettier --write

test: fix spec type errors in dfd utils, types, presentation, infrastructure (53 → 0)
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/embedding-operations-integration.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-node-configuration.service.ts
  src/app/pages/dfd/infrastructure/services/infra-node.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-port-state.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-selection.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.spec.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.spec.ts
  src/app/pages/dfd/infrastructure/strategies/infra-websocket-persistence.strategy.spec.ts
  src/app/pages/dfd/presentation/components/style-panel/style-panel.component.spec.ts
  src/app/pages/dfd/presentation/services/dfd-layout.service.spec.ts
  src/app/pages/dfd/presentation/services/ui-presenter-coordinator.service.spec.ts
  src/app/pages/dfd/types/label-position.types.spec.ts
  src/app/pages/dfd/utils/cell-property-filter.util.spec.ts
Due: eslint --fix, prettier --write

test: complete tm/services fixtures instead of casting; drop phantom auth mock field
  src/app/pages/tm/services/providers/authorization-prepare.service.spec.ts
  src/app/pages/tm/services/report/pdf-section-renderers.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
Due: eslint --fix, prettier --write

chore: retire the vitest typecheck ratchet now that spec type errors are zero
  .github/workflows/quality.yml
  package.json
  scripts/typecheck-vitest-ratchet.mjs
  typecheck-vitest-baseline.json
Due: none

docs: add the #858 spec-typecheck-zero plan
  docs/superpowers/plans/2026-08-19-spec-typecheck-zero.md
Due: none
