Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

refactor: switch ReadonlyFieldFilterService to typed allow-list returns
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
Due: eslint --fix, prettier --write

refactor: type ReferenceRewriterService signatures with API input types
  src/app/pages/tm/services/import/reference-rewriter.service.ts
Due: eslint --fix, prettier --write

refactor: remove 'as unknown as' casts from import pipeline
  src/app/pages/tm/services/import/import-orchestrator.service.ts
Due: eslint --fix, prettier --write

refactor: increase mermaid viewer max zoom from 4x to 16x
  src/app/shared/components/mermaid-overlay-viewer/mermaid-overlay-viewer.component.spec.ts
  src/app/shared/components/mermaid-overlay-viewer/mermaid-overlay-viewer.component.ts
  src/app/shared/components/mermaid-viewer/mermaid-viewer.component.spec.ts
  src/app/shared/components/mermaid-viewer/mermaid-viewer.component.ts
Due: eslint --fix, prettier --write

build: support docker and podman via --runtime CLI option
  scripts/lib/container-runtime.sh
  scripts/push-chainguard.sh
  scripts/push-ecr.sh
  scripts/push-heroku.sh
  scripts/push-oci.sh
Due: none

docs: design spec for user teams & projects pages (#480)
  docs/superpowers/specs/2026-04-01-user-teams-projects-design.md
Due: none

docs: implementation plan for user teams & projects pages (#480)
  docs/superpowers/plans/2026-04-02-user-teams-projects.md
Due: none

refactor: relocate team dialog components to shared
  src/app/pages/admin/teams/admin-teams.component.ts
  src/app/shared/components/edit-team-dialog/edit-team-dialog.component.ts
  src/app/shared/components/related-teams-dialog/related-teams-dialog.component.ts
  src/app/shared/components/team-members-dialog/team-members-dialog.component.ts
Due: eslint --fix, prettier --write

refactor: relocate project dialog components to shared
  src/app/pages/admin/projects/admin-projects.component.ts
  src/app/shared/components/edit-project-dialog/edit-project-dialog.component.ts
  src/app/shared/components/related-projects-dialog/related-projects-dialog.component.ts
Due: eslint --fix, prettier --write

feat: add i18n keys for user teams and projects pages
  src/assets/i18n/en-US.json
Due: prettier --write

feat: create user projects page component
  src/app/pages/projects/projects.component.html
  src/app/pages/projects/projects.component.scss
  src/app/pages/projects/projects.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: create user teams page component
  src/app/pages/teams/teams.component.html
  src/app/pages/teams/teams.component.scss
  src/app/pages/teams/teams.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add /teams and /projects routes
  src/app/app.routes.ts
Due: eslint --fix, prettier --write

test: add unit tests for user projects component
  src/app/pages/projects/projects.component.spec.ts
Due: eslint --fix, prettier --write

test: add unit tests for user teams component
  src/app/pages/teams/teams.component.spec.ts
Due: eslint --fix, prettier --write

fix: hide credentials tab from non-admin/non-reviewer users
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.spec.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
Due: eslint --fix, prettier --write

docs: add Serena MCP server section to CLAUDE.md
  .claude/CLAUDE.md
Due: none

chore: add Serena project config and update CLAUDE.md
  .claude/CLAUDE.md
  .serena/.gitignore
  .serena/project.yml
Due: none

fix: triage reviews tab missing threat models with null status
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.spec.ts
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.ts
Due: eslint --fix, prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): upgrade lodash-es override to >=4.18.0 for CVE-2026-4800 and CVE-2026-2950
  package.json
  pnpm-lock.yaml
Due: none

fix: use real DOM anchors in mermaid-export test mocks
  src/app/shared/utils/mermaid-export.utils.spec.ts
Due: eslint --fix, prettier --write

fix: replace editable project picker with static display in response detail (#550)
  src/app/pages/surveys/components/response-detail/response-detail.component.html
  src/app/pages/surveys/components/response-detail/response-detail.component.spec.ts
  src/app/pages/surveys/components/response-detail/response-detail.component.ts
Due: eslint --fix, prettier --write

fix: move project into info grid, use i18n keys, remove dead CSS (#550)
  src/app/pages/surveys/components/response-detail/response-detail.component.html
  src/app/pages/surveys/components/response-detail/response-detail.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

docs: add design spec for triage reviews tab filters (#553)
  docs/superpowers/specs/2026-04-04-triage-reviews-filters-design.md
Due: none

docs: add implementation plan for triage reviews tab filters (#553)
  docs/superpowers/plans/2026-04-04-triage-reviews-filters.md
Due: none

feat(triage): add security_reviewer to ThreatModelListParams (#553)
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

feat(triage): add i18n keys for reviewer filter controls (#553)
  src/assets/i18n/en-US.json
Due: prettier --write

fix(triage): persist reviews tab state across tab switches (#553)
  src/app/pages/triage/components/triage-list/triage-list.component.html
Due: eslint --fix, prettier --write

feat(triage): add server-side filters to reviews tab (#553)
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.html
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.spec.ts
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.ts
Due: eslint --fix, prettier --write

feat(triage): add filter row styles for reviews tab (#553)
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.scss
Due: prettier --write, stylelint --fix

feat(triage): add filter controls to reviews tab template (#553)
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.html
Due: eslint --fix, prettier --write

build: remove deprecated baseUrl from tsconfig
  tsconfig.json
Due: none

chore: remove Serena MCP server configuration and references
  .claude/CLAUDE.md
Due: none

chore: remove Serena project configuration
  .serena/.gitignore
  .serena/project.yml
Due: none

docs: add Timmy client-server integration design spec (#293)
  docs/superpowers/specs/2026-04-05-timmy-client-server-integration-design.md
Due: none

docs: add Timmy client-server integration implementation plan (#293)
  docs/superpowers/plans/2026-04-05-timmy-client-server-integration.md
Due: none

refactor(chat): update data model for server integration (#293)
  src/app/pages/chat/models/chat.model.ts
Due: eslint --fix, prettier --write

fix(chat): remove TIMMY_METADATA_KEY — timmy_enabled is a first-class API property (#293)
  src/app/pages/chat/models/chat.model.ts
Due: eslint --fix, prettier --write
