Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

✅ XSS exploit agent: completed successfully
  deliverables/auth_exploitation_evidence.md
  deliverables/authz_exploitation_evidence.md
  deliverables/xss_exploitation_evidence.md
  workspace/auth_exploitation_status.md
  workspace/authz_evidence_draft.md
  workspace/exploitation_blocker.md
  workspace/ssrf_exploitation_blocker.md
Due: none

📍 Checkpoint: Executive Summary and Report Cleanup (attempt 1)
  deliverables/comprehensive_security_assessment_report.md
Due: none

✅ SSRF exploit agent: completed successfully
  deliverables/ssrf_exploitation_evidence.md
  workspace/ssrf_evidence_draft.md
Due: none

✅ Executive Summary and Report Cleanup: completed successfully
  deliverables/comprehensive_security_assessment_report.md
Due: none

chore: cleanup
  deliverables/auth_analysis_deliverable.md
  deliverables/auth_exploitation_evidence.md
  deliverables/auth_exploitation_queue.json
  deliverables/authz_analysis_deliverable.md
  deliverables/authz_exploitation_evidence.md
  deliverables/authz_exploitation_queue.json
  deliverables/code_analysis_deliverable.md
  deliverables/comprehensive_security_assessment_report.md
  deliverables/injection_analysis_deliverable.md
  deliverables/injection_exploitation_queue.json
  deliverables/pre_recon_deliverable.md
  deliverables/recon_deliverable.md
  deliverables/ssrf_analysis_deliverable.md
  deliverables/ssrf_exploitation_evidence.md
  deliverables/ssrf_exploitation_queue.json
  deliverables/ssrf_safe_components.md
  deliverables/xss_analysis_deliverable.md
  deliverables/xss_exploitation_evidence.md
  deliverables/xss_exploitation_queue.json
Due: none

chore: updating .gitignore
  .gitignore
Due: none

chore: auto-generated file
  outputs/schemas/tmi-api-types.d.ts
Due: none

chore: updating gitignore to exclude pen test artifacts
  .gitignore
Due: none

✅ Auth vuln agent: completed successfully
  outputs/AUTHZ_ANALYSIS_DIAGRAM_ENDPOINT.md
  outputs/AUTH_ANALYSIS.md
  outputs/AUTH_QUEUE.json
  outputs/XSS_ANALYSIS.md
Due: none

✅ XSS vuln agent: completed successfully
  outputs/AUTHZ_ANALYSIS_SUBRESOURCES_BATCH.md
  outputs/AUTHZ_CRITICAL_PRIVILEGE_ESCALATION.md
  outputs/XSS_EVIDENCE.md
Due: none

feat: add CWE picker dialog for threat editor (#85)
  scripts/extract-cwe-699.py
  src/app/pages/tm/components/cwe-picker-dialog/cwe-picker-dialog.component.html
  src/app/pages/tm/components/cwe-picker-dialog/cwe-picker-dialog.component.scss
  src/app/pages/tm/components/cwe-picker-dialog/cwe-picker-dialog.component.spec.ts
  src/app/pages/tm/components/cwe-picker-dialog/cwe-picker-dialog.component.ts
  src/app/pages/tm/components/cwe-picker-dialog/cwe-picker-dialog.types.ts
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/shared/models/cwe.model.ts
  src/app/shared/services/cwe.service.spec.ts
  src/app/shared/services/cwe.service.ts
  src/assets/cwe/cwe-699.json
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/i18n-allowlist.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: prevent rubber-band scrolling of CVSS dialog title and footer
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.scss
Due: prettier --write, stylelint --fix

feat: add CVSS vector string text input to threat editor (#443)
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: align presenter WebSocket messages with AsyncAPI spec (#275)
  src/app/core/services/dfd-collaboration.service.spec.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
Due: eslint --fix, prettier --write
