Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor(auth): drop unused identity_mismatch code; 404-specific expired mapping (#731)
  src/app/auth/components/identity-link-callback/identity-link-callback.component.ts
  src/app/auth/models/identity-link.types.ts
Due: eslint --fix, prettier --write

docs: update identity-link plan with post-review corrections (#731)
  docs/superpowers/plans/2026-06-16-identity-link-flow.md
  src/assets/i18n/en-US.usage.json
Due: prettier --write

feat(auth): step-up challenge detection and state builder (#680)
  src/app/auth/utils/step-up.utils.spec.ts
  src/app/auth/utils/step-up.utils.ts
  src/app/core/tokens/http-context.tokens.ts
Due: eslint --fix, prettier --write

refactor(auth): reuse generateRandomBytes in step-up state builder; add negative challenge test (#680)
  src/app/auth/utils/step-up.utils.spec.ts
  src/app/auth/utils/step-up.utils.ts
Due: eslint --fix, prettier --write

feat(auth): step-up models and confirm dialog (#680)
  src/app/auth/components/step-up-confirm-dialog/step-up-confirm-dialog.component.html
  src/app/auth/components/step-up-confirm-dialog/step-up-confirm-dialog.component.ts
  src/app/auth/models/step-up.models.ts
Due: eslint --fix, prettier --write

feat(auth): StepUpService orchestrating /oauth2/step_up flow (#680)
  src/app/auth/services/step-up.service.spec.ts
  src/app/auth/services/step-up.service.ts
Due: eslint --fix, prettier --write

test(auth): assert SKIP_ERROR_HANDLING on step-up request context (#680)
  src/app/auth/services/step-up.service.spec.ts
Due: eslint --fix, prettier --write

refactor(auth): tidy navigateTo seam and warn on missing step-up redirect_url (#680)
  src/app/auth/services/step-up.service.ts
Due: eslint --fix, prettier --write

feat(auth): branch step-up challenges before token refresh in JwtInterceptor (#680)
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/interceptors/jwt.interceptor.ts
Due: eslint --fix, prettier --write

feat(auth): step-up state decoding and identity_mismatch detection (#680)
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

refactor(auth): single-log identity_mismatch, guard text/plain body, lastAuthError getter (#680)
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

feat(auth): step-up callback completion UX - redo prompt and identity-mismatch dialog (#680)
  src/app/auth/components/auth-callback/auth-callback.component.spec.ts
  src/app/auth/components/auth-callback/auth-callback.component.ts
  src/app/auth/components/step-up-mismatch-dialog/step-up-mismatch-dialog.component.html
  src/app/auth/components/step-up-mismatch-dialog/step-up-mismatch-dialog.component.ts
  src/app/auth/services/step-up.service.spec.ts
Due: eslint --fix, prettier --write

refactor(auth): drop unneeded MatDialogModule import; tighten returnUrl fallback test (#680)
  src/app/auth/components/auth-callback/auth-callback.component.spec.ts
  src/app/auth/components/auth-callback/auth-callback.component.ts
Due: eslint --fix, prettier --write

style(auth): prettier-normalize step-up callback spec (#680)
  src/app/auth/components/auth-callback/auth-callback.component.spec.ts
Due: eslint --fix, prettier --write

chore(i18n): localize step-up flow strings (#680)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix(i18n): reword step-up redoPrompt to satisfy i18n period rule (#680)
  src/assets/i18n/en-US.json
Due: prettier --write

refactor(auth): consolidate step-up request construction and clear orphaned handoff storage (#680)
  src/app/auth/services/auth.service.ts
  src/app/auth/services/step-up.service.spec.ts
  src/app/auth/services/step-up.service.ts
  src/app/auth/utils/step-up.utils.spec.ts
  src/app/auth/utils/step-up.utils.ts
Due: eslint --fix, prettier --write

refactor(projects): extract ProjectsListBase to remove admin/user duplication
  src/app/pages/admin/projects/admin-projects.component.spec.ts
  src/app/pages/admin/projects/admin-projects.component.ts
  src/app/pages/projects/projects-list-base.ts
  src/app/pages/projects/projects.component.spec.ts
  src/app/pages/projects/projects.component.ts
Due: eslint --fix, prettier --write

refactor(dfd): delegate getMetadataAsRecord to shared metadataToRecord
  src/app/pages/dfd/domain/value-objects/diagram-info.ts
  src/app/pages/dfd/domain/value-objects/edge-info.ts
Due: eslint --fix, prettier --write

refactor(teams): extract TeamsListBase to remove admin/user duplication
  src/app/pages/admin/teams/admin-teams.component.ts
  src/app/pages/teams/teams-list-base.ts
  src/app/pages/teams/teams.component.spec.ts
  src/app/pages/teams/teams.component.ts
Due: eslint --fix, prettier --write

refactor(surveys): deduplicate loadSurveyJson
  src/app/pages/surveys/components/response-detail/response-detail.component.ts
  src/app/pages/surveys/components/survey-fill/survey-fill.component.ts
  src/app/pages/surveys/utils/survey-json.util.spec.ts
  src/app/pages/surveys/utils/survey-json.util.ts
Due: eslint --fix, prettier --write

refactor(triage): extract triage-status util and clipboard-with-feedback helper
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/triage/components/triage-detail/triage-detail.component.ts
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/app/pages/triage/utils/triage-status.util.spec.ts
  src/app/pages/triage/utils/triage-status.util.ts
  src/app/shared/utils/clipboard.util.spec.ts
  src/app/shared/utils/clipboard.util.ts
Due: eslint --fix, prettier --write

refactor(dfd): extract shared getEdgeMarkup util
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.ts
  src/app/pages/dfd/infrastructure/utils/edge-markup.util.spec.ts
  src/app/pages/dfd/infrastructure/utils/edge-markup.util.ts
Due: eslint --fix, prettier --write

refactor(admin): deduplicate onClose across admin components
  src/app/pages/admin/addons/admin-addons.component.ts
  src/app/pages/admin/groups/admin-groups.component.ts
  src/app/pages/admin/quotas/admin-quotas.component.ts
  src/app/pages/admin/settings/admin-settings.component.ts
  src/app/pages/admin/shared/admin-navigation.util.ts
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
Due: eslint --fix, prettier --write

refactor(notes): extract NoteEditorBase to remove duplicated clipboard/task-list logic
  src/app/pages/tm/components/note-page/note-page.component.ts
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/shared/components/note-editor/note-editor-base.spec.ts
  src/app/shared/components/note-editor/note-editor-base.ts
Due: eslint --fix, prettier --write

fix(notes): decorate NoteEditorBase with @Directive for integration
  src/app/pages/projects/projects-list-base.ts
  src/app/shared/components/note-editor/note-editor-base.ts
  src/app/shared/utils/clipboard.util.spec.ts
Due: eslint --fix, prettier --write

refactor(core): remove dead types, interfaces, and unused PKCE validator
  src/app/auth/models/identity-link.types.ts
  src/app/auth/utils/pkce-crypto.utils.ts
  src/app/core/interfaces/auth.interface.ts
  src/app/core/types/websocket-message.types.ts
  src/app/pages/chat/models/chat.model.ts
  src/app/pages/dashboard/dashboard-filter.model.ts
Due: eslint --fix, prettier --write

refactor(dfd): remove dead/unwired interfaces, types, and constants
  src/app/pages/dfd/constants/styling-constants.ts
  src/app/pages/dfd/constants/tool-constants.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
  src/app/pages/dfd/interfaces/auto-save-manager.interface.ts
  src/app/pages/dfd/interfaces/dfd-orchestrator.interface.ts
  src/app/pages/dfd/interfaces/graph-operation-manager.interface.ts
  src/app/pages/dfd/interfaces/persistence-coordinator.interface.ts
  src/app/pages/dfd/presentation/services/ui-tooltip.service.ts
  src/app/pages/dfd/types/auto-save.types.ts
  src/app/pages/dfd/types/graph-operation.types.ts
  src/app/pages/dfd/types/persistence.types.ts
Due: eslint --fix, prettier --write

refactor(types): remove api-type-helpers alias layer, inline used aliases at call sites
  src/app/generated/api-type-helpers.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.ts
  src/app/pages/tm/services/import/reference-rewriter.service.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/services/tm-diagram-crud.service.ts
  src/app/pages/tm/services/tm-document-crud.service.ts
  src/app/pages/tm/services/tm-repository-crud.service.ts
  src/app/pages/tm/services/tm-threat-crud.service.ts
Due: eslint --fix, prettier --write

refactor(dfd): remove EdgeType orphaned by CellType deletion
  src/app/pages/dfd/constants/styling-constants.ts
Due: eslint --fix, prettier --write

docs: refresh CLAUDE.md module map, node + pnpm guidance
  .claude/CLAUDE.md
Due: none

ci(deps): automated dependency bump via Claude (Node/Angular)
  .github/workflows/deps-bump.yml
Due: none

ci(deps): automated dependency bump via Claude (Node/Angular)
  package.json
  pnpm-lock.yaml
Due: none

ci(deps): production triggers — discover/matrix, weekly schedule + daily alert poll, dispatch
  .github/workflows/deps-bump.yml
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

ci(deps): remove temporary push self-test trigger (schedule + dispatch only)
  .github/workflows/deps-bump.yml
Due: none

ci(deps): daily Dependabot-alert check only (drop weekly bump; App-token alert read)
  .github/workflows/deps-bump.yml
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
