Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

docs: correct timmy_enabled mechanism in design spec (#293)
  docs/superpowers/specs/2026-04-05-timmy-client-server-integration-design.md
Due: none

feat(core): add SseClientService for SSE-over-POST streaming (#293)
  src/app/core/interfaces/auth.interface.ts
  src/app/core/interfaces/index.ts
  src/app/core/interfaces/sse.interface.ts
  src/app/core/services/sse-client.service.spec.ts
  src/app/core/services/sse-client.service.ts
Due: eslint --fix, prettier --write

feat(chat): add TimmyChatService for server API integration (#293)
  src/app/pages/chat/services/timmy-chat.service.spec.ts
  src/app/pages/chat/services/timmy-chat.service.ts
Due: eslint --fix, prettier --write

refactor(chat): remove mock services, IndexedDB storage, context builder, and source panel (#293)
  src/app/pages/chat/components/chat-source-panel/chat-source-panel.component.html
  src/app/pages/chat/components/chat-source-panel/chat-source-panel.component.scss
  src/app/pages/chat/components/chat-source-panel/chat-source-panel.component.ts
  src/app/pages/chat/services/chat-context-builder.service.spec.ts
  src/app/pages/chat/services/chat-context-builder.service.ts
  src/app/pages/chat/services/chat-session-storage.service.spec.ts
  src/app/pages/chat/services/chat-session-storage.service.ts
  src/app/pages/chat/services/chat.service.ts
  src/app/pages/chat/services/mock-chat.service.spec.ts
  src/app/pages/chat/services/mock-chat.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(i18n): update chat keys for server integration (#293)
  src/assets/i18n/en-US.json
Due: prettier --write

feat(chat): add streaming message rendering and preparation status bubble (#293)
  src/app/pages/chat/components/chat-messages/chat-messages.component.html
  src/app/pages/chat/components/chat-messages/chat-messages.component.scss
  src/app/pages/chat/components/chat-messages/chat-messages.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(chat): add collapsible source summary to session panel (#293)
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.html
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.scss
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(chat): rework ChatPageComponent for server-driven sessions and streaming (#293)
  src/app/pages/chat/components/chat-page/chat-page.component.html
  src/app/pages/chat/components/chat-page/chat-page.component.scss
  src/app/pages/chat/components/chat-page/chat-page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore(i18n): backfill chat keys to all 15 locales and deduplicate references (#293)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: map session creation HTTP errors to localized user-friendly messages (#557)
  src/app/pages/chat/components/chat-page/chat-page.component.spec.ts
  src/app/pages/chat/components/chat-page/chat-page.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: add 'Include in Timmy chat' toggle to entity dialogs and DFD editor (#554, #555)
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.html
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.html
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.html
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

docs: add design spec for save Timmy chat as note (#556)
  docs/superpowers/specs/2026-04-05-save-chat-as-note-design.md
Due: none

docs: clarify title truncation rule in save-as-note spec (#556)
  docs/superpowers/specs/2026-04-05-save-chat-as-note-design.md
Due: none

docs: add implementation plan for save chat as note (#556)
  docs/superpowers/plans/2026-04-05-save-chat-as-note.md
Due: none

feat(i18n): add save-as-note chat keys (#556)
  src/assets/i18n/en-US.json
Due: prettier --write

chore(i18n): backfill save-as-note keys to all locales (#556)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

feat(chat): add save-session-as-note button to session panel (#556)
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.html
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.ts
Due: eslint --fix, prettier --write

feat(chat): add save-message-as-note button on assistant messages (#556)
  src/app/pages/chat/components/chat-messages/chat-messages.component.html
  src/app/pages/chat/components/chat-messages/chat-messages.component.scss
  src/app/pages/chat/components/chat-messages/chat-messages.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

test(chat): add failing tests for save-as-note formatting (#556)
  src/app/pages/chat/components/chat-page/chat-page.component.spec.ts
Due: eslint --fix, prettier --write

feat(chat): implement transcript formatting for save-as-note (#556)
  src/app/pages/chat/components/chat-page/chat-page.component.spec.ts
  src/app/pages/chat/components/chat-page/chat-page.component.ts
Due: eslint --fix, prettier --write

test(chat): add failing tests for save-as-note handlers (#556)
  src/app/pages/chat/components/chat-page/chat-page.component.spec.ts
Due: eslint --fix, prettier --write

feat(chat): implement save-as-note handlers with snackbar navigation (#556)
  src/app/pages/chat/components/chat-page/chat-page.component.ts
Due: eslint --fix, prettier --write

feat(chat): wire save-as-note outputs in chat page template (#556)
  src/app/pages/chat/components/chat-page/chat-page.component.html
Due: eslint --fix, prettier --write

fix(chat): address code review findings for save-as-note (#556)
  src/app/pages/chat/components/chat-messages/chat-messages.component.ts
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.html
  src/app/pages/chat/components/chat-session-panel/chat-session-panel.component.ts
Due: eslint --fix, prettier --write

docs: add design spec for team and project notes UI (#539)
  docs/superpowers/specs/2026-04-05-team-project-notes-design.md
Due: none

docs: add implementation plan for team and project notes (#539)
  docs/superpowers/plans/2026-04-05-team-project-notes.md
Due: none

feat(types): add team and project note type definitions (#539)
  src/app/types/project.types.ts
  src/app/types/team.types.ts
Due: eslint --fix, prettier --write

feat(teams): add note CRUD methods to TeamService (#539)
  src/app/core/services/project.service.spec.ts
  src/app/core/services/team.service.spec.ts
  src/app/core/services/team.service.ts
Due: eslint --fix, prettier --write

feat(projects): add note CRUD methods to ProjectService (#539)
  src/app/core/services/project.service.ts
Due: eslint --fix, prettier --write

refactor: make NoteEditorDialogComponent entity-agnostic (#539)
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.html
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.scss
  src/app/shared/components/note-editor-dialog/note-editor-dialog.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: update tm-edit to use shared note editor dialog path (#539)
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

feat(i18n): add notes tab and sharable i18n keys (#539)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

feat(teams): add Notes tab to edit team dialog (#539)
  src/app/shared/components/edit-team-dialog/edit-team-dialog.component.ts
Due: eslint --fix, prettier --write

feat(projects): add Notes tab to edit project dialog (#539)
  src/app/shared/components/edit-project-dialog/edit-project-dialog.component.ts
Due: eslint --fix, prettier --write

docs: add architecture diagram support design spec (#96)
  docs/superpowers/specs/2026-04-06-architecture-diagram-support-design.md
Due: none

docs: add architecture diagram support implementation plan (#96)
  docs/superpowers/plans/2026-04-06-architecture-diagram-support.md
Due: none

chore: remove .DS-Store files from architecture icons
  src/assets/architecture-icons/aws/.DS-Store
  src/assets/architecture-icons/aws/resources/.DS-Store
  src/assets/architecture-icons/aws/resources/general-icons/.DS-Store
Due: none

fix(dfd): add path field to icon manifest for deep directory support (#96)
  scripts/generate-icon-manifest.ts
  src/assets/architecture-icons/manifest.json
Due: prettier --write

feat(dfd): add architecture icon and placement type definitions (#96)
  src/app/pages/dfd/types/arch-icon.types.ts
  src/app/pages/dfd/types/icon-placement.types.spec.ts
  src/app/pages/dfd/types/icon-placement.types.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
