Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

refactor: extract auto-layout glue into DfdLayoutService (#694)
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/services/dfd-layout.service.spec.ts
  src/app/pages/dfd/presentation/services/dfd-layout.service.ts
  src/app/pages/dfd/types/layout-cell.types.ts
Due: eslint --fix, prettier --write

refactor: extract icon application into DfdIconService (#694)
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/services/dfd-icon.service.spec.ts
  src/app/pages/dfd/presentation/services/dfd-icon.service.ts
Due: eslint --fix, prettier --write

refactor: extract styling logic into DfdStylingService (#694)
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/services/dfd-styling.service.spec.ts
  src/app/pages/dfd/presentation/services/dfd-styling.service.ts
Due: eslint --fix, prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: restore environment.dev.ts and stop gitignoring it
  .gitignore
  src/environments/environment.dev.ts
Due: eslint --fix, prettier --write

feat: make OperatorService prefer server /config operator values
  src/app/core/services/branding-config.service.ts
  src/app/core/services/operator.service.spec.ts
  src/app/core/services/operator.service.ts
Due: eslint --fix, prettier --write

chore: improve file-github-bug milestone resolution
  .claude/skills/file-github-bug/SKILL.md
Due: none

chore: add uv.lock
  uv.lock
Due: none

refactor: extract RemediationCardComponent from AccessDiagnosticsPanel (#655)
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.spec.ts
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.ts
  src/app/shared/components/access-diagnostics-panel/remediation-card/remediation-card.component.spec.ts
  src/app/shared/components/access-diagnostics-panel/remediation-card/remediation-card.component.ts
Due: eslint --fix, prettier --write

style: reformat RemediationCardComponent and spec (#655 follow-up)
  src/app/shared/components/access-diagnostics-panel/remediation-card/remediation-card.component.spec.ts
  src/app/shared/components/access-diagnostics-panel/remediation-card/remediation-card.component.ts
Due: eslint --fix, prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
  uv.lock
Due: none

chore(deps): use $uuid override reference to prevent lockfile drift
  package.json
  pnpm-lock.yaml
Due: none

test: fix zone.js testing setup for zone.js 0.16
  src/testing/zone-setup.ts
Due: eslint --fix, prettier --write

chore(deps): bump @oxc-project/runtime from 0.128.0 to 0.134.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): loosen @oxc-project/runtime range to >=0.119.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): bump @analogjs/vite-plugin-angular from 2.5.3 to 2.6.0
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): bump shell-quote to 1.8.4 to fix CVE-2026-9277
  pnpm-lock.yaml
Due: none

fix(security): sanitize markdown link renderer output via DOMPurify
  src/app/shared/markdown-providers.spec.ts
  src/app/shared/markdown-providers.ts
Due: eslint --fix, prettier --write

fix(security): enforce DOMPurify chokepoint for all markdown output (#730)
  src/app/shared/markdown-providers.spec.ts
  src/app/shared/markdown-providers.ts
Due: eslint --fix, prettier --write

docs: add design spec for admin audit-log UI (#679)
  docs/superpowers/specs/2026-06-11-admin-audit-log-ui-design.md
Due: none

docs: add implementation plan for admin audit-log UI (#679)
  docs/superpowers/plans/2026-06-11-admin-audit-log-ui.md
Due: none

docs: add design spec for OAuth2 step-up retry flow (#680)
  docs/superpowers/specs/2026-06-11-oauth2-step-up-retry-design.md
Due: none

docs: add implementation plan for OAuth2 step-up retry flow (#680)
  docs/superpowers/plans/2026-06-11-oauth2-step-up-retry.md
Due: none

docs: add design spec for graceful collaboration-session exit (#274)
  docs/superpowers/specs/2026-06-11-collab-session-exit-design.md
Due: none

docs: add implementation plan for graceful collab-session exit (#274)
  docs/superpowers/plans/2026-06-11-collab-session-exit.md
  docs/superpowers/specs/2026-06-11-collab-session-exit-design.md
Due: none

docs: add design spec and plan for chat suggested-prompt chips (#692)
  docs/superpowers/plans/2026-06-11-chat-suggested-prompts.md
  docs/superpowers/specs/2026-06-11-chat-suggested-prompts-design.md
Due: none

feat: localize extraction-failure access-diagnostics reason codes (#729)
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.spec.ts
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

test: add required params field to retry remediation fixture (#729)
  src/app/shared/components/access-diagnostics-panel/access-diagnostics-panel.component.spec.ts
Due: eslint --fix, prettier --write

chore(i18n): backfill missing locale translations incl. extraction reason codes (#729)
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

feat(chat): suggested prompts as chips for clearer affordance (#692)
  src/app/pages/chat/components/chat-messages/chat-messages.component.html
  src/app/pages/chat/components/chat-messages/chat-messages.component.spec.ts
  src/app/pages/chat/components/chat-messages/chat-messages.component.ts
Due: eslint --fix, prettier --write

feat(dfd): add solo-transition notification with session-end reason (#274)
  src/app/core/interfaces/collaboration-notification.interface.ts
  src/app/pages/dfd/application/services/app-notification.service.spec.ts
  src/app/pages/dfd/application/services/app-notification.service.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

fix(dfd): warn-level snackbar for unexpected disconnect solo transition (#274)
  src/app/pages/dfd/application/services/app-notification.service.spec.ts
  src/app/pages/dfd/application/services/app-notification.service.ts
Due: eslint --fix, prettier --write

feat(dfd): stay on diagram in solo mode when collaboration ends (#274)
  src/app/core/services/dfd-collaboration.service.spec.ts
  src/app/core/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write
