Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

Improved dragging of labels
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd-label-editor.service.ts
  src/app/pages/dfd/services/dfd-label-position.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Eliminated duplicate label management services
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-label-editor.service.ts
  src/app/pages/dfd/services/dfd-label-position.service.ts
  src/app/pages/dfd/services/dfd-node.service.ts
Due: eslint --fix, prettier --write

Fixed selection issues, redundancy, code cleanup
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-highlighter.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fixed selection issues
  package.json
  pnpm-lock.yaml
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd-label-editor.service.ts
  src/app/pages/dfd/services/dfd-node.service.ts
Due: eslint --fix, prettier --write

Create dependabot.yml
  .github/dependabot.yml
Due: none

Fix dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Updating dependencies
  package.json
  pnpm-lock.yaml
Due: none

Updates
  package.json
  pnpm-lock.yaml
Due: none

Fixed up z-ordering
  src/app/pages/dfd/services/dfd-event.service.ts
Due: eslint --fix, prettier --write

Move all styles to css, remove duplicate code, remove extraneous history/logging during drag
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd-label-editor.service.ts
  src/app/pages/dfd/styles/_graph-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Cleaning up history
  src/app/pages/dfd/services/dfd-graph.service.ts
Due: eslint --fix, prettier --write

lint fixes
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/styles/_graph-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Lint error - unused import
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write

Lint errors
  .gitignore
  src/app/pages/dfd/services/dfd-graph.service.ts
Due: eslint --fix, prettier --write

Fixed build warnings
  angular.json
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/services/dfd-graph.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Refactored DFD component. Style improvements. picking nits.
  .gitignore
  angular.json
  package.json
  pnpm-lock.yaml
  src/app/auth/services/auth.service.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/dfd.module.ts
  src/app/pages/dfd/models/actor-shape.model.ts
  src/app/pages/dfd/models/base-shape.model.ts
  src/app/pages/dfd/models/dfd-types.ts
  src/app/pages/dfd/models/node-data.interface.ts
  src/app/pages/dfd/services/dfd-accessibility.service.ts
  src/app/pages/dfd/services/dfd-error.service.ts
  src/app/pages/dfd/services/dfd-event-bus.service.ts
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd-label-editor.service.ts
  src/app/pages/dfd/services/dfd-node.service.ts
  src/app/pages/dfd/services/dfd-port.service.ts
  src/app/pages/dfd/services/dfd-shape-factory.service.ts
  src/app/pages/dfd/services/dfd.service.ts
  src/app/pages/dfd/styles/_graph-components.scss
  src/app/pages/dfd/utils/dfd-utils.ts
  src/app/pages/home/home.component.html
  src/app/pages/home/home.component.scss
  src/app/pages/home/home.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Graph improvements
  src/app/pages/dfd/commands/command-factory.service.ts
  src/app/pages/dfd/commands/command-manager.service.ts
  src/app/pages/dfd/commands/command.interface.ts
  src/app/pages/dfd/commands/edge-commands.ts
  src/app/pages/dfd/commands/label-commands.ts
  src/app/pages/dfd/commands/node-commands.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/dfd.module.ts
  src/app/pages/dfd/models/actor-shape.model.ts
  src/app/pages/dfd/models/base-shape.model.ts
  src/app/pages/dfd/services/dfd-accessibility.service.ts
  src/app/pages/dfd/services/dfd-command.service.ts
  src/app/pages/dfd/services/dfd-error.service.ts
  src/app/pages/dfd/services/dfd-event-bus.service.ts
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd-label-editor.service.ts
  src/app/pages/dfd/services/dfd-node.service.ts
  src/app/pages/dfd/services/dfd-port.service.ts
  src/app/pages/dfd/services/dfd-shape-factory.service.ts
  src/app/pages/dfd/services/dfd.service.ts
  src/app/pages/dfd/state/dfd.state.ts
  src/app/pages/dfd/styles/_graph-components.scss
  src/app/pages/dfd/styles/_graph-styles.scss
  src/app/pages/dfd/utils/dfd-utils.ts
  src/app/pages/home/home.component.html
Due: eslint --fix, prettier --write, stylelint --fix

Minor style edits
  src/app/pages/dfd/styles/_graph-components.scss
  src/app/pages/dfd/styles/_graph-styles.scss
  src/styles.scss
Due: prettier --write, stylelint --fix

Tweaking history
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/styles/_graph-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Restructured UX around threat models rather than diagrams.
  src/app/app.routes.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.ts
  src/app/pages/diagram-management/diagram-management.component.spec.ts
  src/app/pages/diagram-management/diagram-management.module.ts
  src/app/pages/threat-models/threat-models-routing.module.ts
  src/app/pages/threat-models/threat-models.component.html
  src/app/pages/threat-models/threat-models.component.scss
  src/app/pages/threat-models/threat-models.component.spec.ts
  src/app/pages/threat-models/threat-models.component.ts
  src/app/pages/threat-models/threat-models.module.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

Updating localizations
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/dfd.module.ts
  src/app/pages/threat-models/threat-models.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Adding CodeSandbox Support
  .codesandbox/tasks.json
  angular.json
  pnpm-lock.yaml
Due: none

Added Collaboration UX
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/components/collaboration/collaboration.component.spec.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-collaboration.service.spec.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Package updates
  package.json
  pnpm-lock.yaml
Due: none

Updading angular core
  package.json
  pnpm-lock.yaml
Due: none

Updating angular CLI
  package.json
  pnpm-lock.yaml
Due: none

Updating Angular Material
  package.json
  pnpm-lock.yaml
Due: none

Updating AI assistant rules
  .clinerules
  .gitignore
Due: none

Updating AI assistant rules
  .gitignore
  CLAUDE.md
Due: none

Updating .gitignore
  .gitignore
Due: none

Updating README
  README.md
Due: none

Added threat model editor page.
  src/app/app.routes.ts
  src/app/pages/threat-models/threat-models.component.html
  src/app/pages/threat-models/threat-models.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm-routing.module.ts
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.scss
  src/app/pages/tm/tm.component.spec.ts
  src/app/pages/tm/tm.component.ts
  src/app/pages/tm/tm.module.ts
Due: eslint --fix, prettier --write, stylelint --fix

Added threat model pages, fixed up navigation, localization
  src/app/app.routes.ts
  src/app/auth/guards/home.guard.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/navbar/navbar.component.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/dfd.component.html
  src/app/pages/home/home.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.spec.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Switching to vitest as test framework. Adding @analogjs/vite-plugin-angular.
  angular.json
  package.json
  pnpm-lock.yaml
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.spec.ts
  src/app/pages/tm/tm.component.ts
  src/test-setup.ts
  tsconfig.vitest.json
  vitest.config.ts
Due: eslint --fix, prettier --write

Updated test setup; fixed inaccuracies in dfd model, fixed tm-edit page
  .clinerules
  README.md
  context/ARCHITECTURE_NOTES.md
  src/app/app.component.spec.ts
  src/app/app.routes.ts
  src/app/auth/guards/auth.guard.spec.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/core/components/footer/footer.component.spec.ts
  src/app/core/components/navbar/navbar.component.spec.ts
  src/app/core/services/api.service.spec.ts
  src/app/pages/about/about.component.spec.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.spec.ts
  src/app/pages/dfd/dfd.component.spec.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-collaboration.service.spec.ts
  src/app/pages/home/home.component.spec.ts
  src/app/pages/privacy/privacy.component.spec.ts
  src/app/pages/tm/models/diagram.model.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm-routing.module.ts
  src/app/pages/tm/tm.component.spec.ts
  src/app/pages/tos/tos.component.spec.ts
  src/test-setup.ts
Due: eslint --fix, prettier --write, stylelint --fix

Trying to make graph resize to fit available area in dfd page. Localization updates.
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/dfd.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Added an "Export to JSON" context menu for shapes
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-event-bus.service.ts
  src/app/pages/dfd/services/dfd-event.service.ts
Due: eslint --fix, prettier --write

Added example shape json files to context
  context/actor-shape.json
  context/flow-shape.json
  context/process-shape.json
  context/security-boundary-shape.json
  context/store-shape.json
Due: none

Adding AI generated developers guide for AntV/X6
  context/Developers Guide AntVX6 Graphing Library v2.md
Due: none
