Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: reorganize threat model details card field ordering
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add colgroup and col to DOMPurify allowed tags
  src/app/app.config.ts
Due: eslint --fix, prettier --write

chore: format import-orchestrator spec file
  src/app/pages/tm/services/import/import-orchestrator.service.spec.ts
Due: eslint --fix, prettier --write

fix: populate note page created_at and modified_at timestamps
  src/app/pages/tm/components/note-page/note-page.component.spec.ts
  src/app/pages/tm/components/note-page/note-page.component.ts
Due: eslint --fix, prettier --write

feat: add CWE and CVSS fields to threat edit page
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: increase field size limits to match updated API schema
  src/app/pages/admin/groups/add-group-dialog/add-group-dialog.component.ts
  src/app/pages/admin/settings/add-setting-dialog/add-setting-dialog.component.ts
  src/app/pages/dashboard/create-threat-model-dialog/create-threat-model-dialog.component.spec.ts
  src/app/pages/dashboard/create-threat-model-dialog/create-threat-model-dialog.component.ts
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.html
  src/app/pages/tm/components/asset-editor-dialog/asset-editor-dialog.component.ts
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.ts
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/pages/tm/components/note-page/note-page.component.ts
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.html
  src/app/pages/tm/components/repository-editor-dialog/repository-editor-dialog.component.ts
  src/app/pages/tm/validation/schema-validator.ts
  src/app/shared/components/create-project-dialog/create-project-dialog.component.spec.ts
  src/app/shared/components/create-project-dialog/create-project-dialog.component.ts
  src/app/shared/components/create-team-dialog/create-team-dialog.component.spec.ts
  src/app/shared/components/create-team-dialog/create-team-dialog.component.ts
  src/app/shared/services/form-validation.service.ts
Due: eslint --fix, prettier --write

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: eliminate CodeQL remote-property-injection alerts in redact utility
  package.json
  src/app/core/utils/redact-sensitive-data.util.ts
Due: eslint --fix, prettier --write

fix: eliminate CodeQL remote-property-injection alerts in redact utility
  src/app/core/utils/redact-sensitive-data.util.ts
Due: eslint --fix, prettier --write

fix(deps): override serialize-javascript to >=7.0.3 (GHSA-5c6j-r48x-rmvq)
  package.json
  pnpm-lock.yaml
Due: none

feat: add CVSS calculator dialog with score computation (#86)
  angular.json
  package.json
  pnpm-lock.yaml
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.html
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.scss
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.spec.ts
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.ts
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.types.ts
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/shared/imports.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: lock CVSS version selector and rename button to Add CVSS (#86)
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.html
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.spec.ts
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.component.ts
  src/app/pages/tm/components/cvss-calculator-dialog/cvss-calculator-dialog.types.ts
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: validate CWE input to accept only 1-4 digit numeric IDs
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write

✅ Pre-recon agent: completed successfully
  deliverables/code_analysis_deliverable.md
  outputs/SECURITY_PATTERN_ANALYSIS.md
  outputs/schemas/README.md
  outputs/schemas/cia.json
  outputs/schemas/die.json
  outputs/schemas/linddun.json
  outputs/schemas/plot4ai.json
  outputs/schemas/stride.json
  outputs/schemas/tmi-backend-api-types.d.ts
Due: none

📍 Checkpoint: Recon agent (attempt 1)
  deliverables/pre_recon_deliverable.md
Due: none

✅ Recon agent: completed successfully
  deliverables/recon_deliverable.md
Due: none

✅ Injection vuln agent: completed successfully
  deliverables/injection_analysis_deliverable.md
  deliverables/injection_exploitation_queue.json
Due: none

✅ XSS vuln agent: completed successfully
  deliverables/auth_analysis_deliverable.md
  deliverables/ssrf_safe_components.md
  deliverables/xss_analysis_deliverable.md
  deliverables/xss_exploitation_queue.json
Due: none

✅ Auth vuln agent: completed successfully
  deliverables/auth_analysis_deliverable.md
  deliverables/auth_exploitation_queue.json
  deliverables/authz_analysis_deliverable.md
  deliverables/ssrf_analysis_deliverable.md
  deliverables/ssrf_exploitation_queue.json
Due: none

✅ Authz vuln agent: completed successfully
  deliverables/authz_exploitation_queue.json
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
