Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Fixing remaining refactor-related issues (linting)
  .clinerules
  src/app/pages/dfd/application/handlers/diagram-command-handlers.ts
  src/app/pages/dfd/application/services/command-bus-initializer.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/dfd.module.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/repositories/in-memory-diagram.repository.ts
  src/app/pages/dfd/migration/dfd-migration-facade.service.ts
  src/app/pages/dfd/migration/legacy-command.adapter.ts
  src/app/pages/dfd/migration/legacy-graph.adapter.ts
  src/app/pages/dfd/services/dfd-change-tracker.service.ts
Due: eslint --fix, prettier --write

minor version bumps
  package.json
  pnpm-lock.yaml
Due: none

minor version bump
  package.json
  pnpm-lock.yaml
Due: none

bumped all outdated packages
  package.json
  pnpm-lock.yaml
Due: none

css cleanup
  src/app/pages/dfd/components/collaboration/user-presence-list.component.scss
  src/app/pages/dfd/styles/_dfd-styles.scss
Due: prettier --write, stylelint --fix

bumping dependencies
  package.json
  pnpm-lock.yaml
Due: none

New feature tests + performance optimization
  src/app/pages/dfd/application/collaboration/collaboration-application.service.spec.ts
  src/app/pages/dfd/application/collaboration/collaboration-application.service.ts
  src/app/pages/dfd/application/collaboration/collaboration-performance.spec.ts
  src/app/pages/dfd/infrastructure/services/change-batching.service.ts
  src/app/pages/dfd/infrastructure/services/change-debouncing.service.ts
  src/app/pages/dfd/infrastructure/services/memory-leak-prevention.service.ts
  src/app/pages/dfd/infrastructure/services/serialization-optimization.service.ts
Due: eslint --fix, prettier --write

Updated dependencies, fixed lint issues
  package.json
  pnpm-lock.yaml
  src/app/pages/dfd/application/collaboration/collaboration-application.service.spec.ts
  src/app/pages/dfd/application/collaboration/collaboration-performance.spec.ts
  src/app/pages/dfd/infrastructure/services/change-debouncing.service.ts
  src/app/pages/dfd/infrastructure/services/memory-leak-prevention.service.ts
  src/app/pages/dfd/infrastructure/services/serialization-optimization.service.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

created test coverage plan, added tests for api and logger service, eased lint rules for tests
  docs/testing/test-coverage-improvement-plan.md
  docs/testing/test-coverage-progress.md
  eslint.config.js
  src/app/core/services/api.service.spec.ts
  src/app/core/services/logger.service.spec.ts
  src/app/pages/dfd/application/collaboration/collaboration-application.service.spec.ts
  src/app/pages/dfd/application/services/command-bus.service.spec.ts
  src/app/pages/dfd/application/services/dfd-application.service.spec.ts
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: none

DFD refactoring cleanup
  context/DFD_COMPONENT_REFACTORING.md
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/dfd.module.ts
  src/app/pages/dfd/infrastructure/services/performance-testing.service.ts
  src/app/pages/dfd/migration/dfd-migration-facade.service.ts
  src/app/pages/dfd/migration/legacy-command.adapter.ts
  src/app/pages/dfd/migration/legacy-graph.adapter.ts
  src/app/pages/dfd/migration/migration-flags.service.ts
  unused/X6_CLEAN_ARCHITECTURE_REFACTOR.md
  unused/_graph-components.scss
  unused/_graph-styles.scss
  unused/_shape-styles.scss
  unused/legacy-commands/command-deserializer.service.ts
  unused/legacy-commands/command-factory.service.ts
  unused/legacy-commands/command-manager.service.ts
  unused/legacy-commands/command-registry.service.ts
  unused/legacy-commands/command.interface.ts
  unused/legacy-commands/edge-commands.ts
  unused/legacy-commands/label-commands.ts
  unused/legacy-commands/node-commands.ts
  unused/legacy-models/actor-shape.model.ts
  unused/legacy-models/base-shape.model.ts
  unused/legacy-models/dfd-shape-factory.service.ts
  unused/legacy-models/process-shape.model.ts
  unused/legacy-models/security-boundary-shape.model.ts
  unused/legacy-models/store-shape.model.ts
  unused/legacy-models/textbox-shape.model.ts
  unused/legacy-services/dfd-accessibility.service.ts
  unused/legacy-services/dfd-command.service.ts
  unused/legacy-services/dfd-error.service.ts
  unused/legacy-services/dfd-event-bus.service.ts
  unused/legacy-services/dfd-event.service.ts
  unused/legacy-services/dfd-graph.service.ts
  unused/legacy-services/dfd-label-editor.service.ts
  unused/legacy-services/dfd-node.service.ts
  unused/legacy-services/dfd-port.service.ts
  unused/legacy-services/dfd.service.ts
Due: eslint --fix, prettier --write

Localized the default shape names
  src/app/pages/dfd/application/services/dfd-application.service.ts
  src/app/pages/dfd/domain/value-objects/node-data.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Fixed mock data issue. Fixed some lint issues.
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/repositories/in-memory-diagram.repository.ts
  src/app/pages/dfd/infrastructure/services/performance-testing.service.ts
Due: eslint --fix, prettier --write

Adding back in graph functionality
  package.json
  pnpm-lock.yaml
  src/app/pages/dfd/application/services/command-bus.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/integration/x6-integration.spec.ts
  src/app/pages/dfd/styles/_dfd-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Fixing edge visibility. Cleanup. Bumped dependencies.
  context/DFD_COMPONENT_REFACTORING.md
  context/file_system_access.md
  package.json
  package.json.backup
  pnpm-lock.yaml
  src/app/core/services/logger.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/integration/x6-integration.spec.ts
  src/app/pages/dfd/styles/_dfd-styles.scss
  src/environments/environment.interface.ts
  src/environments/environment.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fixed edge creation. Documented graph UX interaction and feedback
  docs/GRAPH_INTERACTION.md
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/services/dfd-highlighter.service.ts
Due: eslint --fix, prettier --write

Fixing styling and test errors, updating LLM context & prompts
  .clinerules
  CLAUDE.md
  docs/DFD_GRAPH_INTERACTION.md
  src/app/pages/dfd/application/services/command-bus.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Fine tuning port visibility
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/integration/x6-integration.spec.ts
Due: eslint --fix, prettier --write

Enabling multi-select
  context/DFD_GRAPH_INTERACTION.md
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Highlighting tuning, toolbar button tuning
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/shared/material/core-material.module.ts
Due: eslint --fix, prettier --write

Fixing highlighting, context menu
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Made copy to clipboard more robust
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write

Label editor, localized shape names
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/services/dfd-change-tracker.service.ts
  src/app/shared/material/core-material.module.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  src/testing/helpers/graph-test.helper.ts
  src/testing/matchers/graph-matchers.ts
Due: eslint --fix, prettier --write

Updating graph interaction documentation
  context/DFD_GRAPH_INTERACTION.md
Due: none

Added testing for DFD graph component
  context/DFD_GRAPH_INTERACTION.md
  docs/testing/dfd-graph-component-test-plan.md
  eslint.config.js
  src/app/pages/dfd/application/collaboration/collaboration-application.service.spec.ts
  src/app/pages/dfd/application/collaboration/collaboration-performance.spec.ts
  src/app/pages/dfd/application/services/dfd-application.service.spec.ts
  src/app/pages/dfd/tests/graph-edge-operations.spec.ts
  src/app/pages/dfd/tests/graph-node-operations.spec.ts
  src/app/pages/dfd/tests/graph-port-visibility.spec.ts
  src/app/pages/dfd/tests/graph-selection-behavior.spec.ts
  src/app/pages/dfd/tests/graph-tools-context.spec.ts
  src/app/pages/dfd/tests/test-utils/assertion-helpers.ts
  src/app/pages/dfd/tests/test-utils/cell-serialization.util.ts
  src/app/pages/dfd/tests/test-utils/mock-factories.ts
  src/testing/matchers/graph-matchers.ts
Due: eslint --fix, prettier --write

Fixed store shape
  context/DFD_GRAPH_INTERACTION.md
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write

Changes to edge connection constraints; edge testing
  context/DFD_GRAPH_INTERACTION.md
  context/README.md
  docs/testing/dfd-graph-component-test-plan.md
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/tests/graph-edge-operations.spec.ts
Due: eslint --fix, prettier --write

Many minor fixes to graph interaction
  context/DFD_GRAPH_INTERACTION.md
  context/DFD_X6_HISTORY_SERVICE_IMPLEMENTATION_PLAN.md
  src/app/auth/auth-integration.spec.ts
  src/app/pages/dfd/application/middleware/history.middleware.ts
  src/app/pages/dfd/application/services/command-bus-initializer.service.ts
  src/app/pages/dfd/application/services/history.service.spec.ts
  src/app/pages/dfd/application/services/history.service.ts
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/commands/inverse-command-factory.ts
  src/app/pages/dfd/domain/history/history.types.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/operation-state-tracker.service.ts
  src/app/pages/dfd/styles/_dfd-styles.scss
  src/app/pages/dfd/tests/graph-node-operations.spec.ts
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

bump
  package.json
  pnpm-lock.yaml
Due: none

Updated API to include source code and document references
  tmi-openapi.json
Due: none

Adding constraints to OpenAPI doc
  tmi-openapi.json
Due: none

automated fixes to openapi spec
  tmi-openapi.json
Due: none

openapi schema fine-tuning
  tmi-openapi.json
Due: none

Fixed json syntax error
  tmi-openapi.json
Due: none

Prompt cleanup
  .clinerules
  CLAUDE.md
  context/authorization.md
Due: none

Added externalDocs to api spec
  tmi-openapi.json
Due: none

Fixing OpenAPI examples
  tmi-openapi.json
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
