Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Use chainguard container
  Dockerfile
Due: none

Fixing container issues
  .claude/settings.local.json
  Dockerfile
  server.js
  src/app/core/services/server-connection.service.ts
Due: eslint --fix, prettier --write

Fixing build warning
  src/styles.scss
Due: prettier --write, stylelint --fix

Fixing test bugs, formatting
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.spec.ts
  src/app/pages/dfd/application/services/app-auto-save-manager.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-persistence-coordinator.service.spec.ts
  src/styles/fonts.scss
Due: eslint --fix, prettier --write, stylelint --fix

Fixing material icon font icons
  src/app/app.config.ts
Due: eslint --fix, prettier --write

Reducing log noise, fixing layout on threat model edit page
  src/app/auth/components/login/login.component.ts
  src/app/core/services/collaboration-session.service.ts
  src/app/core/services/logger.service.ts
  src/app/pages/tm/resolvers/threat-model.resolver.ts
  src/app/pages/tm/services/threat-model-authorization.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/shared/services/framework.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fixed duplicate initialization bug in threat edit dialog; logging noise reduction
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/shared/services/cell-data-extraction.service.ts
Due: eslint --fix, prettier --write

Fixing session expiry errors, fine tuning some translations
  src/app/auth/services/auth.service.ts
  src/app/auth/services/session-manager.service.ts
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.html
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Updated "login" to "sign in"
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

Adding robots.txt
  public/robots.txt
Due: none

Changing login styling
  src/app/app.config.ts
  src/app/auth/components/login/login.component.html
  src/app/auth/components/login/login.component.scss
  src/app/auth/components/login/login.component.ts
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  src/assets/signin-logos/Google_G_logo.svg
  src/assets/signin-logos/test.svg
  src/styles/colors.scss
Due: eslint --fix, prettier --write, stylelint --fix

Fixed diagram rendering and margins in generated pdf reports
  src/app/auth/components/login/login.component.scss
  src/app/pages/tm/services/threat-model-report.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Updating about page to contain version information
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/services/server-connection.service.ts
  src/app/pages/about/about.component.html
  src/app/pages/about/about.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add automatic semantic versioning system
  .gitignore
  .husky/commit-msg
  package.json
  scripts/set-version-bump.sh
  scripts/validate-deployment.ts
  scripts/version-bump.ts
Due: none

docs: add automatic semantic versioning documentation
  .claude/CLAUDE.md
Due: none

docs: add missing privacy policy translation keys
  .claude/settings.local.json
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

fix: move version bump outside Docker build for container deployments
  .claude/CLAUDE.md
  package.json
  scripts/push-heroku.sh
Due: none

chore: bump version to 0.7.1
  package.json
Due: none

chore: bump version to 0.7.2
  package.json
Due: none

chore: bump version to 0.7.3
  package.json
Due: none

chore: bump version to 0.7.4
  package.json
Due: none

Testing custom palette
  .claude/settings.local.json
  angular.json
  src/app/pages/about/about.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
  src/styles.scss
  src/styles/custom-palette.scss
  src/styles/material-theme.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 0.7.5
  package.json
Due: none

chore: bump version to 0.7.6
  package.json
Due: none

chore: bump version to 0.7.7
  package.json
Due: none

chore: add self-hosted Roboto font and optimize signin logos
  src/app/auth/components/login/login.component.ts
  src/assets/fonts/roboto/Roboto-VariableFont.ttf
  src/assets/signin-logos/test-signin-logo.svg
  src/styles/fonts.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 0.7.8
  package.json
Due: none

chore: bump version to 0.7.9
  package.json
Due: none

Removing fontawesome
  angular.json
  package.json
  pnpm-lock.yaml
  src/app/auth/components/local-user-select/local-user-select.component.ts
  src/app/auth/components/login/login.component.html
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/environments/environment.interface.ts
  src/environments/environment.test.ts
  src/environments/environment.ts
  src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 0.7.10
  package.json
Due: none

chore: upgrade dependencies
  pnpm-lock.yaml
Due: none

chore: bump version to 0.7.11
  package.json
Due: none

chore: bump version to 0.7.12
  package.json
Due: none

chore: bump version to 0.7.13
  package.json
Due: none

chore: reduce noisy INFO logs during DFD initialization
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

feat: align cell serialization with X6 native format
  src/app/core/services/logger.service.spec.ts
  src/app/core/services/logger.service.ts
  src/app/core/types/websocket-message.types.ts
  src/app/mocks/mock-data.service.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
