Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

ops: keep the previous build on S3 for 24h after a deploy (#925)
  scripts/deploy-aws.sh
Due: none

fix: give tm-edit section headers and the audit panel Material surface colours
  src/app/pages/tm/tm-edit.component.scss
Due: prettier --write, stylelint --fix

fix: give tm-edit section headers and the audit panel Material surface colours (#926)
  package.json
  src/app/pages/tm/tm-edit.component.scss
Due: prettier --write, stylelint --fix

feat: expose direct_write and addon link on client credentials (#918)
  src/app/core/components/user-preferences-dialog/create-credential-dialog/create-credential-dialog.component.spec.ts
  src/app/core/components/user-preferences-dialog/create-credential-dialog/create-credential-dialog.component.ts
  src/app/core/components/user-preferences-dialog/create-credential-dialog/direct-write-fields.component.spec.ts
  src/app/core/components/user-preferences-dialog/create-credential-dialog/direct-write-fields.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/generated/api-types.d.ts
  src/app/pages/admin/shared/create-automation-user-dialog/create-automation-user-dialog.component.spec.ts
  src/app/pages/admin/shared/create-automation-user-dialog/create-automation-user-dialog.component.ts
  src/app/pages/admin/users/manage-credentials-dialog/manage-credentials-dialog.component.ts
  src/app/types/user.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: satisfy the i18n sentence rule and Prettier on the direct-write fields
  src/app/core/components/user-preferences-dialog/create-credential-dialog/direct-write-fields.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: expose direct_write and addon link on client credentials (#929)
  package.json
  src/app/core/components/user-preferences-dialog/create-credential-dialog/create-credential-dialog.component.spec.ts
  src/app/core/components/user-preferences-dialog/create-credential-dialog/create-credential-dialog.component.ts
  src/app/core/components/user-preferences-dialog/create-credential-dialog/direct-write-fields.component.spec.ts
  src/app/core/components/user-preferences-dialog/create-credential-dialog/direct-write-fields.component.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/generated/api-types.d.ts
  src/app/pages/admin/shared/create-automation-user-dialog/create-automation-user-dialog.component.spec.ts
  src/app/pages/admin/shared/create-automation-user-dialog/create-automation-user-dialog.component.ts
  src/app/pages/admin/users/manage-credentials-dialog/manage-credentials-dialog.component.ts
  src/app/types/user.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: darken --color-text-muted so it meets WCAG AA on light surfaces
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

fix: give each accent fill its own AA-compliant ink token per palette
  src/app/pages/admin/webhooks/admin-webhooks.component.scss
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.scss
  src/app/pages/tm/tm-edit.component.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

fix: darken --color-text-muted so it meets WCAG AA on light surfaces (#931)
  package.json
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

fix: give each accent fill its own AA-compliant ink token per palette (#932)
  src/app/pages/admin/webhooks/admin-webhooks.component.scss
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.scss
  src/app/pages/tm/tm-edit.component.scss
  src/styles/colors.scss
Due: prettier --write, stylelint --fix

feat: edit webhook subscriptions and addons in place from the admin pages
  src/app/core/services/addon.service.spec.ts
  src/app/core/services/addon.service.ts
  src/app/core/services/admin-service-base.ts
  src/app/core/services/webhook.service.spec.ts
  src/app/core/services/webhook.service.ts
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.spec.ts
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.ts
  src/app/pages/admin/addons/admin-addons.component.html
  src/app/pages/admin/addons/admin-addons.component.ts
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.spec.ts
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.html
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
  src/app/shared/utils/json-patch.util.spec.ts
  src/app/shared/utils/json-patch.util.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: edit webhook subscriptions and addons in place from the admin pages (#933)
  package.json
  src/app/core/services/addon.service.spec.ts
  src/app/core/services/addon.service.ts
  src/app/core/services/admin-service-base.ts
  src/app/core/services/webhook.service.spec.ts
  src/app/core/services/webhook.service.ts
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.spec.ts
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.ts
  src/app/pages/admin/addons/admin-addons.component.html
  src/app/pages/admin/addons/admin-addons.component.ts
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.spec.ts
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.html
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
  src/app/shared/utils/json-patch.util.spec.ts
  src/app/shared/utils/json-patch.util.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: stop fetching content tokens when no delegated provider is configured
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/connected-accounts-tab.component.ts
  src/app/core/services/content-token.service.spec.ts
  src/app/core/services/content-token.service.ts
Due: eslint --fix, prettier --write

fix: stop fetching content tokens when no delegated provider is configured (#934)
  package.json
  src/app/core/components/user-preferences-dialog/connected-accounts-tab/connected-accounts-tab.component.ts
  src/app/core/services/content-token.service.spec.ts
  src/app/core/services/content-token.service.ts
Due: eslint --fix, prettier --write

feat: show whether a database-backed setting was seeded or set explicitly
  src/app/pages/admin/settings/admin-settings.component.html
  src/app/pages/admin/settings/admin-settings.component.scss
  src/app/pages/admin/settings/admin-settings.component.ts
  src/app/types/settings.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: match settings filter text against origin
  src/app/pages/admin/settings/admin-settings.component.ts
Due: eslint --fix, prettier --write

feat: show whether a database-backed setting was seeded or set explicitly (#936)
  package.json
  src/app/pages/admin/settings/admin-settings.component.html
  src/app/pages/admin/settings/admin-settings.component.scss
  src/app/pages/admin/settings/admin-settings.component.ts
  src/app/types/settings.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: mark marked-katex-extension external so ng serve can load ngx-markdown routes
  angular.json
Due: none

fix: mark marked-katex-extension external so ng serve can load ngx-markdown routes (#939)
  angular.json
Due: none

fix: bind the admin settings table's sort and paginator after the table renders
  e2e/tests/admin/admin-settings.spec.ts
  src/app/pages/admin/settings/admin-settings.component.spec.ts
  src/app/pages/admin/settings/admin-settings.component.ts
Due: eslint --fix, prettier --write

fix: count only the current page's rows when adjusting the settings page after a delete
  src/app/pages/admin/settings/admin-settings.component.ts
Due: eslint --fix, prettier --write

feat: filter the admin settings table to a newly added setting so it is visible on the paged table
  e2e/tests/admin/admin-settings.spec.ts
  src/app/pages/admin/settings/add-setting-dialog/add-setting-dialog.component.spec.ts
  src/app/pages/admin/settings/add-setting-dialog/add-setting-dialog.component.ts
  src/app/pages/admin/settings/admin-settings.component.ts
Due: eslint --fix, prettier --write

fix: admin settings table sorting and pagination do nothing (#940)
  e2e/tests/admin/admin-settings.spec.ts
  package.json
  src/app/pages/admin/settings/add-setting-dialog/add-setting-dialog.component.spec.ts
  src/app/pages/admin/settings/add-setting-dialog/add-setting-dialog.component.ts
  src/app/pages/admin/settings/admin-settings.component.spec.ts
  src/app/pages/admin/settings/admin-settings.component.ts
Due: eslint --fix, prettier --write

fix: bind MatSort when the table renders so column sorting works on seven list pages
  e2e/tests/admin/admin-users.spec.ts
  src/app/pages/admin/groups/admin-groups.component.ts
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/projects/projects-list-base.ts
  src/app/pages/surveys/components/my-responses/my-responses.component.ts
  src/app/pages/teams/teams-list-base.ts
Due: eslint --fix, prettier --write

test: assert admin users sorting moves rows and replace fixed e2e waits with retrying checks
  e2e/tests/admin/admin-users.spec.ts
Due: none

chore: drop SEM markers left behind by the removed ngAfterViewInit hooks
  src/app/pages/projects/projects-list-base.ts
  src/app/pages/teams/teams-list-base.ts
Due: eslint --fix, prettier --write

fix: column sorting never reorders rows on seven list pages (#941)
  e2e/tests/admin/admin-users.spec.ts
  package.json
  src/app/pages/admin/groups/admin-groups.component.ts
  src/app/pages/admin/surveys/admin-surveys.component.ts
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/projects/projects-list-base.ts
  src/app/pages/surveys/components/my-responses/my-responses.component.ts
  src/app/pages/teams/teams-list-base.ts
Due: eslint --fix, prettier --write

fix: threats table opens most-severe first and never drops the sort param
  e2e/tests/workflows/threat-sort.spec.ts
  src/app/pages/tm/services/threat-filter-state.service.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: threats table opens most-severe first and never drops the sort param (#947)
  e2e/tests/workflows/threat-sort.spec.ts
  package.json
  src/app/pages/tm/services/threat-filter-state.service.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

refactor: keep threat severity/priority/status as the API's canonical strings
  src/app/pages/dfd/application/services/app-event-handlers.service.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/validation/schema-validator.ts
  src/app/shared/utils/field-value-helpers.spec.ts
  src/app/shared/utils/field-value-helpers.ts
Due: eslint --fix, prettier --write

refactor: keep threat severity/priority/status as the API's canonical strings (#948)
  package.json
  src/app/pages/dfd/application/services/app-event-handlers.service.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/validation/schema-validator.ts
  src/app/shared/utils/field-value-helpers.spec.ts
  src/app/shared/utils/field-value-helpers.ts
Due: eslint --fix, prettier --write

refactor: remove client-side legacy threat value maps (#951)
  src/app/pages/tm/services/tm-edit-formatting.service.spec.ts
  src/app/pages/tm/services/tm-edit-formatting.service.ts
  src/app/pages/tm/services/tm-threat-crud.service.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

refactor: remove client-side legacy threat value maps (#951) (#952)
  package.json
  src/app/pages/tm/services/tm-edit-formatting.service.spec.ts
  src/app/pages/tm/services/tm-edit-formatting.service.ts
  src/app/pages/tm/services/tm-threat-crud.service.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

test: wait for MatButtonToggle to render before clicking it in the CVSS dialog
  e2e/dialogs/cvss-calculator.dialog.ts
Due: none

fix: admin settings knows the float setting type
  src/app/pages/admin/settings/add-setting-dialog/add-setting-dialog.component.spec.ts
  src/app/pages/admin/settings/add-setting-dialog/add-setting-dialog.component.ts
  src/app/types/settings.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: admin settings float type; e2e CVSS toggle click race (#954)
  e2e/dialogs/cvss-calculator.dialog.ts
  package.json
  src/app/pages/admin/settings/add-setting-dialog/add-setting-dialog.component.spec.ts
  src/app/pages/admin/settings/add-setting-dialog/add-setting-dialog.component.ts
  src/app/types/settings.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: retire the "unknown" threat severity (#953)
  scripts/generate-api-types.sh
  src/app/generated/api-types.d.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.scss
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.spec.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/services/tm-edit-formatting.service.spec.ts
  src/app/pages/tm/services/tm-edit-formatting.service.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
  src/app/shared/utils/field-value-helpers.spec.ts
  src/app/shared/utils/field-value-helpers.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: retire the "unknown" threat severity (#953) (#955)
  package.json
  scripts/generate-api-types.sh
  src/app/generated/api-types.d.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.scss
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.spec.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/services/tm-edit-formatting.service.spec.ts
  src/app/pages/tm/services/tm-edit-formatting.service.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.scss
  src/app/shared/utils/field-value-helpers.spec.ts
  src/app/shared/utils/field-value-helpers.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: regenerate stale i18n usage sidecar and fix the four keys it hid (#956)
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
Due: prettier --write

fix: send null, not an empty string, for an unassessed threat severity
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/models/threat-model.model.ts
Due: eslint --fix, prettier --write
