Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: remove card click handler to prevent navigation issues on admin page
  src/app/core/services/addon.service.ts
  src/app/core/services/administrator.service.ts
  src/app/core/services/webhook.service.ts
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.ts
  src/app/pages/admin/admin.component.html
  src/app/pages/admin/admin.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove leading slashes from admin service API endpoint paths
  src/app/core/services/addon.service.ts
  src/app/core/services/administrator.service.ts
  src/app/core/services/webhook.service.ts
Due: eslint --fix, prettier --write

fix: improve icon format validation with length checks and updated regex patterns
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.ts
Due: eslint --fix, prettier --write

fix: strip display_name from authorization entries to prevent PATCH validation errors
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write

feat: improve UX on Manage Addons admin page
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.ts
  src/app/pages/admin/addons/admin-addons.component.scss
  src/app/pages/admin/addons/admin-addons.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: improve UX on Manage Webhooks admin page
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.scss
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: enhance icon field UX in Add Addon dialog
  src/app/pages/admin/addons/add-addon-dialog/add-addon-dialog.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

feat: improve admin navigation and access control
  src/app/app.routes.ts
  src/app/auth/services/auth.service.ts
  src/app/pages/admin/addons/admin-addons.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
Due: eslint --fix, prettier --write

chore(deps): update Angular to 20.3.15 and express to 5.2.1
  package.json
  pnpm-lock.yaml
Due: none

feat: redesign webhook subscriptions list with improved layout
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.html
  src/app/pages/admin/webhooks/admin-webhooks.component.scss
  src/app/pages/admin/webhooks/admin-webhooks.component.ts
  src/app/pages/admin/webhooks/hmac-secret-dialog/hmac-secret-dialog.component.html
  src/app/pages/admin/webhooks/hmac-secret-dialog/hmac-secret-dialog.component.scss
  src/app/pages/admin/webhooks/hmac-secret-dialog/hmac-secret-dialog.component.ts
  src/app/types/webhook.types.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add quota management admin page
  src/app/app.routes.ts
  src/app/core/services/quota.service.ts
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.html
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.scss
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.ts
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/admin/quotas/admin-quotas.component.scss
  src/app/pages/admin/quotas/admin-quotas.component.ts
  src/app/types/quota.types.ts
  src/app/types/user.types.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: normalize URL construction in ApiService to prevent double-slashes
  src/app/core/services/api.service.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: implement quota list loading in admin quota management page
  src/app/core/services/quota.service.ts
  src/app/pages/admin/quotas/admin-quotas.component.ts
  src/app/pages/admin/webhooks/admin-webhooks.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: consolidate duplicate SVG optimization and error extraction logic
  .gitignore
  src/app/core/services/api.service.ts
  src/app/pages/dfd/application/services/app-export.service.ts
  src/app/pages/dfd/application/services/app-svg-optimization.service.ts
  src/app/pages/dfd/services/svg-optimization.service.ts
  src/app/shared/services/notification.service.ts
  src/app/shared/utils/http-error.utils.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript unsafe any type warnings
  src/app/pages/admin/administrators/add-administrator-dialog/add-administrator-dialog.component.ts
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/providers/authorization-prepare.service.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: resolve CVE-2025-66414 in @modelcontextprotocol/sdk
  package.json
  pnpm-lock.yaml
Due: none

feat: enhance admin administrators page with improved UI and filtering
  src/app/pages/admin/administrators/admin-administrators.component.html
  src/app/pages/admin/administrators/admin-administrators.component.scss
  src/app/pages/admin/administrators/admin-administrators.component.ts
  src/app/types/administrator.types.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: replace administrators page with table-based layout from quotas page
  src/app/pages/admin/administrators/admin-administrators.component.html
  src/app/pages/admin/administrators/admin-administrators.component.scss
  src/app/pages/admin/administrators/admin-administrators.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: move idp parameter from query string to request body in OAuth token exchange
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

fix: resolve 6 failing unit tests in API service and z-order service
  src/app/core/services/api.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.ts
Due: eslint --fix, prettier --write

fix: move idp parameter from request body to query string in OAuth token exchange
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

fix: downgrade provider mismatch log from error to warning
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

fix: handle null response from quota list endpoints
  src/app/core/services/quota.service.ts
Due: eslint --fix, prettier --write

fix: resolve admin UI issues - close button alignment and webhook autocomplete
  src/app/pages/admin/admin.component.html
  src/app/pages/admin/admin.component.scss
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.scss
  src/app/pages/admin/webhooks/add-webhook-dialog/add-webhook-dialog.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: deduplicate i18n translations and add missing admin keys
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

fix: resolve race condition in first-login authorization check
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

fix: prevent spurious convergence error when recalculating z-order with no cells
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-z-order.service.ts
Due: eslint --fix, prettier --write

fix: prevent display_name from being sent in authorization PATCH requests
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/services/providers/authorization-prepare.service.ts
Due: eslint --fix, prettier --write

fix: prevent authorization field from being included in form field PATCH requests
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

debug: add INFO level logging to trace PATCH request fields
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: add runtime defense against authorization in form PATCH requests
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

chore: cleanup
  package.json
  scripts/copy-docs.js
  scripts/migrate-status-severity-priority-keys.sh
  scripts/sync-server-docs.js
  scripts/sync-server-docs.sh
Due: none

fix: correct asset sensitivity display to show single value instead of iterating
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

feat: standardize tm-edit page lists and UI
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
Due: eslint --fix, prettier --write

feat: migrate threat_type from string to string array
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/tm/validation/schema-validator.ts
  src/app/pages/tm/validation/threat-model-validator.service.spec.ts
  src/app/pages/tm/validation/validation-integration.spec.ts
Due: eslint --fix, prettier --write

chore: configure dependabot to ignore Angular 21 until Q1 2026
  .github/dependabot.yml
Due: none

chore(deps): update dependencies to latest stable versions
  package.json
  pnpm-lock.yaml
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

fix(tests): add global mock cleanup to prevent test pollution
  src/app/auth/utils/pkce-crypto.utils.spec.ts
  src/test-setup.ts
Due: eslint --fix, prettier --write

fix: add email fallback for owner authorization check
  docs/fixes/authorization-email-fallback-fix.md
  src/app/pages/tm/services/threat-model-authorization.service.ts
Due: eslint --fix, prettier --write

fix: add dialog button padding and use server provider icons
  src/app/pages/admin/administrators/add-administrator-dialog/add-administrator-dialog.component.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
