Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

test: replace placeholder survey JSON with realistic seed data for Phase 3
  e2e/seed/seed-spec.json
Due: none

test: add data-testid attributes to survey/intake components
  src/app/pages/surveys/components/my-responses/my-responses.component.html
  src/app/pages/surveys/components/response-detail/response-detail.component.html
  src/app/pages/surveys/components/survey-confidential-dialog/survey-confidential-dialog.component.ts
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/surveys/components/survey-list/survey-list.component.html
Due: eslint --fix, prettier --write

test: add data-testid attributes to triage components
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.html
  src/app/pages/triage/components/revision-notes-dialog/revision-notes-dialog.component.html
  src/app/pages/triage/components/triage-detail/triage-detail.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-note-editor-dialog/triage-note-editor-dialog.component.html
Due: eslint --fix, prettier --write

test: add data-testid attributes to admin survey components
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/components/create-survey-dialog/create-survey-dialog.component.ts
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
Due: eslint --fix, prettier --write

test: create survey/intake page objects for Phase 3
  e2e/pages/admin-surveys.page.ts
  e2e/pages/my-responses.page.ts
  e2e/pages/response-detail.page.ts
  e2e/pages/survey-fill.page.ts
  e2e/pages/survey-list.page.ts
  e2e/pages/template-builder.page.ts
Due: none

test: create triage page objects for Phase 3
  e2e/pages/reviewer-assignment.page.ts
  e2e/pages/triage-detail.page.ts
  e2e/pages/triage.page.ts
Due: none

test: create dialog objects for Phase 3
  e2e/dialogs/create-survey.dialog.ts
  e2e/dialogs/revision-notes.dialog.ts
  e2e/dialogs/survey-confidential.dialog.ts
  e2e/dialogs/triage-note-editor.dialog.ts
Due: none

test: create survey flows for Phase 3
  e2e/flows/survey-admin.flow.ts
  e2e/flows/survey-builder.flow.ts
  e2e/flows/survey-fill.flow.ts
  e2e/flows/survey-response.flow.ts
Due: none

test: create triage flows for Phase 3
  e2e/flows/reviewer-assignment.flow.ts
  e2e/flows/triage-detail.flow.ts
  e2e/flows/triage.flow.ts
Due: none

test: register Phase 3 fixtures in test-fixtures.ts
  e2e/fixtures/test-fixtures.ts
Due: none

test: add survey admin workflow E2E tests
  e2e/tests/workflows/survey-admin.spec.ts
Due: none

test: add survey fill workflow E2E tests
  e2e/tests/workflows/survey-fill.spec.ts
Due: none

test: add triage workflow E2E tests
  e2e/tests/workflows/triage-workflows.spec.ts
Due: none

test: add cross-role survey lifecycle E2E test
  e2e/tests/workflows/survey-cross-role.spec.ts
Due: none

test: add survey field definitions for Phase 3 field coverage
  e2e/schema/field-definitions.json
  e2e/schema/field-definitions.ts
Due: none

test: add survey field coverage E2E tests
  e2e/tests/field-coverage/survey-fill-fields.spec.ts
  e2e/tests/field-coverage/survey-response-fields.spec.ts
  e2e/tests/field-coverage/survey-template-fields.spec.ts
Due: none

test: add survey visual regression screenshot tests
  e2e/tests/visual-regression/survey-visual-regression.spec.ts
Due: none

test: add survey translation and icon sweep E2E tests
  e2e/tests/visual-regression/survey-translation-icons.spec.ts
Due: none

test: enrich team/project seed data for Phase 4
  e2e/seed/seed-spec.json
Due: none

test: add data-testid attributes to teams components
  src/app/pages/admin/teams/admin-teams.component.html
  src/app/pages/teams/teams.component.html
Due: eslint --fix, prettier --write

test: add data-testid attributes to projects components
  src/app/pages/admin/projects/admin-projects.component.html
  src/app/pages/projects/projects.component.html
Due: eslint --fix, prettier --write

test: add data-testid attributes to dashboard component
  src/app/pages/dashboard/dashboard.component.html
Due: eslint --fix, prettier --write

test: add data-testid attributes to team and project dialog components
  src/app/shared/components/create-project-dialog/create-project-dialog.component.ts
  src/app/shared/components/create-team-dialog/create-team-dialog.component.ts
  src/app/shared/components/edit-project-dialog/edit-project-dialog.component.ts
  src/app/shared/components/edit-team-dialog/edit-team-dialog.component.ts
  src/app/shared/components/related-projects-dialog/related-projects-dialog.component.ts
  src/app/shared/components/related-teams-dialog/related-teams-dialog.component.ts
  src/app/shared/components/responsible-parties-dialog/responsible-parties-dialog.component.ts
  src/app/shared/components/team-members-dialog/team-members-dialog.component.ts
Due: eslint --fix, prettier --write

test: create teams/projects page objects and extend dashboard page object
  e2e/pages/dashboard.page.ts
  e2e/pages/projects.page.ts
  e2e/pages/teams.page.ts
Due: none

test: create team dialog objects for E2E Phase 4
  e2e/dialogs/create-team.dialog.ts
  e2e/dialogs/edit-team.dialog.ts
  e2e/dialogs/related-teams.dialog.ts
  e2e/dialogs/responsible-parties.dialog.ts
  e2e/dialogs/team-members.dialog.ts
Due: none

test: create project dialog objects for E2E Phase 4
  e2e/dialogs/create-project.dialog.ts
  e2e/dialogs/edit-project.dialog.ts
  e2e/dialogs/related-projects.dialog.ts
Due: none

test: create team, project, and dashboard-filter flows for E2E Phase 4
  e2e/flows/dashboard-filter.flow.ts
  e2e/flows/project.flow.ts
  e2e/flows/team.flow.ts
Due: none

test: register Phase 4 page objects, dialogs, and flows in test-fixtures
  e2e/fixtures/test-fixtures.ts
Due: none

test: add team workflow E2E tests
  e2e/tests/workflows/team-workflows.spec.ts
Due: none

test: add project workflow E2E tests
  e2e/tests/workflows/project-workflows.spec.ts
Due: none

test: add dashboard filter E2E tests
  e2e/tests/workflows/dashboard-filters.spec.ts
Due: none

test: update team/project field selectors and add dashboard field definitions
  e2e/schema/field-definitions.json
  e2e/schema/field-definitions.ts
Due: none

test: add team, project, and dashboard field coverage E2E tests
  e2e/tests/field-coverage/dashboard-fields.spec.ts
  e2e/tests/field-coverage/project-fields.spec.ts
  e2e/tests/field-coverage/team-fields.spec.ts
Due: none

test: add team/project/dashboard visual regression screenshot tests
  e2e/tests/visual-regression/team-project-visual-regression.spec.ts
Due: none

test: add team/project/dashboard translation and icon sweep tests
  e2e/tests/visual-regression/team-project-translation-icons.spec.ts
Due: none

chore: updating .gitignore
  .gitignore
  .local-projects.json
Due: none

fix: deduplicate TMI provider in permissions list and enable TMI user principals
  package.json
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/providers/provider-adapter.service.spec.ts
  src/app/pages/tm/services/providers/provider-adapter.service.ts
Due: eslint --fix, prettier --write

Revert "fix: deduplicate TMI provider in permissions list and enable TMI user principals"
  package.json
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/providers/provider-adapter.service.spec.ts
  src/app/pages/tm/services/providers/provider-adapter.service.ts
Due: eslint --fix, prettier --write

fix: deduplicate TMI provider in permissions list and enable TMI user principals
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/providers/provider-adapter.service.spec.ts
  src/app/pages/tm/services/providers/provider-adapter.service.ts
Due: eslint --fix, prettier --write

fix: add padding above status field on threat edit page (#593)
  src/app/core/services/settings-admin.service.spec.ts
  src/app/core/services/settings-admin.service.ts
  src/app/pages/admin/settings/admin-settings.component.html
  src/app/pages/admin/settings/admin-settings.component.ts
  src/app/pages/admin/settings/migrate-dialog/migrate-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.scss
  src/app/types/settings.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix
