Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix(security): strengthen CodeQL security mitigations
  scripts/run-cypress-tests.js
  src/app/core/services/logger.service.ts
  src/app/core/services/websocket.adapter.ts
Due: eslint --fix, prettier --write

fix(security): add CodeQL lgtm suppression annotations
  scripts/run-cypress-tests.js
  scripts/validate-json.cjs
  src/app/core/services/logger.service.ts
  src/app/core/services/websocket.adapter.ts
Due: eslint --fix, prettier --write

fix: address CodeQL code quality alerts
  src/app/pages/dfd/application/services/app-event-handlers.service.ts
  src/app/pages/dfd/application/services/app-notification.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.ts
  src/app/pages/dfd/utils/cell-relationship-validation.util.ts
Due: eslint --fix, prettier --write

feat: add addon invocation dialog and workflow
  src/app/core/services/addon.service.ts
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.html
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.scss
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/app/types/addon.types.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

feat(i18n): add Chinese (Simplified) translations for addon invoke dialog
  src/assets/i18n/zh-CN.json
Due: prettier --write

chore(i18n): add translations for addon invoke dialog
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
Due: prettier --write

style: format addon invocation dialog components
  src/app/core/services/addon.service.ts
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.html
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.ts
  src/app/pages/tm/tm-edit.component.html
Due: eslint --fix, prettier --write

feat: add addon invocation dialog and workflow (#330)
  src/app/core/services/addon.service.ts
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.html
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.scss
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/app/types/addon.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: override lodash-es to 4.17.23 for CVE-2025-13465
  package.json
  pnpm-lock.yaml
Due: none

fix: override lodash-es to 4.17.23 for CVE-2025-13465 (#331)
  package.json
  pnpm-lock.yaml
Due: none

chore: remove automatic Claude code review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix: add outline appearance to form fields in dialogs
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.html
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: improve vertical alignment in permissions dialog
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: enforce consistent row layout in permissions dialog
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: reduce form field and row heights in permissions dialog
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: reduce internal padding in permissions dialog form fields
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: enforce uniform height for all form fields in permissions dialog
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: apply aggressive form field height enforcement to permissions dialog
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

Revert "fix: apply aggressive form field height enforcement to permissions dialog"
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: simplify permissions dialog form fields to match quotas table pattern
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

fix: update API endpoints to match server changes
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/core/services/collaboration-session.service.ts
Due: eslint --fix, prettier --write

chore: remove reference to claude code review - removed
  .github/workflows/claude.yml
  package.json
Due: none

feat: add server-synced user preferences with /me/preferences API
  src/app/app.config.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/services/theme.service.spec.ts
  src/app/core/services/theme.service.ts
  src/app/core/services/user-preferences.service.ts
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.ts
  src/app/pages/tm/services/threat-model-report.service.ts
Due: eslint --fix, prettier --write

fix: update test files for constructor injection pattern
  src/app/core/services/theme.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.spec.ts
Due: eslint --fix, prettier --write

feat: add server-synced user preferences and fit-and-finish improvements (#333)
  .github/workflows/claude.yml
  package.json
  src/app/app.config.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/services/collaboration-session.service.ts
  src/app/core/services/theme.service.spec.ts
  src/app/core/services/theme.service.ts
  src/app/core/services/user-preferences.service.ts
  src/app/pages/dashboard/dashboard.component.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-visual-effects.service.ts
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.html
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/threat-model-report.service.ts
Due: eslint --fix, prettier --write

fix: centralize 401 handling and prevent auto-logout on auth errors
  src/app/app.config.ts
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/services/auth.service.ts
  src/app/core/rxjs-imports.ts
  src/app/core/services/api.service.spec.ts
  src/app/core/services/api.service.ts
  src/app/core/tokens/http-context.tokens.ts
  src/app/pages/tm/resolvers/threat-model.resolver.ts
Due: eslint --fix, prettier --write

fix: centralize 401 handling and prevent auto-logout on auth errors (#340)
  src/app/app.config.ts
  src/app/auth/interceptors/jwt.interceptor.spec.ts
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/services/auth.service.ts
  src/app/core/rxjs-imports.ts
  src/app/core/services/api.service.spec.ts
  src/app/core/services/api.service.ts
  src/app/core/tokens/http-context.tokens.ts
  src/app/pages/tm/resolvers/threat-model.resolver.ts
Due: eslint --fix, prettier --write

fix: prevent duplicate provider keys in permissions dialog
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

refactor: remove hardcoded TMI provider from permissions dialog
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
Due: eslint --fix, prettier --write

feat: gate addon dialog IDs and payload behind Show Developer Tools preference
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.html
  src/app/pages/tm/components/invoke-addon-dialog/invoke-addon-dialog.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write

feat: convert threat editor to full page for existing threats
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/tm/tm.routes.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: center issue URI edit button icon vertically
  src/app/pages/tm/components/threat-page/threat-page.component.scss
Due: prettier --write, stylelint --fix

fix: use existing unsavedChangesWarning translation key
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write

refactor: reorder threat editor fields and fix threat type filtering
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.html
Due: eslint --fix, prettier --write

fix: improve threat page action buttons with addons and consistent styling
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
  src/app/pages/tm/components/threat-page/threat-page.component.spec.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: vertically align back button icon in threat page header
  src/app/pages/tm/components/threat-page/threat-page.component.scss
Due: prettier --write, stylelint --fix

chore: add translation key
  package.json
  src/assets/i18n/en-US.json
Due: prettier --write

refactor: update threat page UI to match tm-edit styling
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: dedupe ar-SA localization keys with references
  src/assets/i18n/ar-SA.json
Due: prettier --write

chore: update ja-JP.json to use localization key references
  src/assets/i18n/ja-JP.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
