Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

fix: strip cloned selection tools and glow from clipboard-pasted cells
  src/app/pages/dfd/application/facades/app-dfd.facade.spec.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-export.service.spec.ts
  src/app/pages/dfd/application/services/app-export.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
Due: eslint --fix, prettier --write

fix: apply export beforeSerialize strip to PNG/JPEG paths
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-export.service.spec.ts
  src/app/pages/dfd/application/services/app-export.service.ts
Due: eslint --fix, prettier --write

deps: upgrade @antv/x6 to v3.1.7 (consolidated plugins, ESM patch, v3 behavior fixes) (#834)
  docs/superpowers/plans/2026-08-01-antv-x6-v3-upgrade.md
  package.json
  patches/@antv__x6@3.1.7.patch
  pnpm-lock.yaml
  src/app/pages/dfd/application/facades/app-dfd.facade.spec.ts
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-export.service.spec.ts
  src/app/pages/dfd/application/services/app-export.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.ts
  src/app/pages/dfd/infrastructure/utils/edge-markup.util.ts
  src/app/pages/dfd/presentation/services/dfd-styling.service.spec.ts
  src/app/pages/dfd/presentation/services/dfd-styling.service.ts
Due: eslint --fix, prettier --write

build(deps-dev): bump @oxc-project/runtime from 0.141.0 to 0.142.0
  package.json
  pnpm-lock.yaml
Due: none

deps: bump safe patch/minor packages and security override floors
  package.json
  pnpm-lock.yaml
Due: none

fix: enable SAML user lookup in permissions autocomplete and user picker (#813)
  scripts/generate-api-types.sh
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/services/saml-user.service.ts
  src/app/generated/api-types.d.ts
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/permissions-autocomplete.service.spec.ts
  src/app/pages/tm/services/permissions-autocomplete.service.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.ts
  src/app/shared/components/provider-display/provider-display.component.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.spec.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.ts
  src/app/types/user.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: verify SAML provider membership in autocomplete; close picker detection race (#813)
  src/app/core/services/saml-user.service.spec.ts
  src/app/pages/tm/services/permissions-autocomplete.service.spec.ts
  src/app/pages/tm/services/permissions-autocomplete.service.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.spec.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.ts
Due: eslint --fix, prettier --write

deps: bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: SAML users cannot be looked up — permissions autocomplete is admin-only/tmi-only and dialogs fall back to raw NameID (#837)
  package.json
  scripts/generate-api-types.sh
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/services/saml-user.service.spec.ts
  src/app/core/services/saml-user.service.ts
  src/app/generated/api-types.d.ts
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/services/permissions-autocomplete.service.spec.ts
  src/app/pages/tm/services/permissions-autocomplete.service.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.ts
  src/app/shared/components/provider-display/provider-display.component.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.spec.ts
  src/app/shared/components/user-picker-dialog/user-picker-dialog.component.ts
  src/app/types/user.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

deps: bump dependencies (clears Dependabot alerts 153-155) (#838)
  package.json
  pnpm-lock.yaml
Due: none

feat: add re-encrypt settings button to admin settings page (#839)
  src/app/core/services/settings-admin.service.spec.ts
  src/app/core/services/settings-admin.service.ts
  src/app/pages/admin/settings/admin-settings.component.html
  src/app/pages/admin/settings/admin-settings.component.ts
  src/app/shared/services/notification.service.ts
  src/app/types/settings.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: hide Timmy launcher when the server has Timmy disabled (#804)
  src/app/core/services/branding-config.service.spec.ts
  src/app/core/services/branding-config.service.ts
  src/app/pages/chat/guards/timmy-enabled.guard.spec.ts
  src/app/pages/chat/guards/timmy-enabled.guard.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/tm/tm.routes.ts
Due: eslint --fix, prettier --write

feat: add re-encrypt settings button to admin settings page (#840)
  package.json
  src/app/core/services/settings-admin.service.spec.ts
  src/app/core/services/settings-admin.service.ts
  src/app/pages/admin/settings/admin-settings.component.html
  src/app/pages/admin/settings/admin-settings.component.ts
  src/app/shared/services/notification.service.ts
  src/app/types/settings.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

fix: hide Timmy launcher when the server has Timmy disabled (#841)
  package.json
  src/app/core/services/branding-config.service.spec.ts
  src/app/core/services/branding-config.service.ts
  src/app/pages/chat/guards/timmy-enabled.guard.spec.ts
  src/app/pages/chat/guards/timmy-enabled.guard.ts
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/tm/tm.routes.ts
Due: eslint --fix, prettier --write

feat: show allowable min/max range alongside defaults in the add-quota dialog (#808)
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.html
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.spec.ts
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.ts
  src/app/types/quota.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: show allowable min/max range alongside defaults in the add-quota dialog (#842)
  package.json
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.html
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.spec.ts
  src/app/pages/admin/quotas/add-quota-dialog/add-quota-dialog.component.ts
  src/app/types/quota.types.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat: admin quotas — copy quotas to another user (#809)
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/admin/quotas/admin-quotas.component.ts
  src/app/pages/admin/quotas/copy-quota-dialog/copy-quota-dialog.component.html
  src/app/pages/admin/quotas/copy-quota-dialog/copy-quota-dialog.component.scss
  src/app/pages/admin/quotas/copy-quota-dialog/copy-quota-dialog.component.spec.ts
  src/app/pages/admin/quotas/copy-quota-dialog/copy-quota-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: admin quotas — copy quotas to another user (#843)
  package.json
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/admin/quotas/admin-quotas.component.ts
  src/app/pages/admin/quotas/copy-quota-dialog/copy-quota-dialog.component.html
  src/app/pages/admin/quotas/copy-quota-dialog/copy-quota-dialog.component.scss
  src/app/pages/admin/quotas/copy-quota-dialog/copy-quota-dialog.component.spec.ts
  src/app/pages/admin/quotas/copy-quota-dialog/copy-quota-dialog.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/en-US.usage.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write, stylelint --fix

deps: bump js-yaml override floor to >=4.3.1 (Dependabot #156)
  package.json
  pnpm-lock.yaml
Due: none

deps: bump js-yaml override floor to >=4.3.1 (Dependabot #156) (#844)
  package.json
  pnpm-lock.yaml
Due: none

deps: bump Angular toolchain, vite, and tsx (patch)
  package.json
  pnpm-lock.yaml
Due: none

deps: bump Angular toolchain, vite, and tsx (patch) (#846)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump dependencies (#848)
  package.json
  pnpm-lock.yaml
Due: none

ops: bump GitHub Actions pins to Node 24 runtimes
  .github/workflows/codeql.yml
  .github/workflows/deps-bump.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/version-bump.yml
Due: none

ops: bump GitHub Actions pins to Node 24 runtimes (#849)
  .github/workflows/codeql.yml
  .github/workflows/deps-bump.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/version-bump.yml
Due: none

chore(deps): bump dependencies (#855)
  package.json
  pnpm-lock.yaml
Due: none

docs: record the @oxc-project/runtime bump hold in package.json
  package.json
Due: none

docs: record the @oxc-project/runtime bump hold in package.json (#856)
  package.json
Due: none

build(deps-dev): bump @types/jsdom from 28.0.3 to 30.0.0
  package.json
  pnpm-lock.yaml
Due: none

ops: stop Dependabot proposing @oxc-project/runtime bumps
  .github/dependabot.yml
Due: none

ops: stop Dependabot proposing @oxc-project/runtime bumps (#857)
  .github/dependabot.yml
Due: none

style: normalize i18n key ordering across all locale files
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: prettier --write

fix: show translated labels for DFD SVG/PNG export options
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

chore: drop stale removeViewBox override from svgo config
  src/app/pages/dfd/application/services/app-svg-optimization.service.ts
Due: eslint --fix, prettier --write

feat: render page-header close (X) buttons white-on-red
  src/app/pages/admin/addons/admin-addons.component.html
  src/app/pages/admin/admin.component.html
  src/app/pages/admin/audit/components/audit-detail-panel.component.html
  src/app/pages/admin/groups/admin-groups.component.html
  src/app/pages/admin/projects/admin-projects.component.html
  src/app/pages/admin/quotas/admin-quotas.component.html
  src/app/pages/admin/settings/admin-settings.component.html
  src/app/pages/admin/surveys/admin-surveys.component.html
  src/app/pages/admin/surveys/components/template-builder/template-builder.component.html
  src/app/pages/admin/teams/admin-teams.component.html
  src/app/pages/admin/users/admin-users.component.html
  src/app/pages/admin/webhooks/admin-webhooks.component.html
  src/app/pages/chat/components/chat-page/chat-page.component.html
  src/app/pages/dfd/presentation/components/dfd.component.html
  src/app/pages/dfd/presentation/components/port-label-popover/port-label-popover.component.html
  src/app/pages/projects/projects.component.html
  src/app/pages/surveys/components/my-responses/my-responses.component.html
  src/app/pages/surveys/components/response-detail/response-detail.component.html
  src/app/pages/surveys/components/survey-fill/survey-fill.component.html
  src/app/pages/teams/teams.component.html
  src/app/pages/tm/components/audit-trail-page/audit-trail-page.component.html
  src/app/pages/tm/components/note-page/note-page.component.html
  src/app/pages/tm/components/threat-page/threat-page.component.html
  src/app/pages/tm/tm-edit.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/shared/components/mermaid-overlay-viewer/mermaid-overlay-viewer.component.html
  src/styles/component-overrides.scss
Due: eslint --fix, prettier --write, stylelint --fix

test: claim a palette slot before typing in the color-picker hex input
  e2e/pages/dfd-editor.page.ts
  e2e/tests/field-coverage/dfd-node-properties.spec.ts
  src/app/shared/components/color-picker/color-picker.component.html
Due: eslint --fix, prettier --write

fix: make the triage search box actually filter results
  src/app/pages/triage/components/triage-list/triage-list.component.html
  src/app/pages/triage/components/triage-list/triage-list.component.spec.ts
  src/app/pages/triage/components/triage-list/triage-list.component.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

test: type-check unit-test sources and ratchet the error count
  package.json
  scripts/typecheck-vitest-ratchet.mjs
  scripts/validate-json.cjs
  src/app/pages/dfd/application/executors/batch-operation-executor.spec.ts
  src/app/pages/dfd/application/executors/node-operation-executor.spec.ts
  src/app/pages/dfd/application/services/app-cell-operation-converter.service.spec.ts
  src/app/pages/dfd/application/services/app-notification.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph-readonly.adapter.spec.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.spec.ts
  src/app/pages/dfd/utils/cell-extraction.util.spec.ts
  src/app/pages/dfd/utils/cell-property-filter.util.spec.ts
  src/app/pages/dfd/utils/cell-relationship-validation.util.spec.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.spec.ts
  src/app/pages/tm/services/import/readonly-field-filter.service.spec.ts
  src/app/pages/tm/services/import/reference-rewriter.service.spec.ts
  src/app/shared/services/form-validation.service.spec.ts
  src/testing/mocks/index.ts
  tsconfig.spec.json
  typecheck-vitest-baseline.json
Due: eslint --fix, prettier --write
