Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: enable edge deletion and port visibility updates in DFD editor
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

debug: add detailed logging to diagnose edge save timing issue
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

fix: resolve auto-save race condition causing edge data loss
  src/app/pages/dfd/application/services/app-auto-save-manager.service.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

feat: emit history index and undo/redo flags from history events
  docs/implementation/history-based-autosave-refactor.md
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-history.adapter.ts
Due: eslint --fix, prettier --write

feat: complete rewrite of auto-save manager - zero debouncing
  src/app/pages/dfd/application/services/app-auto-save-manager.service.old.ts
  src/app/pages/dfd/application/services/app-auto-save-manager.service.ts
Due: eslint --fix, prettier --write

feat: enhance persistence strategies for undo/redo and update_vector tracking
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
  src/app/pages/dfd/infrastructure/strategies/infra-websocket-persistence.strategy.ts
Due: eslint --fix, prettier --write

refactor: complete orchestrator simplification and state service integration
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/infrastructure/strategies/infra-websocket-persistence.strategy.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

test: rewrite auto-save manager tests for history-based architecture
  src/app/pages/dfd/application/services/app-auto-save-manager.service.spec.ts
Due: eslint --fix, prettier --write

docs: add comprehensive history-based auto-save documentation
  docs/implementation/history-based-autosave-refactor.md
  docs/reference/architecture/history-based-autosave.md
Due: none

fix: initialize lastSavedHistoryIndex to -1 to allow first save
  src/app/pages/dfd/application/services/app-auto-save-manager.service.spec.ts
  src/app/pages/dfd/application/services/app-auto-save-manager.service.ts
Due: eslint --fix, prettier --write

feat: save diagram SVG thumbnail on component destroy
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: use REST strategy when not in active collaboration
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

fix: initialize DiagramOperationBroadcaster for collaboration
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

refactor: WebSocket strategy now sends diagram_operation messages
  src/app/pages/dfd/infrastructure/strategies/infra-websocket-persistence.strategy.ts
Due: eslint --fix, prettier --write

refactor: remove redundant DiagramOperationBroadcaster initialization
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

fix: refresh threat model data when returning from DFD editor and restore button focus state
  src/app/pages/dfd/application/services/app-auto-save-manager.service.spec.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

chore: bump version to 0.8.0
  package.json
Due: none

test: fix failing tests after history-based auto-save refactor
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.spec.ts
  src/app/core/services/logger.service.spec.ts
  src/app/pages/dfd/application/services/app-auto-save-manager.service.spec.ts
  src/app/pages/dfd/application/services/app-auto-save-manager.service.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/strategies/infra-rest-persistence.strategy.ts
  src/app/pages/dfd/infrastructure/strategies/infra-websocket-persistence.strategy.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

chore: bump version to 0.8.1
  package.json
Due: none

fix: add CDK overlay container to resolve aria-hidden accessibility violation
  src/index.html
Due: eslint --fix, prettier --write

feat: add comprehensive tab order and aria-labels to all dialogs and forms
  .claude/settings.local.json
  src/app/core/components/session-expiry-dialog/session-expiry-dialog.component.html
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/components/validation-error-dialog/validation-error-dialog.component.html
  src/app/pages/dfd/presentation/components/cell-properties-dialog/cell-properties-dialog.component.html
  src/app/pages/dfd/presentation/components/collaboration-dialog/collaboration-dialog.component.html
  src/app/pages/dfd/presentation/components/x6-history-dialog/x6-history-dialog.component.html
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.html
  src/app/pages/tm/components/delete-threat-model-dialog/delete-threat-model-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.html
  src/app/pages/tm/components/metadata-dialog/metadata-dialog.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.html
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.html
  src/app/pages/tm/components/threats-dialog/threats-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
Due: eslint --fix, prettier --write

chore: bump version to 0.9.0
  package.json
Due: none

chore: lint, format
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.html
  src/app/pages/tm/components/document-editor-dialog/document-editor-dialog.component.html
  src/app/pages/tm/components/rename-diagram-dialog/rename-diagram-dialog.component.html
  src/app/pages/tm/components/source-code-editor-dialog/source-code-editor-dialog.component.html
  src/app/pages/tm/components/threat-editor-dialog/threat-editor-dialog.component.html
Due: eslint --fix, prettier --write

chore: bump version to 0.9.1
  package.json
Due: none

chore: bump version to 0.9.2
  package.json
Due: none

chore: bump version to 0.9.3
  package.json
Due: none

fix: prevent Delete key from deleting cells during label editing
  src/app/pages/dfd/infrastructure/adapters/infra-x6-label-editor.adapter.ts
Due: eslint --fix, prettier --write

chore: bump version to 0.9.4
  package.json
Due: none

chore: removed outdated pnpm script update-shared
  package.json
Due: none

fix: prevent Delete/Backspace keys from deleting cells during label editing
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
Due: eslint --fix, prettier --write

feat: minor ux improvements
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/components/navbar/navbar.component.ts
  src/app/pages/about/about.component.html
  src/app/pages/about/about.component.scss
  src/app/pages/about/about.component.ts
  src/app/pages/privacy/privacy.component.html
  src/app/pages/privacy/privacy.component.scss
  src/app/pages/privacy/privacy.component.ts
  src/app/pages/tm/tm.component.scss
  src/app/pages/tos/tos.component.html
  src/app/pages/tos/tos.component.scss
  src/app/pages/tos/tos.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: place new DFD nodes in visible viewport area
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/infrastructure/services/infra-node.service.ts
Due: eslint --fix, prettier --write

refactor: convert selection adapter logs to debugComponent
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
Due: eslint --fix, prettier --write

chore: bump version to 0.10.0
  package.json
Due: none

refactor: convert selection adapter logs to debugComponent
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

chore: bump version to 0.10.1
  package.json
Due: none

fix: race condition with collaboration session start and diagram loading when joining collaboration session
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

refactor: automate version bumping via prepare-commit-msg hook
  .claude/CLAUDE.md
  .husky/prepare-commit-msg
  package.json
  scripts/push-heroku.sh
  scripts/set-version-bump.sh
  scripts/validate-deployment.ts
  scripts/version-bump.ts
Due: none

fix: test version bump with patch
  .husky/prepare-commit-msg
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
