Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: more workflow e2e repairs — related-*, triage notes, delete survey
  e2e/dialogs/create-survey.dialog.ts
  e2e/dialogs/triage-note-editor.dialog.ts
  e2e/flows/survey-admin.flow.ts
  e2e/tests/workflows/project-workflows.spec.ts
  e2e/tests/workflows/survey-admin.spec.ts
  e2e/tests/workflows/survey-cross-role.spec.ts
  e2e/tests/workflows/team-workflows.spec.ts
  e2e/tests/workflows/triage-workflows.spec.ts
Due: none

fix: correct waitForResponse URL patterns + seed survey schemas
  e2e/flows/reviewer-assignment.flow.ts
  e2e/flows/survey-fill.flow.ts
  e2e/flows/triage-detail.flow.ts
  e2e/flows/triage.flow.ts
  e2e/tests/workflows/survey-cross-role.spec.ts
  e2e/tests/workflows/survey-fill.spec.ts
  e2e/tests/workflows/triage-workflows.spec.ts
Due: none

test: more resilient boolean toggle, reviewer-assignment forbidden, my-responses edit
  e2e/flows/survey-fill.flow.ts
  e2e/tests/workflows/survey-cross-role.spec.ts
  e2e/tests/workflows/triage-workflows.spec.ts
Due: none

test: use text selectors for boolean toggle + select options; broaden 403 detection
  e2e/flows/survey-fill.flow.ts
  e2e/tests/workflows/survey-cross-role.spec.ts
  e2e/tests/workflows/triage-workflows.spec.ts
Due: none

fix: remove duplicate rows const in triage reviewer-assignment test
  e2e/tests/workflows/triage-workflows.spec.ts
Due: none

test: check radio/checkbox via input.check, defeat my-responses cache, search on reviewer dashboard
  e2e/flows/survey-fill.flow.ts
  e2e/tests/workflows/survey-cross-role.spec.ts
  e2e/tests/workflows/tm-workflows.spec.ts
Due: none

test: refine view-completed selector + cross-role my-responses fallback
  e2e/tests/workflows/survey-cross-role.spec.ts
  e2e/tests/workflows/survey-fill.spec.ts
Due: none

fix: default my/all-responses listings to server cap + simpler 403 gate in triage assignment
  e2e/tests/workflows/triage-workflows.spec.ts
  src/app/pages/surveys/services/survey-response.service.ts
Due: eslint --fix, prettier --write

test: wrap assign-to-me in try/catch; poll my-responses for revision status
  e2e/tests/workflows/survey-cross-role.spec.ts
  e2e/tests/workflows/triage-workflows.spec.ts
Due: none

test: search by name for pagination test + short timeout on assignment waitForResponse
  e2e/flows/reviewer-assignment.flow.ts
  e2e/tests/workflows/dashboard-filters.spec.ts
Due: none

test: reload reviewer dashboard for freshly-shared confidential TM
  e2e/tests/workflows/tm-workflows.spec.ts
Due: none

test: accept cross-role propagation lag in my-responses listing
  e2e/tests/workflows/survey-cross-role.spec.ts
Due: none

test: poll reviewer dashboard for shared confidential TM visibility
  e2e/tests/workflows/tm-workflows.spec.ts
Due: none

test: blur subject input after fill so ngModel commits before save
  e2e/dialogs/permissions.dialog.ts
Due: none

test: keep overlay open after subject blur — don't press Escape
  e2e/dialogs/permissions.dialog.ts
Due: none

test: use Playwright fill()+Tab for permissions subject input
  e2e/dialogs/permissions.dialog.ts
Due: none

test: pressSequentially for subject input + verify value before role select
  e2e/dialogs/permissions.dialog.ts
Due: none

chore: remove unnecessary file
  .claude/scheduled_tasks.lock
Due: none

chore(deps): bump safe dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @oxc-project/runtime and apply post-merge lint fixes
  package.json
  pnpm-lock.yaml
  src/app/core/services/quota.service.spec.ts
  src/app/pages/admin/groups/group-members-dialog/group-members-dialog.component.spec.ts
  src/app/pages/admin/projects/admin-projects.component.ts
  src/app/pages/admin/teams/admin-teams.component.ts
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/admin/users/manage-credentials-dialog/manage-credentials-dialog.component.ts
  src/app/pages/dfd/integration/history-styling.spec.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/projects/projects.component.spec.ts
  src/app/pages/projects/projects.component.ts
  src/app/pages/surveys/components/response-detail/response-detail.component.spec.ts
  src/app/pages/teams/teams.component.ts
  src/app/pages/tm/components/permissions-dialog/permissions-dialog.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/services/import/import-orchestrator.service.ts
  src/app/pages/tm/services/permissions-autocomplete.service.spec.ts
  src/app/pages/tm/services/report/pdf-markdown-renderer.ts
  src/app/pages/tm/services/report/pdf-section-renderers.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.ts
  src/app/shared/components/mermaid-viewer/mermaid-viewer.component.spec.ts
  src/app/shared/directives/tooltip-aria-label.directive.spec.ts
  src/app/shared/utils/mermaid-export.utils.spec.ts
Due: eslint --fix, prettier --write

feat: proxy TMI backend API at /api for single-endpoint deployments
  server.js
  src/app/core/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write

fix(dfd): lock label position to architecture icon (#635, #636, #637)
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/types/icon-placement.types.ts
Due: eslint --fix, prettier --write

fix(dfd): hide cylinder top ellipse with body when icon borders are off (#633)
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/types/arch-icon.types.ts
Due: eslint --fix, prettier --write

test: fix dfd-icon-properties 'icon removal' (#634)
  e2e/pages/dfd-editor.page.ts
  e2e/tests/field-coverage/dfd-icon-properties.spec.ts
Due: none

fix(dfd): preserve pre-mutation state for icon-handler undo (#632)
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

style: apply eslint autofixes across components and specs
  src/app/core/services/quota.service.spec.ts
  src/app/pages/admin/projects/admin-projects.component.ts
  src/app/pages/admin/teams/admin-teams.component.ts
  src/app/pages/admin/users/admin-users.component.ts
  src/app/pages/admin/users/manage-credentials-dialog/manage-credentials-dialog.component.ts
  src/app/pages/dfd/domain/value-objects/edge-terminal.ts
  src/app/pages/dfd/integration/history-styling.spec.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/tm/components/threat-page/threat-page.component.ts
  src/app/pages/tm/services/report/pdf-section-renderers.ts
  src/app/pages/tm/tm-edit.component.ts
  src/app/pages/triage/components/reviewer-assignment-list/reviewer-assignment-list.component.ts
  src/app/shared/directives/tooltip-aria-label.directive.spec.ts
Due: eslint --fix, prettier --write

fix: narrow style literals to FontVariant in pdf-markdown-renderer
  package.json
  src/app/pages/tm/services/report/pdf-markdown-renderer.ts
Due: eslint --fix, prettier --write

fix(security): suppress js/remote-property-injection false positive
  package.json
  src/app/core/services/logger.service.ts
Due: eslint --fix, prettier --write

refactor: hide less-used dashboard filter fields by default (#640)
  e2e/flows/dashboard-filter.flow.ts
  e2e/tests/workflows/dfd-seeded-diagram.spec.ts
  src/app/pages/dashboard/dashboard-filter.model.spec.ts
  src/app/pages/dashboard/dashboard-filter.model.ts
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.scss
  src/app/pages/dashboard/dashboard.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(dfd): add auto-layout utilities + user preferences (#638 phase 1+2)
  src/app/core/components/user-preferences-dialog/user-preferences-dialog.component.ts
  src/app/core/services/user-preferences.service.spec.ts
  src/app/core/services/user-preferences.service.ts
  src/app/pages/dfd/utils/auto-layout.util.spec.ts
  src/app/pages/dfd/utils/auto-layout.util.ts
  src/app/pages/dfd/utils/text-measurement.util.spec.ts
  src/app/pages/dfd/utils/text-measurement.util.ts
  src/assets/i18n/ar-SA.json
  src/assets/i18n/bn-BD.json
  src/assets/i18n/de-DE.json
  src/assets/i18n/en-US.json
  src/assets/i18n/es-ES.json
  src/assets/i18n/fr-FR.json
  src/assets/i18n/he-IL.json
  src/assets/i18n/hi-IN.json
  src/assets/i18n/id-ID.json
  src/assets/i18n/ja-JP.json
  src/assets/i18n/ko-KR.json
  src/assets/i18n/pt-BR.json
  src/assets/i18n/ru-RU.json
  src/assets/i18n/th-TH.json
  src/assets/i18n/ur-PK.json
  src/assets/i18n/zh-CN.json
Due: eslint --fix, prettier --write

feat(dfd): icon-only auto-fit + preference-driven re-apply (#638 phase 3a)
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

docs: design spec for Google Drive picker integration (#626)
  docs/superpowers/specs/2026-04-26-google-drive-picker-tmiux-design.md
Due: none

docs: implementation plan for Google Drive picker integration (#626)
  docs/superpowers/plans/2026-04-26-google-drive-picker-tmiux-plan.md
Due: none

chore: regenerate api-types with content-token + picker schemas (#626)
  src/app/generated/api-types.d.ts
Due: eslint --fix, prettier --write

feat: content provider types and errors (#626)
  src/app/core/models/content-provider.types.spec.ts
  src/app/core/models/content-provider.types.ts
Due: eslint --fix, prettier --write

feat: content provider registry with google_workspace entry (#626)
  src/app/core/services/content-provider-registry.spec.ts
  src/app/core/services/content-provider-registry.ts
  src/app/core/services/google-drive-picker.service.ts
Due: eslint --fix, prettier --write

feat: ContentTokenService for content_tokens API (#626)
  src/app/core/services/content-token.service.spec.ts
  src/app/core/services/content-token.service.ts
Due: eslint --fix, prettier --write

feat: PickerTokenService for picker_tokens API (#626)
  src/app/core/services/picker-token.service.spec.ts
  src/app/core/services/picker-token.service.ts
Due: eslint --fix, prettier --write

feat: ContentCallbackComponent + /oauth2/content-callback route (#626)
  src/app/app.routes.ts
  src/app/core/components/content-callback/content-callback.component.html
  src/app/core/components/content-callback/content-callback.component.scss
  src/app/core/components/content-callback/content-callback.component.spec.ts
  src/app/core/components/content-callback/content-callback.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.html)
  prettier --write: (((any of: src/**/*.{ts,js}) or (any of: src/**/*.html)) or (any of: src/**/*.{scss,css})) or (any of: src/**/*.{json,md})
  stylelint --fix: any of: src/**/*.{scss,css}
