Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

Updated README to reflect current project state.
  README.md
Due: none

excluding local dev stuff
  .gitignore
Due: none

adding tmi authn/authz integration plan document
  context/authentication-authorization-plan.md
Due: none

Beginning tmi server integration work: environment & authn
  context/tmi-server-integration-plan.md
  src/app/auth/auth.module.ts
  src/app/auth/interceptors/jwt.interceptor.ts
  src/app/auth/models/auth.models.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/session-manager.service.ts
  src/app/core/rxjs-imports.ts
  src/environments/environment.dev.ts
  src/environments/environment.interface.ts
  src/environments/environment.prod.ts
  src/environments/environment.staging.ts
  src/environments/environment.test.ts
  src/environments/environment.ts
Due: eslint --fix, prettier --write

Adding authentication explanation diagrams
  docs/authentication-component-architecture.png
  docs/authentication-flow.png
Due: none

Continuing TMI server authentication integration work
  context/tmi-server-integration-plan.md
  src/app/app.component.ts
  src/app/auth/components/login/login.component.html
  src/app/auth/components/login/login.component.scss
  src/app/auth/components/login/login.component.ts
  src/app/auth/components/reauth-dialog/reauth-dialog.component.html
  src/app/auth/components/reauth-dialog/reauth-dialog.component.scss
  src/app/auth/components/reauth-dialog/reauth-dialog.component.ts
  src/app/auth/components/unauthorized/unauthorized.component.html
  src/app/auth/components/unauthorized/unauthorized.component.scss
  src/app/auth/components/unauthorized/unauthorized.component.ts
  src/app/auth/guards/auth.guard.ts
  src/app/auth/guards/role.guard.ts
  src/app/auth/services/session-manager.service.ts
  src/app/core/services/api.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fixed test failures
  package.json
  pnpm-lock.yaml
  src/app/auth/services/auth.service.spec.ts
  src/app/pages/tm/services/threat-model.service.spec.ts
  src/testing/vitest-angular-environment.ts
  src/testing/zone-setup.ts
  tsconfig.spec.json
  vitest.config.ts
Due: eslint --fix, prettier --write

Re-enabled all tests. Fixed lint warnings.
  src/app/auth/components/login/login.component.ts
  src/app/auth/services/auth.service.spec.ts
Due: eslint --fix, prettier --write

Fixing test errors
  src/app/auth/services/auth.service.spec.ts
Due: eslint --fix, prettier --write

Cleanup
  context/DFD_COMPONENT_REFACTORING.md
  context/README.md
  context/file_system_access.md
  context/mock_data_centralization.md
  context/tmi_api_server_authentication.md
  context/tmi_server_integration_plan.md
  docs/COLLABORATIVE_EDITING.md
Due: none

Continuing integration work
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/auth/auth-integration.spec.ts
Due: eslint --fix, prettier --write

Fixing lint errors
  src/app/auth/auth-integration.spec.ts
Due: eslint --fix, prettier --write

More server integration; testing embedded context in source code files
  context/tmi-server-integration-plan.md
  src/app/auth/auth-integration.spec.ts
  src/app/auth/services/auth.service.spec.ts
Due: eslint --fix, prettier --write

Layout fixes to dfd editor
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/models/actor-shape.model.ts
  src/app/pages/dfd/models/port-utils.ts
  src/app/pages/dfd/models/process-shape.model.ts
  src/app/pages/dfd/models/security-boundary-shape.model.ts
  src/app/pages/dfd/models/store-shape.model.ts
  src/app/pages/dfd/services/dfd-graph.service.ts
  src/app/pages/dfd/services/dfd-port.service.ts
  src/app/pages/dfd/services/dfd.service.ts
  src/app/pages/dfd/styles/_graph-components.scss
  src/app/pages/dfd/styles/_graph-styles.scss
  src/app/pages/dfd/styles/_shape-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Trying to fix port visibility issues.
  src/app/pages/dfd/models/actor-shape.model.ts
  src/app/pages/dfd/models/process-shape.model.ts
  src/app/pages/dfd/models/security-boundary-shape.model.ts
  src/app/pages/dfd/models/store-shape.model.ts
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-port.service.ts
  src/app/pages/dfd/services/dfd.service.ts
  src/app/pages/dfd/styles/_graph-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Working on port visibility styling
  src/app/pages/dfd/models/actor-shape.model.ts
  src/app/pages/dfd/models/process-shape.model.ts
  src/app/pages/dfd/models/security-boundary-shape.model.ts
  src/app/pages/dfd/models/store-shape.model.ts
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-port.service.ts
  src/app/pages/dfd/services/dfd.service.ts
Due: eslint --fix, prettier --write

Manual tweaks to port styling
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/styles/_shape-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Simplifying diagramming styles and label editing
  src/app/pages/dfd/dfd.component.scss
  src/app/pages/dfd/services/dfd-event.service.ts
  src/app/pages/dfd/services/dfd-label-editor.service.ts
  src/app/pages/dfd/styles/_dfd-styles.scss
  unused/_graph-components.scss
  unused/_graph-styles.scss
  unused/_shape-styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

Bumping packages
  package.json
  pnpm-lock.yaml
Due: none

Adding bump script (update dependencies). Clarifying context to eliminate roo code error.
  context.md
  package.json
  pnpm-lock.yaml
Due: none

Reverting change that didn't fix roo code error
  context.md
Due: none

feat: comprehensive dependency updates
  package.json.backup
  pnpm-lock.yaml.backup
  src/app/auth/services/auth.service.spec.ts
Due: eslint --fix, prettier --write

feat: implement domain layer foundation
  docs/X6_CLEAN_ARCHITECTURE_REFACTOR.md
  src/app/pages/dfd/domain/events/diagram-events.ts
  src/app/pages/dfd/domain/events/domain-event.ts
  src/app/pages/dfd/domain/value-objects/diagram-edge.ts
  src/app/pages/dfd/domain/value-objects/diagram-node.ts
  src/app/pages/dfd/domain/value-objects/edge-data.ts
  src/app/pages/dfd/domain/value-objects/node-data.ts
  src/app/pages/dfd/domain/value-objects/point.ts
Due: eslint --fix, prettier --write

feat: complete domain layer foundation with commands and aggregate
  docs/X6_CLEAN_ARCHITECTURE_REFACTOR.md
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.ts
  src/app/pages/dfd/domain/commands/diagram-commands.ts
Due: eslint --fix, prettier --write

feat: implement complete application layer foundation
  docs/X6_CLEAN_ARCHITECTURE_REFACTOR.md
  src/app/pages/dfd/application/handlers/diagram-command-handlers.ts
  src/app/pages/dfd/application/interfaces/command-bus.interface.ts
  src/app/pages/dfd/application/services/command-bus.service.ts
  src/app/pages/dfd/application/services/dfd-application.service.ts
Due: eslint --fix, prettier --write

Refactoring DFD architecture. Phase 1.
  .nvmrc
  docs/X6_CLEAN_ARCHITECTURE_REFACTOR.md
  pnpm-lock.yaml
  src/app/pages/dfd/application/handlers/diagram-command-handlers.ts
  src/app/pages/dfd/application/interfaces/command-bus.interface.ts
  src/app/pages/dfd/application/services/command-bus.service.ts
  src/app/pages/dfd/application/services/dfd-application.service.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.ts
  src/app/pages/dfd/domain/commands/diagram-commands.ts
  src/app/pages/dfd/domain/events/diagram-events.ts
  src/app/pages/dfd/domain/events/domain-event.ts
  src/app/pages/dfd/domain/value-objects/node-data.ts
  src/app/pages/dfd/domain/value-objects/point.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/interfaces/change-detection.interface.ts
  src/app/pages/dfd/infrastructure/interfaces/graph-adapter.interface.ts
  src/app/pages/dfd/infrastructure/interfaces/serialization.interface.ts
  src/app/pages/dfd/infrastructure/services/change-detection.service.ts
  src/app/pages/dfd/infrastructure/services/injection-tokens.ts
  src/app/pages/dfd/infrastructure/services/serialization.service.ts
Due: eslint --fix, prettier --write

Rearchitecture phase 2.1-2.2
  docs/X6_CLEAN_ARCHITECTURE_REFACTOR.md
  src/app/pages/dfd/application/collaboration/collaboration-application.service.ts
  src/app/pages/dfd/domain/collaboration/collaboration-events.ts
  src/app/pages/dfd/domain/collaboration/collaboration-session.ts
  src/app/pages/dfd/domain/collaboration/user-presence.ts
  src/app/pages/dfd/domain/collaboration/user.ts
  src/app/pages/dfd/infrastructure/adapters/websocket.adapter.ts
  src/app/pages/dfd/infrastructure/services/collaboration-websocket.service.ts
Due: eslint --fix, prettier --write

Refactoring phase 2.3
  docs/X6_CLEAN_ARCHITECTURE_REFACTOR.md
  src/app/pages/dfd/components/collaboration/user-presence-indicator.component.scss
  src/app/pages/dfd/components/collaboration/user-presence-indicator.component.ts
  src/app/pages/dfd/components/collaboration/user-presence-list.component.scss
  src/app/pages/dfd/components/collaboration/user-presence-list.component.ts
  src/app/pages/dfd/infrastructure/services/activity-monitoring.service.ts
  src/app/pages/dfd/infrastructure/services/cursor-sharing.service.ts
  src/app/pages/dfd/infrastructure/services/user-tracking.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fixing user presence service. Acknowledging Roo Code.
  .clinerules
  src/app/pages/about/about.component.html
  src/app/pages/dfd/components/collaboration/user-presence-indicator.component.scss
  src/app/pages/dfd/components/collaboration/user-presence-list.component.scss
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Cleanup: lint, etc.
  .clinerules
  src/app/pages/dfd/application/collaboration/collaboration-application.service.ts
  src/app/pages/dfd/application/services/dfd-application.service.ts
  src/app/pages/dfd/components/collaboration/user-presence-list.component.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.ts
  src/app/pages/dfd/domain/collaboration/collaboration-session.ts
  src/app/pages/dfd/domain/collaboration/user-presence.ts
  src/app/pages/dfd/domain/collaboration/user.ts
  src/app/pages/dfd/domain/value-objects/diagram-edge.ts
  src/app/pages/dfd/domain/value-objects/diagram-node.ts
  src/app/pages/dfd/domain/value-objects/edge-data.ts
  src/app/pages/dfd/domain/value-objects/node-data.ts
  src/app/pages/dfd/infrastructure/adapters/websocket.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/interfaces/change-detection.interface.ts
  src/app/pages/dfd/infrastructure/interfaces/graph-adapter.interface.ts
  src/app/pages/dfd/infrastructure/services/activity-monitoring.service.ts
  src/app/pages/dfd/infrastructure/services/collaboration-websocket.service.ts
  src/app/pages/dfd/infrastructure/services/cursor-sharing.service.ts
  src/app/pages/dfd/infrastructure/services/serialization.service.ts
  src/app/pages/dfd/infrastructure/services/user-tracking.service.ts
Due: eslint --fix, prettier --write

Refactoring Phase 3.1
  .gitignore
  src/app/pages/dfd/application/collaboration/collaboration-application.service.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.ts
  src/app/pages/dfd/domain/collaboration/collaboration-session.ts
  src/app/pages/dfd/infrastructure/adapters/websocket.adapter.ts
  src/app/pages/dfd/infrastructure/services/activity-monitoring.service.ts
  src/app/pages/dfd/migration/dfd-migration-facade.service.ts
  src/app/pages/dfd/migration/legacy-command.adapter.ts
  src/app/pages/dfd/migration/legacy-graph.adapter.ts
  src/app/pages/dfd/migration/migration-flags.service.ts
Due: eslint --fix, prettier --write

Refactoring start phase 3.2
  docs/X6_CLEAN_ARCHITECTURE_REFACTOR.md
  src/app/pages/dfd/application/collaboration/collaboration-application.service.ts
  src/app/pages/dfd/application/services/command-bus.service.spec.ts
  src/app/pages/dfd/application/services/dfd-application.service.spec.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.spec.ts
  src/app/pages/dfd/domain/aggregates/diagram-aggregate.ts
  src/app/pages/dfd/domain/collaboration/user-presence.ts
  src/app/pages/dfd/domain/value-objects/diagram-edge.ts
  src/app/pages/dfd/domain/value-objects/diagram-node.ts
  src/app/pages/dfd/domain/value-objects/edge-data.spec.ts
  src/app/pages/dfd/domain/value-objects/node-data.spec.ts
  src/app/pages/dfd/infrastructure/services/collaboration-websocket.service.ts
  src/app/pages/dfd/integration/x6-integration.spec.ts
  src/app/pages/dfd/migration/migration-flags.service.ts
Due: eslint --fix, prettier --write

Fixing dependency issues after latest dependabot bumps
  package.json
  pnpm-lock.yaml
Due: none

Bump @typescript-eslint/parser from 8.32.1 to 8.33.1
  package.json
  pnpm-lock.yaml
Due: none

preparing to rebuild lock file
  pnpm-lock.yaml.backup
Due: none

Bump @angular-eslint/template-parser from 19.6.0 to 20.0.0
  package.json
  pnpm-lock.yaml
Due: none

garbage
  pnpm-lock.yaml
Due: none

Resolved pnpm install issues and rebuilt lock file
  package.json
  pnpm-lock.yaml
Due: none

Completed refactoring
  src/app/pages/dfd/dfd.component.html
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/dfd.module.ts
  src/app/pages/dfd/infrastructure/services/collaboration-websocket.service.ts
  src/app/pages/dfd/integration/x6-integration.spec.ts
  src/app/pages/dfd/migration/dfd-migration-facade.service.ts
  src/app/pages/dfd/migration/legacy-command.adapter.ts
  src/app/pages/dfd/utils/dfd-utils.ts
  unused/X6_CLEAN_ARCHITECTURE_REFACTOR.md
  unused/legacy-commands/command-deserializer.service.ts
  unused/legacy-commands/command-factory.service.ts
  unused/legacy-commands/command-manager.service.ts
  unused/legacy-commands/command-registry.service.ts
  unused/legacy-commands/command.interface.ts
  unused/legacy-commands/edge-commands.ts
  unused/legacy-commands/label-commands.ts
  unused/legacy-commands/node-commands.ts
  unused/legacy-models/actor-shape.model.ts
  unused/legacy-models/base-shape.model.ts
  unused/legacy-models/dfd-shape-factory.service.ts
  unused/legacy-models/process-shape.model.ts
  unused/legacy-models/security-boundary-shape.model.ts
  unused/legacy-models/store-shape.model.ts
  unused/legacy-models/textbox-shape.model.ts
  unused/legacy-services/dfd-accessibility.service.ts
  unused/legacy-services/dfd-command.service.ts
  unused/legacy-services/dfd-error.service.ts
  unused/legacy-services/dfd-event-bus.service.ts
  unused/legacy-services/dfd-event.service.ts
  unused/legacy-services/dfd-graph.service.ts
  unused/legacy-services/dfd-label-editor.service.ts
  unused/legacy-services/dfd-node.service.ts
  unused/legacy-services/dfd-port.service.ts
  unused/legacy-services/dfd.service.ts
Due: eslint --fix, prettier --write
