Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

chore: validated and formatted localization files
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

chore: version bump
  package.json
Due: none

feat: expand privacy policy for social login compliance
  src/app/pages/privacy/privacy.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

chore: format conditional statement in delete user data dialog
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.ts
Due: eslint --fix, prettier --write

fix: update Dockerfile to use Node 22 for Heroku deployment
  Dockerfile
Due: none

fix: update vite to 7.1.12 to address CVE-2025-62522
  package.json
  pnpm-lock.yaml
Due: none

fix: improve localization in delete user data dialog and home page
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.html
  src/app/core/components/delete-user-data-dialog/delete-user-data-dialog.component.scss
  src/app/pages/home/home.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add note management functionality to threat model editor
  package.json
  pnpm-lock.yaml
  src/app/app.config.ts
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.html
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.scss
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/pages/tm/models/threat-model.model.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/app/pages/tm/tm-edit/tm-edit.component.scss
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: correct note editor toolbar icon alignment and metadata API endpoint
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.html
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.scss
  src/app/pages/tm/services/threat-model.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: fix indentation in note creation and update callbacks
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: add top margin to first form field in note editor dialog
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.scss
Due: prettier --write, stylelint --fix

fix: ensure notes are loaded from API in threat model editor
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: align notes API response handling with OpenAPI spec and resolve lint warnings
  src/app/app.config.ts
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/pages/tm/services/threat-model.service.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: prevent duplicate note creation when using save then save & close
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
Due: eslint --fix, prettier --write

fix: add missing note editor translations to all supported languages
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: prettier --write

feat: add feedback button to navbar for bug reports and feature requests
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/components/navbar/navbar.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add localized tooltips to threat model editor card titles
  src/app/pages/tm/tm-edit/tm-edit.component.html
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

feat: add localized explanatory text to login page explaining OAuth benefits
  src/app/auth/components/login/login.component.html
  src/app/auth/components/login/login.component.scss
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: Added tryout link to README.txt
  README.md
Due: none

chore: bump semver number
  package.json
Due: none

chore: config for scc
  .sccignore
Due: none

chore: added okabe-ito color blind pallette color definitions to styling constants file, currrently unused
  src/app/pages/dfd/constants/styling-constants.ts
Due: eslint --fix, prettier --write

chore: update dependencies and remove deprecated type packages
  package.json
  pnpm-lock.yaml
Due: none

fix: preventing participants from broadcasting diagram operations for diagram load
  src/app/pages/dfd/application/services/app-graph-history-coordinator.service.ts
  src/app/pages/dfd/application/services/app-state.service.ts
Due: eslint --fix, prettier --write

chore: semver bump
  package.json
Due: none

fix: remote operations
  docs/implementation/custom-history-implementation-plan.md
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-remote-operation-handler.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

chore: semver update
  package.json
Due: none

refactor: rename AppGraphHistoryCoordinator to AppOperationStateManager
  docs/implementation/custom-history-implementation-plan.md
  src/app/pages/dfd/application/facades/app-dfd.facade.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-diagram-loading.service.ts
  src/app/pages/dfd/application/services/app-diagram-operation-broadcaster.service.ts
  src/app/pages/dfd/application/services/app-diagram.service.ts
  src/app/pages/dfd/application/services/app-edge.service.spec.ts
  src/app/pages/dfd/application/services/app-edge.service.ts
  src/app/pages/dfd/application/services/app-history.service.ts
  src/app/pages/dfd/application/services/app-operation-state-manager.service.ts
  src/app/pages/dfd/application/services/app-remote-operation-handler.service.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-embedding.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-history.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-selection.adapter.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.spec.ts
  src/app/pages/dfd/infrastructure/adapters/infra-x6-z-order.adapter.ts
  src/app/pages/dfd/infrastructure/services/infra-edge.service.ts
  src/app/pages/dfd/infrastructure/services/infra-node.service.ts
  src/app/pages/dfd/infrastructure/services/infra-port-state.service.ts
  src/app/pages/dfd/integration/history-styling.spec.ts
  src/app/pages/dfd/integration/selection-styling.spec.ts
  src/app/pages/dfd/integration/visual-effects.spec.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
  src/app/pages/dfd/presentation/components/x6-history-dialog/x6-history-dialog.component.ts
  src/app/pages/dfd/state/dfd.state.ts
  src/app/pages/dfd/types/history.types.ts
Due: eslint --fix, prettier --write

docs: add comprehensive unified operation flow architecture documentation
  docs/implementation/custom-history-implementation-plan.md
  docs/reference/architecture/unified-operation-flow.md
Due: none

feat: complete phases 5-7 of custom history implementation
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-history.service.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript errors and complete custom history implementation
  docs/implementation/custom-history-implementation-plan.md
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

feat: add diagram_state_sync message type and synchronization support
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
Due: eslint --fix, prettier --write

fix: disable autoTriggerPersistence in history service to enable REST API saves
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
Due: eslint --fix, prettier --write

refactor: remove unused autoTriggerPersistence feature from history service
  docs/reference/architecture/graph-component-change-flows.md
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-history.service.ts
  src/app/pages/dfd/types/history.types.ts
Due: eslint --fix, prettier --write

docs: update architecture documentation to reflect current persistence flow
  docs/README.md
  docs/agent/README.md
  docs/agent/dfd-integration-test-plan.md
  docs/agent/dfd-integration-testing-approach.md
  docs/agent/pdf-report-diagram-rendering-design.md
  docs/developer/README.md
  docs/developer/features/README.md
  docs/developer/setup/README.md
  docs/developer/setup/heroku-deployment.md
  docs/developer/testing/README.md
  docs/implementation/custom-history-implementation-plan.md
  docs/implementation/history-based-autosave-refactor.md
  docs/reference/README.md
  docs/reference/architecture/README.md
  docs/reference/architecture/autosave-data-modeling.md
  docs/reference/architecture/dfd-change-propagation/README.md
  docs/reference/architecture/dfd-change-propagation/architectural-issues.md
  docs/reference/architecture/dfd-change-propagation/autosave-decision-tree.md
  docs/reference/architecture/dfd-change-propagation/change-propagation-matrix.md
  docs/reference/architecture/dfd-change-propagation/collaborative-operations-flow.md
  docs/reference/architecture/dfd-change-propagation/index.md
  docs/reference/architecture/dfd-change-propagation/user-actions-flow.md
  docs/reference/architecture/dfd-change-propagation/visual-effects-pipeline.md
  docs/reference/architecture/graph-component-change-flows.md
  docs/reference/architecture/history-based-autosave.md
  docs/reference/architecture/naming-conventions.md
  docs/reference/architecture/overview.md
  docs/reference/architecture/service-provisioning.md
  docs/reference/architecture/session-management.md
  docs/reference/architecture/unified-operation-flow.md
  docs/reference/architecture/validation.md
  docs/reference/features/README.md
  docs/reference/features/dfd-user-interaction-guide.md
  docs/reference/libraries/README.md
  docs/reference/libraries/x6-complete-guide.md
  docs/reference/security/README.md
  docs/reference/security/headers.md
  docs/testing/dfd-interaction-test-cases.md
Due: none

feat: add operation_rejected message handling with automatic rollback
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.spec.ts
  src/app/pages/dfd/application/services/app-dfd-orchestrator.service.ts
  src/app/pages/dfd/application/services/app-history.service.ts
  src/app/pages/dfd/application/services/app-operation-rejection-handler.service.ts
  src/app/pages/dfd/application/services/app-state.service.ts
  src/app/pages/dfd/infrastructure/adapters/infra-dfd-websocket.adapter.ts
  src/app/pages/dfd/presentation/components/dfd.component.ts
Due: eslint --fix, prettier --write

feat: add viewport change detection for presenter cursor coordinate recalculation
  src/app/pages/dfd/integration/presenter-cursor-viewport.spec.ts
  src/app/pages/dfd/presentation/services/ui-presenter-cursor-display.service.ts
  src/app/pages/dfd/presentation/services/ui-presenter-cursor.service.ts
Due: eslint --fix, prettier --write

fix: remove flawed regex for script tag validation, rely on DOMPurify
  src/app/pages/tm/components/note-editor-dialog/note-editor-dialog.component.ts
Due: eslint --fix, prettier --write

chore: allowing gh cli
  .claude/settings.local.json
Due: none
