Repository ericfitz/tmi-ux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{scss,css}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md}": [
    "prettier --write"
  ]
}

Working on collaboration UI state update mechanism
  src/app/auth/auth-integration.spec.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
Due: eslint --fix, prettier --write

syncing API spec from server
  shared-api/api-specs/tmi-openapi.json
Due: none

Security headers & CSP
  docs/SECURITY_HEADERS.md
  package.json
  pnpm-lock.yaml
  scripts/check-security.ts
  src/app/app.config.ts
  src/app/core/interceptors/security-headers.interceptor.spec.ts
  src/app/core/interceptors/security-headers.interceptor.ts
  src/app/core/services/security-config.service.spec.ts
  src/app/core/services/security-config.service.ts
  src/environments/environment.dev.ts
  src/environments/environment.interface.ts
  src/environments/environment.prod.ts
  src/environments/environment.staging.ts
  src/index.html
Due: eslint --fix, prettier --write

bump
  package.json
  pnpm-lock.yaml
Due: none

Bump
  package.json
  pnpm-lock.yaml
Due: none

formatting
  src/app/app.component.ts
  src/app/auth/components/local-user-select/local-user-select.component.ts
  src/app/auth/components/login/login.component.ts
  src/app/auth/services/auth.service.spec.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/local-oauth-provider.service.ts
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/interceptors/security-headers.interceptor.spec.ts
  src/app/core/interceptors/security-headers.interceptor.ts
  src/app/core/services/security-config.service.spec.ts
  src/app/core/services/security-config.service.ts
  src/app/core/services/server-connection.service.ts
  src/app/core/tokens/http-context.tokens.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/services/dfd-collaboration.service.ts
  src/app/pages/dfd/services/tmi-message-handler.service.ts
  src/app/pages/home/home.component.html
  src/app/pages/home/home.component.scss
  src/app/pages/tm/services/threat-model.service.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Fixed test failure
  src/app/core/interceptors/security-headers.interceptor.spec.ts
Due: eslint --fix, prettier --write

Refactored websocket handling code to centralize & reduce duplication
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/services/collaboration-session.service.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/tmi-message-handler.service.ts
  src/app/core/services/websocket.adapter.ts
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/collaborative-operation.service.ts
  src/app/pages/dfd/services/dfd-collaboration.service.spec.ts
  src/app/pages/dfd/services/dfd-diagram.service.ts
  src/app/pages/dfd/services/dfd-notification.service.spec.ts
  src/app/pages/dfd/services/dfd-notification.service.ts
  src/app/pages/dfd/services/dfd-state.service.ts
  src/app/pages/dfd/services/dfd-websocket.service.ts
  src/app/pages/tm/tm.component.ts
Due: eslint --fix, prettier --write

Fixing lint issues
  .claude/settings.local.json
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/tmi-message-handler.service.ts
  src/app/core/services/websocket.adapter.ts
Due: eslint --fix, prettier --write

Fixing lint issues
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/tmi-message-handler.service.ts
  src/app/core/services/websocket.adapter.ts
  src/app/core/types/websocket-message.types.ts
Due: eslint --fix, prettier --write

lint fixes
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/tmi-message-handler.service.ts
  src/app/core/services/websocket.adapter.ts
Due: eslint --fix, prettier --write

Cleanup websocket message formats & handling
  shared-api/api-specs/tmi-asyncapi.yml
  shared-api/api-specs/tmi-postman-collection.json
  src/app/core/interceptors/security-headers.interceptor.spec.ts
  src/app/core/services/collaboration-session.service.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/tmi-message-handler.service.ts
  src/app/core/services/websocket.adapter.ts
  src/app/core/types/websocket-message.types.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/collaborative-operation.service.ts
  src/app/pages/dfd/services/dfd-state.service.ts
  src/app/pages/dfd/services/dfd-websocket.service.ts
Due: eslint --fix, prettier --write

Fixing error leaving collaboration session
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
  src/app/pages/tm/resolvers/threat-model.resolver.ts
Due: eslint --fix, prettier --write

Fixing resync error leaving collaboration session by closing dfd editor.
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write

Fixing websocket session disconnect logic, syncing asyncapi schema from server
  .claude/settings.local.json
  shared-api/api-specs/tmi-asyncapi.yml
  src/app/core/services/websocket.adapter.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/services/dfd-event-handlers.service.ts
  src/app/pages/dfd/services/dfd-websocket.service.ts
Due: eslint --fix, prettier --write

Added return url to OAuth state (maintaining CSRF protection)
  src/app/auth/components/login/login.component.ts
  src/app/auth/services/auth.service.ts
Due: eslint --fix, prettier --write

Refactoring collaboration management dialog
  src/app/core/components/navbar/navbar.component.html
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/components/collaboration-dialog/collaboration-dialog.component.html
  src/app/pages/dfd/components/collaboration-dialog/collaboration-dialog.component.scss
  src/app/pages/dfd/components/collaboration-dialog/collaboration-dialog.component.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.html
  src/app/pages/tm/components/create-diagram-dialog/create-diagram-dialog.component.ts
  src/app/pages/tm/tm-edit/tm-edit.component.ts
  src/app/pages/tm/tm.component.html
  src/app/pages/tm/tm.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Bug fixing: collaboration ux
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/components/collaboration-dialog/collaboration-dialog.component.ts
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Removed angular modules - large refactor
  src/app/i18n/transloco-loader.service.ts
  src/app/pages/dfd/infrastructure/adapters/x6-event-handlers.service.ts
  src/app/pages/dfd/infrastructure/adapters/x6-keyboard-handler.service.ts
Due: eslint --fix, prettier --write

Ensuring embedding info is preserved in saving and loading
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/services/dfd-diagram.service.ts
Due: eslint --fix, prettier --write

Fixed embedding styling restoration on load
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/dfd/infrastructure/services/port-state-manager.service.ts
Due: eslint --fix, prettier --write

Suppressing history and auto-save during diagram loading
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
Due: eslint --fix, prettier --write, stylelint --fix

Disabling history during graph initialization and diagram load
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write

Improving "unauthorized" experience
  .claude/settings.local.json
  src/app/auth/components/unauthorized/unauthorized.component.html
  src/app/auth/components/unauthorized/unauthorized.component.scss
  src/app/auth/components/unauthorized/unauthorized.component.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

Fixed graph initialization checking, removed legacy dev stuff
  src/app/core/components/mock-data-toggle/mock-data-toggle.component.ts
  src/app/pages/dfd/dfd.component.ts
  src/app/pages/dfd/infrastructure/adapters/x6-graph.adapter.ts
  src/app/pages/tm/tm.component.cy.ts
  src/testing/page-objects/threat-model-list.page.ts
Due: eslint --fix, prettier --write

tweaks to websocket logging
  src/app/core/components/navbar/navbar.component.scss
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/websocket.adapter.ts
Due: eslint --fix, prettier --write, stylelint --fix

tweaking websocket logging
  src/app/core/services/tmi-message-handler.service.ts
Due: eslint --fix, prettier --write

Clarifying error message
  src/app/core/services/tmi-message-handler.service.ts
Due: eslint --fix, prettier --write

Fixing collaboration user display name bug, bumping packages
  package.json
  pnpm-lock.yaml
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/services/tmi-message-handler.service.ts
  src/environments/environment.dev.ts
  src/environments/environment.staging.ts
  src/environments/environment.ts
Due: eslint --fix, prettier --write

Fixing test failures
  src/app/pages/dfd/infrastructure/services/port-state-manager.service.spec.ts
Due: eslint --fix, prettier --write

Added snackbar messages for join/leave
  src/app/core/services/tmi-message-handler.service.ts
  src/app/pages/dfd/services/dfd-notification.service.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write

Ensuring websocket monitoring only happens on dfd page
  src/app/core/components/navbar/navbar.component.ts
  src/app/core/services/tmi-message-handler.service.ts
  src/app/pages/dfd/dfd.component.ts
Due: eslint --fix, prettier --write

Implementing presenter management
  src/app/pages/dfd/components/collaboration-dialog/collaboration-dialog.component.html
  src/app/pages/dfd/components/collaboration-dialog/collaboration-dialog.component.scss
  src/app/pages/dfd/components/collaboration-dialog/collaboration-dialog.component.ts
  src/app/pages/dfd/services/dfd-notification.service.spec.ts
  src/assets/i18n/ar.json
  src/assets/i18n/de.json
  src/assets/i18n/en-US.json
  src/assets/i18n/th.json
  src/assets/i18n/zh.json
Due: eslint --fix, prettier --write, stylelint --fix

syncing shared docs from server
  shared-api/api-specs/tmi-asyncapi.yml
  shared-api/sdk-examples/python-sdk/pyproject.toml
  shared-api/sdk-examples/python-sdk/requirements.txt
Due: none

Fixing "remove participant" message
  src/app/core/services/dfd-collaboration.service.ts
  src/app/core/types/websocket-message.types.ts
Due: eslint --fix, prettier --write

Tweaking collaboration dialog & removeParticipant bugfix
  src/app/core/services/dfd-collaboration.service.ts
  src/app/pages/dfd/components/collaboration-dialog/collaboration-dialog.component.html
  src/app/pages/dfd/components/collaboration-dialog/collaboration-dialog.component.scss
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Tweaking collaboration button
  src/app/pages/dfd/components/collaboration/collaboration.component.html
  src/app/pages/dfd/components/collaboration/collaboration.component.scss
  src/app/pages/dfd/components/collaboration/collaboration.component.ts
  src/assets/i18n/en-US.json
Due: eslint --fix, prettier --write, stylelint --fix
